{% extends "base_site.html" %}

{% block title %}Announcement{% endblock %}

{% block extrahead %}{{ block.super }}
  <script type="text/javascript" src="/js/utils.js"></script>
{% endblock %}

{% block breadcrumbs %}{{ block.super }} 
  &raquo; Announcement
{% endblock %}

{% block content %}

<div class="module">
    <h2>Announcement</h2>

    
    <form action="" method="POST">
    <table class="new-style" id="announce-table">
        <tr><th>To:</th><td>{{ message.to }}</td></tr>
        <tr><th>From:</th><td>{{ message.frm }}</td></tr>
        <tr><th>CC:</th><td>{{ message.cc}}</td></tr>
    </table>
    
    <div class="button-group">
      <ul id="announcement-button-list">
        <li><button type="submit" name="submit" value="Send">Send</button></li>
        <li><button type="submit" name="submit" value="Cancel">Cancel</button></li>
      </ul>
    </div> <!-- button-group -->

    </form>
</div> <!-- module -->

{% endblock %}
