{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load django_bootstrap5 %}
{% block title %}
    {% if submission == None %}
        Add new submission request email
    {% else %}
        Add submission request email to {{ submission.name }}
    {% endif %}
{% endblock %}
{% block content %}
    {% origin %}
    <h1>Add email</h1>
    <p class="my-3">
        {% if submission == None %}
            A new submission request will be created for the given name and revision. The
            name must take the form <code>draft-xxx-nn</code> where <code>xxx</code> is lowercase letters, digits or dashes
            and <code>nn</code> is the revision number, <code>00</code> for the initial revision. For example,
            <code>draft-my-spec-00</code>.
        {% else %}
            The email will be added to the submission history for {{ submission.name }}.
        {% endif %}
    </p>
    <form class="add-email my-3" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Add Email</button>
        <a class="btn btn-secondary float-end"
           href="{% url "ietf.submit.views.manualpost" %}">Back</a>
    </form>
{% endblock %}