{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}

{% block title %}Draft submission API instructions{% endblock %}

{% block content %}
  {% origin %}
  <h2>Draft submission API instructions</h2>

  <p>
    A simplified draft submission interface, intended for automation,
    is available at <code>{% url 'ietf.submit.views.api_submit' %}</code>.
  </p>
  <p>
    The interface accepts only xml uploads which can be processed on the server, and
    requires the user to have a datatracker account.  A successful submit still requires
    the same email confirmation roundtrip as submissions done through the regular
    <a href="{% url 'ietf.submit.views.upload_submission' %}">submission tool</a>.
  </p>
  <p>
    This interface does not provide all the options which the regular submission tool does.
    Some limitations:
  </p>
  <ul>
    <li>Only xml-only uploads are supported, not text or combined.</li>
    <li>Document replacement information cannot be supplied.</li>
    <li>The server expects <code>multipart/form-data</code>, supported by <code>curl</code> but <b>not</b> by <code>wget</code></li>
  </ul>
  <p>
    It takes 2 parameters:
  </p>
  <ul>
    <li><code>user</code> which is the user login</li>
    <li><code>xml</code>, which is the submitted file
  </ul>
  <p>
    It returns an appropriate http result code, and a brief explanatory text message.
  </p>
  <p>
    Here is an example:
  </p>
  <pre>
    $ curl -S -F "user=user.name@example.com" -F "xml=@~/draft-user-example.xml" https://datatracker.ietf.org/api/submit
    Upload of draft-user-example OK, confirmation requests sent to:
      User Name &lt;user.name@example.com&gt;
  </pre>


{% endblock %}
