{% extends "submit/submit_base.html" %}

{% block title %}Submission status{% endblock %}

{% block submit_content %}

<p>Please enter the name of the Internet-Draft you wish to view
  submission status for:</p>

<form method="post">{% csrf_token %}
  {% if error %}<div style="color: red;">{{ error }}</div>{% endif %}
  <input type="text" name="name" value="{{ name|default:"draft-" }}" />
  <input type="submit" value="See status" />
</form>

{% include "submit/problem-reports-footer.html" %}

{% endblock %}
