{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}

{% block pagehead %}
  {{ block.super }}
{% endblock %}

{% block content %}
  {% origin %}
  <h1>Internet-Draft submission </h1>

  <ul class="nav nav-tabs" role="tablist">
    <li {% if selected == "index" %}class="active"{% endif %}>
      <a href="{% url "ietf.submit.views.upload_submission" %}">Upload</a>
    </li>
    <li {% if selected == "status" %}class="active"{% endif %}>
      <a href="{% url "ietf.submit.views.search_submission" %}">Status</a>
    </li>
    <li {% if selected == "instructions" %}class="active"{% endif %}>
      <a href="{% url "ietf.submit.views.tool_instructions" %}">Instructions</a>
    </li>
    <li {% if selected == "notewell" %}class="active"{% endif %}>
      <a href="{% url "ietf.submit.views.note_well" %}">Note Well</a>
    </li>
    <li {% if selected == "approvals" %}class="active"{% endif %}>
      <a href="{% url "ietf.submit.views.approvals" %}">Approvals</a>
    </li>
    <li {% if selected == "manual_posts" %}class="active"{% endif %}>
      <a href="{% url "ietf.submit.views.manualpost" %}">Manual Post Requests</a>
    </li>
  </ul>

  {% block submit_content %}
  {% endblock %}

{% endblock %}
