{% extends "base.html" %}

{% block pagehead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/css/submit.css"></link>
{% endblock %}


{% block content %}
<h1>IETF Internet-Draft Submission </h1>

<div class="ietf-navset">
{% if selected == "index" %}<span class="selected">Upload</span>{% else %}<a href="{% url submit_upload_submission %}">Upload</a>{% endif %} |
{% if selected == "status" %}<span class="selected">Status</span>{% else %}<a href="{% url submit_search_submission %}">Status</a>{% endif %} |
{% if selected == "instructions" %}<span class="selected">Tool Instructions</span>{% else %}<a href="{% url submit_tool_instructions %}">Tool Instructions</a>{% endif %} |
{% if selected == "notewell" %}<span class="selected">NOTE WELL</span>{% else %}<a href="{% url submit_note_well %}">NOTE WELL</a>{% endif %} |
{% if selected == "approvals" %}<span class="selected">Approvals</span>{% else %}<a href="{% url submit_approvals %}">Approvals</a>{% endif %}
</div>

{% block submit_content %}
{% endblock %}
{% endblock %}
