{% extends "submit/submit_base.html" %}
{# Copyright The IETF Trust 2015-2023, All Rights Reserved #}
{% load origin %}
{% block title %}I-D Submission tool instructions{% endblock %}
{% block submit_content %}
    {% origin %}
    <h2 class="mt-3">I-D submission tool instructions</h2>
    <p class="alert alert-info my-3">
        <b>Tool URL:</b>
        <a href="{% url "ietf.submit.views.upload_submission" %}">
            {{ settings.IDTRACKER_BASE_URL }}{% url "ietf.submit.views.upload_submission" %}
        </a>
    </p>
    <p>
        This page explains the purpose and content of each screen in the Internet-Draft (I-D) Submission Tool, including the actions that result by clicking the form buttons on each screen.
    </p>
    <p>
        Internet-Drafts are working documents of the Internet Engineering
        Task Force (IETF), its areas, and its working groups. Note that other
        groups may also distribute working documents as Internet-Drafts.
    </p>
    <p>
        Internet-Drafts are draft documents, and are valid for a maximum of
        six months. They may be updated, replaced, or obsoleted by other
        documents at any time.
    </p>
    <p>
        The list of current Internet-Drafts can be accessed at
        <a href="https://www.ietf.org/ietf/1id-abstracts.txt">https://www.ietf.org/ietf/1id-abstracts.txt</a>.
    </p>
    <p>
        An API for automated Internet-Draft submission is available as an alternative to this webpage at
        <a href="https://datatracker.ietf.org/api/submission">https://datatracker.ietf.org/api/submission</a>.
    </p>
    <h3 class="mt-4">Upload screen</h3>
    <p>
        The Upload screen is the first screen in the I-D submission process. You can submit an I-D in one or more format: XML, PDF, and plain text. You can submit an XML file, and the other formats will be created automatically. A single v3 .xml source file is preferred; however, a single v2 .xml source file is also accepted. If a .xml file is not available, a single plain text document is also accepted.
    </p>
    <p>
        By submitting your I-D, you are granting some rights to the IETF Trust.  Before you submit your I-D,
        review the information in the
        <a href="https://www.ietf.org/about/note-well/">Note Well</a>
        and
        <a href="{% url 'ietf.doc.views_doc.document_html' name='rfc5378' %}">BCP 78</a>,
        "Rights Contributors Provide to the IETF Trust".
    </p>
    <p>
        Before you submit your I-D, it is recommended that you check it for nits
        using the
        <a href="{{ settings.IDNITS_SERVICE_URL }}">idnits tool</a>.
    </p>
    <table class="table table-sm table-striped">
        <tbody>
            <tr class="table-info">
                <th scope="colgroup" colspan="2">Form buttons and resulting actions:</th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th scope="row">.xml format</th>
                <td>Button to select an XML file of an I-D from a user's local file system.</td>
            </tr>
            <tr>
                <th scope="row">.txt format</th>
                <td>Button to select a plain text file of an I-D from a user's local file system.</td>
            </tr>
            <tr>
                <th scope="row">Upload</th>
                <td>
                    Button to upload the document(s). The tool parses the .xml file or the .txt file, and the metadata is displayed for your confirmation along with the validation results.
                </td>
            </tr>
        </tbody>
    </table>
    <h3 class="mt-4">Validation screen</h3>
    <p>
        After you upload the file(s) and the tool parses the the metadata, the validation results are displayed, and you are offered option(s) for next steps. Validation checks cover IPR-related notices, boilerplate, required sections, version number, and creation date as described in the
        <a href="https://authors.ietf.org/en/content-guidelines-overview">Internet-Draft Author Resources</a>.
    </p>
    <p>
        If the submission does not have any validation errors, then you can proceed with the posting process. Submitter authentication is performed by email or via login to your IETF datatracker account.
    </p>
    <p>
        A user must carefully examine the metadata that is displayed to ensure that it was correctly extracted. If the data were not extracted correctly, then the user can correct the errors on the Adjust page. In such a case, the IETF Secretariat will be responsible for manually posting the Internet-Draft.
    </p>
    <table class="table table-sm table-striped">
        <tbody>
            <tr class="table-info">
                <th scope="colgroup" colspan="2">Form buttons and resulting actions:</th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th scope="row">Adjust metadata</th>
                <td>
                    Button to proceed to a screen with editable form fields for correcting the metadata. Use this button to request manual posting by the IETF Secretariat.
                </td>
            </tr>
            <tr>
                <th scope="row">Cancel</th>
                <td>
                    Button to cancel the current submission. You will be prompted for a confirmation before the submission is canceled. Once confirmed, uploaded document(s) will be deleted permanently from the server, and a notification message will be sent to all authors.
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr class="table-info">
                <th scope="colgroup" colspan="2">
                    When no metadata error is detected:
                </th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th scope="row">
                    Button(s) with author's name(s)
                </th>
                <td>
                    Button(s) to automatically fill out the given name, family name, and email address of the authors. If the submitter is one of the authors, then the submitter's information will be automatically inserted in the appropriate fields. If the submitter is not one of the authors, then the submitter will need to manually fill out these fields.
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Post now
                </th>
                <td>
                    <p>
                        Button to start the posting process. If the submitter has authenticated with a IETF datatracker account, everything will happen automatically. Otherwise, an email message will be sent to the parties who can verify the submission. For a new Internet-Draft (<code>-00</code>), the email goes to the authors listed in the document. For -01 and subsequent Internet-Drafts, the confirmation message is sent to the authors of the <b>previous</b> version. One of the confirmation message recipients will need to open the email message and click the link provided.
                    </p>
                    <p>
                        Once a link in the email body is clicked, the document gets posted in the I-D repository, a notification is sent to the authors of the document, and an I-D Action announcement will be sent out within the next 15 minutes.
                    </p>
                    <p>
                        If the document requires an additional approval from a chair of a working group, i.e., for submission of a -00 version of a working group document, then a message will be sent to the chairs of the working group for the approval. Once approved, the document will be immediately announced and in the I-D repository.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <h3 class="mt-4">
        Adjust screen
    </h3>
    <p>
        This is the screen where a user can adjust any metadata that could have been incorrectly parsed from the submitted document. The document with adjusted metadata will be submitted to the IETF Secretariat for manual posting.
    </p>
    <table class="table table-sm table-striped">
        <tbody>
            <tr class="table-info">
                <th scope="colgroup" colspan="2">
                    Form buttons and resulting actions:
                </th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th scope="row">
                    Button(s) with author's name(s)
                </th>
                <td>
                    Button(s) to automatically fill out the given name, family name, and email address of the authors. If the submitter is one of the authors, then the submitter's information will be automatically inserted in the appropriate fields. If the submitter is not one of the authors, then the submitter will need to manually fill out these fields.
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Submit for manual posting
                </th>
                <td>
                    Button to send a manual posting request to the Secretariat including any corrected metadata and comments for the Secretariat. Once clicked, a notification message will be sent to the Secretariat, and a receipt page will be displayed.
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Cancel
                </th>
                <td>
                    Button to cancel the current submission. You will be prompted for a confirmation before the submission is canceled. Once confirmed, uploaded document(s) will be deleted permanently from the server, and a notification message will be sent to all authors.
                </td>
            </tr>
        </tbody>
    </table>
    <h3 class="mt-4">
        Status screen
    </h3>
    <p>
        The Status screen is the screen where you can view the current status of a document that has just been submitted, or a document that was submitted previously via the tool. If a link 'Status' is clicked from the tool's first page, then a form field will be provided for a user to look up a document by name.
    </p>
    <table class="table table-sm table-striped">
        <tbody>
            <tr class="table-info">
                <th scope="colgroup" colspan="2">
                    Form buttons and resulting actions:
                </th>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th scope="row">
                    Cancel
                </th>
                <td>
                    Button to cancel the current submission. This button will be displayed only when the document is in the process of being submitted.  You will be prompted for a confirmation before the submission is canceled. Once confirmed, the current submission will be canceled, the uploaded document(s) will be deleted permanently from the server, and a notification message will be sent to all authors.
                </td>
            </tr>
        </tbody>
    </table>
    {% include "submit/problem-reports-footer.html" %}
{% endblock %}