{% extends "nomcom/nomcom_private_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block subtitle %} - Eligible People{% endblock %}

{% block pagehead %}
  <link rel="stylesheet" href="{% static "jquery.tablesorter/css/theme.bootstrap.min.css" %}">
{% endblock %}

{% block nomcom_content %}
  {% origin %}
  <h2>Eligible People for {{ nomcom.group }}</h2>

  <p class="alert alert-info">
  This calculation is experimental and is likely wrong. Check carefully against the secretariat eligibility tools if it matters. This page lists people who would be nomcom eligible if the selection were made <em>today</em>. Thus if today is not between the spring and summer IETF meetings, the list won't reflect eligibility at the time actual selections will be made.
  </p>
  <table class="table table-condensed table-striped tablesorter">
    <thead>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Email Addresses</th>
    </thead>
     
    {% for p in eligible_persons %}
      <tr>
        <td><a href="{% url 'ietf.person.views.profile' p.name %}">{{p.last_name}}</a></td>
        <td>{{p.first_name}}</td>
        <td>{% for e in p.email_set.all %}{{e.address}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
      </tr>
  {% endfor %}
  </table> 
{% endblock nomcom_content %}

{% block js %}
  <script src="{% static "jquery.tablesorter/js/jquery.tablesorter.combined.min.js" %}"></script>
{% endblock %}
