{# Copyright The IETF Trust 2017, All Rights Reserved #}
{% extends "base.html" %}

{% load origin %}

{% load ietf_filters staticfiles bootstrap3 %}

{% block title %}Release Statistics{% endblock %}

{% block pagehead %}
{% endblock %}

{% block content %}
  {% origin %}

  <h1>Release Statistics</h1>

  <div id="coverage-chart">
  </div>

  <script id="coverage-data">
   var coverageChartConf = {
       chart: {
	   type: 'line',
       },
       credits: {
	   enabled: false
       },
       exporting: {
           fallbackToExportServer: false
       },
       legend: {
	   align: "right",
	   verticalAlign: "middle",
	   layout: "vertical",
	   enabled: true
       },
       plotOptions: {
	   line: {
	       marker: {
		   enabled: false
	       },
	       animation: false
	   }
       },
       title: {
	   text: 'Test coverage'
       },
       xAxis: {
	   type: 'datetime',
	   title: {
	       text: 'Release date'
	   },
       },
       units: [
	  [ 'day',	[1]],
	  [ 'week',	[1]],
	  [ 'month',	[1, 3, 6]],
	  [ 'year',	null ]
       ],
       yAxis: {
	   min: 0,
	   title: {
	       text: 'Test coverage'
	   },
	   labels: {
	     formatter: function() {
		return this.value*100+"%";
	     }
	   }
       },
       series: {{ coverage_chart_data }}
   };
  </script>

  <div id="frequency-chart">
  </div>

  <script id="frequency-data">
   var frequencyChartConf = {
       chart: {
	   type: 'column',
       },
       credits: {
	   enabled: false
       },
       exporting: {
           fallbackToExportServer: false
       },
       legend: {
	   align: "right",
	   verticalAlign: "middle",
	   layout: "vertical",
	   enabled: true
       },
       plotOptions: {
	   column: {
	       animation: false
	   }
       },
       title: {
	   text: 'Releases per year'
       },
       xAxis: {
	   type: 'category',
	   title: {
	       text: 'Year'
	   },
       },
       yAxis: {
	   min: 0,
	   title: {
	       text: 'Number of releases'
	   }
       },
       series: {{ frequency_chart_data }}
   };
  </script>


{% endblock %}

{% block js %}
  <script src="{% static 'highcharts/highcharts.js' %}"></script>
  <script src="{% static 'highcharts/modules/exporting.js' %}"></script>
  <script src="{% static 'highcharts/modules/offline-exporting.js' %}"></script>
  <script>
   $(document).ready(function () {
       Highcharts.chart('coverage-chart', window.coverageChartConf);
       Highcharts.chart('frequency-chart', window.frequencyChartConf);
   });
   </script>
{% endblock %}
