{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin staticfiles bootstrap3 %}

{% block title %}Approve Slides Proposed for {{ submission.session.meeting }} : {{ submission.session.group.acronym }}{% endblock %}

{% block content %}
  {% origin %}

  <h1>Approve slides proposed for {{ submission.session.meeting }} : {{ submission.session.group.acronym }}{% if session.name %} : {{submission.session.name}}{% endif %}</h1>
{% if session_number %}<h2> Session {{session_number}} : {{submission.session.official_timeslotassignment.timeslot.time|date:"D M-d-Y Hi"}}</h2>{% endif %} 

  <p>{{submission.submitter}} proposed these slides for this session: <a href="{{submission.staged_url}}">{{submission.staged_url}}</a>.</p>

  {% if existing_doc %}
    <p class="alert alert-warning">Warning: If you approve this set of slides with the proposed title of "{{ submission.title }}", it will replace an existing set of slides. If that's not what you intend, please adjust the title.</p>
  {% endif %}

  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary" name="approve" value="approve">Approve</button>
      <button type="submit" class="btn btn-warning" name="disapprove" value="disapprove">Disapprove and Delete</button>
    {% endbuttons %}
  </form>


{% endblock %}
