{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}{% origin %}
{% load staticfiles %}
{% load textfilters %}
{% load ietf_filters %}
          <div class="modal fade text-left" id="modal-{{ item.slug }}" tabindex="-1" role="dialog" aria-labelledby="label-{{ item.slug }}" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="label-{{item.slug}}">
                    Meeting materials for
                    {% if item.timeslot.type.slug == 'plenary' %}{{item.timeslot.name}}{% else %}{{item.session.historic_group.name}}{% endif %}
                  </h4>
                </div>
                <div class="modal-body">
                  {% with item.session.agenda as agenda %}
                    {% if agenda %}
                      {% if agenda.file_extension == "txt" or agenda.file_extension == "md" or agenda.file_extension == "html" or agenda.file_extension == "htm" %}
                        <h4>Agenda</h4>
                        <div class="frame" data-src="{{agenda.get_href}}"></div>
                      {% else %}
                        <span class="label label-info">Agenda submitted as {{agenda.file_extension|upper}}</span>
                      {% endif %}
                    {% else %}
                      <span class="label label-warning">No agenda submitted</span>
                    {% endif %}
                  {% endwith %}

                  {% if item.session.slides %}
                    <h4>Slides</h4>
                    <ul class="fa-ul list-unstyled">
                      {% for slide in item.session.slides %}
                        <li>
                          <span class="fa-li fa fa-file-{{slide.file_extension|lower}}-o"></span>
                          <a href="{{ slide.get_versionless_href }}">{{ slide.title|clean_whitespace }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}

                  {% with item.session.minutes as minutes %}
                    {% if minutes %}
                      {% if minutes.file_extension == "txt" or minutes.file_extension == "md" or minutes.file_extension == "html" or minutes.file_extension == "htm" %}
                        <h4>Minutes</h4>
                        <div class="frame2" data-src="{{minutes.get_href}}"></div>
                      {% else %}
                        <span class="label label-info">Minutes submitted as {{minutes.file_extension|upper}}</span>
                      {% endif %}
                    {% else %}
                      <span class="label label-warning">No minutes submitted</span>
                    {% endif %}
                  {% endwith %}
                </div>
                <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
