{# Copyright The IETF Trust 2015, All Rights Reserved #}{% load origin %}{% origin %}
<div class="table-responsive">
  {% spaceless %}
    <table class="table table-condensed">
      <thead>
        <tr>
	  {% for area in areas %}
            <th class="text-center">{{area.acronym|upper}}</th>
	  {% endfor %}
          <th class="text-center">IRTF</th>
        </tr>
      </thead>
      <tbody>
        <tr>
	  {% for area in areas %}
	    <td>
	      <div class="btn-group-vertical btn-block">
	        {% for group in area.active_groups %}
	          <div class="btn-group btn-group-xs btn-group-justified">
	            <a href="{% url "ietf.group.views.group_home" group_type=group.type_id acronym=group.acronym %}" class="btn btn-default">
		      {{group.acronym}}
	            </a>
	          </div>
	        {% endfor %}
	      </div>
	    </td>
	  {% endfor %}
	  <td>
	    <div class="btn-group-vertical btn-block">
	      {% for group in rgs %}
	        <div class="btn-group btn-group-xs btn-group-justified">
	          <a href="{% url "ietf.group.views.group_home" group_type=group.type_id acronym=group.acronym %}" class="btn btn-default">
	            {{group.acronym}}
	          </a>
	        </div>
	      {% endfor %}
	    </div>
	  </td>
        </tr>
      </tbody>
    </table>
  {% endspaceless %}
</div>
