{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "base.html" %}

{% block content %}
<p>
{% if me %}
Hello, {{ me }}!
{% endif %}
<h2>Username and Email Address for legacy tools:</h2>
<dl>
{% if me.iesglogin_set.count %}
<dt>IESG I-D Tracker</dt>
<dd>{{ me.iesglogin_set.all.0.login_name }}</dd>
{% endif %}
{% if me.legacywgpassword_set.count %}
<dt>Working group chair tools (session request, proceedings, etc.)</dt>
<dd>{{ me.legacywgpassword_set.all.0.login_name }}</dd>
{% endif %}
{% if me.legacyliaisonuser_set.count %}
<dt>Liaison Manager</dt>
<dd>{{ me.legacyliaisonuser_set.all.0.login_name }}</dd>
{% endif %}
<dt>Username (for other tools, including django)</dt>
<dd>{{ user.username }}</dd>
<dt>Email Address (for other tools, including django)</dt>
<dd>{{ user.email }}</dd>
</dl>
<p>(A tool to allow you to change your username and/or email address is planned)</p>
{% endblock %}
