<form action="" method="post">
<table class="ietf-table edit-form edit-form-tags" style="width: 100%;">
<tr>
  <th>1. Input information about change</th>
  <th>2. Select annotation tags</th>
</tr>
<tr><td style="width: 50%;">
    <div class="field comment{% if form.errors.comment %} error{% endif %}">
    {{ form.errors.comment }}
    Comment: <span class="required">*</span><br />
    <textarea name="comment">{{ form.data.comment }}</textarea>
    </div>
</td><td style="padding: 0px; vertical-align: top;">
  <div class="field">
    {{ form.tags }}
  </div>
  <div class="submit-row">
  <input type="submit" value="Edit tags" />
  </div>
</td></tr>
</table>
</form>
