{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load ietf_filters staticfiles %}

{% block pagehead %}
<link rel="stylesheet" href="{% static "jquery.tablesorter/css/theme.bootstrap.min.css" %}">
{% endblock %}

{% block bodyAttrs %}data-spy="scroll" data-target="#affix"{% endblock %}

{% block title %}IAB/IESG Nominating Committee{% endblock %}

{% block content %}
  {% origin %}
  <div class="row">
    <div class="col-md-10">


      <h1>IAB/IESG Nominating Committee</h1>

      <p>
	<b>Current committee chair:</b>
	<a href="mailto:{{ curr_chair.email.address }}">{{ curr_chair.person.plain_name }}</a>
      </p>

      {% for regime in regimes %}
        <h2 class="anchor-target" id="{{ regime.group.start_year }}">Messages from {{ regime.group.start_year }}/{{ regime.group.end_year }}</h2>

	{# use person email address here rather than the generic nomcom-chair@ietf.org #}
	<p>
	  <b>Committee chair:</b>
	  <a href="mailto:{{ regime.chair.person.email_address }}">{{ regime.chair.person.plain_name }}</a>
	</p>

	<table class="table table-condensed table-striped tablesorter">
	  <thead>
	    <tr>
	      <th>Date</th>
	      <th>Subject</th>
	      <th>Sent to</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for m in regime.announcements|dictsortreversed:"time" %}
	      <tr>
		<td class="text-nowrap">{{ m.time|date:"Y-m-d" }}</td>
		<td><a href="{% url "nomcom_announcement" message_id=m.id %}">{{ m.subject }}</a></td>
		<td>{{ m.to_name }}</td>
	      </tr>
	    {% endfor %}
	    </<tbody>
	</table>
      {% endfor %}


      {# somebody ought to import these announcements in the DB instead of this mess #}
      <h2 class="anchor-target" id="2003">Messages from 2003/2004</h2>
      <p><b>Committee chair:</b> <a href="mailto:richdr@microsoft.com">Rich Draves</a></p>
      <table class="table table-condensed table-striped tablesorter">
	<thead>
	  <tr>
	    <th>Date</th>
	    <th>Subject</th>
	  </tr>
	</thead>
	<tbody>
	  <tr><td> August 25, 2003</td><td><a href="https://www.ietf.org/old/2009/nomcom/msg08-25-2003.txt">IETF Nominations Committee Chair Announcement</a></td></tr>
	  <tr><td> September 22, 2003</td><td><a href="https://www.ietf.org/old/2009/nomcom/msg09.22.txt">NomCom call for volunteers</a></td></tr>
	  <tr><td></td><td><a href="https://www.ietf.org/old/2009/nomcom/select-announce_03.txt">Selection of the Nominations Committee</a></td></tr>
	  <tr><td> October 06, 2004</td><td><a href="https://www.ietf.org/old/2009/nomcom/msg10.06.txt">NomCom Volunteer List</a></td></tr>
	  <tr><td> October 10, 2003</td><td><a href="https://www.ietf.org/old/2009/nomcom/msg1010.txt">NomCom Selection</a></td></tr>
	  <tr><td> October 17, 2003</td><td><a href="https://www.ietf.org/old/2009/nomcom/msg10.17.txt">Call for Nominees</a></td></tr>
	  <tr><td> October 24, 2003</td><td><a href="https://www.ietf.org/old/2009/nomcom/msg10.24.txt">NomCom members</a></td></tr>
	  <tr><td> November 07, 2003</td><td><a href="https://www.ietf.org/old/2009/nomcom/msg11.07.txt">NomCom at IETF</a></td></tr>
	  <tr><td> November 14, 2003</td><td><a href="https://www.ietf.org/old/2009/nomcom/msg11.14.txt">NomCom News</a></td></tr>
	  <tr><td> November 26, 2003</td><td><a href="https://www.ietf.org/old/2009/nomcom/msg11.26.txt">Reminder - nominations to replace Randy Bush</a></td></tr>
	  <tr><td> December 01, 2003</td><td><a href="https://www.ietf.org/old/2009/nomcom/msg12.01.txt">Randy Bush replacement schedule</a></td></tr>
	  <tr><td> January 14, 2004</td><td><a href="https://www.ietf.org/old/2009/nomcom/msg01.14.txt">Randy Bush replacement</a></td></tr>
	  <tr><td> February 13, 2004</td><td><a href="https://www.ietf.org/old/2009/nomcom/msg02.13.txt">NomCom results</a></td></tr>
	  <tr><td> September 28, 2004</td><td><a href="https://www.ietf.org/old/2009/nomcom/msg09.28.txt">Call for Security AD nominations</a></td></tr>
	  <tr><td> November  07, 2004</td><td><a href="https://www.ietf.org/old/2009/nomcom/msg11.07.04.txt">Steve Bellovin replacement</a></td></tr>
	</tbody>
      </table>


      <h2 class="anchor-target" id="2002">Messages from 2002/2003</h2>
      <p><b>Committee chair:</b> <a href="mailto:PRoberts@MEGISTO.com">Phil Roberts</a></p>
      <table class="table table-condensed table-striped tablesorter">
	<thead>
	  <tr>
	    <th>Date</th>
	    <th>Subject</th>
	  </tr>
	</thead>
	<tbody>
	  <tr><td> July 30, 2002</td><td><a href="https://www.ietf.org/old/2009/nomcom/msg19765.html">First Call for Volunteers</a></td></tr>
	  <tr><td></td><td><a href="https://www.ietf.org/old/2009/nomcom/select-announce.txt">Selection of the Nominations Committee</a></td></tr>
	  <tr><td> September 18, 2002</td><td><a href="https://www.ietf.org/old/2009/nomcom/msg0918.txt">Announcement of the Nominations Committee</a></td></tr>
	  <tr><td> October 21, 2002</td><td><a href="https://www.ietf.org/old/2009/nomcom/msg10.21.txt">Announcement of IESG and IAB Nominations Requests</a></td></tr>
	  <tr><td> November 5, 2002</td><td><a href="https://www.ietf.org/old/2009/nomcom/msg11.05.txt">Announcement of IESG and IAB Nominations Requests</a></td></tr>
	  <tr><td> November 12, 2002</td><td><a href="https://www.ietf.org/old/2009/nomcom/msg11.12.txt">Announcement of IESG and IAB Nominations Requests</a></td></tr>
	  <tr><td> February 27, 2003</td><td><a href="https://www.ietf.org/old/2009/nomcom/msg02.27.txt">IETF Nomcom Announcement</a></td></tr>
	  <tr><td> June 11, 2003</td><td><a href="https://www.ietf.org/old/2009/nomcom/msg06.11.txt">Announcement of IESG and IAB Nominations Request</a></td></tr>
	  <tr><td> July 15, 2003</td><td><a href="https://www.ietf.org/old/2009/nomcom/msg07.15.txt">Nomcom result announcement</a></td></tr>
	</tbody>
      </table>


      <h2 class="anchor-target" id="historical">Historical information</h2>
      <ul>
	<li><a href="https://www.ietf.org/nomcom/committee.html">IAB/IESG Nominating Committee Members (by year)</a></li>
      </ul>


      <h2 class="anchor-target" id="references">References</h2>
      <ul>
	<li><a href="https://www.ietf.org/rfc/rfc2026.txt">The Internet Standards Process (RFC 2026)</a></li>
	<li><a href="https://www.ietf.org/rfc/rfc3777.txt">IAB and IESG Selection, Confirmation, and Recall Process: Operation of the Nominating and Recall </a>Committees (RFC 3777) (Also BCP10)</a>
	  <li><a href="https://www.ietf.org/rfc/rfc3797.txt">Publicly Verifiable Nominations Committee (NomCom) Random Selection (RFC 3797)</a></li>
      </ul>


    </div>
    <div class="col-md-2 hidden-print bs-docs-sidebar" id="affix">
      <ul class="nav nav-pills nav-stacked small" data-spy="affix">
	{% for regime in regimes %}
	  <li><a href="#{{ regime.group.start_year }}">{{ regime.group.start_year }}/{{ regime.group.end_year }}</a></li>
	{% endfor %}
	<li><a href="#2003">2003/2004</a></li>
	<li><a href="#2002">2002/2003</a></li>
	<li><a href="#historical">Historical</a></li>
	<li><a href="#references">References</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block js %}
<script src="{% static "jquery.tablesorter/js/jquery.tablesorter.combined.min.js" %}"></script>
{% endblock %}