{% extends "base.html" %}
{# Copyright The IETF Trust 2015-2020, All Rights Reserved #}
{% load origin %}
{% load ietf_filters static person_filters %}
{% block pagehead %}
    <link rel="stylesheet" href="{% static "ietf/css/list.css" %}">
{% endblock %}
{% block title %}NomCom{% endblock %}
{% block content %}
    {% origin %}
    <h1>NomCom</h1>
    <p>
        <b>Current committee chair:</b>
        {% person_link curr_chair.person %}
    </p>
    {% for regime in regimes %}
        <h2 class="mt-5" id="nomcom-{{ regime.group.start_year }}">
            Messages from {{ regime.group.start_year }}/{{ regime.group.end_year }}
        </h2>
        {# use person email address here rather than the generic nomcom-chair@ietf.org #}
        <p>
            <b>Committee chair:</b>
            {% person_link regime.chair.person %}
        </p>
        <table class="table table-sm table-striped tablesorter">
            <thead>
                <tr>
                    <th scope="col" data-sort="date">Date</th>
                    <th scope="col" data-sort="subject">Subject</th>
                    <th scope="col" data-sort="sent">Sent to</th>
                </tr>
            </thead>
            <tbody>
                {% for m in regime.announcements|dictsortreversed:"time" %}
                    <tr>
                        <td>{{ m.time|date:"Y-m-d" }}</td>
                        <td>
                            <a href="{% url "ietf.message.views.message" message_id=m.id %}">{{ m.subject }}</a>
                        </td>
                        <td>{{ m.to_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    <h2 class="mt-5" id="historical">Historical information</h2>
    <ul>
        <li>
            <a href="{% url "ietf.nomcom.views.history" %}">NomCom Members (by year)</a>
        </li>
    </ul>
    <h2 class="mt-5" id="references">References</h2>
    <ul>
        <li>
            <a href="{% url 'ietf.doc.views_doc.document_main' name='rfc2026' %}">The Internet Standards Process (RFC 2026)</a>
        </li>
        <li>
            <a href="{% url 'ietf.doc.views_doc.document_main' name='rfc8713' %}">
                IAB, IESG, IETF Trust, and IETF LLC Selection, Confirmation, and Recall Process: Operation of the IETF Nominating and Recall Committees (RFC 8713) (Also BCP10)
            </a>
        </li>
        <li>
            <a href="{% url 'ietf.doc.views_doc.document_main' name='rfc3797' %}">
                Publicly Verifiable Nominations Committee (NomCom) Random Selection (RFC 3797)
            </a>
        </li>
    </ul>
{% endblock %}
{% block js %}
    <script src="{% static "ietf/js/list.js" %}"></script>
{% endblock %}