{% extends "nomcom/nomcom_private_base.html" %}

{% block pagehead %}
<link rel="stylesheet" type="text/css" href="/css/token-input.css"></link>
{% endblock %}

{% block content_end %}
<script type="text/javascript" src="/js/lib/jquery.tokeninput.js"></script>
<script type="text/javascript" src="/js/tokenized-field.js"></script>
{% endblock %}

{% block nomcom_content %}
<h3>{% if position %}Edit{% else %}Add{% endif %} position</h3>

{% if form.errors %}<div class="info-message-error">Please correct the following errors</div>{% endif %}

<form action="" method="post">{% csrf_token %}
{{ form }}
<p><input type="submit" value="{% if position %}Save{% else %}Add{% endif %}" /> <a href="../">Cancel</a></p>
</form>
{% endblock nomcom_content %}
