{% extends "nomcom/nomcom_private_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load bootstrap3 %}

{% block subtitle %} - Preview members{% endblock %}

{% block nomcom_content %}
  {% origin %}
  <h2>Preview members</h2>

  {% if state.members_info %}
    <dl>
      {% for member in state.members_info %}
        <dt>{{ member.person.name }}</dt><dd>{{ member.email }}</dd>
      {% endfor %}
    </dl>
  {% endif %}

  {% if state.emails_not_found %}
    <h3>Members not found </h3>
    <ul>
      {% for email in state.emails_not_found %}
        <li>{{ email }}</li>
      {% endfor %}
    </ul>
    {% if state.rolodex_url %}Please go to <a href="{{ state.rolodex_url }}">{{ state.rolodex_url }}</a> to add these people.{% endif %}
  {% endif %}

  <form role="form" method="post">
    {% csrf_token %}
    {% for field in form %}{{ field.as_hidden }}{% endfor %}
    <input type="hidden" name="{{ stage_field }}" value="2">
    <input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}">
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>

  <h2>Edit members again</h2>

  <form role="form" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="hidden" name="{{ stage_field }}" value="1">

    {% buttons %}
      <input class="btn btn-primary"type="submit" value="Preview">
    {% endbuttons %}
  </form>

{% endblock %}
