{% extends "nomcom/nomcom_private_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}

{% load bootstrap3 %}

{% block subtitle %} - Edit members{% endblock %}

{% block nomcom_content %}
  {% origin %}
  <h2>
     Edit members
     <small>Fill in this form with the email addresses of nomcom members to register them with the datatracker as nomcom members</small>
  </h2>

  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="hidden" name="{{ stage_field }}" value="1">

    {% buttons %}
      <input class="btn btn-primary" type="submit" value="Preview">
    {% endbuttons %}
  </form>

{% endblock %}
