{% extends "nomcom/nomcom_private_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load bootstrap3 %}
{% load static %}

{% block subtitle %} - Eligible People{% endblock %}

{% block pagehead %}
  <link rel="stylesheet" href="{% static "jquery.tablesorter/css/theme.bootstrap.min.css" %}">
{% endblock %}

{% block nomcom_content %}
  {% origin %}
  <h2>Eligible People for {{ nomcom.group }}</h2>

  <table class="table table-condensed table-striped tablesorter">
    <thead>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Email Addresses</th>
    </thead>
     
    {% for p in eligible_persons %}
      <tr>
        <td><a href="{% url 'ietf.person.views.profile' p.name %}">{{p.last_name}}</a></td>
        <td>{{p.first_name}}</td>
        <td>{% for e in p.email_set.all %}{{e.address}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
      </tr>
  {% endfor %}
  </table> 
{% endblock nomcom_content %}

{% block js %}
  <script src="{% static "jquery.tablesorter/js/jquery.tablesorter.combined.min.js" %}"></script>
{% endblock %}
