{% extends public|yesno:"nomcom/nomcom_public_base.html,nomcom/nomcom_private_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load django_bootstrap5 textfilters person_filters %}
{% load static %}
{% block subtitle %}- Eligible People{% endblock %}
{% block pagehead %}
    <link rel="stylesheet" href="{% static "ietf/css/list.css" %}">
{% endblock %}
{% block nomcom_content %}
    {% origin %}
    <h2>Eligible People for {{ nomcom.group }}</h2>
    <table class="table table-sm table-striped tablesorter">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" data-sort="last">Last name</th>
                <th scope="col" data-sort="first">First name</th>
                <th scope="col" data-sort="plain">Plain name</th>
                <th scope="col" data-sort="page">Profile page</th>
                <th scope="col" data-sort="email">Email addresses</th>
            </tr>
        </thead>
        {% if eligible_persons %}
            <tbody>
                {% for p in eligible_persons %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ p.last_name }}</td>
                        <td>{{ p.first_name }}</td>
                        <td>{{ p.ascii_name }}</td>
                        <td>{% person_link p %}</td>
                        <td>
                            {% for e in p.email_set.all %}
                                {{ e.address|linkify }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endif %}
    </table>
}
{% endblock %}
{% block js %}
    <script src="{% static "ietf/js/list.js" %}"></script>
{% endblock %}