{% extends "nomcom/nomcom_private_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load django_bootstrap5 %}
{% block subtitle %}- Email Lists{% endblock %}
{% block nomcom_content %}
    {% origin %}
    <h2>
        Email lists
        <br>
        <small class="text-muted">{{ nomcom.group }}</small>
    </h2>
    {% with title='Nominees Pending Acceptance' list=pending heading="h3" %}
        {% include 'nomcom/email_list_panel.html' %}
    {% endwith %}
    {% with title='Accepted Nominees' list=accepted heading="h3" %}
        {% include 'nomcom/email_list_panel.html' %}
    {% endwith %}
    {% with title='Accepted Nominees Without a Questionnaire Response' list=noresp heading="h3" %}
        {% include 'nomcom/email_list_panel.html' %}
    {% endwith %}
    <h3 class="mt-3">Accepted Nominees by Position</h3>
    {% for pos, accepts in bypos.items %}
        {% with title=pos.name list=accepts heading="h4" %}
            {% include 'nomcom/email_list_panel.html' %}
        {% endwith %}
    {% endfor %}
{% endblock %}