{% extends "base.html" %}
{# Copyright The IETF Trust 2015-2020, All Rights Reserved #}
{% load origin %}
{% load ietf_filters static %}
{% load group_filters %}
{% block title %}NomCom{% endblock %}
{% block content %}
    {% origin %}
    <h1>NomCom Membership History</h1>
    <p class="alert alert-warning my-3">
        <b>Note:</b> The data for concluded NomComs is occasionally incorrect.
    </p>
    {% for regime in regimes %}
        <h2 class="mt-5" id="y{{ regime.year }}">{{ regime.label }}</h2>
        <dl class="row">
            {% for slug, label, roles in regime.nomcom.personnel %}
                <dt class="col-sm-2">
                    {{ label }}
                </dt>
                <dd class="col-sm-10">
                    {% for r in roles %}
                        {% role_person_link r %}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </dd>
            {% endfor %}
        </dl>
    {% endfor %}
    <h2 class="mt-5" id="y2012">2012/2013</h2>
    <dl class="row">
        <dt class="col-sm-2">
            Chair
        </dt>
        <dd class="col-sm-10">
            Matt Lepinski
        </dd>
        <dt class="col-sm-2">
            Advisor
        </dt>
        <dd class="col-sm-10">
            Suresh Krishnan
        </dd>
        <dt class="col-sm-2">
            Members
        </dt>
        <dd class="col-sm-10">
            Dhruv Dhody,
            Yi (Aaron) Ding,
            Toerless Eckert,
            Jeff Haas,
            David Meyer,
            Michael Richardson,
            Teemu Savolainen,
            Karen Seo,
            Steven White,
            Leaf Yeh
        </dd>
        <dt class="col-sm-2">
            Liaison Members
        </dt>
        <dd class="col-sm-10">
            Marc Blanchet <span class="text-muted">(IAB Liaison)</span>,
            Scott Bradner <span class="text-muted">(IAOC Liaison)</span>,
            Sean Turner <span class="text-muted">(IESG Liaison)</span>,
            Rudi Vansnick <span class="text-muted">(ISOC Liaison)</span>
        </dd>
    </dl>
    <h2 class="mt-5" id="y2011">2011/2012</h2>
    <dl class="row">
        <dt class="col-sm-2">
            Chair
        </dt>
        <dd class="col-sm-10">
            Suresh Krishnan
        </dd>
        <dt class="col-sm-2">
            Advisors
        </dt>
        <dd class="col-sm-10">
            Tom Walsh,
            Henrik Levkowetz <span class="text-muted">(Tools Advisor)</span>
        </dd>
        <dt class="col-sm-2">
            Members
        </dt>
        <dd class="col-sm-10">
            Jaap Akkerhuis,
            Stephen Hanna,
            Sheng Jiang,
            Dapeng Liu,
            Rifaat Shekh-Yuse,
            Pascal Thubert,
            Olivier Vautrin,
            Simo Veikkolainen,
            Ijsbrand Wijnands,
            Lianshu Zheng
        </dd>
        <dt class="col-sm-2">
            Liaison Members
        </dt>
        <dd class="col-sm-10">
            Dave Thaler <span class="text-muted">(IAB Liaison)</span>,
            Dave Crocker <span class="text-muted">(IAOC Liaison)</span>,
            Ralph Droms <span class="text-muted">(IESG Liaison)</span>,
            Jason Livingood <span class="text-muted">(ISOC Liaison)</span>
        </dd>
    </dl>
    <h2 class="mt-5" id="y2010">2010/2011</h2>
    <dl class="row">
        <dt class="col-sm-2">
            Chair
        </dt>
        <dd class="col-sm-10">
            Tom Walsh
        </dd>
        <dt class="col-sm-2">
            Advisors
        </dt>
        <dd class="col-sm-10">
            Mary Barnes,
            Henrik Levkowetz <span class="text-muted">(Tools Advisor)</span>
        </dd>
        <dt class="col-sm-2">
            Members
        </dt>
        <dd class="col-sm-10">
            Gregory Cauchie,
            Mehmet Ersue,
            Dorothy Gellert,
            Tony Hansen,
            Suresh Krishnan,
            Dirk Kroeselberg,
            Jan Seedorf,
            Pete St. Pierre,
            Rolf Winter
        </dd>
        <dt class="col-sm-2">
            Liaison Members
        </dt>
        <dd class="col-sm-10">
            Spencer Dawkins <span class="text-muted">(IAB Liaison)</span>,
            Ole Jacobsen <span class="text-muted">(IAOC Liaison)</span>,
            Dan Romascanu <span class="text-muted">(IESG Liaison)</span>,
            Eric Burger <span class="text-muted">(ISOC Liaison)</span>
        </dd>
    </dl>
    <h2 class="mt-5" id="y2009">2009/2010</h2>
    <dl class="row">
        <dt class="col-sm-2">
            Chair
        </dt>
        <dd class="col-sm-10">
            Mary Barnes
        </dd>
        <dt class="col-sm-2">
            Advisors
        </dt>
        <dd class="col-sm-10">
            Joel Halpern,
            Henrik Levkowetz <span class="text-muted">(Tools Advisor)</span>
        </dd>
        <dt class="col-sm-2">
            Members
        </dt>
        <dd class="col-sm-10">
            Scott Brim,
            David H. Crocker,
            Roque Gagliano,
            Randall Gellens,
            Dorothy Gellert,
            Wassim Haddad,
            Stephen Kent,
            Simo Veikkolainen,
            Dimitri Papadimitriou,
            Lucy Yong
        </dd>
        <dt class="col-sm-2">
            Liaison Members
        </dt>
        <dd class="col-sm-10">
            Jon Peterson <span class="text-muted">(IAB Liaison)</span>,
            Tim Polk <span class="text-muted">(IESG Liaison)</span>,
            Henk Uijterwall <span class="text-muted">(IAOC liaison)</span>,
            TBA <span class="text-muted">(ISOC Liaison)</span>
        </dd>
    </dl>
    <h2 class="mt-5" id="y2008">
        2008/2009
    </h2>
    <dl class="row">
        <dt class="col-sm-2">
            Chair
        </dt>
        <dd class="col-sm-10">
            Joel Halpern
        </dd>
        <dt class="col-sm-2">
            Advisor
        </dt>
        <dd class="col-sm-10">
            Lakshminath Dondeti
        </dd>
        <dt class="col-sm-2">
            Members
        </dt>
        <dd class="col-sm-10">
            Bernard Aboba,
            Stephen Hanna,
            Sam Hartman,
            Bernie Hoeneisen,
            Markus Isomaki,
            Matt Lepinski,
            Jason Livingood,
            Hannes Tschofenig,
            Russ White,
            Margaret Wasserman
        </dd>
        <dt class="col-sm-2">
            Liaison Members
        </dt>
        <dd class="col-sm-10">
            Dave Oran <span class="text-muted">(IAB Liaison)</span>,
            Ross Callon <span class="text-muted">(IESG Liaison)</span>,
            Bert Wijnen <span class="text-muted">(ISOC Liaison)</span>
        </dd>
    </dl>
    <h2 class="mt-5" id="y2007">
        2007/2008
    </h2>
    <dl class="row">
        <dt class="col-sm-2">
            Chair
        </dt>
        <dd class="col-sm-10">
            Lakshminath Dondeti
        </dd>
        <dt class="col-sm-2">
            Advisor
        </dt>
        <dd class="col-sm-10">
            Andrew Lange
        </dd>
        <dt class="col-sm-2">
            Members
        </dt>
        <dd class="col-sm-10">
            Simon Leinen,
            Christopher Boulton,
            Dan Wing,
            Derek Atkins,
            Steven Blake,
            Ian Chakeres,
            Thomas Walsh,
            Attila Takacs,
            Ole Jacobsen,
            Craig White
        </dd>
        <dt class="col-sm-2">
            Liaison Members
        </dt>
        <dd class="col-sm-10">
            Danny McPherson <span class="text-muted">(IAB Liaison)</span>,
            Lars Eggert <span class="text-muted">(IESG Liaison)</span>,
            Fred Baker <span class="text-muted">(ISOC Liaison)</span>
        </dd>
    </dl>
    <h2 class="mt-5" id="y2006">
        2006/2007
    </h2>
    <dl class="row">
        <dt class="col-sm-2">
            Chair
        </dt>
        <dd class="col-sm-10">
            Andrew Lange
        </dd>
        <dt class="col-sm-2">
            Advisor
        </dt>
        <dd class="col-sm-10">
            Ralph Droms <span class="text-muted">(Previous Chair)</span>
        </dd>
        <dt class="col-sm-2">
            Members
        </dt>
        <dd class="col-sm-10">
            Cengiz Alaettinoglu,
            Dan Li,
            Brian Haberman,
            John Drake,
            Stephen Kent,
            Vidya Narayanan,
            Hao Zhou,
            Kurt Zeilenga,
            Martin Stiemerling,
            Juergen Quittek
        </dd>
        <dt class="col-sm-2">
            Liaison Members
        </dt>
        <dd class="col-sm-10">
            Olaf Kolkman <span class="text-muted">(IAB Liaison)</span>,
            Cullen Jennings <span class="text-muted">(IESG Liaison)</span>,
            Fred Baker <span class="text-muted">(ISOC Liaison)</span>
        </dd>
    </dl>
    <h2 class="mt-5" id="y2005">
        2005/2006
    </h2>
    <dl class="row">
        <dt class="col-sm-2">
            Chair
        </dt>
        <dd class="col-sm-10">
            Ralph Droms
        </dd>
        <dt class="col-sm-2">
            Advisor
        </dt>
        <dd class="col-sm-10">
            Danny McPherson <span class="text-muted">(Previous Chair)</span>
        </dd>
        <dt class="col-sm-2">
            Members
        </dt>
        <dd class="col-sm-10">
            Sam Weiler,
            Lakshminath Dondeti,
            Stewart Bryant,
            Alan Hawrylyshen,
            Wassim Haddad,
            Joao Luis Silva Damas,
            Dinesh Mohan,
            Ron Bonica,
            Jozef Babiarz,
            Vijay K. Gurbani
        </dd>
        <dt class="col-sm-2">
            Liaison Members
        </dt>
        <dd class="col-sm-10">
            David Meyer <span class="text-muted">(IAB Liaison)</span>,
            Russ Housley <span class="text-muted">(IESG Liaison)</span>,
            Steve Crocker <span class="text-muted">(ISOC Liaison)</span>
        </dd>
    </dl>
    <h2 class="mt-5" id="y2004">
        2004/2005
    </h2>
    <dl class="row">
        <dt class="col-sm-2">
            Chair
        </dt>
        <dd class="col-sm-10">
            Danny McPherson
        </dd>
        <dt class="col-sm-2">
            Advisor
        </dt>
        <dd class="col-sm-10">
            Richard Draves <span class="text-muted">(Previous Chair)</span>
        </dd>
        <dt class="col-sm-2">
            Members
        </dt>
        <dd class="col-sm-10">
            Alia Atlas,
            Stewart Bryant,
            Lakshminath Dondeti,
            Markus Isomaki,
            Andrew Lange,
            Matt Larson,
            Chris Liljenstolpe,
            Magnus Westerlund,
            Russ White,
            Juha Wiljakka
        </dd>
        <dt class="col-sm-2">
            Liaison Members
        </dt>
        <dd class="col-sm-10">
            Eric Rescorla <span class="text-muted">(IAB Liaison)</span>,
            Alex Zinin <span class="text-muted">(IESG Liaison)</span>,
            Steve Crocker <span class="text-muted">(ISOC Liaison)</span>,
            Richard Draves <span class="text-muted">(Previous Chair/Advisor)</span>
        </dd>
    </dl>
    <h2 class="mt-5" id="y2003">
        2003/2004
    </h2>
    <dl class="row">
        <dt class="col-sm-2">
            Chair
        </dt>
        <dd class="col-sm-10">
            Rich Draves
        </dd>
        <dt class="col-sm-2">
            Advisor
        </dt>
        <dd class="col-sm-10">
            Phil Roberts <span class="text-muted">(Previous Chair)</span>
        </dd>
        <dt class="col-sm-2">
            Members
        </dt>
        <dd class="col-sm-10">
            Abdul-jabbar Asiri,
            Jin Seek Choi,
            Ralph Droms,
            Dan Forsberg,
            Ole J. Jacobsen,
            Kireeti Kompella,
            David E. Martin,
            Basavaraj Patil,
            Richard Shockey,
            Andrew Thiessen
        </dd>
        <dt class="col-sm-2">
            Liaison Members
        </dt>
        <dd class="col-sm-10">
            Geoff Huston <span class="text-muted">(IAB Liaison)</span>,
            Bill Fenner <span class="text-muted">(IESG liaison)</span>
        </dd>
    </dl>
    <h2 class="mt-5" id="y2002">
        2002/2003
    </h2>
    <dl class="row">
        <dt class="col-sm-2">
            Chair
        </dt>
        <dd class="col-sm-10">
            Phil Roberts
        </dd>
        <dt class="col-sm-2">
            Advisor
        </dt>
        <dd class="col-sm-10">
            Theodore Ts'o <span class="text-muted">(Previous Chair)</span>
        </dd>
        <dt class="col-sm-2">
            Members
        </dt>
        <dd class="col-sm-10">
            Frank Alfano,
            Dennis Beard,
            Alec Brusilovsky,
            Richard Draves,
            Eva Gustafsson,
            Eva Jonsson,
            Thomas Kurien,
            Edward Lewis,
            Michael Richardson,
            Stephen Trowbridge
        </dd>
        <dt class="col-sm-2">
            Liaison Members
        </dt>
        <dd class="col-sm-10">
            Eric Rescorla <span class="text-muted">(IAB liaison)</span>,
            Allison Mankin <span class="text-muted">(IETF liaison)</span>
        </dd>
    </dl>
    <h2 class="mt-5" id="y2001">
        2001/2002
    </h2>
    <dl class="row">
        <dt class="col-sm-2">
            Chair
        </dt>
        <dd class="col-sm-10">
            Theodore Ts'o
        </dd>
        <dt class="col-sm-2">
            Advisor
        </dt>
        <dd class="col-sm-10">
            Bernard Aboba <span class="text-muted">(Previous Chair)</span>
        </dd>
        <dt class="col-sm-2">
            Members
        </dt>
        <dd class="col-sm-10">
            Ron Bonica,
            Dave Crocker,
            Eric Gray,
            Bob Hinden,
            Matt Holdrege,
            Danny McPherson,
            Ersue Mehmet,
            Radia Perlman,
            Hal Sandick,
            Russ White
        </dd>
        <dt class="col-sm-2">
            Liaison Members
        </dt>
        <dd class="col-sm-10">
            Fred Baker <span class="text-muted">(IAB liaison)</span>,
            Thomas Narten <span class="text-muted">(IESG Liaison)</span>
        </dd>
    </dl>
    <h2 class="mt-5" id="y2000">
        2000/2001
    </h2>
    <dl class="row">
        <dt class="col-sm-2">
            Chair
        </dt>
        <dd class="col-sm-10">
            Bernard Aboba
        </dd>
        <dt class="col-sm-2">
            Advisor
        </dt>
        <dd class="col-sm-10">
            Avri Doria <span class="text-muted">(Previous Chair)</span>
        </dd>
        <dt class="col-sm-2">
            Members
        </dt>
        <dd class="col-sm-10">
            David Allan,
            Stuart Cheshire,
            Alain Durand,
            Hadriel Kaplan,
            Perry E. Metzger,
            Phil Roberts,
            David Robinson,
            Hal Sandick,
            Vijay Srinivasan,
            Bill Woodcock
        </dd>
        <dt class="col-sm-2">
            Liaison Members
        </dt>
        <dd class="col-sm-10">
            Leslie Daigle <span class="text-muted">(IAB Liaison)</span>,
            Allison Mankin <span class="text-muted">(IESG Liaison)</span>
        </dd>
    </dl>
    <h2 class="mt-5" id="y1999">
        1999/2000
    </h2>
    <dl class="row">
        <dt class="col-sm-2">
            Chair
        </dt>
        <dd class="col-sm-10">
            Avri Doria
        </dd>
        <dt class="col-sm-2">
            Advisor
        </dt>
        <dd class="col-sm-10">
            Donald E. Eastlake <span class="text-muted">(Previous Chair)</span>
        </dd>
        <dt class="col-sm-2">
            Members
        </dt>
        <dd class="col-sm-10">
            Bernard Aboba,
            Michael W. Condry,
            Paul Hoffman,
            Jim Luciani,
            Greg Minshall,
            William B. Norton,
            Basavaraj Patil,
            Yakov Rekhter,
            Bill Sommerfeld,
            Walter Weiss
        </dd>
        <dt class="col-sm-2">
            Liaison Members
        </dt>
        <dd class="col-sm-10">
            Geoff Huston <span class="text-muted">(IAB Liaison)</span>,
            Thomas Narten <span class="text-muted">(IESG Liaison)</span>
        </dd>
    </dl>
    <h2 class="mt-5" id="y1998">
        1998/1999
    </h2>
    <dl class="row">
        <dt class="col-sm-2">
            Chair
        </dt>
        <dd class="col-sm-10">
            Donald Eastlake 3rd
        </dd>
        <dt class="col-sm-2">
            Advisor
        </dt>
        <dd class="col-sm-10">
            Michael St Johns <span class="text-muted">(Previous Chair)</span>
        </dd>
        <dt class="col-sm-2">
            Members
        </dt>
        <dd class="col-sm-10">
            Avri Doria,
            Randall Gellens,
            Stephen R. Hanna,
            Bob Hinden,
            R A Lichtensteiger,
            Bob Mahoney,
            Keith McCloghrie,
            David Meyer,
            Lixia Zhang,
            Glen Zorn
        </dd>
        <dt class="col-sm-2">
            Liaison Members
        </dt>
        <dd class="col-sm-10">
            Steven Bellovin <span class="text-muted">(IAB Liaison)</span>,
            Bert Wijnen <span class="text-muted">(IESG Liaison)</span>,
            Michael St Johns <span class="text-muted">(Previous Chair)</span>
        </dd>
    </dl>
    <h2 class="mt-5" id="y1997">
        1997/1998
    </h2>
    <dl class="row">
        <dt class="col-sm-2">
            Chair
        </dt>
        <dd class="col-sm-10">
            Michael StJohns
        </dd>
        <dt class="col-sm-2">
            Advisor
        </dt>
        <dd class="col-sm-10">
            Geoff Huston <span class="text-muted">(Previous Chair)</span>
        </dd>
        <dt class="col-sm-2">
            Members
        </dt>
        <dd class="col-sm-10">
            Bernard Aboba,
            Uri Blumenthal,
            John Boudreaux,
            Avri Doria,
            Rik Drummond,
            Donald Eastlake,
            Steve Hole,
            Steve Kent,
            Keith McClogrie,
            Lixia Zhang,
        </dd>
        <dt class="col-sm-2">
            Liaison Members
        </dt>
        <dd class="col-sm-10">
            Tony Hain <span class="text-muted">(IAB Liaison)</span>,
            Scott Bradner <span class="text-muted">(IESG Liaison)</span>,
        </dd>
    </dl>
    <h2 class="mt-5" id="y1996">
        1996/1997
    </h2>
    <dl class="row">
        <dt class="col-sm-2">
            Chair
        </dt>
        <dd class="col-sm-10">
            Geoff Huston
        </dd>
        <dt class="col-sm-2">
            Advisor
        </dt>
        <dd class="col-sm-10">
            Guy Almes <span class="text-muted">(Previous Chair)</span>
        </dd>
        <dt class="col-sm-2">
            Members
        </dt>
        <dd class="col-sm-10">
            Guy Almes,
            Jim Bound,
            Matt Crawford,
            Phill Gross,
            Bob Hinden,
            Dorian Kim,
            Bill Manning,
            Marshall Rose,
            Mike StJohns,
            Glen Zorn,
        </dd>
        <dt class="col-sm-2">
            Liaison Members
        </dt>
        <dd class="col-sm-10">
            Radia Perlman <span class="text-muted">(IAB Liaison)</span>,
            Joyce Reynolds <span class="text-muted">(IESG Liaison)</span>,
            Christian Huitema <span class="text-muted">(ISOC Liaison)</span>,
            Guy Almes <span class="text-muted">(Previous Chair)</span>,
        </dd>
    </dl>
    <h2 class="mt-5" id="y1995">
        1995/1996
    </h2>
    <dl class="row">
        <dt class="col-sm-2">
            Chair
        </dt>
        <dd class="col-sm-10">
            Guy Almes
        </dd>
        <dt class="col-sm-2">
            Advisor
        </dt>
        <dd class="col-sm-10">
            John Curran <span class="text-muted">(Previous Chair)</span>
        </dd>
        <dt class="col-sm-2">
            Members
        </dt>
        <dd class="col-sm-10">
            Uri Blumenthal,
            Jeff Case,
            Noel Chiappa,
            Dave Crocker,
            Donald Eastlake,
            Ned Freed,
            David Meyer,
            Mark Prior,
            Bob Steen,
            Paul Traina,
        </dd>
        <dt class="col-sm-2">
            Liaison Members
        </dt>
        <dd class="col-sm-10">
            Bob Moskowitz <span class="text-muted">(IAB Liaison)</span>,
            Harald Alvestrand <span class="text-muted">(IESG Liaison)</span>,
        </dd>
    </dl>
    <h2 class="mt-5" id="y1994">
        1994/1995
    </h2>
    <dl class="row">
        <dt class="col-sm-2">
            Chair
        </dt>
        <dd class="col-sm-10">
            John Curran
        </dd>
        <dt class="col-sm-2">
            Advisor
        </dt>
        <dd class="col-sm-10">
            Fred Baker <span class="text-muted">(Previous Chair)</span>
        </dd>
        <dt class="col-sm-2">
            Members
        </dt>
        <dd class="col-sm-10">
            Fred Baker,
            Roxana Bradescu,
            Peter S. Ford,
            Tony Genovese,
            Michael Mealling,
            Charlie Perkins,
            Marshall Rose,
            Greg Ruth,
            Paul Traina,
            Steven Waldbusser,
        </dd>
    </dl>
    <h2 class="mt-5" id="y1993">
        1993/1994
    </h2>
    <dl class="row">
        <dt class="col-sm-2">
            Chair
        </dt>
        <dd class="col-sm-10">
            Fred Baker
        </dd>
        <dt class="col-sm-2">
            Members
        </dt>
        <dd class="col-sm-10">
            Jeff Case,
            Noel Chiappa,
            Alan Clegg,
            Jeroen Houttuin,
            Daniel Karrenberg,
            Andy Nicholson,
            Dr. Marshall T. Rose,
        </dd>
        <dt class="col-sm-2">
            Liaison Members
        </dt>
        <dd class="col-sm-10">
            Bob Braden <span class="text-muted">(IAB Liaison)</span>,
            Stev Knowles <span class="text-muted">(IESG Liaison)</span>,
            Jon Postel <span class="text-muted">(IRSG Liaison)</span>,
        </dd>
    </dl>
    <h2 class="mt-5" id="y1992">
        1992/1993
    </h2>
    <dl class="row">
        <dt class="col-sm-2">
            Members
        </dt>
        <dd class="col-sm-10">
            Jack Brown,
            Peter S. Ford,
            Steve Kent,
            Paul Mockapetris,
            Craig Partridge,
            Jim Romaguera,
            Claudio Topolcic,
        </dd>
        <dt class="col-sm-2">
            Liaison Members
        </dt>
        <dd class="col-sm-10">
            Barry Leiner <span class="text-muted">(IAB Liaison)</span>,
            Erik Huizer <span class="text-muted">(IESG Liaison)</span>,
            Jon Postel <span class="text-muted">(IRSG Liaison)</span>,
            Geoff Huston <span class="text-muted">(ISOC Liaison)</span>,
        </dd>
    </dl>
{% endblock %}