{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load ietf_filters staticfiles %}

{% block pagehead %}
<link rel="stylesheet" href="{% static "jquery.tablesorter/css/theme.bootstrap.min.css" %}">
{% endblock %}

{% block title %}IAB/IESG NomComs{% endblock %}

{% block content %}
  {% origin %}
  <h1>IAB/IESG NomComs</h1>

  <table class="table table-condensed table-striped tablesorter">
    <thead>
      <tr>
        <th>Year</th>
        <th>Chair</th>
        <th>Announcements</th>
        <th>Pages</th>
      </tr>
    </thead>
    <tbody>
      {% for nomcom in nomcom_list|dictsortreversed:"label" %}
        <tr>
          <td>{{ nomcom.label }}</td>
          <td >
	    {% with nomcom.get_chair as role %}
	      <a href="mailto:{{role.person.email_address}}">{{role.person}}</a>
	    {% endwith %}
          </td>
          <td>
	    {% if nomcom.ann_url %}
	      <a href="{{ nomcom.ann_url }}">Announcements</a>
	    {% endif %}
          </td>
          <td>
	    {% if nomcom.url %}
	      <a href="{{ nomcom.url }}">Pages</a>
	    {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block js %}
<script src="{% static "jquery.tablesorter/js/jquery.tablesorter.combined.min.js" %}"></script>
{% endblock %}