{% extends "nomcom/nomcom_private_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% block subtitle %}- Positions{% endblock %}
{% block nomcom_content %}
    {% origin %}
    <h2 class="mb-3">Positions in {{ nomcom.group }}</h2>
    {% if nomcom.group.state_id == 'active' %}
        <a class="btn btn-primary"
           href="{% url 'ietf.nomcom.views.edit_position' year %}">Add new position</a>
        <p class="my-3">
            If you need to start processing a new position while other positions are further along or have already closed (such as when the 2016 NomCom needed to seat a second RAI AD after moving an incumbent to the IESG chair position) adding a new position is the right way to start. Please review the
            <a href="{% url 'ietf.nomcom.views.configuration_help' year=nomcom.year %}">Configuration Hints</a>.
        </p>
    {% endif %}
    {% if positions %}
        {% regroup positions by is_open as posgroups %}
        {% for group in posgroups %}
            <h3>{{ group.grouper| yesno:"Open Positions,Closed Positions" }}</h3>
            {% for position in group.list %}
                <h4>
                    {{ position.name }}
                    {% if position.is_iesg_position %}(IESG){% endif %}
                </h4>
                {% if group.grouper %}
                    <dl class="row">
                        <dt class="col-sm-2">
                            Accepting
                        </dt>
                        <dd class="col-sm-10">
                            {% if position.accepting_nominations %}Nominations{% endif %}
                            {% if position.accepting_nominations and position.accepting_feedback %}and{% endif %}
                            {% if position.accepting_feedback %}Feedback{% endif %}
                        </dd>
                    </dl>
                {% endif %}
                <dl class="row">
                    <dt class="col-sm-2">
                        Templates
                    </dt>
                    <dd class="col-sm-10">
                        {% for template in position.get_templates %}
                            <a href="{% url 'ietf.nomcom.views.edit_template' year template.id %}">{{ template }}</a>
                            <br>
                        {% endfor %}
                    </dd>
                    {% if nomcom.group.state_id == 'active' %}
                        <dt class="col-sm-2">
                            Actions
                        </dt>
                        <dd class="col-sm-10">
                            <a class="btn btn-primary btn-sm"
                               href="{% url 'ietf.nomcom.views.edit_position' year position.id %}">Edit</a>
                            <a class="btn btn-danger btn-sm"
                               href="{% url 'ietf.nomcom.views.remove_position' year position.id %}">Remove</a>
                        </dd>
                    {% endif %}
                </dl>
            {% endfor %}
        {% endfor %}
    {% else %}
        <p>
            There are no positions defined.
        </p>
    {% endif %}
{% endblock %}