{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load nomcom_tags %}
{% load ietf_filters %}
{% block title %}
    NomCom {{ year }} Private
    {% block subtitle %}{% endblock %}
{% endblock %}
{% block content %}
    {% origin %}
    <h1>
        NomCom {{ year }}
        {% if nomcom.group.state_id == 'conclude' %}<span class="badge rounded-pill bg-info">Concluded</span>{% endif %}
        <br>
        <small class="text-muted">Private area
            {% if is_chair_task %}- Chair/Advisors only{% endif %}
        </small>
    </h1>
    <ul class="nav nav-tabs my-3">
        <li class="nav-item">
            <a class="nav-link {% if selected == "index" %}active{% endif %}"
               href="{% url "ietf.nomcom.views.private_index" year %}">
                Nominees
            </a>
        </li>
        {% if nomcom|has_publickey %}
            <li class="nav-item">
                <a class="nav-link {% if selected == "nominate" %}active{% endif %}"
                   href="{% url 'ietf.nomcom.views.private_nominate' year %}">
                    Nominate
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if selected == "feedback" %}active{% endif %}"
                   href="{% url 'ietf.nomcom.views.private_feedback' year %}">
                    Enter feedback
                </a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link {% if selected == "view_feedback" %}active{% endif %}"
               href="{% url 'ietf.nomcom.views.view_feedback' year %}">
                View feedback
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if selected == "private_key" %}active{% endif %}"
               href="{% url 'ietf.nomcom.views.private_key' year %}">
                Private key
            </a>
        </li>
        {% if user|is_chair_or_advisor:year %}
            <li class="nav-item">
                <a class="nav-link {% if selected == "feedback_pending" %}active{% endif %}"
                   href="{% url 'ietf.nomcom.views.view_feedback_pending' year %}">
                    Pending emails
                    {% if nomcom.pending_email_count %}<span class="badge rounded-pill bg-primary">{{ nomcom.pending_email_count }}</span>{% endif %}
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">Chair/Advisor Tasks</a>
                <ul class="dropdown-menu mt-n1" role="menu">
                    {% if nomcom.group.state_id == 'active' %}
                        <li role="presentation" class="dropdown-header">Feedback Management</li>
                        <li class="dropdown-item">
                            <a href="{% url 'ietf.nomcom.views.private_feedback_email' year %}">Enter email feedback</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="{% url 'ietf.nomcom.views.private_questionnaire' year %}">Enter questionnaire response</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="{% url 'ietf.nomcom.views.extract_email_lists' year %}">Extract email lists</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="{% url 'ietf.nomcom.views.send_reminder_mail' year "accept" %}">Send accept reminder</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="{% url 'ietf.nomcom.views.send_reminder_mail' year "questionnaire" %}">Send questionnaire reminder</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="{% url "ietf.nomcom.views.private_merge_person" year %}">Request person record merge</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="{% url "ietf.nomcom.views.private_merge_nominee" year %}">Merge nominee records</a>
                        </li>
                    {% endif %}
                    <li role="presentation" class="dropdown-header">NomCom configuration</li>
                    <li class="dropdown-item">
                        <a href="{% url 'ietf.nomcom.views.edit_nomcom' year %}">Edit settings</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="{% url 'ietf.nomcom.views.list_templates' year %}">Edit pages</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="{% url 'ietf.nomcom.views.list_positions' year %}">Edit positions</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="{% url 'ietf.nomcom.views.list_topics' year %}">Edit topics</a>
                    </li>
                    {% if nomcom.group.state_id == 'active' %}
                        <li class="dropdown-item">
                            <a href="{% url 'ietf.nomcom.views.edit_members' year %}">Edit members</a>
                        </li>
                    {% endif %}
                    <li class="dropdown-item">
                        <a href="{% url 'ietf.nomcom.views.configuration_help' year %}">Configuration help</a>
                    </li>
                    <li role="presentation" class="dropdown-header">Other tools</li>
                    <li class="dropdown-item">
                        <a href="{% url 'ietf.secr.announcement.views.main' %}">Announcement tool</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="https://www.ietf.org/registration/nomcom_chair/nomcomstaff.py">Secretariat private eligibility checker</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="https://www.ietf.org/registration/nomcom.py">Secretariat public eligibility checker</a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {% if user|is_chair_or_advisor:year or user|has_role:"Secretariat" %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                    Volunteers
                </a>
                <ul class="dropdown-menu mt-n1" role="menu">
                    <li class="dropdown-item">
                        <a href="{% url 'ietf.nomcom.views.private_eligible' year %}">
                            View eligible
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="{% url 'ietf.nomcom.views.private_volunteers' year %}">
                            View volunteers
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
    </ul>
    {% block nomcom_content %}{% endblock %}
{% endblock %}
{% block js %}
    <script>
        // Javascript to enable link to tab
        var url=document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
        }
        // Change hash for page-reload
        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            window.location.hash=e.target.hash;
        })
    </script>
{% endblock %}