{% extends "nomcom/nomcom_base.html" %}

{% load nomcom_tags %}

{% block content %}

  <h1>Nomcom {{ year }} Private Area</h1>

  <div class="ietf-navset nomcom-menu" >
     <div>
    {% if selected == "index" %}<span class="selected">Nominees</span>{% else %}<a href="{% url nomcom_private_index year %}">Nominees</a>{% endif %} |
    {% if nomcom|has_publickey %}
      {% if selected == "nominate" %}<span class="selected">Nominate</span>{% else %}<a href="{% url nomcom_private_nominate year %}">Nominate</a>{% endif %} |
      {% if selected == "feedback" %}<span class="selected">Enter Comments</span>{% else %}<a href="{% url nomcom_private_feedback year %}">Enter Comments</a>{% endif %} |
      {% if selected == "questionnaire" %}<span class="selected">Questionnaire response</span>{% else %}<a href="{% url nomcom_private_questionnaire year %}">Questionnaire response</a>{% endif %} |
    {% endif %}
    {% if selected == "view_feedback" %}<span class="selected">View Comments</span>{% else %}<a href="{% url nomcom_view_feedback year %}">View Comments</a>{% endif %} |
    {% if selected == "private_key" %}<span class="selected">Private Key</span>{% else %}<a href="{% url nomcom_private_key year %}">Private Key</a>{% endif %}
    {% if user|is_chair:year %} |
      {% if selected == "feedback_pending" %}<span class="selected">Pending Feedback</span>{% else %}<a href="{% url nomcom_view_feedback_pending year %}">Pending Feedback</a>{% endif %} |
      {% if selected == "feedback_email" %}<span class="selected">Enter Email Feedback</span>{% else %}<a href="{% url nomcom_private_feedback_email year %}">Enter Email Feedback</a>{% endif %} |
      {% if selected == "send_reminder_mail" %}<span class="selected">Send Reminder</span>{% else %}<a href="{% url nomcom_send_reminder_mail year %}">Send Reminder</a>{% endif %} 
    {% endif %}
    </div>
    {% if user|is_chair:year %}
    <div class="nomcom-edit">
      {% if selected == "edit_nomcom" %}<span class="selected">Edit Settings</span>{% else %}<a href="{% url nomcom_edit_nomcom year %}">Edit Settings</a>{% endif %} |
      {% if selected == "edit_templates" %}<span class="selected">Edit Pages</span>{% else %}<a href="{% url nomcom_list_templates year %}">Edit Pages</a>{% endif %} |
      {% if selected == "edit_positions" %}<span class="selected">Edit Positions</span>{% else %}<a href="{% url nomcom_list_positions year %}">Edit Positions</a>{% endif %} |
      {% if selected == "merge" %}<span class="selected">Merge Email Addresses</span>{% else %}<a href="{% url nomcom_private_merge year %}">Merge Email Addresses</a>{% endif %} |
      {% if selected == "edit_members" %}<span class="selected">Edit Nomcom Members</span>{% else %}<a href="{% url nomcom_edit_members year %}">Edit Nomcom Members</a>{% endif %}
    </div>
    {% endif %}
  </div>


  {% block nomcom_content %}
  {% endblock %}

{% endblock %}
