{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}

{% load nomcom_tags %}
{% load ietf_filters %}

{% block title %}NomCom {{ year }} Private{% block subtitle %}{% endblock %}{% endblock %}

{% block content %}
  {% origin %}

  <h1>NomCom {{ year }} {% if nomcom.group.state_id == 'conclude' %}(Concluded){% endif %} <small>Private area {% if is_chair_task %}- Chair/Advisors only{% endif %}</small></h1>

  <ul class="nav nav-tabs" role="tablist">
    <li {% if selected == "index" %}class="active"{% endif %}><a href="{% url "ietf.nomcom.views.private_index" year %}">Nominees</a></li>

    {% if nomcom|has_publickey %}
      <li {% if selected == "nominate" %}class="active"{% endif %}><a href="{% url 'ietf.nomcom.views.private_nominate' year %}">Nominate</a></li>
      <li {% if selected == "feedback" %}class="active"{% endif %}><a href="{% url 'ietf.nomcom.views.private_feedback' year %}">Enter feedback</a></li>
    {% endif %}

    <li {% if selected == "view_feedback" %}class="active"{% endif %}><a href="{% url 'ietf.nomcom.views.view_feedback' year %}">View feedback</a></li>
    <li {% if selected == "private_key" %}class="active"{% endif %}><a href="{% url 'ietf.nomcom.views.private_key' year %}">Private key</a></li>

    {% if user|is_chair_or_advisor:year %}
      <li {% if selected == "feedback_pending" %}class="active"{% endif %}><a href="{% url 'ietf.nomcom.views.view_feedback_pending' year %}">Pending emails&ensp;<span class="badge">{{nomcom.pending_email_count}}</span></a></li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Chair/Advisor Tasks <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          {% if nomcom.group.state_id == 'active' %}
          <li role = "presentation" class = "dropdown-header">Feedback Management</li>
            <li {% if selected == "feedback_email" %}class="active"{% endif %}><a href="{% url 'ietf.nomcom.views.private_feedback_email' year %}">Enter email feedback</a></li>
            <li {% if selected == "questionnaire" %}class="active"{% endif %}><a href="{% url 'ietf.nomcom.views.private_questionnaire' year %}">Enter questionnaire response</a></li>
            <li {% if selected == "extract_email_lists" %}class="active"{% endif %}><a href="{% url 'ietf.nomcom.views.extract_email_lists' year %}">Extract email lists</a></li>
            <li {% if selected == "send_accept_reminder" %}class="active"{% endif %}><a href="{% url 'ietf.nomcom.views.send_reminder_mail' year "accept" %}">Send accept reminder</a></li>
            <li {% if selected == "send_questionnaire_reminder" %}class="active"{% endif %}><a href="{% url 'ietf.nomcom.views.send_reminder_mail' year "questionnaire" %}">Send questionnaire reminder</a></li>
            <li {% if selected == "merge_person" %}class="active"{% endif %}><a href="{% url "ietf.nomcom.views.private_merge_person" year %}">Request Person Record Merge</a></li>
            <li {% if selected == "merge_nominee" %}class="active"{% endif %}><a href="{% url "ietf.nomcom.views.private_merge_nominee" year %}">Merge Nominee Records</a></li>
          {% endif %}
          <li role = "presentation" class = "dropdown-header">Nomcom Configuration</li>
            <li {% if selected == "edit_nomcom" %}class="active"{% endif %}><a href="{% url 'ietf.nomcom.views.edit_nomcom' year %}">Edit Settings</a></li>
            <li {% if selected == "edit_templates" %}class="active"{% endif %}><a href="{% url 'ietf.nomcom.views.list_templates' year %}">Edit Pages</a></li>
            <li {% if selected == "edit_positions" %}class="active"{% endif %}><a href="{% url 'ietf.nomcom.views.list_positions' year %}">Edit Positions</a></li>
            <li {% if selected == "edit_topics" %}class="active"{% endif %}><a href="{% url 'ietf.nomcom.views.list_topics' year %}">Edit Topics</a></li>
            {% if nomcom.group.state_id == 'active' %}
            <li {% if selected == "edit_members" %}class="active"{% endif %}><a href="{% url 'ietf.nomcom.views.edit_members' year %}">Edit Members</a></li>
            {% endif %}
            <li {% if selected == "help" %}class="active"{% endif %}><a href="{% url 'ietf.nomcom.views.configuration_help' year %}">Configuration Help</a></li>
          <li role="presentation" class="dropdown-header">Other Tools</li>
            <li {% if selected == "announce" %}class="active"{% endif %}><a href="{% url 'ietf.secr.announcement.views.main'%}">Announcement Tool</a></li>
            <li {% if selected == "secr_verify" %}class="active"{% endif %}><a href="https://www.ietf.org/registration/nomcom_chair/nomcomstaff.py">Secretariat Private Eligibility Checker</a></li>
            <li {% if selected == "secr_pub_verify" %}class="active"{% endif %}><a href="https://www.ietf.org/registration/nomcom.py">Secretariat Public Eligibility Checker</a></li>
        </ul>
      </li>
    {% endif %}
    {% if user|is_chair_or_advisor:year or user|has_role:"Secretariat" %}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Volunteers<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li {% if selected == "view_eligible" %}class="active"{% endif %}><a href="{% url 'ietf.nomcom.views.private_eligible' year %}">View Eligible</a></li>
            <li {% if selected == "view_volunteers" %}class="active"{% endif %}><a href="{% url 'ietf.nomcom.views.private_volunteers' year %}">View Volunteers</a></li>
        </ul>
      </li>
    {% endif %}
  </ul>

  {% block nomcom_content %}
  {% endblock %}

{% endblock %}

{% block js %}
  <script>
    // Javascript to enable link to tab
    var url = document.location.toString();
    if (url.match('#')) {
	$('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
    } 
    // Change hash for page-reload
    $('.nav-tabs a').on('shown.bs.tab', function (e) {
	window.location.hash = e.target.hash;
    })
  </script>
{% endblock %}
