{% extends "base.html" %}

{% load nomcom_tags %}

{% block title %}NomCom {{ year }}{% block subtitle %}{% endblock %}{% endblock %}

{% block content %}

  <h1>NomCom {{ year }}</h1>

  <ul class="nav nav-tabs" role="tablist">
    <li {% if selected == "index" %}class="active"{% endif %}><a href="{% url "nomcom_year_index" year %}">Home</a></li>
    {% if nomcom|has_publickey %}
      <li {% if selected == "nominate" %}class="active"{% endif %}><a href="{% url "nomcom_public_nominate" year %}">Nominate</a></li>
      <li {% if selected == "feedback" %}class="active"{% endif %}><a href="{% url "nomcom_public_feedback" year %}">Provide feedback</a></li>
    {% endif %}
    <li {% if selected == "requirements" %}class="active"{% endif %}><a href="{% url "nomcom_requirements" year %}">Desired expertise</a></li>
    <li {% if selected == "questionnaires" %}class="active"{% endif %}><a href="{% url "nomcom_questionnaires" year %}">Questionnaires</a></li>
  </ul>

  {% block nomcom_content %}
  {% endblock %}

{% endblock %}
