{% extends "nomcom/nomcom_private_base.html" %}

{% block subtitle %}- Enter private key{% endblock %}

{% block nomcom_content %}
<h2>Enter private key</h2>

<p>In order to access the {{ nomcom.group }} data you have to enter your private key. Please paste it in the text area below.</p>

<p>If you don't have a private key, please contact the group chair. You can leave the key empty and continue navigation without access to the encrypted data.</p>

<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
<table>
{{ form }}
</table>
<p><input type="submit" value="Enter key" /></p>
</form>

{% endblock %}
