{% extends "nomcom/nomcom_private_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}

{% load bootstrap3 %}

{% block subtitle %} - Merging emails {% endblock %}

{% block nomcom_content %}
  {% origin %}
  <h2>Merging nominee email addresses</h2>

  <p>
    If a nominee has been nominated with multiple email addresses, the nominee will
    appear multiple times in the nomination list, as the email address is used as
    the unique identifier for each nominee.  In order to permit comments and nominations
    to be submitted under multiple email addresses, there is a list of secondary email
    addresses which needs to be kept up-to-date.  When nominations of one particular nominee
    have already been made under different email addresses, the nomination comments from the
    secondary address also needs to be merged with those under the primary address.
  </p>

  <p>
    It doesn't matter particularly which email address is used as primary, as far as the
    nominee information maintenance goes, but it's probably handier for the nomcom if the
    primary address is the one which the nominee prefers at the time.
  </p>

  {% if message %}
    <div class="alert alert-{{ message.0 }}">{{ message.1 }}</div>
  {% endif %}

  {% bootstrap_messages %}

  <form id="nominateform" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
      <input class="btn btn-primary" type="submit" value="Save" name="save">
    {% endbuttons %}
  </form>

{% endblock %}
