{% extends "nomcom/nomcom_private_base.html" %}

{% block morecss %}
.content .primary {
  width: 550px;
  padding-right: 20px;
  float: left;
  display: inline;
}

table.nominees tr td {
  padding-left: 15px;
}
{% endblock %}

{% block subtitle %} - Feedback{% endblock %}

{% block pagehead %}
{{ form.media }}
{% endblock %}

{% block nomcom_content %}

<p>Select a nominee from the list of nominees to provide input about that nominee.
   (This will fill in the non-editable fields in the form).</p>


{% if message %}
  <div class="info-message-{{ message.0 }}">{{ message.1 }}</div>
{% endif %}

{% if has_publickey %}

  <div class="js-info">
    Your browser has Javascript disabled. Please enable javascript and reload the page.
    <script type="text/javascript">
      (function ($) {
        $(".js-info").hide();
      })(jQuery);
    </script>
  </div>

<div class="content">
  <div class="primary">
    {% if form.errors %}<div class="info-message-error">Please correct the following errors</div>{% endif %}

    <form id="feedbackform" action="" method="post">{% csrf_token %}
      {{ form }}

    <div class="submitrow">
      <input type="submit" value="Save" name="save" {% if submit_disabled %}disabled="disabled"{% endif %}/>
    </div>

    </form>
  </div>
  <div>
    <h3> Nominees </h3>

    <table class="nominees">
      {% for p in positions %}
        {% if p.nomineeposition_set.accepted.not_duplicated %}
          <tr><th>{{ p.name }}:</th></tr>
            {% for np in p.nomineeposition_set.accepted.not_duplicated %}
              <tr>
                <td><a href="{% url nomcom_private_feedback year %}?nominee={{np.nominee.id}}&position={{ np.position.id}}">{{ np.nominee.email.person.name }}</td>
              </tr>
            {% endfor %}
          {% endif %}
      {% endfor %}
    </table>
  </div>
</div>


{% endif %}

{% endblock %}