{% extends "nomcom/nomcom_private_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}

{% load bootstrap3 %}
{% load nomcom_tags %}

{% block subtitle %} - Nominate{% endblock %}

{% block nomcom_content %}
  {% origin %}
  <h2>Candidate nomination</h2>

  {% bootstrap_messages %}

  {% if message %}
    <p class="alert alert-{{ message.0 }}">{{ message.1 }}</p>
  {% endif %}

  {% if nomcom|has_publickey %}

    <form id="nominate-form" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button class="btn btn-primary" type="submit" name="save" value="Save">Save</button>
      {% endbuttons %}
    </form>

  {% endif %}

{% endblock %}
