{% extends "nomcom/nomcom_private_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load staticfiles %}

{% load bootstrap3 %}

{% block pagehead %}
  <link rel="stylesheet" href="{% static 'select2/select2.css' %}">
  <link rel="stylesheet" href="{% static 'select2-bootstrap-css/select2-bootstrap.min.css' %}">
{% endblock %}

{% block subtitle %} - Merge Nominee Records {% endblock %}

{% block nomcom_content %}
  {% origin %}
  <h2>Merge Nominee Records</h2>

  <p>
    The nomination system encourages the community to nominate people by selecting
    their email address from the set of addresses the tracker already knows. In order
    to allow a person who does not yet have a datatracker account to be nominated, the
    system also provides a way for the community to nominate people with a new, 
    previously unknown email address.
  </p>
  <p>
    Occasionally, this results in multiple Nominee records which are associated with
    the same person, but using different email addresses.  In this case, the form to
    <a href="{% url 'ietf.nomcom.views.private_merge_person' year=year %}">Request Merge of Person Records</a>
    cannot be use, since it is the nominee records, not the person records which needs
    to be merged.  When this happens, you can use this form to merge the Nominee records.
  </p>

  {% if form %}
    <form id="mergeform" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% buttons %}
        <input class="btn btn-primary" type="submit" value="Save" name="save">
      {% endbuttons %}
    </form>
  {% endif %}

{% endblock %}

{% block js %}
  <script src="{% static 'select2/select2.min.js' %}"></script>
  <script src="{% static 'ietf/js/select2-field.js' %}"></script>
{% endblock %}
