{% extends "nomcom/nomcom_private_base.html" %}

{% load nomcom_tags %}

{% block subtitle %} - Provide feedback email{% endblock %}

{% block nomcom_content %}


{% if message %}
  <div class="info-message-{{ message.0 }}">{{ message.1 }}</div>
{% endif %}

{% if nomcom|has_publickey %}

  <div>
    {% if form.errors %}<div class="info-message-error">Please correct the following errors</div>{% endif %}

    <form id="questionnnaireform" action="" method="post">{% csrf_token %}
      {{ form }}

    <div class="submitrow">
      <input type="submit" value="Save" name="save" {% if submit_disabled %}disabled="disabled"{% endif %}/>
    </div>

    </form>
  </div>

{% endif %}


{% endblock %}
