{% extends "nomcom/nomcom_public_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load static person_filters %}
{% load django_bootstrap5 %}
{% load nomcom_tags %}
{% block pagehead %}{{ form.media.css }}{% endblock %}
{% block subtitle %}- Nominate{% endblock %}
{% block nomcom_content %}
    {% origin %}
    <div class="row">
        <div class="col-sm-9">
            {% if form %}
                <h2>Nominate Candidate</h2>
                <form id="nominate-form" method="post" class="my-3">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button class="btn btn-primary" type="submit" name="save" value="Save">Nominate</button>
                </form>
            {% endif %}
        </div>
        <div class="col-sm-3">
            {% if nomcom.show_accepted_nominees %}
                <h2>
                    Nominees
                    <br>
                    <small class="text-muted">who accepted nominations</small>
                </h2>
                {% for p in positions %}
                    {% if p.nomineeposition_set.accepted.not_duplicated %}
                        <b>{{ p.name }}</b>
                        <ul>
                            {% for np in p.nomineeposition_set.accepted.not_duplicated %}
                                <li>{% person_link np.nominee.person %}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block js %}{{ form.media.js }}{% endblock %}