{% extends "nomcom/nomcom_public_base.html" %}

{% load bootstrap3 %}
{% load nomcom_tags %}

{% block subtitle %} - Nominate{% endblock %}

{% block nomcom_content %}

  {% if message %}
    <p class="alert alert-{{ message.0 }}">{{ message.1 }}</p>
  {% endif %}

  {% bootstrap_messages %}

  {% if nomcom|has_publickey %}
    <form id="nominate-form" role="form" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button class="btn btn-primary" type="submit" name="save" value="Save">Save</button>
      {% endbuttons %}
    </form>
  {% endif %}

{% endblock %}
