{% extends "nomcom/nomcom_public_base.html" %}

{% block pagehead %}
  {{ block.super }}
  <script type="text/javascript" src="/js/lib/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/js/yui/yui-20100305.js"></script>
  <script type="text/javascript" src="/js/base.js"></script>
{% endblock pagehead %}

{% block subtitle %} - Questionnaires {% endblock %}

{% block nomcom_content %}
  <h2>Questionnaires</h2>
  <div id="mytabs" class="yui-navset">
  <ul class="yui-nav">
    {% for position in positions %}
      <li><a href="#{{ position.name }}"><em>{{ position.name }}</em></a></li>
    {% endfor %}
  </ul>
  Pick the position requirements to view from the list immediately above
  <div class="yui-content">
    {% for position in positions %}
      <div id="{{ position.name }}">
          <h3>{{ position.description }}</h3>
          {{ position.get_questionnaire|linebreaks}}
      </div>
    {% endfor %}
  </div>

  <script type="text/javascript">
  //<![CDATA[
  var tabView = new YAHOO.widget.TabView('mytabs');
  var url = location.href.split('#');
  if (url[1]) {
    url[1] = "#"+url[1];
    var tabs = tabView.get('tabs');
    for (var i = 0; i < tabs.length; i++) {
      if (url[1].indexOf(tabs[i].get('href')) == 0) {
        tabView.set('activeIndex', i);
        break;
      }
    }
  }
  //]]>
  </script>

{% endblock %}
