{% extends "nomcom/nomcom_public_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% block subtitle %} - Desired Expertise {% endblock %}

{% block nomcom_content %}
  {% origin %}
  <h2>Desired expertise</h2>

  <p>
    These pages contain the current summaries of desired expertise for open
    positions, provided to the Nomcom by the IESG, IAB, and IAOC. As the Nomcom
    proceeds, per BCP 10, we receive input from the community on the
    qualifications required for the positions. The Nomcom bases selections on
    all of this information. These pages may be updated periodically.
  </p>

  <ul class="nav nav-tabs" role="tablist">
    {% for position in positions %}
      <li {% if forloop.first %}class="active"{% endif %}>
        <a data-toggle="tab" role="tab" href="#{{ position.name|slugify }}">{{ position.name }}</a>
      </li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% for position in positions %}
      <div class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ position.name|slugify }}">
        {{ position.get_requirement|safe }}
      </div>
    {% endfor %}
  </div>

{% endblock %}
