{% extends "nomcom/nomcom_private_base.html" %}
{% load ietf_filters %}

{% block subtitle %} - Send reminder messages {% endblock %}

{% block nomcom_content %}

<h2>Send a message to the selected nominees reminding them to {{reminder_description}}</h2>

<p>These are the nominees that are in the '{{state_description}}' state for the listed positions. </p>

<p>The message that will be sent is shown below the list of nominees. </p>

<form method="post" action="">{% csrf_token %}
  <h3>Nominees who have not responded</h2>

  {% if message %}
    <div class="info-message-{{ message.0 }}">{{ message.1 }}</div>
  {% endif %}

  <table class="ietf-table ietf-doctable">
  <tr>
    <th>&#x2713;</th>
    <th>Nominees</th>
    <th>Positions</th>
  </tr>
  {% for nominee in nominees %}
  <tr class="{{ forloop.counter|divisibleby:2|yesno:"oddrow,evenrow" }}">
    <td><input class="batch-select" type="checkbox" value="{{ nominee.id }}" name="selected" checked="checked"/></td>
    <td>{{ nominee }}</td>
    <td>{{nominee.interesting_positions|join:", "}}</td>
  </tr>
  {% endfor %}
  </table>

  <div style="padding: 8px 0 8px 0;"></div>

  <div class="submitrow">
    <input type="submit" name="submit" value="Submit request"/>
  </div>

</form>

<p>The message that will be sent is as follows: {% if mail_template %}<a href="{% url "nomcom_edit_template" year mail_template.id %}">(Edit the message)</a>{% endif %}</p>

<pre>{{ mail_template.content|wrap_text:80 }}</pre>

{% endblock %}
