{% extends "nomcom/nomcom_private_base.html" %}

{% load nomcom_tags %}

{% block subtitle %} - View comments {% endblock %}

{% block nomcom_content %}

{% if user|is_chair:year %}
  <p><a href="{% url nomcom_view_feedback_pending year %}">Feedback pending</a></p>
{% endif %}

<h2>Feedback related to Nominees</h2>

<table class="ietf-table ietf-doctable">
<tr>
  <th>Nominee</th>
  {% for ft in feedback_types %}
      <th>{{ ft.name }}</th>
  {% endfor %}
</tr>
{% for nominee, feedback in nominees_feedback.items %}
<tr class="{{ forloop.counter|divisibleby:2|yesno:"oddrow,evenrow" }}">
  <td><a href="{% url nomcom_view_feedback_nominee year nominee.id %}#comment">{{ nominee }}</td>
  {% for f in feedback %}
    <td>{{ f.1 }}</td>
  {% endfor %}
</tr>
{% endfor %}
</table>

{% if independent_feedback_types %}
<h2>Feedback not related to Nominees</h2>
<table class="ietf-table ietf-doctable">
<tr>
  <th></th>
  {% for ft in independent_feedback_types %}
      <th>{{ ft.name }}</th>
  {% endfor %}
</tr>
<tr class="evenrow">
  <td><a href="{% url nomcom_view_feedback_unrelated year %}">View feedback not related to nominees</td>
  {% for count in independent_feedback %}
    <td>{{ count }}</td>
  {% endfor %}
</tr>
</table>
{% endif %}
{% endblock %}
