{% extends "nomcom/nomcom_private_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}

{% load nomcom_tags %}

{% block subtitle %} - View feedback {% endblock %}

{% block nomcom_content %}
  {% origin %}
  <h2>Feedback related to nominees</h2>

  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th class="col-sm-9">Nominee</th>
        {% for ft in feedback_types %}
          <th class="col-sm-1 text-center">{{ ft.name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for nominee, feedback  in nominees_feedback.items %}
        <tr>
          <td>
	    <a href="{% url "nomcom_view_feedback_nominee" year nominee.id %}">{{ nominee.name }}</a>
            <span class="hidden-xs">&lt;{{nominee.email.address}}&gt;</span>
          </td>
          {% for f in feedback %}
            <td class="text-right">
               {% if f.2 %}<span class="label label-success">New</span>{% endif %}
               {{ f.1 }}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if independent_feedback_types %}
    <h2>Feedback not related to Nominees</h2>

    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th></th>
          {% for ft in independent_feedback_types %}
            <th>{{ ft.name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
	    <a href="{% url "nomcom_view_feedback_unrelated" year %}">View feedback not related to nominees</a>
          </td>
          {% for count in independent_feedback %}
            <td>{{ count }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  {% endif %}
{% endblock %}
