{% extends "nomcom/nomcom_private_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}

{% load bootstrap3 %}
{% load static %}
{% load nomcom_tags %}

{% block pagehead %}
  {{ formset.media.css }}
{% endblock %}

{% block subtitle %} - Feeback pending{% endblock %}

{% block morecss %}
.nominee_multi_select { resize: vertical; }
{% endblock %}

{% block nomcom_content %}
  {% origin %}
  <h2>Feedback pending from email list</h2>


  {% if formset.forms %}
    <form method="post">
      {% csrf_token %}

      {% if extra_ids %}
        <input type="hidden" name="extra_ids" value="{{ extra_ids }}">
      {% endif %}

      {% bootstrap_form formset.management_form %}

      {% if extra_step %}
        <p>Please indicate which nominees and/or topics this feedback should be associated with.</p>

        {% for form in formset.forms %}
          <dl class="dl-horizontal">
            <dt>Date</dt>
            <dd>{{ form.instance.time|date:"r" }}</dd>
            <dt>Author</dt>
            <dd>{{ form.instance.author }}</dd>
            <dt>Subject</dt>
            <dd>{{ form.instance.subject }}</dd>
            <dt>Type</dt>
            <dd><span class="label label-info">{{ form.feedback_type }}</span></dd>
            <dt>Feedback</dt>
            <dd>
              <pre>{% decrypt form.instance.comments request year 1 %}</pre>
            </dd>
            <dt>Information</dt>
            <dd>
              {% bootstrap_form form %}
            </dd>
          </dl>

          {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}

        {% buttons %}
        <input class="btn btn-primary" type="submit" value="Save feedback" name="end">
        <a class="btn btn-default" href="{% url 'ietf.nomcom.views.view_feedback_pending' year %}">Cancel & leave unclassified</a>
        {% endbuttons %}

      {% else %}

        <table class="table table-condensed">
          <thead>
            <tr><th>Code</th><th>Explanation</th></tr>
          </thead>
          <tbody>
            <tr><th>U</th><td>Unclassified</td></tr>
            {% for legend, t in type_dict.items %}
              <tr>
	        <th>{{ legend }}</th>
	        <td>{{ t.name }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <table class="table table-condensed table-striped">
          <thead>
            <tr>
	      <th>Date</th>
	      <th>U</th>
	      {% for t in type_dict.keys %}
	        <th>{{ t }}</th>
	      {% endfor %}
	      <th>Author</th>
	      <th>Subject</th>
	      <th></th>
            </tr>
          </thead>
          <tbody>
            {% for form in formset.forms %}
              {% if form.errors %}
                <tr>
	          <td colspan="5" class="info-message-error">Please correct the following errors</td>
                </tr>
              {% endif %}

              <tr>
	        <td>{{ form.instance.time|date:"r" }}</td>

	        {{ form.id }}
	        {% for choice in form.type.field.choices %}
	          <td>
	            <input type="radio" name="{{ form.type.html_name }}" value="{{ choice.0 }}" {% if not choice.0 %}checked="checked"{% endif %} title="{{ choice.1 }}">
	          </td>
	        {% endfor %}

	        <td>{{ form.instance.author }}</td>
	        <td>{{ form.instance.subject }}</td>

	        <td>
	          <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal{{ form.instance.id }}">View</button>
	        </td>
              </tr>

              <div class="modal fade" id="modal{{ form.instance.id }}" tabindex="-1" role="dialog" aria-labelledby="label{{ form.instance.id }}" aria-hidden="true">
	        <div class="modal-dialog modal-lg">
	          <div class="modal-content">
	            <div class="modal-header">
	              <button type="button" class="close" data-dismiss="modal">
		        <span aria-hidden="true">&times;</span>
		        <span class="sr-only">Close</span>
	              </button>
	              <h4 class="modal-title" id="label{{ form.instance.id }}">
		        {{ form.instance.subject }}
	              </h4>
	            </div>
	            <div class="modal-body">
	              <pre>{% decrypt form.instance.comments request year 1 %}</pre>
	            </div>
	            <div class="modal-footer">
	              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	            </div>
	          </div>
	        </div>
              </div>

            </tr>
            {% endfor %}
          </tbody>
        </table>

	<div class="pagination text-center col-md-12 col-sm-12">
	  <span class="step-links">
	    {% if page.has_previous %}
	    <a href="?page={{ page.previous_page_number }}">&lt;&nbsp;</a>
	    {% else %}
	    |&nbsp;
	    {% endif %}

	    <span class="current">
	      Page {{ page.number }} of {{ page.paginator.num_pages }}
	    </span>

	    {% if page.has_next %}
	    <a href="?page={{ page.next_page_number }}">&nbsp;&gt;</a>
	    {% else %}
	    &nbsp;|
	    {% endif %}
	  </span>
	</div>


        {% buttons %}
          <input class="btn btn-primary" type="submit" value="Classify">
        {% endbuttons %}
      {% endif %}
    </form>


  {% else %}
      <p>There is no pending feedback.</p>
  {% endif %}

{% endblock %}

{% block js %}
  {{ formset.media.js }}
{% endblock %}
