{% extends "nomcom/nomcom_private_base.html" %}
{# Copyright The IETF Trust 2015-2023, All Rights Reserved #}
{% load origin %}
{% load nomcom_tags textfilters %}
{% block subtitle %}- View unrelated feedback{% endblock %}
{% block nomcom_content %}
    {% origin %}
    <h2>Feedback not related to nominees</h2>
    <ul role="tablist" class="nav nav-tabs my-3">
        {% for ft in feedback_types %}
            <li class="nav-item">
                <button class="nav-link {% if forloop.first %}active{% endif %}"
                        data-bs-target="#{{ ft.ft.slug }}"
                        role="tab" type="button"
                        data-bs-toggle="tab">
                    {{ ft.ft.name }}
                </button>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for ft in feedback_types %}
            {% if is_chair and nomcom.group.state_id == 'active' and reclassify and ft.feedback|length > 0 %}
                <form class="form-inline" id="batch-action-form-{{ ft.slug }}" method="post">
                {% csrf_token %}
            {% endif %}
            <div role="tabpanel" class="tab-pane {% if forloop.first %} active{% endif %}"
                 id="{{ ft.ft.slug }}">
                {% for feedback in ft.feedback %}
                    {% if not forloop.first %}
                        <hr>
                    {% endif %}
                    <dl class="row">
                        {% if is_chair and nomcom.group.state_id == 'active' and reclassify and ft.feedback|length > 0 %}
                        <dt class="col-sm-2">
                            <input class="batch-select form-check-input"
                                   type="checkbox"
                                   value="{{ feedback.id }}"
                                   id="id-{{ feedback.id }}"
                                   aria-label="feedback.id"
                                   name="selected">
                        </dt>
                        <dd></dd>
                        {% endif %}
                        <dt class="col-sm-2">
                            From
                        </dt>
                        <dd class="col-sm-10">
                            {{ feedback.author|formatted_email|default:"Anonymous"|linkify }}
                        </dd>
                        <dt class="col-sm-2">
                            Date
                        </dt>
                        <dd class="col-sm-10">
                            {{ feedback.time|date:"Y-m-d" }}
                        </dd>
                        {% if feedback.subject %}
                            <dt class="col-sm-2">
                                Subject
                            </dt>
                            <dd class="col-sm-10">
                                {{ feedback.subject }}
                            </dd>
                        {% endif %}
                        <dt class="col-sm-2">
                            Feedback
                        </dt>
                        <dd class="col-sm-10 pasted">
                            <pre>{% decrypt feedback.comments request year 1 %}</pre>
                        </dd>
                    </dl>
                {% endfor %}
            </div>
            {% if is_chair and nomcom.group.state_id == 'active' and reclassify and ft.feedback|length > 0 %}
                    <p><button class="btn btn-warning"  type="submit" title="Run action">
                        Reclassify
                    </button></p>
                </form>
            {% endif %}
        {% endfor %}
    </div>
    <p>
        <a class="btn btn-secondary"
           href="{% url 'ietf.nomcom.views.view_feedback' year %}{% if reclassify %}?reclassify{% endif %}">Back</a>
    </p>
{% endblock %}
{% block js %}
    <script>
        $(document)
            .ready(function () {
                // Javascript to enable link to tab
                var url = document.location.toString();
                if (url.match('#')) {
                    $('.nav-tabs button[data-bs-target="#' + url.split('#')[1] + '"]')
                        .tab('show');
                }
                // Change hash for page-reload
                $('.nav-tabs button')
                    .on('shown.bs.tab', function (e) {
                        history.replaceState(null, null, e.currentTarget.dataset.bsTarget);
                    });
            });
    </script>
{% endblock %}
