{% extends "base_site.html" %}
{% load staticfiles %}

{% block title %}Meetings{% endblock %}

{% block extrahead %}{{ block.super }}
  <script type="text/javascript" src="{% static 'secr/js/utils.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}{{ block.super }} 
  &raquo; Meetings 
{% endblock %}

{% block content %}

<div class="module">
  <h2>Meeting Manager<span class="unlocked"><a href="{% url 'ietf.secr.meetings.views.add' %}" class="addlink">Add</a></span></h2>
  <div class="inline-related">
    <h3><b>Select a meeting to manage</b></h3>

    <br>
    <p>
      Quicklinks: 
      {% for meeting in meetings|slice:":5" %}
        <a href="{% url "ietf.secr.meetings.views.view" meeting_id=meeting.number %}">{{ meeting.number }}</a>
      {% endfor %}
    </p>

    <br>
    <form action="" method="post">{% csrf_token %}
    <p>
      {{ form }}
      <input type="submit" value="Select" />
    </p>
    </form>
  </div> <!-- inline-related -->
</div> <!-- module -->

{% endblock %}
