{% extends "base_secr.html" %}
{% load i18n %}
{% load ietf_filters %}
{% load staticfiles %}

{% block title %}{{ title }}{% if user|has_role:"Secretariat" %} Secretariat Dashboard {% else %} WG Chair Dashboard {% endif %}{% endblock %}

{% block branding %}
<table width="100%">
  <tr>
    <td align="left">
      <h1 id="site-name">{% if user|has_role:"Secretariat" %} Secretariat Dashboard {% else %} WG Chair Dashboard {% endif %}</h1>
    </td>
    <td align="right">
      <br>
      <span class="login">{% if user|has_role:"Secretariat" %}Secretariat {% endif %}Logged in: <a href="/accounts/profile/">{{ user }}</a>  | <a rel="nofollow" href="/accounts/logout/">Log out</a></span>
    </td>
  </tr>
</table>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %}
  <div id="footer">
    <div id="footer-extras">
        <ul>
          {% block footer-extras %}{% endblock %}
        </ul>
    </div>
    <div id="footer-version">
      <p>IETF Secretariat Tools v. {{ secr_version_num }}</p>
        
    </div>
    <div id="footer-logo">
      <a href="https://www.amsl.com/"><img src="{% static 'secr/img/ams_logo.png' %}" alt="AMS" align="right" border="0" hspace="5" /></a>
    </div>
</div>
{% endblock %}
