<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% block stylesheet %}{% static 'secr/css/base.css' %}{% endblock %}">
        <link rel="stylesheet" href="{% static 'secr/css/forms.css' %}">
        <link rel="stylesheet" href="{% static 'secr/css/custom.css' %}">
        <link rel="stylesheet" href="{% static 'ietf/css/ietf.css' %}">

        {% if not server_mode == "production" %}
            <link rel="stylesheet" href="{% static 'secr/css/test.css' %}">
        {% endif %}
        {% block extrastyle %}{% endblock %}

        {% block extrahead %}
            <script src="{% static 'ietf/js/ietf.js' %}"></script>
        {% endblock %}

        {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
    </head>

    <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

        <!-- Container -->
        <div id="container">

            {% if not is_popup %}
                <!-- Header -->
                <div id="header">
                    <div id="branding">
                        {% block branding %}{% endblock %}
                    </div>
                    {% block nav-global %}{% endblock %}
                </div>
                <!-- END Header -->

                <!-- Breadcrumbs -->
                <div class="breadcrumbs">
                    <table>
                        <tbody>
                        <tr>
                            <td class="text-start">
                                {% block breadcrumbs %}<a href="/secr/">Home</a>{% endblock %}
                            </td>
                            <td class="text-end">
                                {% block instructions %}{% endblock %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END Breadcrumbs -->
            {% endif %}

            <!-- Django Messages -->
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <!-- Content -->
            <div id="content" class="{% block coltype %}colM{% endblock %}">
                <!-- [html-validate-disable-block input-missing-label -- FIXME: a lot of broken HTML in secr templates] -->
                {% block pretitle %}{% endblock %}
                {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                {% block content %}
                    {% block object-tools %}{% endblock %}
                    {{ content }}
                {% endblock %}
                {% block sidebar %}{% endblock %}
                <br class="clear">
            </div>
            <!-- END Content -->

            {% block footer %}<div id="footer"></div>{% endblock %}
        </div>
        <!-- END Container -->
    </body>
</html>