{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "base.html" %}
{% load static %}
{% load ietf_filters %}
{% block title %}Secretariat Dashboard{% endblock %}
{% block content %}
    <h1>Secretariat Dashboard</h1>
    <div class="">
        {% if user|has_role:"Secretariat" %}
            <h2>IESG</h2>
            <ul>
                <li><a href="{% url 'ietf.secr.announcement.views.main' %}"><b>Announcement</b></a></li>
                <li><a href="{% url 'ietf.secr.telechat.views.main' %}"><b>Telechat</b></a></li>
            </ul>

            <h2>IDs and WGs Process</h2>
            <ul>
                <li> <a href="{% url 'ietf.secr.rolodex.views.search' %}"><b>Rolodex</b></a></li>
            </ul>

            <h2>Meetings and Proceedings</h2>
            <ul>
                <li> <a href="{% url 'ietf.secr.sreq.views.main' %} "><b>Session Requests</b></a></li>
                <li> <a href="{% url 'ietf.secr.meetings.views.main' %}"><b>Meeting Manager</b></a></li>
            </ul>
        {% else %}
            <ul>
                <li> <a href="{% url 'ietf.secr.sreq.views.main' %}"><b>Session Requests</b></a></li>
                <li> <a href="{% url 'ietf.secr.announcement.views.main' %}"><b>Announcements</b></a></li>
            </ul>
        {% endif %}
    </div>
{% endblock %}