{% extends "base_site.html" %}

{% block content %}
<div id="content-main">

{% if request.user_is_secretariat %}

<table class="menu" width="100%" cellpadding="5" cellspacing="5" border="0">
  <tr valign="top">
    <td>
      <h3>IESG</h3>
       <li> <a href="{% url announcement %}"><b>Announcement</b></a></li><br>
       <li> <a href="{% url telechat %}"><b>Telechat</b></a></li><br>
       <li> <a href="{% url console %}"><b>Console</b></a></li><br>
   </td>
   <td>
     <h3>IDs and WGs Process</h3>
       <li> <a href="{% url drafts %}"><b>Drafts</b></a></li><br>
       <li> <a href="{% url areas %}"><b>Areas</b></a></li><br>
       <li> <a href="{% url groups %}"><b>Groups</b></a></li><br>
       <li> <a href="{% url rolodex %}"><b>Rolodex</b></a></li><br>
       <li> <a href="{% url roles %}"><b>Roles</b></a></li><br>
    </td>
  </tr>
  <tr valign="top">
    <td>
      <h3>Meetings and Proceedings</h3>
       <li> <a href="{% url drafts_dates %}"><b>Draft Submission Dates</b></a></li><br>
       <li> <a href="{% url sessions %}"><b>Session Requests</b></a></li><br>
       <li> <a href="{% url proceedings %}"><b>Meeting Materials Manager (Proceedings)</b></a></li><br>
       <li> <a href="{% url meetings %}"><b>Meeting Manager</b></a></li><br>
       <li> <a href="{% url meetings_blue_sheet_redirect %}"><b>Blue Sheets</b></a></li><br>
    </td>
    <td>
      <h3>IPR</h3>
       <li> <a href="{% url ipradmin %}"><b>IPR Admin</b></a></li><br>
    </td>
  </tr>
</table>

{% else %}

<table class="menu" width="100%" cellpadding="5" cellspacing="5" border="0">
  <tr valign="top">
    <td>
      <h3>Section 1</h3>
        <li> <a href="{% url sessions %}"><b>Session Requests</b></a></li><br>
        <li> <a href="{% url proceedings %}"><b>Meeting Material Manager</b></a></li><br>
        <li> <a href="{% url announcement %}"><b>Announcements</b></a></li><br>
   </td>
   <td>
     <h3>Section 2</h3>
    </td>
  </tr>
  <tr valign="top">
    <td>
      <h3>Section 3</h3>
    </td>
    <td>
      <h3>Section 4</h3>
    </td>
  </tr>
</table>

{% endif %}

</div>
{% endblock %}
