{% extends "proceedings/proceedings_template.html" %}

{% block content %}

{% include "includes/proceeding_title.html" %}

<h2>Acknowledgements</h2>
<h3>Host: </h3>
<h3>People: </h3>
<h3>AMS Staff: </h3>
<ul>
  <li>Glen Barney</li>
  <li>Marcia Beaulieu</li>
  <li>Ryan Cross</li>
  <li>Matt Larson</li>
  <li>Wanda Lo</li>
  <li>Kirsten Machi</li>
  <li>Anabel Martinez</li>
  <li>Stephanie McCammon</li>
  <li>Karen Moreland</li>
  <li>Cindy Morgan</li>
  <li>Alexa Morris</li>
  <li>Priyanka Narkar</li>
  <li>Laura Nugent</li>
  <li>Amy Vezza</li>
  <li>Lisa Winkler</li>
  <li>Steve Young</li>
</ul>

{% endblock %}
