# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

# Global settings for IETF datatracker
# ---------------------------------------------------------

[*]
indent_size = 2
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

# Specializations below *add to* the above defaults

# Settings for Python files
# ---------------------------------------------------------
# PEP8 Style

[*.{py,py.bak}]
indent_size = 4
trim_trailing_whitespace = false

# Settings for HTML templates
# ---------------------------------------------------------
# HTML should not have final newlines, because that causes visible whitespace when includes are rendered

[ietf/**.html]
insert_final_newline = false

# Settings for Markdown
# ---------------------------------------------------------
# Avoid trimming trailing whitespace
[*.md]
trim_trailing_whitespace = false

# Unset for special / output files
# ---------------------------------------------------------
[{patch,vzic,bin}/**]
indent_style = unset
indent_size = unset
