# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

# Global settings for IETF datatracker
# ---------------------------------------------------------
# PEP8 Style

[*]
indent_size = 4
indent_style = space
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true

# Specializations below *add to* the above defaults

# Settings for .github folder
# ---------------------------------------------------------
# GitHub Markdown Style

[.github/**]
indent_size = 2

# Settings for client-side JS / Vue files
# ---------------------------------------------------------
# StandardJS Style

[client/**]
indent_size = 2

[package.json]
indent_size = 2

# Settings for cypress tests
# ---------------------------------------------------------
# StandardJS Style

[cypress/**]
indent_size = 2

# Settings for packer
# ---------------------------------------------------------
[dev/packer/**]
indent_size = 2

# Settings for HTML templates
# ---------------------------------------------------------
# HTML should not have final newlines, because that causes visible whitespace when includes are rendered

[ietf/**.html]
insert_final_newline = false
