.DS_store
datatracker.sublime-project
datatracker.sublime-workspace
/.coverage
/.factoryboy_random_state
/.mypy_cache
/.parcel-cache
/.project
/.pydevproject
/.Python
/.settings
/.tmp
/.vite
/client/dist
/data
/dist
/docker/docker-compose.extend-custom.yml
/env
/ghostdriver.log
/geckodriver.log
/htmlcov
/ietf/static/dist-neue
/latest-coverage.json
/media
/node_modules
/release-coverage.json
/static
/tmp-*
/.testresult
*.swp
*.pyc
__pycache__
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
