# -*- conf-mode -*-
setuptools>=51.1.0			# Require this first, to prevent later errors
#
argon2-cffi>=16.1.0		# For the Argon2 password hasher option
beautifulsoup4>=4.5.0
bibtexparser>=0.6.2,<1.0	# Version 1.0 doesn't work under python 2.7.  1.0.1 doesn't recognize month names or abbreviations.
bleach>=2.0.0,!=3.0.0,!=3.0.1,!=3.0.2
coverage>=4.0.1,!=4.0.2,<5.0    # Coverage 5.x moves from a json database to SQLite.  Moving to 5.x will require substantial rewrites in ietf.utils.test_runner and ietf.release.views
#cssselect>=0.6.1               # for PyQuery
decorator>=4.0.4
defusedxml>=0.4.1		# for TastyPie when ussing xml; not a declared dependency
Django>=2.2.15,<3.0
django-bootstrap3>=14.0
django-csp>=3.5
django-cors-headers>=2.4.0
django-form-utils>=1.0.3
django-formtools>=1.0		# instead of django.contrib.formtools in 1.8
django-markup>=1.5
django-oidc-provider>=0.7
django-password-strength>=1.2.1
django-referrer-policy>=1.0
django-simple-history>=2.3.0
django-stubs==1.6.0		# The django-stubs version used determines the the mypy version indicated below
django-tastypie>=0.14.3         # Django 2.1 will require 0.14.2; Django 3.0 will require 0.14.3
django-webtest>=1.9.7
django-widget-tweaks>=1.4.2
docutils>=0.12,!=0.15
factory-boy>=2.9.0,<3
Faker>=0.8.8,!=0.8.9,!=0.8.10   # from factory-boy # Faker 0.8.9,0.8.10 sometimes return string names instead of unicode.
github3.py>=1.2
hashids>=1.1.0
html2text>=2019.8.11
html5lib>=1.0.1
httplib2>=0.10.3
jsonfield>=3.0		# for SubmissionCheck.  This is https://github.com/bradjasper/django-jsonfield/.
jwcrypto>=0.4.0			# for signed notifications
logging_tree>=1.8.1
lxml>=3.4.0,<5
markdown2>=2.3.8
mock>=2.0.0
mypy>=0.782,<0.790			# Version requirements determined by django-stubs.
mysqlclient>=1.3.13,!=2.0.2
oic>=1.2
pathlib>=1.0
pathlib2>=2.3.0
Pillow>=3.0
#pip==9.0.1			# Earlier pip has issues, 9.0.2 and 9.0.3, 10.0.0b1 leaves dross when down- and up-grading packages
pyang>=1.7.2
pyflakes>=1.5.0
pyopenssl>=17.5.0		# Used by urllib3.contrib, which is used by PyQuery but not marked as a dependency
pyquery>=1.3.0
python-dateutil>=2.4
python-magic>=0.4.12,<0.4.19    # .20 is breaking, .19 is not showing on PyPi's webpage
python-memcached>=1.56		# for django.core.cache.backends.memcached
python-mimeparse>=1.6		# from TastyPie
pytz>=2014.7
#pyzmail>=1.0.3
requests!=2.12.*
requests-mock>=1.8
rfc2html>=2.0.1
selenium>=3.9.0
six>=1.10.0
svn>=1.0.1
tblib>=1.3.0
tqdm>=3.7.0
#Trac>=1.0.10,<1.2
Unidecode>=0.4.18,<1.2.0
#wsgiref>=0.1.2
xml2rfc>=2.35.0
xym>=0.4.4,!=0.4.7,<1.0
#zxcvbn-python>=4.4.14		# Not needed until we do back-end password entropy validation
