# -*- conf-mode -*-
setuptools>=18.5			# Require this first, to prevent later errors
#
bibtexparser>=0.6.2
coverage>=4.0.1,!=4.0.2
#cssselect>=0.6.1               # for PyQuery
decorator>=3.4.0
defusedxml>=0.4.1		# for TastyPie when ussing xml; not a declared dependency
Django>=1.7.10,<1.8
django-bootstrap3>=5.1.1,<7.0.0 # django-bootstrap 7.0 requires django 1.8
django-markup>=1.1
django-tastypie>=0.13.1
django-widget-tweaks>=1.3
docutils>=0.12                  
factory-boy>=2.7.0
# fake-factory==0.5.3		# from factory-boy
Faker>=0.7.1			# Explicit install
hashids>=1.1.0
html5lib>=0.90,<0.99999999	# ietf.utils.html needs a rewrite for html5lib 1.x -- major code changes in sanitizer
jsonfield>=1.0.3		# for SubmissionCheck.  This is https://github.com/bradjasper/django-jsonfield/.
#lxml>=3.4.0                    # from PyQuery; 
mimeparse>=0.1.3		# from TastyPie
mock>=2.0.0
MySQL-python>=1.2.5
pathlib>=1.0
Pillow>=3.0
pip>=6.1.1,<9.0
pyang>=1.6
pyflakes>=0.8.1
pyquery>=1.2.13,!=1.2.14	# Pyqyery 1.2.14 fails on some selectors or stacked selectors
python-dateutil>=2.2
python-magic>=0.4.6
python-memcached>=1.48		# for django.core.cache.backends.memcached
pytz>=2014.7
pyzmail>=1.0.3
requests!=2.12.*
selenium>=2.42
six>=1.8.0
sqlparse>=0.2.2
tqdm>=3.7.0
Trac>=1.0.10,<1.2
Unidecode>=0.4.18
#wsgiref>=0.1.2
xml2rfc>=2.5.
xym>=0.1.2,!=0.3
