# -*- conf-mode -*-
setuptools>=1.2			# Require this first, to prevent later errors
#
coverage>=4.0.1,!=4.0.2
#cssselect>=0.6.1               # for PyQuery
decorator>=3.4.0
defusedxml>=0.4.1		# for TastyPie when ussing xml; not a declared dependency
django-bootstrap3>=5.1.1,<7.0.0 # django-bootstrap 7.0 requires django 1.8
django-tastypie>=0.13.1
django-widget-tweaks>=1.3
docutils>=0.12                  
html5lib>=0.90
#lxml>=3.4.0                    # for PyQuery; 
mimeparse>=0.1.3		# for TastPie
MySQL-python>=1.2.5
pathlib>=1.0
pip>=6.0
pyflakes>=0.8.1
pyquery>=1.2.5
python-dateutil>=2.2
python-magic>=0.4.6
python-memcached>=1.48		# for django.core.cache.backends.memcached
pytz>=2014.7
six>=1.8.0
wsgiref>=0.1.2
xml2rfc>=2.5.0
django>=1.7.10,<1.8
factory-boy>=2.6.0
Unidecode>=0.4.18
