{% extends "base_site.html" %}

{% block title %}Meetings - Add Tutorial{% endblock %}

{% block extrahead %}{{ block.super }}
  <script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="/js/utils.js"></script>
{% endblock %}

{% block breadcrumbs %}{{ block.super }}
  &raquo; <a href="../../">Meetings</a>
  &raquo; <a href="../">{{ meeting.meeting_num }}</a>
  &raquo; Add Tutorial
{% endblock %}

{% block content %}

<div  class="module">
  <h2>Add New Tutorial / Saturday Session</h2>
  <form id="proceedings-add-form" enctype="multipart/form-data" action="" method="post">
  <table id="proceedings-add-table">
    {{ form.as_table }}
  </table>
  {% include "includes/buttons_save_cancel.html"%}
  </form>
</div> <!-- module -->

{% endblock %}

