{% extends "base_site.html" %}

{% block title %}Meetings{% endblock %}

{% block extrahead %}{{ block.super }}
  <script type="text/javascript" src="/js/utils.js"></script>
{% endblock %}

{% block breadcrumbs %}{{ block.super }}
  &raquo; <a href="../../">Meetings</a>
  &raquo; <a href="../">{{ sessions.0.meeting }}</a>
  &raquo; {{ group.name }}
{% endblock %}

{% block content %}

<div class="module">
    <h2>Requested Information</h2>
    
    {% with legacy_session as session %}
      {% if session %}
        {% include "includes/sessions_request_view.html" %}
        
        <p>Sesssion Status: {{session.status}}</p>
        {% if session.ts_status_id %}
            <span class="alert"><p>Third Session Status: {{ session.ts_status }}</p></span>
        {% endif %}
      {% endif %}
    {% endwith %}
    
    <div class="inline-group">
    <h2>Sessions</h2>

        <form method="post" action="">
        {{ formset.management_form }}
          {% for form in formset.forms %}
            <div class="inline-related{% if forloop.last %} last-related{% endif %}">
              <h3><b>Session:</b>&nbsp; #{{ forloop.counter }}</h3>
              <table>
                {{ form }}
              </table>
            </div> <!-- inline-related -->
          {% endfor %}
     </div> <!-- inline-group -->
     
     <table>
     {{ extra_form }}
     </table>
     
     {% include "includes/buttons_submit_cancel.html" %}
     
     </form>
</div> <!-- module -->

{% endblock %}
 






















