{% extends "base_site.html" %}

{% block title %}Meetings{% endblock %}

{% block extrahead %}{{ block.super }}
  <script type="text/javascript" src="/js/utils.js"></script>
{% endblock %}

{% block breadcrumbs %}{{ block.super }}
  &raquo; <a href="../../">Meetings</a>
  &raquo; <a href="../">{{ meeting.number }}</a>
  &raquo; Select Group
{% endblock %}

{% block content %}

<div class="module">
    <h2>IETF {{ meeting.number }} - Schedule Sessions</h2>
      <p>The lists below contain those groups which have submitted a session request.  Select a
      group to schedule sessions.  (Proposed Working Groups are in the BOFs list).</p>
      <p>Select this link to <a href="https://datatracker.ietf.org/meeting/{{ meeting.number }}/agenda.html">View Agenda</a></p>
      
      <div class="inline-related">
        <form class="internal-form" action="" method="post">
          <label for="id_group">Working Groups</label></th>
          {{ group_form.group }}
          <input type="submit" name="submit" value="Select" />
        </form>
        <form class="internal-form" action="" method="post">
          <label for="id_group">BOFs</label>
          {{ bof_form.group }}
          <input type="submit" name="submit" value="Select" />
        </form>
        <form class="internal-form" action="" method="post">
          <label for="id_group">IRTF</label>
          {{ irtf_form.group }}
          <input type="submit" name="submit" value="Select" />
        </form>
        
      <div class="button-group">
       <ul>
         <li><button onclick="window.location='../'">Back</button></li>
       </ul>
      </div> <!-- button-group -->
      
      </div><!-- inline-related-->
      
      <div class="inline-related">
      <h2>Scheduled Sessions</h2>
        <ul>
          {% for group in scheduled_groups %}
            <li><a href="{% url meetings_schedule meeting_id=meeting.number acronym=group.acronym %}">{{ group.acronym }}</a></li>
          {% endfor %}
        </ul>
      </div><!-- inline-related-->

     
</div> <!-- module -->

{% endblock %}
 
{% block footer-extras %}
  {% include "includes/meetings_footer.html" %}
{% endblock %}






















