{# Copyright The IETF Trust 2015, All Rights Reserved #}

{% extends "base.html" %}

{% load origin %}

{% load django_bootstrap5 %}

{% block title %}
    {{ title }} {{ person.plain_name }}
{% endblock title %}

{% block content %}
    {% origin %}

    <h1>{{ title }}</h1>
    <h2>{{ person.plain_name }}</h2>
    <p class="fw-bold">
        {{ info|striptags }}
    </p>

    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% bootstrap_button button_type="submit" content="Submit" %}
        <a class="btn btn-secondary float-end" href="{% url "ietf.ietfauth.views.profile" %}">Back</a>
    </form>

{% endblock content %}