{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "base.html" %}
{% block title %}500 Internal Server Error{% endblock %}
{% block content %}

<img src="/images/ietflogo2e.png" height="80" width="140">

<h2>Internal Server Error.</h2>

<p class="error-text">
   The server encountered an internal error and was unable to complete
   your request. Either the server is overloaded or there was an
   error in a script used to generate the requested page.  In case this
   was an overload problem or other temporary error, you may want to
   try again in a little while.
</p>
<p class="error-text">
   A failure report with details about what happened has been sent to the
   server administrators.  It would be helpful if you would file a bug
   report with additional information at the
   <a href="http://trac.tools.ietf.org/tools/ietfdb/newticket">IETF database issue tracker</a>, too.
</p>

{% endblock %}
