{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "base.html" %}
{% block title %}500 Internal Server Error{% endblock %}
{% block content %}

<img src="/images/ietflogo2e.png" height="80" width="140">

<h2>Internal Server Error.</h2>

<p>The server encountered an internal error and was unable to complete
    your request. Either the server is overloaded or there was an
    error in a script used to generate the requested page.</p>

<p>Please contact <a href="mailto:webtools@ietf.org">webtools@ietf.org</a>.</p>
{% endblock %}
