{% block doctype %}<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% endblock %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
   <head>
      <!-- Project Revision {{ revision_num }}, {{ revision_time }} -->
      <title>{% block title %}IETF Data{% endblock %}{% ifnotequal server_mode "production" %} - {{ server_mode|upper }} MODE{% endifnotequal %}</title>
      {% ifnotequal server_mode "production" %}
      <link rel="icon" href="/images/ietf-dev-icon.bmp" />
      {% else %}
      <link rel="icon" href="/images/ietf-icon.bmp" />
      {% endifnotequal %}
      {% block head %}{% endblock %}
      <style type="text/css"><!--
      {% block css %}{% endblock %}
      // -->
      </style>
   </head>
   <body {% block body_attributes %}{% endblock %}>
   <center>
      <table border=0 cellpadding=0 cellspacing=0>
	 <tr>
	    <td><a href="http://www.ietf.org/home.html"><img src="https://www1.ietf.org/images/header/ietflogo_sm.gif" border="0" /></a></td>
	    <td><a href="http://www.ietf.org/home.html"><img src="https://www1.ietf.org/images/header/home11.gif" border="0" /></a></td>
	    <td><img src="https://www1.ietf.org/images/header/separator.gif" border="0" /></td>
	    <td><a href="http://www.ietf.org/html.charters/wg-dir.html"><img src="https://www1.ietf.org/images/header/wg11.gif" border="0" /></a></td>
	    <td><img src="https://www1.ietf.org/images/header/separator.gif" border="0" /></td>
	    <td><a href="http://www.ietf.org/meetings/meetings.html"><img src="https://www1.ietf.org/images/header/meetings11.gif" border="0" /></a></td>
	    <td><img src="https://www1.ietf.org/images/header/separator.gif" border="0" /></td>
	    <td><a href="http://www.ietf.org/proceedings_directory.html"><img src="https://www1.ietf.org/images/header/proceed11.gif"  border="0" /></a></td>
	    <td><img src="https://www1.ietf.org/images/header/separator.gif" border="0" /></td>
	    <td><a href="{% url ietf.idindex.views.search %}"><img src="https://www1.ietf.org/images/header/id-index11.gif" border="0" /></a></td>
	    <td><img src="https://www1.ietf.org/images/header/separator.gif" border="0" /></td>
	    <td><a href="http://www.ietf.org/rfc.html"><img src="https://www1.ietf.org/images/header/rfc11.gif" border="0" /></a></td>
	 </tr>
      </table>
   </center>
   {% if user.is_authenticated %}
   <span style="float: right; font-size: 80%;">Logged in as {{ user }}
      |
      <a href="/accounts/logout/">Log Out</a></span>
   {% endif %}
   <hr>
      <!-- end new headers and layout -->
      <div id="content">
	 {% block content %}{% endblock %}
	 {% block main_content %}{% endblock %}
      </div>
      <hr/>      
      <div style="width: 100%; height: 1em; font-size: 9pt; font-style: italic;"><span style="float: left;">Made with <a href="http://www.djangoproject.com/">django</a></span><span style="float: right;">v{{ version_num }}, {{ revision_date }} - <a href="mailto:webmaster@ietf.org">webmaster@ietf.org</a></span></div>
      <a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." /></a>
      {% include "debug.html" %}
   </body>
</html>
