{% block doctype %}<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
{% endblock %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">

{# Copyright The IETF Trust 2007, All Rights Reserved #}
<!-- Copyright The IETF Trust 2007, All Rights Reserved -->

<head>
	<!-- Project Revision {{ revision_num }}, {{ revision_time }} -->
	<title>{% block title %}IETF Data{% endblock %}{% ifnotequal server_mode "production" %} - {{ server_mode|upper }} MODE{% endifnotequal %}</title>
	
	{% ifnotequal server_mode "production" %}
		<link rel="icon" href="/images/ietf-dev-icon.bmp" />
	{% else %}
		<link rel="icon" href="/images/ietf-icon.bmp" />
	{% endifnotequal %}
	<link rel="stylesheet" href="/css/base.css" type="text/css" />
	{% block head %}{% endblock %}
	<style type="text/css"><!--
	{% block css %}{% endblock %}
	// -->
	</style>
</head>

<body {% block body_attributes %}{% endblock %}>
   <table border="0" cellspacing="0" cellpadding="0" id="pagelayout">
      <tr>
	 <td class="column" id="leftmenu">
	    {% include "leftmenu.html" %}
	    <!-- end new headers and layout -->
	 </td>
	 <td class="column">
	    <div id="content">
	       {% if user.is_authenticated %}
	       <span style="float: right; font-size: 80%;">Logged in as {{ user }} | 
		  <a href="{% url django.contrib.auth.views.logout %}">Log Out</a></span>
               {% else %}
               <span style="float: right; font-size: 80%;"><a href="{% url django.contrib.auth.views.login %}">Log In</a></span>
	       {% endif %}
	       {% block content %}{% endblock %}
	    </div>
	 </td>
      </tr>
      <tr>
	 <td colspan="2">
	    {% block footer %}{% include "footer.html" %}{% endblock %}
	 </td>
      </tr>
   </table>
	{% include "debug.html" %}
</body>
</html>
