<div class="menulogo">
<img class="menulogo" src="/images/ietflogo-blue.png" alt="IETF logo" width="140" />
</div>
<ul>
  <li><a title="About the Internet Engineering Task Force">About the IETF</a>
  <ul> <!--sublist for about-->
    <li><a href="http://www.ietf.org/overview.html" title="What is the IETF?">Overview</a></li>
    <li>IETF history</li>
    <li><a href="http://www.ietf.org/IESG/content/procdocs.html" title="How an IETF standard is adopted">IETF process</a></li>
  </ul>
  </li><!--end about sublist-->
  <li><a title="What the IETF is doing">IETF activities</a>
  <ul> <!--sublist for activities-->
    <li><a href="http://www.ietf.org/iesg.html" title="Internet Engineering Steering Group">IESG</a></li>
    <li><a href="http://www.ietf.org/liaisonActivities.html" title="Liasons with other standards bodies">IETF Liaison Activities</a></li>
    <li><a href="http://www.ietf.org/secretariat.html" title="The Secretariat">IETF secretariat</a>    </li>
    <li><a href="http://www.ietf.org/nomcom/" title="IESG and IAB Nominations Committee">The NomCom</a></li>
    <li><a href="http://www.ietf.org/html.charters/wg-dir.html" title="IETF Working Groups">Working Groups</a></li>
    <li><a href="http://www.ietf.org/meetings/meetings.html" title="Meetings past, present, and future">Meetings</a></li>
    <li><a href="/meeting/agenda/" title="Meeting Agenda">Agenda</a></li>
  </ul>
  </li><!--end activities sublist-->
  
  <li><a title="Documents of the IETF">Documents</a>
  <ul><!--sublist for documents-->
    <li><a href="http://tools.ietf.org/rfc/mini-index" title="Repository of RFC documents">RFCs</a></li>
    <li><a href="/drafts" title="Internet Draft pages">Internet-Drafts</a></li>
    <li><a href="http://tools.ietf.org/search">Document Search</a></li>
    <li><a href="http://www.ietf.org/proceedings_directory.html" title="Proceedings of past meetings">Proceedings</a></li>
    <li><a href="https://datatracker.ietf.org/idst/upload.cgi" title="Submit Internet Drafts">Submission</a></li>
  </ul>
  </li><!--end documents sublist-->

  <li><a title="Other sites having to do with the IETF">Related sites</a>
  <ul> <!--begin othersites sublist-->
   <li><a href="http://www.iab.org">IAB</a></li>
   <li><a href="http://iaoc.ietf.org">IASA</a></li>
   <li><a href="http://www.rfc-editor.org/">RFC Editor</a></li>
   <li><a href="http://www.iana.org/">IANA</a></li>
   <li><a href="http://www.irtf.org/">IRTF</a></li>
  </ul> </li><!--end the othersites sublist-->

  <li><a title="Tools, tools, tools">Various Tools</a>
  <ul> <!--begin othersites sublist-->

   <li><a href="http://www.ietf.org/tools.html" >Tools on www.ietf.org</a></li>
   <li><a href="http://tools.ietf.org" >Tools on tools.ietf.org</a></li>
   <li><a href="http://datatracker.ietf.org" >&nbsp;&nbsp;&nbsp;datatracker.ietf.org</a>
      <ul>
	 <li><a href="/drafts" >Drafts</a></li>
	 <li><a href="/idtracker" >ID Tracker</a></li>
	 <li><a href="/iesg/telechat" >IESG Minutes</a></li>
	 <li><a href="/liaison" >Liaisons</a></li>
	 <li><a href="/ipr" >IPR Declarations</a></li>
	 <!-- <li><a href="/meeting/agenda" >Meeting Agenda</a></li> -->
	 <!-- <li><a href="/meeting/materials" >Meeting Materials</a></li> -->
	 <!-- <li><a href="/wgcharter/" >WG Charters</a></li> -->
      </ul>
   </li>

  </ul> </li><!--end the othersites sublist-->


  <li>Site search:</li>
  <li>
     <form method="get" action="http://www.google.com/u/ietf">
	<div>
	   <input name="q" size="10" maxlength="255" value="" type="text"/>
	   <input name="sa" value="Go" type="submit"/>
	</div>
     </form>
  </li>
</ul>
