{% load origin %}
{% load static %}
{% origin %}

<picture>
    <source
         {% if org == "iab" %}
             srcset="{% static 'ietf/images/iab-logo-white.svg' %}"
         {% elif org == "ietf" %}
             srcset="{% static 'ietf/images/ietf-logo-white.svg' %}"
         {% elif org == "irtf" %}
            srcset="{% static 'ietf/images/irtf-logo-white.svg' %}"
         {% endif %}
            media="(prefers-color-scheme: dark)">
    <img alt="{{ org|upper }} Logo"
         {% if classes %}class="{{ classes }}"{% endif %}
         {% if title %}title="{{ title }}"{% endif %}
         {% if org == "iab" %}
             src="{% static 'ietf/images/iab-logo.svg' %}"
         {% elif org == "ietf" %}
             src="{% static 'ietf/images/ietf-logo.svg' %}"
         {% elif org == "irtf" %}
             src="{% static 'ietf/images/irtf-logo.svg' %}"
         {% endif %}
         >
</picture>