{% extends "base_site.html" %}
{% load ietf_filters %}
{% load staticfiles %}
{% block title %}Proceeding manager{% endblock %}

{% block extrahead %}{{ block.super }}
  <script type="text/javascript" src="{% static 'secr/js/utils.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}{{ block.super }}
  &raquo; Proceedings
{% endblock %}

{% block content %}

<div  class="module" >
    <h2>Proceedings</h2>
    <div id="proceedings-left-col">
    <table id="proceedings-list-table" class="full-width{% if user|has_role:"Secretariat" %} secretariat{% endif %}">
      <thead>
        <tr>
          <th>IETF Meeting</th>
        </tr>
      </thead>
      <tbody>
        {% for meeting in meetings %}
          <tr class = "{% cycle 'row1' 'row2' %}{% if meeting.get_submission_correction_date < today %} frozen{% else %} open{% endif %}">
            <td>
              <a href="{% url "proceedings_select" meeting_num=meeting.number %}">{{ meeting.number }}</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if user|has_role:"Secretariat" %}
        <div class="button-group">
          <ul id="proceedings-meeting-buttons">
            <li><button onclick="window.location='{% url "meetings_add" %}'">Add</button></li>
          </ul>
        </div> <!-- button-group -->
    {% endif %}
    </div>
    
    <div id="proceedings-right-col">
      <div class="interim-scroll">
        <table id="proceedings-interim-table" class="full-width{% if user|has_role:"Secretariat" %} secretariat{% endif %}">
          <thead>
            <tr>
              <th>Interim Meeting</th>
            </tr>
          </thead>
          <tbody>
            {% for meeting in interim_meetings %}
    
                  <tr class = "{% cycle 'row1' 'row2' %}">
                    <td>{{ meeting.group.acronym }}</td>
                    <td><a href="{% url "ietf.meeting.views.session_details" num=meeting.number acronym=meeting.group.acronym %}">{{ meeting.date }}</a></td>
                  </tr>
            {% endfor %}
          </tbody>
        </table>
      </div> <!-- scroll -->
    <div class="button-group">
      <ul id="proceedings-interim-buttons">
        <li><button onclick="window.location='{% url "ietf.meeting.views.interim_request" %}'">Request Interim Meeting</button></li>
      </ul>
    </div> <!-- button-group -->
    </div>
    
    <br>
    {% if not user|has_role:"Secretariat" %}
    <br>
    <hr>
    <p>The list(s) above includes those meetings which you can upload materials for.  Click on the meeting number or interim meeting date to continue.</p>
    {% endif %}


    <div class="button-group">
      <ul id="proceedings-button-list">
        <li><button onclick="window.location='../'">Back</button></li>
      </ul>
    </div> <!-- button-group -->
</div> <!-- module -->

{% endblock %}

{% block footer-extras %}
  {% include "includes/upload_footer.html" %}
{% endblock %}
~
~
~

