{% extends "base_site.html" %}
{% load staticfiles %}

{% block title %}Proceedings{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'secr/css/jquery-ui-1.11.4.custom.css' %}" />
{% endblock %}

{% block extrahead %}{{ block.super }}
  <script type="text/javascript" src="{% static 'secr/js/jquery-ui-1.11.4.custom.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'secr/js/proceedings-recording.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}{{ block.super }} 
  {% if meeting.type_id == "interim" %}
    &raquo; <a href="{% url "proceedings" %}">Proceedings</a>
    &raquo; <a href="{% url "proceedings_select_interim" %}">Interim Select Group</a>
    &raquo; <a href="{% url "proceedings_interim" acronym=group.acronym%}">{{ group.acronym }}</a>
    &raquo; {{ meeting }}
  {% else %}
    &raquo; <a href="{% url "proceedings" %}">Proceedings</a>
    &raquo; <a href="{% url "proceedings_select" meeting_num=meeting.number %}">{{ meeting.number }}</a>
    &raquo; Recording
  {% endif %}
{% endblock %}

{% block content %}

<div class="module interim-container">

       <h2>Recording Metadata</h2>
       <form id="recording-form" enctype="multipart/form-data" action="." method="post">{% csrf_token %}
       <table class="center" id="proceedings-upload-table">
       {{ form.as_table }}
       </table>

        <div class="button-group">
          <ul>
            <li><button type="submit" name="submit" value="Submit">Submit</button></li>
            <li><button type="button" onclick="window.location='../'">Back</button></li>
          </ul>
        </div> <!-- button-group -->
 
       </form>
     
     <div class="inline-related">
       <h2>{{ meeting }} - Recordings</h2>
       <table class="center">
         <thead>
           <tr>
             <th>Group</th>
             <th>Session</th>
             <th>Name</th>
             <th>URL</th>
             <th>Edit</th>
           </tr>
         </thead>
         <tbody>
         {% for session in sessions %}
         <tr>
           <td>{{ session.group.acronym }}</td>
           <td>{{ session.official_timeslotassignment.timeslot.time|date:"m-d H:i" }}</td>
           {% if session.recordings %}
             <td class="document-name" >{{ session.recordings.0.name }}</td>
             <td><a href="{{ session.recordings.first.href }}">{{ session.recordings.0.href }}</a></td>
             <td><a href="{% url "proceedings_recording_edit" meeting_num=meeting.number name=session.recordings.0.name %}">Edit</a></td>
           {% else %}
             <td></td>
             <td></td>
             <td></td>
           {% endif %}
         </tr>
         {% endfor %}
         </tbody>
       </table>
     </div> <!-- inline-group -->
     
     {% if unmatched_recordings %}
     <div class="inline-related">
       <h2>Unmatched Recording Files</h2>
       <table class="center">
         <thead>
           <tr>
             <th>Filename</th>
           </tr>
         </thead>
         <tbody>
         {% for file in unmatched_recordings %}
           <tr>
             <td>{{ file }}</td>
           </tr>
         {% endfor %}
         </tbody>
       </table>
     </div> <!-- inline-group -->
     {% endif %}
     
</div> <!-- module -->


{% endblock %}

{% block footer-extras %}
  {% include "includes/upload_footer.html" %}
{% endblock %}
