{% extends "base_site.html" %}
{% load staticfiles %}
{% block title %}Replace Slide{% endblock %}

{% block extrahead %}{{ block.super }}
  <script type="text/javascript" src="{% static 'secr/js/utils.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}{{ block.super }}
  {% if meeting.type_id == "interim" %}
    &raquo; <a href="{% url "proceedings" %}">Proceedings</a>
    &raquo; <a href="{% url "proceedings_upload_unified" meeting_num=meeting.number acronym=group.acronym %}">{{ meeting }}</a>
    &raquo; {{ slide.title }}
  {% else %}
    &raquo; <a href="{% url "proceedings" %}">Proceedings</a>
    &raquo; <a href="{% url "proceedings_select" meeting_num=meeting.number %}">Select</a>
    &raquo; <a href="{% url "proceedings_upload_unified" meeting_num=meeting.number acronym=group.acronym %}">{{ group.acronym }}</a>
    &raquo; {{ slide.title }}
  {% endif %}

{% endblock %}

{% block content %}

<div class="module interim-container">
    <h2>Working Group - {{ group.acronym }}</h2>
         <p><h3>Replace Slide:</h3></p>
         <form enctype="multipart/form-data" action="." method="post">{% csrf_token %}
           <table>
             {{ form.as_table }}
           </table>

             {% include "includes/buttons_save_cancel.html" %}

         </form>
</div> <!-- module -->

{% endblock %}
