{% load person_filters %}{% if content_limit and count <= content_limit %}
  {% for n in names %}
    {% with n|person_by_name as person %}
      {% if person %}
        <a href="{{ person.get_absolute_url }}">{{ n }}</a>
      {% else %}
        {{ n }}
      {% endif %}
      <br>
    {% endwith %}
  {% endfor %}
{% else %}
  {# <a class="popover-details" href="" data-elements="{% for n in names|slice:":20" %}{{ n }}{% if not forloop.last %}|{% endif %}{% endfor %}" data-sliced="{% if count > 20 %}1{% endif %}">{{ count }}</a>  #}
  {{ count }}
{% endif %}
