{# Copyright The IETF Trust 2015-2022, All Rights Reserved #}
{% load static %}
<link rel="apple-touch-icon"
      sizes="180x180"
      href="{% if server_mode and server_mode == 'production' %}{% static 'ietf/images/ietf-logo-nor-180.png' %}{% else %}{% static 'ietf/images/ietf-logo-nor-180-dev.png' %}{% endif %}">
<link rel="icon"
      sizes="32x32"
      href="{% if server_mode and server_mode == 'production' %}{% static 'ietf/images/ietf-logo-nor-32.png' %}{% else %}{% static 'ietf/images/ietf-logo-nor-32-dev.png' %}{% endif %}">
<link rel="icon"
      sizes="16x16"
      href="{% if server_mode and server_mode == 'production' %}{% static 'ietf/images/ietf-logo-nor-16.png' %}{% else %}{% static 'ietf/images/ietf-logo-nor-16-dev.png' %}{% endif %}">
<link rel="manifest" href="{% url 'site.webmanifest' %}">
<link rel="mask-icon"
      href="{% static 'ietf/images/ietf-logo-nor-mask.svg' %}"
      color="{% if server_mode and server_mode == 'production' %}#ffffff{% else %}#ffc4c4{% endif %}">
<meta name="msapplication-TileColor"
      content="{% if server_mode and server_mode == 'production' %}#ffffff{% else %}#ffc4c4{% endif %}">
<meta name="theme-color"
      content="{% if server_mode and server_mode == 'production' %}#ffffff{% else %}#ffc4c4{% endif %}">