{# Copyright The IETF Trust 2015, All Rights Reserved #}{% load origin %}{% origin %}
{% load ietf_filters %}

<li {% if flavor == "top" %}class="dropdown"{% else %}class="nav-header"{% endif %}>
  {% if flavor == "top" %}
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    {% if user.is_authenticated %}{{ user }}{% else %} User {% endif %}
  </a>
  <ul class="dropdown-menu" role="menu">
  {% else %}
     User
  {% endif %}

  {% if request.get_full_path == "/accounts/logout/" %}
    <li><a rel="nofollow" href="/accounts/login{% if "/accounts/logout/" not in request.get_full_path %}/?next={{request.get_full_path|urlencode}}{% endif %}">Sign in</a></li>
  {% else %}
    {% if user.is_authenticated %}
      <li><a rel="nofollow" href="/accounts/logout/" >Sign out</a></li>
      <li><a rel="nofollow" href="/accounts/profile/">Account info</a></li>
      <li><a href="/person/{{user.person.name}}">Public profile page</a></li>
      <li><a href="{%url "ietf.cookies.views.preferences" %}" rel="nofollow">Preferences</a></li>
      <li><a href="{%url "ietf.ietfauth.views.apikey_index" %}" rel="nofollow">API keys</a></li>
      <li><a rel="nofollow" href="/accounts/password/">Change password</a></li>
      <li><a rel="nofollow" href="/accounts/username/">Change username</a></li>
    {% else %}
      <li><a rel="nofollow" href="/accounts/login/?next={{request.get_full_path|urlencode}}">Sign in</a></li>
      <li><a rel="nofollow" href="/accounts/reset/">Password reset</a></li>
      <li><a href="{%url "ietf.cookies.views.preferences" %}" rel="nofollow">Preferences</a></li>
    {% endif %}
    <li><a href="{% url 'personal-information' %}">Handling of personal information</a></li>  
  {% endif %}

  {% if not request.user.is_authenticated %}
    <li><a href="{% url "ietf.ietfauth.views.create_account" %}">New account</a></li>
  {% endif %}

  {% if user|has_role:"Reviewer" %}
    <li><a href="{% url "ietf.ietfauth.views.review_overview" %}">My reviews</a></li>
  {% endif %}

  {% if user|has_role:"Area Director" %}
    {% if flavor == "top" %}<li class="divider hidden-xs"></li>{% endif %}
    <li {%if flavor == "top" %}class="dropdown-header hidden-xs"{% else %}class="nav-header"{% endif %}>AD dashboard</li>
    <li><a href="{% url 'ietf.doc.views_search.docs_for_ad' name=user.person.full_name_as_key %}">My docs</a></li>
    <li><a href="{% url "ietf.iesg.views.agenda_documents" %}">Next telechat</a></li>
    <li><a href="{% url "ietf.iesg.views.discusses" %}">Discusses</a></li>
    <li><a href="{% url "ietf.iesg.views.milestones_needing_review" %}">Milestone review</a></li>
    <li><a href="{% url "ietf.doc.views_search.drafts_in_last_call" %}">Last Call docs</a></li>
  {% endif %}

  {% if user|has_role:"Secretariat" %}
    {% if flavor == "top" %}<li class="divider hidden-xs"></li>{% endif %}
    <li {%if flavor == "top" %}class="dropdown-header hidden-xs"{% else %}class="nav-header"{% endif %}>IETF secretariat</li>
    <li><a href="/admin/iesg/telechatdate/">Telechat dates</a></li>
    <li><a href="/admin/iesg/telechatagendaitem/">Management items</a></li>
    <li><a href="{% url "ietf.iesg.views.milestones_needing_review" %}">Milestones</a></li>
    <li><a href="{% url "ietf.sync.views.discrepancies" %}">Sync discrepancies</a>
    <li><a href="{% url "ietf.ietfauth.views.add_account_whitelist" %}">Account whitelist</a>
  {% endif %}

  {% if user|has_role:"IANA" %}
    {% if flavor == "top" %}<li class="divider hidden-xs"></li>{% endif %}
    <li {%if flavor == "top" %}class="dropdown-header hidden-xs"{% else %}class="nav-header"{% endif %}>IANA</li>
    <li><a href="{% url "ietf.sync.views.discrepancies" %}">Sync discrepancies</a></li>
  {% endif %}

  {% if user|has_role:"RFC Editor" %}
    {% if flavor == "top" %}<li class="divider hidden-xs"></li>{% endif %}
    <li {%if flavor == "top" %}class="dropdown-header hidden-xs"{% else %}class="nav-header"{% endif %}>RFC Editor</li>
    <li><a href="{% url "ietf.sync.views.discrepancies" %}">Sync discrepancies</a></li>
  {% endif %}
{% if flavor == "top" %}</ul>{% endif %}
