.ietf-navset {
    background:#214197 url(/images/yui/sprite.png) repeat-x left -1400px;
    color:white;
    border:1px solid black;
    padding:4px;
}
.ietf-navset .selected { font-weight:bold; padding: 0 3px; }
.ietf-navset a, .ietf-navset a:visited { color: white; padding:0 3px; }
.cutoff-warning { border: 1px dashed red; background-color: #ffeeaa; padding: 1em 2em; margin: 1em 0px; }
.problem-reports-footer { font-style: italic; margin-top: 2em; }

div.metadata-errors { border: 1px solid red; background-color: #ffeebb; padding: 5px 10px; margin: 1em 0px; max-width: 50em; }
div.info-message-error { border: 1px solid red; background-color: #ffeebb; padding: 5px 10px; margin: 1em 0px; color: red; }
div.info-message-warning { border: 1px solid orange; background-color: #ffffaa; padding: 5px 10px; margin: 1em 0px; color: black; }
div.info-message-success { border: 1px solid green; background-color: #eeffbb; padding: 5px 10px; margin: 1em 0px; color: green; }

table.metadata-table th { white-space: nowrap; font-weight: bold; }
table.metadata-table th, table.metadata-table td { text-align: left; background: #ddddff; padding: 5px 10px; }
table.metadata-table th.author { text-align: right; }
table.metadata-table tr { vertical-align: top; }
table.metadata-table tr.error td, table.metadata-table tr.error th { background-color: #ffaaaa; }
table.metadata-table div.error-msg { color: red; }
table.metadata-table td.author-button-help { max-width: 40em; }
table.metadata-table input.name, table.metadata-table input.email { width: 25em; }

pre.twopages { margin: 0px; }

.idnits-popup .content,
.twopages-popup .content { background-color: #fff; width: 55em; height: 30em; overflow: auto; padding: 1em; }
a.idnits-trigger, a.twopages-trigger, a.idnits-trigger:visited, a.twopages-trigger:visited { color: #000; }

table.history { max-width: 50em; }
