{# bs5ok #}
{# Copyright The IETF Trust 2020, All Rights Reserved #}
{% spaceless %}
    <span class="text-nowrap {{ class }}">
        {% if email or name %}
            <a {% if class %}class="text-reset"{% endif %}
               {% if title %}title="{{ title }}"{% endif %}
               {% if email %} href="{% url 'ietf.person.views.profile' email_or_name=email %}" {% else %} href="{% url 'ietf.person.views.profile' email_or_name=name %}" {% endif %}>
                {{ name }}
            </a>
            {% if email %}
                &nbsp;
                <a {% if class %}class="text-reset"{% endif %}
                   href="mailto:{{ email|urlencode }}"
                   title="Click to compose email.">
                    <span class="bi bi-envelope"></span>
                </a>
            {% endif %}
        {% else %}
            {{ name }}
        {% endif %}
    </span>
{% endspaceless %}