{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load markup_tags %}

{% block title %}Profile for {{ person }}{% endblock %}

{% block content %}

  {% origin %}
  <h1>{{ person.name }}</h1>

  <div class="bio-text">
     {% if person.photo %}
     <a href="{{person.photo.url}}">
       <img class="bio-photo" src="{{ person.photo.url }}" alt="Photo of {{ person }}" />
     </a>
     {% else %}
       <img class="bio-photo" src="{{ MEDIA_URL }}photos/nopictureavailable.jpg" alt="No photo available"/>
     {% endif %}
     {{ person.biography | apply_markup:"restructuredtext" }}
  </div>

{% endblock %}
