/.coverage
/.project
/.pydevproject
/.Python
/.settings
/.tmp
/bin
/etc
/ghostdriver.log
/include
/INSTALL.pdf
/latest-coverage.json
/lib
/local
/mergelog
/mergequeue
/minimum-requirements.txt
/pip-selfcheck.json
/selenium
/settings_local.py
/share
/static
/testresult
/unix.tag
/tmp-nomcom-public-keys-dir
