Version: 2.32
Section: text
Ietf: critical
Priority: optional
Maintainer: Henrik Levkowetz <henrik@levkowetz.com>
Package: ietfdb
Architecture: any
Depends: django python
Category: support
Url: https://datatracker.ietf.org/
Repository: https://svn.tools.ietf.org/svn/tools/ietfdb/branch/2.00/
Description: IETF Database
	The IETF Database holds information related to documents, authors,
	positions and messages within the IETF.  It currently consists of
	a MySql backend and a Django frontend, and some legacy perl scripts.
