{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}

{% block title %}Profile update successful{% endblock %}

{% block content %}
  {% origin %}

  <h1>Profile update successful</h1>

  <p>Your account has been updated to reflect the changes you submitted.</p>

  {% for email in email_confirmations %}
    <p class="alert alert-info"><b>A confirmation email has been sent to {{email}}.</b> The email will be activated after you click on the link it contains.</p>
  {% endfor %}

  <a class="btn btn-default" href="{% url "ietf.ietfauth.views.profile" %}">Edit profile</a>
{% endblock %}
