{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load staticfiles %}

{% load bootstrap3 %}

{% block title %}Complete account creation{% endblock %}

{% block js %}
      {{ block.super }}
      <script type="text/javascript" src="{% static 'zxcvbn/zxcvbn.js' %}"></script>
      <script type="text/javascript" src="{% static 'ietf/js/password_strength.js' %}"></script>
{% endblock %}

{% block content %}
  {% origin %}

  {% if success %}
    <h1>Account creation successful</h1>

    <p>Your account with login {{ email }} has been created, using the password you have selected.</p>
    <a type="a" class="btn btn-primary" href="{% url "ietf.ietfauth.views.login" %}" rel="nofollow">Sign in</a>

  {% else %}
    <h1>Complete account creation</h1>

    <p>In order to complete the setup of your account with login {{ email }}, please choose a password:</p>
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% buttons %}
        <button type="submit" class="btn btn-primary">Set name and password</button>
      {% endbuttons %}
    </form>
  {% endif %}
{% endblock %}
