@font-face {
  font-family: 'font-datatracker';
  src: url('../font/font-datatracker.eot?60587374');
  src: url('../font/font-datatracker.eot?60587374#iefix') format('embedded-opentype'),
       url('../font/font-datatracker.woff2?60587374') format('woff2'),
       url('../font/font-datatracker.woff?60587374') format('woff'),
       url('../font/font-datatracker.ttf?60587374') format('truetype'),
       url('../font/font-datatracker.svg?60587374#font-datatracker') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
.fd {
  font-family: "font-datatracker";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.fd-meetecho:before { content: '\e800'; } /* '' */