{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}

{% load bootstrap3 %}

{% block title %}Subscribe to {{ cl.long_name }}{% endblock %}

{% block content %}
  {% origin %}

  {% if success %}
    <h1>Subscription successful</h1>

    <p>We have sent an email to your email address with instructions to complete your subscription.</p>
  {% else %}
    <h1>Subscribe to {{ cl.long_name }}</h1>

    <p>Subscribe to the email list for notifications of {% if significant %}significant {% endif %}changes on {{ cl.long_name }}.</p>

    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% buttons %}
        <button type="submit" class="btn btn-primary">Subscribe</button>
      {% endbuttons %}
    </form>
  {% endif %}
{% endblock %}
