{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}

{% block title %}Cancelled subscription to {{ cl.long_name }}{% endblock %}

{% block content %}
  {% origin %}
  <h1>Cancelled subscription to {{ cl.long_name }}</h1>

  <p>
    Your email address {{ email }} has been successfully removed from the {{ cl.long_name }} {% if significant %}significant {% endif %}changes mailing list.
  </p>

  <p>
    <a class="btn btn-primary" href="{{ cl.get_public_url }}">Back</a>
  </p>
{% endblock %}
