{% load wgchairs_tags %}

        <tr class="{{ forloop.counter|divisibleby:2|yesno:"oddrow,evenrow" }}">
          <td class="title">
            <a href="{% url doc_view doc.filename %}">{{ doc.title }}</a>
          </td>
          <td class="shepherd">
            <a href="{% url doc_edit_shepherd doc %}">Change shepherd</a>
          </td>        
          <td class="writeup">
             {% writeup doc %}
             <a href="{% url doc_edit_shepherd_writeup doc %}" style="display: block;" href="">[Edit]</a>
          </td>
          <td class="writeup_date">
             {% writeupdate doc %}
          </td>
        </tr>
