{% extends "base.html" %}
{% comment %}
Copyright The IETF Trust 2011, All Rights Reserved
{% endcomment %}

{% block title %}Working Groups in IESG process{% endblock %}

{% block content %}
<h1>Working Groups in IESG process</h1>

<p>
<span id="create_wg" class="yui-button yui-link-button" style="margin-left:2px;"><span class="first-child"><a href="/wgrecord/create/">Create WG</a></span></span>
</p>

{% if not recs %}
<p><b>No WGs match your query.</b></p>
{% else %}
<table class="ietf-table ietf-doctable">
<tr>
    {% for hdr in meta.hdrs %}
    {% include "wgrecord/table_header.html" %}
    {% endfor %}
</tr> 
{% for wg in recs %} 
{% include "wgrecord/search_result_row.html" %}
{% endfor %}
</table>
{% endif %}
{% endblock content %}
