{% extends "base.html" %}
{% comment %}
Copyright 2011 The IETF Trust. All rights reserved.
{% endcomment %}

{% block title %}Working Group Records{% endblock %}

{% block content %}
<h1>Working Group Records</h1>

<div class="ietf-box search_form_box">
{% include "wgrecord/search_form.html" %}
</div>

<div id="search_results">
{% if meta.searching %}
{% include "wgrecord/search_results.html" %}
{% endif %}
</div>
{% endblock content %}
{% block scripts %}
YAHOO.util.Event.onContentReady("search_submit_button", function () {
    var oButton = new YAHOO.widget.Button("search_submit_button", {});
});      
{% endblock scripts %}
