{% extends "base_site.html" %}

{% block title %}Sessions- New{% endblock %}

{% block extrahead %}{{ block.super }}
  <script type="text/javascript" src="{{ SECR_STATIC_URL }}js/utils.js"></script>
  <script type="text/javascript" src="{{ SECR_STATIC_URL }}js/sessions.js"></script>

  <link rel="stylesheet" href="/facelift/css/lib/select2.css">
  <link rel="stylesheet" href="/facelift/css/lib/select2-bootstrap.css">
  <script src="/facelift/js/lib/select2-3.5.2.min.js"></script>
  <script>
// this is copy-pasted from ietf.js, we should include that here too instead of this
$(document).ready(function () {
    $(".select2-field").each(function () {
        var e = $(this);
        if (e.data("ajax-url")) {
            var maxEntries = e.data("max-entries");
            var multiple = maxEntries != 1;
            var prefetched = e.data("pre");
            e.select2({
                multiple: multiple,
                minimumInputLength: 2,
                width: "off",
                allowClear: true,
                maximumSelectionSize: maxEntries,
                ajax: {
                    url: e.data("ajax-url"),
                    dataType: "json",
                    quietMillis: 250,
                    data: function (term, page) {
                        return {
                            q: term,
                            p: page
                        };
                    },
                    results: function (results) {
                        return {
                            results: results,
                            more: results.length == 10
                        };
                    }
                },
                escapeMarkup: function (m) {
                    return m;
                },
                initSelection: function (element, cb) {
                    if (!multiple && prefetched.length > 0)
                        cb(prefetched[0]);
                    else
                        cb(prefetched);

                },
                dropdownCssClass: "bigdrop"
            });
        }
    });
});
  </script>
{% endblock %}

{% block breadcrumbs %}{{ block.super }} 
  &raquo; <a href="../../">Sessions</a>
  &raquo; New Session Request
{% endblock %}

{% block instructions %}
  <a href="https://www.ietf.org/wg/request-tool-instructions.html" target="_blank">Instructions</a>
{% endblock %}

{% block content %}

<div class="module interim-container">
    <h2>IETF {{ meeting.number }}: New Session Request</h2>
         <div class="inline-related">
         <br>
         <ul class="session-buttons">
             <li><button onclick="if (window.confirm('A message will be sent to agenda@ietf.com as well as to the area director(s).\n\nContinue?')) { window.location='{% url "sessions_no_session" acronym=group.acronym %}'};">Send a notification that the group does not plan to hold a session at IETF {{ meeting.number }}</button></li>
             <li><button onclick="window.location='{% url "sessions_new" acronym=group.acronym %}?previous'">Retrieve all information from previous meeting</button></li>
         </ul>
        
         {% include "includes/sessions_request_form.html" %}

</div> <!-- module -->

{% endblock %}

{% block footer-extras %}
  {% include "includes/sessions_footer.html" %}
{% endblock %}
