
/* TypoPRO PT Sans Caption */
@font-face {
    font-family:  'TypoPRO PT Sans Caption';
    src:          url('TypoPRO-PTSansCaption-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-PTSansCaption-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-PTSansCaption-Regular.woff') format('woff'),
                  url('TypoPRO-PTSansCaption-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: small-caps;
}

