{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin static person_filters %}
{% block pagehead %}
    <link rel="stylesheet" href="{% static "ietf/css/list.css" %}">
{% endblock %}
{% block title %}Active teams{% endblock %}
{% block content %}
    {% origin %}
    <h1>Active teams</h1>
    <table class="table table-sm table-striped tablesorter">
        <thead>
            <tr>
                <th scope="col" data-sort="team">Team</th>
                <th scope="col" data-sort="name">Name</th>
                <th scope="col" data-sort="chairs">Chairs</th>
            </tr>
        </thead>
        <tbody>
            {% for group in teams %}
                <tr>
                    <td>
                        <a href="{% url "ietf.group.views.group_home" acronym=group.acronym %}">{{ group.acronym }}</a>
                    </td>
                    <td>{{ group.name }}</td>
                    <td>
                        {% for chair in group.chairs %}
                            {% person_link chair.person %}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block js %}
    <script src="{% static "ietf/js/list.js" %}"></script>
{% endblock %}