{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin staticfiles %}

{% block pagehead %}
<link rel="stylesheet" href="{% static "jquery.tablesorter/css/theme.bootstrap.min.css" %}">
{% endblock %}

{% block title %}Active IRTF research groups{% endblock %}

{% block content %}
  {% origin %}
  <h1>Active IRTF research groups</h1>

  <h2>IRTF chair</h2>
  <p><a href="mailto:irtf-chair@irtf.org">{{ irtf.chair.person.plain_name }}</a></p>

  <h2>Active research groups</h2>
    <a class="btn btn-default" href="{% url "ietf.group.views.all_status" %}">Status Reports</a>

  <table class="table table-striped table-condensed tablesorter">
    <thead>
      <tr>
        <th>Group</th>
        <th>Name</th>
        <th>Chairs</th>
      </tr>
    </thead>
    <tbody>
      {% for group in groups %}
        <tr>
          <td><a href="{% url "ietf.group.views.group_home" group_type=group.type_id acronym=group.acronym %}">{{ group.acronym }}</a></td>
          <td>{{ group.name }}</td>
          <td>{% for chair in group.chairs %}<a href="mailto:{{ chair.email.address }}">{{ chair.person.plain_name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

{% block js %}
<script src="{% static "jquery.tablesorter/js/jquery.tablesorter.combined.min.js" %}"></script>
{% endblock %}
