{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin static person_filters %}
{% block pagehead %}
    <link rel="stylesheet" href="{% static "ietf/css/list.css" %}">
{% endblock %}
{% block title %}Active IRTF research groups{% endblock %}
{% block content %}
    {% origin %}
    <h1>Active IRTF research groups</h1>
    <h2 class="mt-4">IRTF chair</h2>
    <p>
        {% person_link irtf.chair.person %}
    </p>
    <h2 class="mt-4">Active research groups</h2>
    <a class="btn btn-primary"
       href="{% url "ietf.group.views.all_status" %}">Status reports</a>
    <a class="btn btn-primary"
       href="{% url "ietf.group.views.chair_photos" group_type="rg" %}">Chair photos</a>
    <table class="table table-striped table-sm tablesorter">
        <thead>
            <tr>
                <th scope="col" data-sort="group">Group</th>
                <th scope="col" data-sort="name">Name</th>
                <th scope="col" data-sort="chairs">Chairs</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
                <tr>
                    <td>
                        <a href="{% url "ietf.group.views.group_home" group_type=group.type_id acronym=group.acronym %}">
                            {{ group.acronym }}
                        </a>
                    </td>
                    <td>{{ group.name }}</td>
                    <td>
                        {% for chair in group.chairs %}
                            {% person_link chair.person %}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block js %}
    <script src="{% static "ietf/js/list.js" %}"></script>
{% endblock %}