{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}

{% load bootstrap3 %}

{% block title %}Add comment for {{ group }}{% endblock %}

{% block content %}
  {% origin %}
  <h1>Add comment<br><small>{{ group }} ({{ group.acronym }})</small></h1>

  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <p class="help-block">The comment will be added to the history trail for the group.</p>

    {% buttons %}
      <button type="submit" class="btn btn-primary">Submit</button>
      <a class="btn btn-default pull-right" href="{% url "ietf.group.views.history" acronym=group.acronym %}">Back</a>
    {% endbuttons %}
  </form>

{% endblock %}
