{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load static %}
{% load django_bootstrap5 %}
{% load ietf_filters %}
{% load textfilters %}
{% block title %}Status updates{% endblock %}
{% block content %}
    {% origin %}
    <h1>Status updates</h1>
    {% regroup wg_reports by group.parent as area_items %}
    {% for area_item in area_items %}
        <h2 class="mt-3">{{ area_item.grouper.name }} ({{ area_item.grouper.acronym|upper }})</h2>
        {% for rpt in area_item.list %}
            <div class="card my-3">
                <div class="card-header">
                    {{ rpt.group.acronym }}
                    {% if rpt.group.state.slug != "active" %}
                        <span class="badge rounded-pill bg-success">{{ rpt.group.state.slug|upper }}</span>
                    {% endif %}
                    {{ rpt.time|date:"Y-m-d" }}
                </div>
                <div class="card-body">
                    <pre class="pasted">{{ rpt.desc|default:"(none)"|urlize_ietf_docs|linkify }}</pre>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
    <h2 class="mt-3">Internet Research Task Force (IRTF)</h2>
    {% for rpt in rg_reports %}
        <div class="card my-3">
            <div class="card-header">
                {{ rpt.group.acronym }}
                {% if rpt.group.state.slug != "active" %}
                    <span class="badge rounded-pill bg-success">{{ rpt.group.state.slug|upper }}</span>
                {% endif %}
                {{ rpt.time|date:"Y-m-d" }}
            </div>
            <div class="card-body">
                <pre class="pasted">{{ rpt.desc|default:"(none)"|urlize_ietf_docs|linkify }}</pre>
            </div>
        </div>
    {% endfor %}
{% endblock %}