{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin static %}
{% block pagehead %}
    <link rel="stylesheet" href="{% static "ietf/css/list.css" %}">
{% endblock %}
{% block title %}BOFs{% endblock %}
{% block content %}
    {% origin %}
    {% load ietf_filters %}
    <h1>Birds-of-a-feather (BOF) groups</h1>
    {% if user|has_role:"Area Director,Secretariat" %}
        <a class="btn btn-primary"
           role="button"
           href="{% url 'ietf.group.views.edit' group_type='wg' action='create' %}">
            Create new BOF
        </a>
    {% endif %}
    {% if not groups %}
        <p class="alert alert-info my-3">
            No BOFs found.
        </p>
    {% else %}
        <table class="table table-sm table-striped tablesorter">
            <thead>
                <tr>
                    <th scope="col" data-sort="bof">BOF</th>
                    <th scope="col" data-sort="name">Name</th>
                    <th scope="col" data-sort="date">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for g in groups %}
                    <tr>
                        <td>
                            <a href="{{ g.about_url }}">{{ g.acronym }}</a>
                        </td>
                        <td>{{ g.name }}</td>
                        <td>{{ g.time|date:"Y-m-d" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
{% block js %}
    <script src="{% static "ietf/js/list.js" %}"></script>
{% endblock %}