{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin staticfiles %}

{% block pagehead %}
<link rel="stylesheet" href="{% static "jquery.tablesorter/css/theme.bootstrap.min.css" %}">
{% endblock %}

{% block title %}Concluded groups{% endblock %}

{% block content %}
  {% origin %}
  <h1>Concluded groups</h1>

  <p class="alert alert-info">Note that the information on historical groups may be inaccurate.</p>

  {% for t in group_types %}
    <h2>{{ t.name }}s</h2>

    {% if t.slug == "wg" %}
      <p>
        Some additional concluded WGs may
        be present <a href="https://tools.ietf.org/wg/concluded">here</a>.
      </p>
    {% elif t.slug == "rg" %}
      <p>
        The information below is incomplete and misses a few older RGs.
        Please check the <a href="https://irtf.org/groups">IRTF site</a>
        for more complete information.
      </p>
    {% endif %}

    {% if not t.concluded_groups %}
      <p><b>No groups found.</b></p>
    {% else %}
      <table class="table table-condensed table-striped tablesorter">
        <thead>
          <tr>
            <th>Group</th>
            <th>Name</th>
            <th>Start</th>
            <th>Concluded</th>
          </tr>
        </thead>
        <tbody>
          {% for g in t.concluded_groups %}
            <tr>
              <td>
	        <a href="{{ g.about_url }}">{{ g.acronym }}</a>
              </td>
              <td>{{ g.name }}</td>
              <td>{{ g.start_date|date:"Y-m" }}</td>
              <td>{{ g.conclude_date|date:"Y-m" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% endfor %}

{% endblock %}

{% block js %}
<script src="{% static "jquery.tablesorter/js/jquery.tablesorter.combined.min.js" %}"></script>
{% endblock %}