{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block pagehead %}
  <link rel="stylesheet" href="{% static 'select2/select2.css' %}">
  <link rel="stylesheet" href="{% static 'select2-bootstrap-css/select2-bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}">
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  {% origin %}
  <h1>{{ title }}</h1>

  <noscript>This page depends on Javascript being enabled to work properly.</noscript>

  <p>Links:
    <a href="{{ group.about_url }}">{{ group.acronym }} {{ group.type.name }}</a>
    {% if group.charter %}
      - <a href="{% url "doc_view" name=group.charter.canonical_name %}">{{ group.charter.canonical_name }}</a>
    {% endif %}
  </p>


  <p class="help-block">
    {% if forms %}Click a milestone to edit it.{% endif %}

    {% if needs_review %}
      Note that as {{ group.type.name }} Chair you cannot edit descriptions of existing
      milestones and milestones you add are subject to review by the {{ reviewer }}.
    {% endif %}
  </p>

  {% if can_reset %}
    <p>
      You can <a href="{% url "group_reset_charter_milestones" group_type=group.type_id acronym=group.acronym %}">reset
      this list</a> to the milestones currently in use for the {{ group.acronym }} {{ group.type.name }}.
    </p>
  {% endif %}

  {% if form_errors %}
    <p class="alert alert-danger">There were errors, see below.</p>
  {% endif %}

  <form method="post" id="milestones-form">{% csrf_token %}
    <table class="table">

      {% for form in forms %}
        <tr class="milestone{% if form.delete.data %} delete{% endif %}">
          <td class="due">
            {% if form.milestone.resolved %}
              <span class="label label-success">{{ form.milestone.resolved }}</span>
            {% else %}
              {{ form.milestone.due|date:"M Y" }}
            {% endif %}
          </td>
          <td>
            <div>{{ form.milestone.desc }}
              {% if form.needs_review %}<span title="This milestone is not active yet, awaiting {{ reviewer }} acceptance" class="label label-warning">Awaiting accept</span>{% endif %}
              {% if form.changed %}<span class="label label-info">Changed</span>{% endif %}
            </div>
            
            {% for d in form.docs_names %}
              <div class="doc">{{ d }}</div>
            {% endfor %}
          </td>
        </tr>

        <tr class="edit-milestone{% if form.changed %} changed{% endif %}">
          <td colspan="2">{% include "group/milestone_form.html" %}</td>
        </tr>
      {% endfor %}

      <tr>
        <td></td>
        <td><button type="button" class="btn btn-default add-milestone">Add extra {% if milestone_set == "chartering" %}charter{% endif%} milestone {% if needs_review %}for {{ reviewer }} review{% endif %}</button></td>
      </tr>

      <tr class="edit-milestone template"><td colspan="2">{% include "group/milestone_form.html" with form=empty_form %}</td></tr>
    </table>

    {% buttons %}
      <a class="btn btn-default pull-right" href="{% if milestone_set == "charter" %}{% url "doc_view" name=group.charter.canonical_name %}{% else %}{{ group.about_url }}{% endif %}">Cancel</a>

      <button style="display:none" class="btn btn-primary" type="submit" data-labelsave="Save" data-labelreview="Review changes">Save</button>
      <input type="hidden" name="action" value="save">
    {% endbuttons %}

  </form>
{% endblock %}

{% block js %}
  <script src="{% static 'select2/select2.min.js' %}"></script>
  <script src="{% static 'ietf/js/select2-field.js' %}"></script>
  <script src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'ietf/js/edit-milestones.js' %}"></script>
{% endblock %}
