{% extends "group/group_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load ietf_filters %}
{% load future staticfiles %}

{% block pagehead %}
<link rel="stylesheet" href="{% static "jquery.tablesorter/css/theme.bootstrap.min.css" %}">
{% endblock %}

{% block group_content %}
  {% origin %}

  {% if aliases %}
  <h2>Email aliases</h2>

  <table class="table table-condensed table-striped tablesorter">
    <thead>
      <tr>
        <th>Alias</th>
        <th>Expansion</th>
      </tr>
    </thead>
    <tbody>
      {% for alias in aliases %}
        <tr>
          <td>
            <a href="mailto:{{ group.acronym }}{{ alias.alias_type|default:''}}@{{ietf_domain}}">
            {{ group.acronym }}{{ alias.alias_type|default:''}}@{{ietf_domain}}</a></td>
          <td>{{ alias.expansion }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <h2>Recipient expansions</h2>

  <table class="table table-condensed table-striped tablesorter">
    <thead>
      <tr>
        <th>Mail trigger</th>
        <th>To</th>
        <th>Cc</th>
      </tr>
    </thead>
    <tbody>
      {% for trigger,desc,to,cc in expansions %}
        <tr>
          <td><a href="{% url 'ietf.mailtrigger.views.show_triggers' trigger %}"
                 title="{{desc}}">{{trigger}}</a></td>
          <td> {{to|join:', '}}</td>
          <td> {{cc|join:', '}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

{% block js %}
<script src="{% static "jquery.tablesorter/js/jquery.tablesorter.combined.min.js" %}"></script>
{% endblock %}