{% extends "group/group_base.html" %}
{# Copyright The IETF Trust 2021, All Rights Reserved #}
{% load origin %}
{% load ietf_filters %}
{% block group_content %}
    {% if charter %}
        {% comment %}
    <div class="row">
        <div class="col-md-6 h2 text-center bg-info border-end">Current about page rendering</div>
        <div class="col-md-6 h2 text-center bg-info">Markdown rendering</div>
    </div>
    <div class="row border-bottom text-center">
        <div class="col-md-6 border-end">&nbsp;</div>
        <div class="col-md-6"><input type="checkbox" class="form-check-input" name="widthconstraint"> Constrain width</input></div>
    </div>
    <div class="row">
        <div class="col-md-6 border-end">{{charter|linebreaks}}</div>
        <div class="col-md-6 rightcontent">{{rendered|sanitize|safe}}</div>
    </div>
        {% endcomment %}
        <div class="my-3 row">
            <div class="col-md-6 border-end">
                <div class="h2 text-center bg-info">Current about page rendering</div>
                <div class="border-bottom text-center">&nbsp;</div>
                <div>{{ charter|linebreaks }}</div>
            </div>
            <div class="col-md-6 rightpanel">
                <div class="h2 text-center bg-info">Markdown rendering</div>
                <div class="border-bottom text-center">
                    <label class="form-label" for="widthconstraint">Constrain width</label>
                    <input type="checkbox" class="form-check-input" name="widthconstraint" id="widthconstraint">
            </div>
            <div class="rightcontent">{{ rendered|sanitize|safe }}</div>
        </div>
    </div>
{% else %}
    <div>Group has no charter document</div>
{% endif %}
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function() {
            $('input[name=widthconstraint]').trigger("change", function() {
                if ($(this).is(':checked')) {
                    $('.rightcontent').css('max-width','700px')
                } else {
                    $('.rightcontent').css('max-width','')
                }
            });
            $('input[name=widthconstraint').prop('checked', true);
            $('.rightcontent').css('max-width','700px')
        });
    </script>
{% endblock %}