{% extends "group/group_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin static %}
{% block title %}{{ group }} ({{ group.acronym }}) photos{% endblock %}
{% block group_content %}
    {% origin %}
    {% load ietf_filters %}
    <h2 class="my-3">{{ group }} ({{ group.acronym }}) photos</h2>
    {% regroup roles by name as role_groups %}
    {% for role_name in role_groups %}
        <div class="row" id="{{ role_name.grouper|urlencode }}">
            <h3 class="mt-4">{{ role_name.grouper }}{{ role_name.list|pluralize }}</h3>
            {% regroup role_name.list by person as person_groups %}
            {# keep in sync with all_photos.html #}
            <div class="mt-0 row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5 g-2">
                {% for person_with_groups in person_groups %}
                    <div class="col">
                        {% include "person/photo.html" with person=person_with_groups.grouper groups=person_with_groups.list %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
