{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load ietf_filters static %}
{% block pagehead %}
    <link rel="stylesheet" href="{% static "ietf/css/list.css" %}">
{% endblock %}
{% block title %}{{ group.name }} ({{ group.acronym }}){% endblock %}
{% block content %}
    {% origin %}
    <h1>
        {% if group.state_id == "dormant" or group.state_id == "conclude" %}
            <span class="badge rounded-pill bg-warning float-end ms-3">Concluded {{ group.type.name }}</span>
        {% endif %}
        {% if group.state_id == "replaced" %}<span class="badge rounded-pill bg-warning float-end ms-3">Replaced {{ group.type.name }}</span>{% endif %}
        {% if group.state_id == "proposed" %}<span class="badge rounded-pill bg-info float-end ms-3">Proposed {{ group.type.name }}</span>{% endif %}
        {{ group.name }} ({{ group.acronym }})
    </h1>
    <ul class="nav nav-tabs my-3">
        {% for name, url in menu_entries %}
            <li class="nav-item">
                <a class="nav-link {% if selected_menu_entry == name.lower %}active{% endif %}"
                   href="{{ url }}">{{ name }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="buttonlist">
        {% block buttonlist %}
            {% if menu_actions %}
                {% for name, url in menu_actions %}
                    <a class="btn {% if name == "Request closing group" %}btn-warning{% else %}btn-primary{% endif %}"
                       href="{{ url }}">
                        {{ name }}
                    </a>
                {% endfor %}
            {% endif %}
        {% endblock %}
    </div>
    {% block group_content %}{% endblock %}
{% endblock %}
{% block js %}
    <script src="{% static "ietf/js/list.js" %}"></script>
{% endblock %}
