{% extends "group/group_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load ietf_filters %}
{% load future %}

{% block group_content %}
  {% origin %}
  <table class="table table-condensed table-striped ietf">
    <thead>
      <tr>
        <th>Date</th>
        <th>By</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for e in events %}
        <tr>
          <td class="text-nowrap">{{ e.time|date:"Y-m-d"}}</td>
          <td>
	    {{ e.by.plain_name }}
          </td>
          <td>{{ e.desc|format_history_text }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
