{% extends "base.html" %}
{# Copyright The IETF Trust 2015-2022, All Rights Reserved #}
{% load origin static person_filters %}
{% load ietf_filters %}
{% block pagehead %}
    <link rel="stylesheet" href="{% static "ietf/css/list.css" %}">
{% endblock %}
{% block title %}Other RFC streams{% endblock %}
{% block content %}
    {% origin %}
    <h1>Other RFC streams</h1>
    <table class="my-3 table table-sm table-striped tablesorter">
        <thead>
            <tr>
                <th scope="col" data-sort="stream">Stream</th>
                <th scope="col" data-sort="owner">Owner</th>
                <th scope="col" data-sort="manager">Stream manager</th>
            </tr>
        </thead>
        <tbody>
            {% for stream in streams %}
                <tr>
                    <td>
                        <a href="{% url 'ietf.group.views.stream_documents' acronym=stream.acronym %}">{{ stream.acronym }}</a>
                    </td>
                    <td>{{ stream.name }}</td>
                    <td>
                        {% with stream.get_chair as role %}
                            {% person_link role.person %}
                            {% if role %}<span class="badge rounded-pill bg-info">{{ role.name }}</span>{% endif %}
                        {% endwith %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block js %}
    <script src="{% static "ietf/js/list.js" %}"></script>
{% endblock %}