{% for s in sessions %}
    <tr>
        <td>
            {% if s.meeting.type.slug == 'ietf' %}
                IETF {{ s.meeting.number }}
            {% else %}
                {{ s.meeting.number }}
            {% endif %}
        </td>
        <td>
            {% if s.name %}{{ s.name }}{% endif %}
            {% if s.current_status == "sched" %}
                {{ s.time|date:"Y-m-d" }}
            {% else %}
                <i>{{ s.current_status_name }}</i>
            {% endif %}
            {% if show_request and s.meeting.type_id == 'ietf' %}
                {% if can_edit %}
                    <a class="btn btn-primary btn-sm"
                       href="{% url 'ietf.secr.sreq.views.view' num=s.meeting.number acronym=s.group.acronym %}">
                        Edit Session Request
                    </a>
                {% endif %}
            {% endif %}
        </td>
        <td>
            {% if s.current_status == "sched" %}{{ s.time|date:"D" }}{% endif %}
        </td>
        <td>
            {% if show_ical %}
                {% if s.meeting.type_id == 'ietf' %}
                    {{ s.time|date:"H:i" }}
                    <a class="btn btn-primary btn-sm"
                       aria-label="icalendar entry for {{s.group.acronym}} at IETF {{s.meeting.number}}"
                       title="icalendar entry for {{s.group.acronym}} at IETF {{s.meeting.number}}"
                       href="{% url 'ietf.meeting.views.agenda_ical' num=s.meeting.number session_id=s.id %}">
                        <i class="bi bi-calendar"></i>
                    </a>
                {% else %}
                    <a class="btn btn-primary btn-sm"
                       aria-label="icalendar entry for {{s.meeting.number}}"
                       title="icalendar entry for {{s.meeting.number}}"
                       href="{% url 'ietf.meeting.views.agenda_ical' num=s.meeting.number acronym=s.group.acronym %}">
                        <i class="bi bi-calendar"></i>
                    </a>
                {% endif %}
            {% endif %}
            <a class="btn btn-sm {% if not s.agenda %}btn-secondary disabled{% else %}btn-primary{% endif %}"
               {% if s.agenda %}href="{{ s.agenda.get_absolute_url }}"{% endif %}>
                Agenda
            </a>
            <a class="btn btn-sm {% if not s.minutes %}btn-secondary disabled{% else %}btn-primary{% endif %}"
               {% if s.minutes %}href="{{ s.minutes.get_absolute_url }}"{% endif %}>
                Minutes
            </a>
            <a class="btn btn-primary btn-sm"
               href="{% url 'ietf.meeting.views.session_details' num=s.meeting.number acronym=s.group.acronym %}">
                Materials
            </a>
            {% if can_always_edit or can_edit_materials %}
                <a class="btn btn-info btn-sm float-end"
                   href="{% url 'ietf.meeting.views.session_details' num=s.meeting.number acronym=s.group.acronym %}">
                    Edit Materials
                </a>
            {% endif %}
        </td>
    </tr>
{% endfor %}