{% extends "group/group_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% block title %}
    Meetings
    {% if group %}for {{ group.acronym }}{% endif %}
{% endblock %}
{% block buttonlist %}
    {{ block.super }}
    <a class="btn btn-primary"
       href="{% url 'ietf.meeting.views.meeting_requests' %}">Session requests</a>
    {% if can_edit or can_always_edit %}
        <a class="btn btn-primary" href="{% url 'ietf.secr.sreq.views.main' %}">Request a session</a>
        <a class="btn btn-primary"
           href="{% url 'ietf.meeting.views.interim_request' %}?group={{ group.id }}">
            Request an interim meeting
        </a>
    {% endif %}
{% endblock %}
{% block group_content %}
    {% origin %}
    {% if in_progress %}
        <h2 class="mt-3" id="inprogressmeets">Meetings in progress</h2>
        {% with sessions=in_progress show_request=True show_ical=True can_edit_materials=can_edit %}
            <table class="table table-sm table-striped tablesorter">
                <thead>
                    <tr>
                        <th scope="col" data-sort="meeting">Meeting</th>
                        <th scope="col" data-sort="date">Date</th>
                        <th scope="col"></th>
                        <th scope="col">Materials</th>
                    </tr>
                </thead>
                <tbody>
                    {% include "group/meetings-row.html" %}
                </tbody>
            </table>
        {% endwith %}
    {% endif %}
    {% if future %}
        <h2 class="mt-3" id="futuremeets">
            Future Meetings
            <a class="float-end"
               aria-label="icalendar entry for all scheduled future {{ group.acronym }} meetings"
               title="icalendar entry for all scheduled future {{ group.acronym }} meetings"
               href="{% url 'ietf.meeting.views.upcoming_ical' %}?show={{ group.acronym }}">
                <i class="bi bi-calendar"></i>
            </a>
        </h2>
        <table class="table table-sm table-striped tablesorter">
            <thead>
                <tr>
                    <th scope="col" data-sort="meeting">Meeting</th>
                    <th scope="col" data-sort="date">Date</th>
                    <th scope="col"></th>
                    <th scope="col">Materials</th>
                </tr>
            </thead>
            {% with sessions=future show_request=True show_ical=True can_edit_materials=can_edit %}
                <tbody>
                    {% include "group/meetings-row.html" %}
                </tbody>
            {% endwith %}
        </table>
    {% endif %}
    {% if past or recent %}
        <h2 class="mt-3" id="pastmeets">Past Meetings</h2>
        <table class="table table-sm table-striped tablesorter">
            <thead>
                <tr>
                    <th scope="col" data-sort="meeting">Meeting</th>
                    <th scope="col" data-sort="date">Date</th>
                    <th scope="col"></th>
                    <th scope="col">Materials</th>
                </tr>
            </thead>
            <tbody>
                {% with sessions=recent can_edit_materials=can_edit %}
                    {% include "group/meetings-row.html" %}
                {% endwith %}
                {% with sessions=past can_edit_materials=False %}
                    {% include "group/meetings-row.html" %}
                {% endwith %}
            </tbody>
        </table>
    {% endif %}
    <p class="alert alert-info my-3">
        This page shows meetings within the last four years. For earlier meetings, please see the proceedings.
    </p>
{% endblock %}