{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin staticfiles %}

{% block morecss %}
.well { max-width: 150px;}
{% endblock %}

{% block bodyAttrs %}data-spy="scroll" data-target="#affix"{% endblock %}

{% block title %}Chair Photos{% endblock %}

{% block content %}
  {% origin %}
  {% load ietf_filters %}

  <h1>{{ group_type | upper }} {{ role }} Photos</h1>

  {% regroup roles by last_initial as alphabet_blocks %}
  <div class="col-md-11">
  {% for letter in alphabet_blocks %}
   <div class="row anchor-target" id="{{letter.grouper}}">
    <div class="panel panel-default">
      <div class="panel-heading">{{letter.grouper}}</div>
      <div class="panel-body">
        <ul class="list-inline">
        {% regroup letter.list by person as person_groups %}
        {% for person_with_groups in person_groups %}
         <li>
         <div class="well photo-thumbnail">
	   <div>
           {% if person_with_groups.grouper.photo_thumb %}
	      <a href="{{person_with_groups.grouper.photo.url}}">
		 <img width=100px src="{{person_with_groups.grouper.photo_thumb.url}}"/>
	      </a>
           {% else %}
		 <img width=100px src="{{ MEDIA_URL }}photos/nopictureavailable.jpg"/>
           {% endif %}
	   </div>
	   <div class="photo-name">
           {% if person_with_groups.grouper.photo %}
             <a href="{{person_with_groups.grouper.photo.url}}"><strong>{{person_with_groups.grouper.plain_name}}</strong></a>
           {% else %}
	     <strong>{{person_with_groups.grouper.plain_name}}</strong>
           {% endif %}
	   </div>
           <div class="photo-role-list">
           {% for role in person_with_groups.list %}   
               {{role.group.acronym}}
           {% endfor %}
           </div>
         </div>
         </li>
        {% endfor %}
        </ul>
      </div>
    </div>
   </div>
  {% endfor %}
  </div>

  <div class="col-md-1 hidden-print bs-docs-sidebar" id="affix">
    <ul class="nav nav-pills nav-stacked small fixed" data-spy="affix">
      {% for letter in alphabet_blocks %}
        <li><a href="#{{letter.grouper}}">{{letter.grouper}}</a></li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}
