{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}

{% load bootstrap3 %}

{% block title %}Reset Charter Milestones for {{ group.acronym }} {{ group.type.name }}{% endblock %}

{% block content %}
  {% origin %}
  <h1>Reset Charter Milestones for {{ group.acronym }} {{ group.type.name }}</h1>

  <p>
    Select which of the current {{ group.type.name }} milestones you would like to copy to the charter:

    {% if charter_milestones %}
      This will discard {{ charter_milestones|length }} existing charter milestone{{ charter_milestones|pluralize }}
    {% endif %}
  </p>

  <form method="post" id="reset-charter-milestones">{% csrf_token %}
    {% for milestone in current_milestones %}
      <div class="checkbox">
        <label>
          <input type="checkbox" name="milestone" value="{{ milestone.id }}" {% if not milestone.resolved %}checked="checked"{% endif %} />

          <span class="date">{% if milestone.resolved %}{{ milestone.resolved }}{% else %}{% if group.uses_milestone_dates %}{{ milestone.due|date:"M Y" }}{% endif %}{% endif %}</span>

          {{ milestone.desc }}
        </label>
      </div>
    {% endfor %}

    {% buttons %}
      <a class="btn btn-default pull-right" href="{% url 'ietf.group.milestones.edit_milestones;charter' group_type=group.type_id acronym=group.acronym %}">Back</a>
      <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
  </form>
{% endblock %}
