{% extends "group/group_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}{% origin %}

{% load ietf_filters staticfiles bootstrap3 %}

{% block group_subtitle %}Reviews for {{ group.name }}{% endblock %}

{% block pagehead %}
  <link rel="stylesheet" href="{% static "jquery.tablesorter/css/theme.bootstrap.min.css" %}">
{% endblock %}

{% block group_content %}
  {% origin %}

  <h2>Open review requests</h2>

  {% if open_review_requests %}
    <table class="table table-condensed table-striped materials tablesorter">
      <thead>
        <tr>
          <th>Request</th>
          <th>Type</th>
          <th>Requested</th>
          <th>Deadline</th>
          <th>Reviewer</th>
        </tr>
      </thead>
      <tbody>
        {% for r in open_review_requests %}
          <tr>
            <td><a {% if r.pk != None %}href="{% url "ietf.doc.views_review.review_request" name=r.doc.name request_id=r.pk %}"{% endif %}>{{ r.doc.name }}{% if r.requested_rev %}-{{ r.requested_rev }}{% endif %}</a></td>
            <td>{{ r.type.name }}</td>
            <td>{% if r.time %}{{ r.time|date:"Y-m-d" }}{% else %}<em>auto-suggested</em>{% endif %}</td>
            <td>
              {% if r.deadline|date:"H:i" != "23:59" %}
                {{ r.deadline|date:"Y-m-d H:i" }}
              {% else %}
                {{ r.deadline|date:"Y-m-d" }}
              {% endif %}
              {% if r.due %}<span class="label label-warning">{{ r.due }} hour{{ r.due|pluralize }}</span>{% endif %}
            </td>
            <td>
              {% if r.reviewer %}
                {{ r.reviewer.person }} {% if r.state_id == "accepted" %}<span class="label label-default">Accepted</span>{% endif %}
              {% elif r.pk != None %}
                <em>not yet assigned</em>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
  {% else %}
    <p>There are currently no open requests.</p>
  {% endif %}

  <h2 id="closed-review-requests">Closed review requests</h2>

  <form class="closed-review-filter" action="#closed-review-requests">
    Past:
    <div class="btn-group" role="group">
      {% for key, label in since_choices %}
        <button class="btn btn-default {% if since == key %}active{% endif %}" {% if key %}name="since" value="{{ key }}"{% endif %} type="submit">{{ label }}</button>
      {% endfor %}
    </div>
  </form>

  {% if closed_review_requests %}
    <table class="table table-condensed table-striped materials tablesorter">
      <thead>
        <tr>
          <th>Request</th>
          <th>Type</th>
          <th>Requested</th>
          <th>Deadline</th>
          <th>Reviewer</th>
          <th>State</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        {% for r in closed_review_requests %}
          <tr>
            <td><a href="{% url "ietf.doc.views_review.review_request" name=r.doc.name request_id=r.pk %}">{{ r.doc.name }}{% if r.requested_rev %}-{{ r.requested_rev }}{% endif %}</a></td>
            <td>{{ r.type }}</td>
            <td>{{ r.time|date:"Y-m-d" }}</td>
            <td>
              {% if r.deadline|date:"H:i" != "23:59" %}
                {{ r.deadline|date:"Y-m-d H:i" }}
              {% else %}
                {{ r.deadline|date:"Y-m-d" }}
              {% endif %}
            </td>
            <td>
              {% if r.reviewer %}
                {{ r.reviewer.person }}
              {% else %}
                <em>not yet assigned</em>
              {% endif %}
            </td>
            <td>{{ r.state.name }}</td>
            <td>
              {% if r.result %}
                {{ r.result.name }}
              {% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
  {% else %}
    <p>No closed requests found.</p>
  {% endif %}

{% endblock %}

{% block js %}
  <script src="{% static "jquery.tablesorter/js/jquery.tablesorter.combined.min.js" %}"></script>
{% endblock %}
