{% extends "group/group_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}{% origin %}

{% load ietf_filters static person_filters %}

{% block group_subtitle %}Review requests{% endblock %}

{% block pagehead %}
    <link rel="stylesheet" href="{% static "ietf/css/list.css" %}">
{% endblock %}

{% block group_content %}
    {% origin %}

    {% if can_access_stats %}
        <h1 class="float-end"><a href="{% url "ietf.stats.views.review_stats" %}" class="icon-link"><span class="small bi bi-bar-chart-line"></span></a></h1>
    {% endif %}

    {% if unassigned_review_requests %}

        <h2 class="mt-3" id="unassigned-review-requests">Unassigned review requests</h2>

        <table class="table table-sm table-striped tablesorter">
            <thead>
                <tr>
                    <th data-sort="request">Request</th>
                    <th data-sort="type">Type</th>
                    <th data-sort="requested">Requested</th>
                    <th data-sort="deadline">Deadline</th>
                    {% if review_requests.0.reviewer %}
                        <th data-sort="reviewer">Reviewer</th>
                    {% endif %}
                    <th data-sort="state">Document state</th>
                    <th data-sort="telechat">IESG Telechat</th>
                </tr>
            </thead>
            <tbody>
                {% for r in unassigned_review_requests %}
                    <tr>
                        <td class="request">{% if r.pk != None %}<a href="{% url "ietf.doc.views_review.review_request" name=r.doc.name request_id=r.pk %}">{% endif %}{{ r.doc.name }}-{% if r.requested_rev %}{{ r.requested_rev }}{% else %}{{ r.doc.rev }}{% endif %}{% if r.pk != None %}</a>{% endif %}</td>
                        <td class="type text-nowrap">{{ r.type.name }}</td>
                        <td class="requested text-end">{% if r.pk %}{{ r.time|date:"Y-m-d" }} by {{r.requested_by.plain_name}}{% else %}<em>auto-suggested</em>{% endif %}</td>
                        <td class="deadline text-end">
                            {{ r.deadline|date:"Y-m-d" }}
                            {% if r.due %}<br><span class="badge xxx bg-warning" title="{{ r.due }} day{{ r.due|pluralize }} past deadline">{{ r.due }} day{{ r.due|pluralize }}</span>{% endif %}
                        </td>
                        {% if r.reviewer %}
                            <td class="reviewer">
                                {{ r.reviewer.person }}
                                {% if r.state_id == "accepted" %}<br><span class="badge bg-secondary">Accepted</span>{% endif %}
                                {% if r.reviewer_unavailable %}<br><span class="badge bg-danger">Unavailable</span>{% endif %}
                            </td>
                        {% endif %}
                        <td class="state">
                            {{ r.doc.friendly_state }}
                        </td>
                        <td class="telechat">
                            {% if r.doc.telechat_date %}
                                {{ r.doc.telechat_date }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}

    {% if open_review_assignments %}
        <h2 class="mt-3" id="open_review_assignments">Open review assignments</h2>

        <table class="table table-sm table-striped tablesorter">
            <thead>
                <tr>
                    <th data-sort="request">Request</th>
                    <th data-sort="type">Type</th>
                    <th data-sort="assigned">Assigned</th>
                    <th data-sort="deadline">Deadline</th>
                    <th data-sort="reviewer">Reviewer</th>
                    <th data-sort="state">Document state</th>
                    <th data-sort="telechat">IESG Telechat</th>
                </tr>
            </thead>
            <tbody>
                {% for a in open_review_assignments %}
                    <tr>
                        <td class="request"><a href="{% url "ietf.doc.views_review.review_request" name=a.review_request.doc.name request_id=a.review_request.pk %}">{{ a.review_request.doc.name }}-{% if a.review_request.requested_rev %}{{ a.review_requests.requested_rev }}{% else %}{{ a.review_request.doc.rev }}{% endif %}</a></td>
                        <td class="type text-nowrap">{{ a.review_request.type.name }}</td>
                        <td class="assigned text-end">{{ a.assigned_on|date:"Y-m-d" }}</td>
                        <td class="deadline text-end">
                            {{ a.review_request.deadline|date:"Y-m-d" }}
                            {% if a.due %}<br><span class="badge bg-warning" title="{{ a.due }} day{{ a.due|pluralize }} past deadline">{{ a.due }} day{{ a.due|pluralize }}</span>{% endif %}
                        </td>
                        <td class="reviewer">
                            {% person_link a.reviewer.person %}
                            {% if a.state_id == "accepted" %}<br><span class="badge bg-secondary">Accepted</span>{% endif %}
                            {% if a.reviewer_unavailable %}<br><span class="badge bg-danger">Unavailable</span>{% endif %}
                        </td>
                        <td class="state">
                            {{ a.review_request.doc.friendly_state }}
                        </td>
                        <td class="telechat">
                            {% if a.review_request.doc.telechat_date %}
                                {{ a.review_request.doc.telechat_date }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h2 class="mt-3" id="closed-review-requests">Closed review requests and assignments</h2>

    <form class="closed-review-filter" action="#closed-review-requests">
        Past:
        <div class="btn-group btn-group-sm" role="group">
            {% for key, label in since_choices %}
                <button class="btn btn-outline-primary {% if since == key %}active{% endif %}" {% if key %}name="since" value="{{ key }}"{% endif %} type="submit">{{ label }}</button>
            {% endfor %}
        </div>
    </form>

    {% if closed_review_requests %}
        <h3 class="mt-3">Closed review requests</h3>
        <table class="table table-sm table-striped tablesorter">
            <thead>
                <tr>
                    <th data-sort="request">Request</th>
                    <th data-sort="type">Type</th>
                    <th data-sort="requested">Requested</th>
                    <th data-sort="deadline">Deadline</th>
                    <th data-sort="closed">Closed</th>
                    <th data-sort="state">State</th>
                </tr>
            </thead>
            <tbody>
                {% for r in closed_review_requests %}
                    <tr>
                        <td class="request"><a href="{% url "ietf.doc.views_review.review_request" name=r.doc.name request_id=r.pk %}">{{ r.doc.name }}{% if r.requested_rev %}-{{ r.requested_rev }}{% endif %}</a></td>
                        <td class="type text-nowrap">{{ r.type }}</td>
                        <td class="requested text-end">{{ r.time|date:"Y-m-d" }} by {{ r.requested_by.plain_name }}</td>
                        <td class="deadline text-end">{{ r.deadline|date:"Y-m-d" }}</td>
                        <td class="closed text-end">{{ r.request_closed_time|date:"Y-m-d" }}</td>
                        <td class="state">{{ r.state.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if closed_review_assignments %}
        <h3 class="mt-3">Closed review assignments</h3>
        <table class="table table-sm table-striped tablesorter">
            <thead>
                <tr>
                    <th data-sort="request">Request</th>
                    <th data-sort="type">Type</th>
                    <th data-sort="assigned">Assigned</th>
                    <th data-sort="deadline">Deadline</th>
                    <th data-sort="closed">Closed</th>
                    <th data-sort="reviewer">Reviewer</th>
                    <th data-sort="state">State</th>
                    <th data-sort="result">Result</th>
                </tr>
            </thead>
            <tbody>
                {% for a in closed_review_assignments %}
                    <tr>
                        <td class="request"><a href="{% url "ietf.doc.views_review.review_request" name=a.review_request.doc.name request_id=a.review_request.pk %}">{{ a.review_request.doc.name }}{% if a.review_request.requested_rev %}-{{ a.review_request.requested_rev }}{% endif %}</a></td>
                        <td class="type text-nowrap">{{ a.review_request.type }}</td>
                        <td class="assigned text-end">{{ a.assigned_on|date:"Y-m-d" }}</td>
                        <td class="deadline text-end">{{ a.review_request.deadline|date:"Y-m-d" }}</td>
                        <td class="closed text-end">{{ a.completed_on|date:"Y-m-d" }}</td>
                        <td class="reviewer">{% person_link a.reviewer.person %}</td>
                        <td class="state">{{ a.state }}</td>
                        <td class="result">{% if a.result %}{{ a.result }}{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}

    {% if not closed_review_requests and not closed_review_assignments %}
        <p class="mt-3">None found</p>
    {% endif %}

{% endblock %}

{% block js %}
    <script src="{% static "ietf/js/list.js" %}"></script>
{% endblock %}