{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load staticfiles %}
{% load ietf_filters %}
{% load bootstrap3 %}

{% block title %}Manage {{ group.name }} RFC stream{% endblock %}

{% block pagehead %}
  <link rel="stylesheet" href="{% static 'select2/select2.css' %}">
  <link rel="stylesheet" href="{% static 'select2-bootstrap-css/select2-bootstrap.min.css' %}">
{% endblock %}

{% block content %}
  {% origin %}
  <h1>Manage {{ group.name }} RFC stream</h1>

  <p>
    <b>Chair{{ chairs|pluralize }}:</b>
    {% for chair in chairs %}
      {{ chair.person.plain_name }} &lt;{{ chair.address }}&gt;
      {% if not forloop.last %}, {% endif %}
    {% endfor %}
  </p>

  <p>
    Delegates can be assigned with permission to do the tasks of the
    chair{{ chairs|pluralize }}. Note that in order to actually do so, the delegates need a
    datatracker account. New accounts can be <a href="{% url "create_account" %}">created here</a>.
  </p>

  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
      <button type="submit" class="btn btn-primary">Save</button>
      <a class="btn btn-default pull-right" href="{% url "ietf.group.views_stream.streams" %}{{ group.acronym }}">Back</a>
    {% endbuttons %}

  </form>
{% endblock %}

{% block js %}
  <script src="{% static 'select2/select2.min.js' %}"></script>
  <script src="{% static 'ietf/js/select2-field.js' %}"></script>
{% endblock %}
