{% extends "base.html" %}

{% block title %}
{% if wg %}
Edit WG {{ wg.acronym }}
{% else %}
Create WG
{% endif %}
{% endblock %}

{% block morecss %}
form.edit-info #id_name {
  width: 396px;
}

form.edit-info #id_list_email {
  width: 396px;
}

form.edit-info #id_list_subscribe {
  width: 396px;
}

form.edit-info #id_list_archive {
  width: 396px;
}

form.edit-info #id_urls {
  width: 400px;
}

form.edit-info #id_comments {
  width: 400px;
}

{% endblock %}

{% block pagehead %}
<link rel="stylesheet" type="text/css" href="/css/token-input.css"></link>
{% endblock %}

{% block content %}
{% load ietf_filters %}
<h1>{% if wg %}
Edit WG {{ wg.acronym }}
{% else %}
Create WG
{% endif %}
</h1>

<form class="edit-info" action="" method="POST">
  <table>
    {% for field in form.visible_fields %}
    <tr>
      <th>{{ field.label_tag }}:</th>
      <td>{{ field }}
      {% ifequal field.name "ad" %}
      {% if user|has_role:"Area Director" %}
      <label><input type="checkbox" name="ad" value="{{ login.pk }}" /> Assign to me</label>
      {% endif %}
      {% endifequal %}      
      {% if field.help_text %}<div class="help">{{ field.help_text }}</div>{% endif %}
      {{ field.errors }}
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td></td>
      <td class="actions">
	{% if wg %}
          <a href="{% url wg_charter acronym=wg.acronym %}">Back</a>
          <input type="submit" value="Save"/>
        {% else %}
          <input type="submit" value="Create"/>
	{% endif %}
      </td>
    </tr>
  </table>
</form>
{% endblock %}

{% block content_end %}
<script type="text/javascript" src="/js/lib/jquery.tokeninput.js"></script>
<script type="text/javascript" src="/js/lib/json2.js"></script>
<script type="text/javascript" src="/js/emails-field.js"></script>
{% endblock %}
