{% extends "base.html" %}

{% block title %}
{% if wg %}
Edit WG {{ wg.acronym }}
{% else %}
Start chartering new WG
{% endif %}
{% endblock %}

{% block morecss %}
form.edit #id_name,
form.edit #id_list_email,
form.edit #id_list_subscribe,
form.edit #id_list_archive,
form.edit #id_urls,
form.edit #id_comments { width: 400px; }
form.edit input[type=checkbox] { vertical-align: middle; }
ul.errorlist { border-width: 0px; padding: 0px; margin: 0px;}
ul.errorlist li { color: #a00; margin: 0px; padding: 0px; list-style: none; }
{% endblock %}

{% block pagehead %}
<link rel="stylesheet" type="text/css" href="/css/token-input.css"></link>
{% endblock %}

{% block content %}
{% load ietf_filters %}
<h1>
{% ifequal action "edit" %}
Edit WG {{ wg.acronym }}
{% else %} 
  {% ifequal action "charter" %}
Start chartering new WG
  {% else %}
Create new WG or BoF
  {% endifequal %}
{% endifequal %}
</h1>

<form class="edit" action="" method="POST">
  <table>
    {% for field in form.visible_fields %}
    <tr>
      <th>{{ field.label_tag }}: {% if field.field.required %}*{% endif %}</th>
      <td>{{ field }}
      {% ifequal field.name "ad" %}
      {% if user|has_role:"Area Director" %}
      <label><input type="checkbox" name="ad" value="{{ login.pk }}" /> Assign to me</label>
      {% endif %}
      {% endifequal %}      
      {% if field.help_text %}<div class="help">{{ field.help_text }}</div>{% endif %}
      {{ field.errors }}
      </td>
    </tr>
    {% if field.name == "acronym" and form.confirm_msg %}
    <tr>
      <td></td>
      <td><input name="confirmed" type="checkbox"{% if form.autoenable_confirm %} checked="checked"{% endif %}/>
      {{ form.confirm_msg }}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
    <tr>
      <td></td>
      <td class="actions">
	{% ifequal action "edit" %}
          <a href="{% url wg_charter acronym=wg.acronym %}">Back</a>
          <input type="submit" value="Save"/>
        {% else %} 
           {% ifequal action "charter" %}
              <input type="submit" value="Start chartering"/>
           {% else %}
              <input type="submit" value="Create group or bof"/>
           {% endifequal %}
	{% endifequal %}
      </td>
    </tr>
  </table>
</form>
{% endblock %}

{% block content_end %}
<script type="text/javascript" src="/js/lib/jquery.tokeninput.js"></script>
<script type="text/javascript" src="/js/lib/json2.js"></script>
<script type="text/javascript" src="/js/emails-field.js"></script>
<script>
jQuery(function () {
    if (jQuery('input[name="confirmed"]').length > 0) {
        jQuery('input[name="acronym"]').change(function() {
            // make sure we don't accidentally confirm another acronym
            jQuery('input[name="confirmed"]').closest("tr").remove();
            jQuery('input[name="acronym"]').siblings(".errorlist").remove();
        });
    }
});
</script>
{% endblock %}
