{% extends "wginfo/wg_base.html" %}
{% load ietf_filters %}

{% block wg_titledetail %}History{% endblock %}

{% block wg_content %}
{% load ietf_filters %}

<h2>WG History</h2>

<table class="ietf-table history">
  <tr><th>Date</th><th>By</th><th>Text</th></tr>
  {% for e in events %}
  <tr class="{% cycle oddrow,evenrow %}">
    <td>{{ e.time|date:"Y-m-d"}}</td>
    <td>{{ e.by.plain_name }}</td>
    <td>{{ e.desc|format_history_text }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

{% block content_end %}
<script src="/js/history.js" type="text/javascript"></script>
{% endblock %} 
