.metabox { width: 99%; margin-top:8px; padding:4px; margin-bottom:1em; }
#metatable { border: 0; border-spacing: 0; }
#metatable tr { vertical-align: top; }
#metatable tr:first-child td:first-child { width: 15em; }

.stream-tags { font-style: italic; }

.document-markup pre { line-height: 1.2em; margin: 0; }
.document-markup .m_hdr, .m_ftr { color: #808080; }
.document-markup .m_ftr { border-bottom: 1px solid #a0a0a0; }
.document-markup .m_h { font-family: arial; font-weight:bold;}

.snapshots { margin: 0.5em 0; }
.snapshots .revisions a:last-child { font-weight: bold; }

.metabox .links { margin-bottom: 0.2em; }
.metabox .actions { margin-top: 0.5em; }
.metabox .ballot-summary { font-style: italic; }
.metabox .telechat { margin-top: 0.2em; }

.diff-tool { padding: 8px 4px; margin: 8px 0;}
.diff-tool h2 { margin-top:0;margin-bottom:4px; }
.diff-tool label { display: inline-block; width: 3em; padding: 0 0.5em; }
.diff-tool form { margin: 0; }

.history-actions { margin-bottom: 1em; padding-left: 1px; }

.writeup pre.editable { background-color: #efefff; min-height: 3em; padding: 4px; }
.writeup a.edit { float: right; margin: 4px; }

a.editlink {
  background-image: url("/images/pencil.png");
  background-size: 10px;
  background-position: right top;
  background-attachment: scroll;
  background-repeat: no-repeat;
  padding-right: 12px;
} 

a.editlink:link {text-decoration:none; color:inherit;}
a.editlink:visited {text-decoration:none; color:inherit;}
a.editlink:hover {text-decoration:underline;}
a.editlink:active {text-decoration:underline;}

h3 a.edit { font-weight: normal; font-size: 13px; display: inline-block; margin-left: 0.5em;}

h4 { margin-bottom: 0; }
h4 + p { margin-top: 0; max-width: 400px; }

p.download-instead a { font-size: 20px; font-weight: bold; color: #2647a0; }
