{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin staticfiles %}

{% block pagehead %}
<link rel="stylesheet" href="{% static "jquery.tablesorter/css/theme.bootstrap.min.css" %}">
{% endblock %}

{% block title %}Sync discrepancies{% endblock %}

{% block content %}
  {% origin %}
  <h1>Sync discrepancies</h1>

  {% for title, docs in sections %}
    <h2>{{ title }}</h2>

    {% if docs %}
      <table class="table table-condensed table-striped tablesorter">
        <thead>
          <tr>
            <th>Draft name</th>
            <th>IESG state</th>
            <th>RFC Editor state</th>
            <th>IANA Action state</th>
          </tr>
        </thead>
        <tbody>
          {% for d in docs %}
            <tr>
              <td><a href="{{ d.get_absolute_url }}">{{ d.name }}</a></td>
              <td>{{ d.iesg_state|default:"" }}</td>
              <td>{{ d.rfc_state|default:"" }}</td>
              <td>{{ d.iana_action_state|default:"" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="text-muted">(None)</p>
    {% endif %}

  {% endfor %}
{% endblock %}

{% block js %}
<script src="{% static "jquery.tablesorter/js/jquery.tablesorter.combined.min.js" %}"></script>
{% endblock %}