{% extends "base.html" %}

{% block title %}Change intended status for {{ doc }}{% endblock %}

{% block morecss %}
form.change-intended-status select {
  width: 22em;
}
form.change-intended-status .actions {
  text-align: right;
  padding-top: 10px;
}
{% endblock %}

{% block content %}
<h1>Change intended status for {{ doc }}</h1>

<form class="change-intended-status" action="" method="post">
  <table>
    {{ form.as_table }}
    <tr>
      <td colspan="2" class="actions">
        <a href="{{ doc.get_absolute_url }}">Back</a>
        <input type="submit" value="Save"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
