{% extends "idrfc/doc_main.html" %}

{% load ietf_filters %}

{% block title %}{{ doc.canonical_name }}-{{ doc.rev }}{% endblock %}

{% block pagehead %}
<link rel="stylesheet" type="text/css" href="/css/doc.css"></link>
{% endblock %}

{% block content %}
{{ top|safe }}

<div class="snapshots">
  Versions:
  <span class="revisions">
    {% for rev in revisions %}
    <a {% if rev != doc.rev %}href="{% url doc_view name=doc.name %}{% if not forloop.last %}{{ rev }}/{% endif %}"{% endif %}>{{ rev }}</a>
    {% endfor %}
  </span>
</div>

<div class="ietf-box metabox">
  <div>
    {% if snapshot %}Snapshot of{% endif %}
    {% if doc.get_state_slug not in approved_states %}Proposed{% endif %}
    IESG Conflict Review for the {{conflictdoc.stream}} document: <a href="{% url doc_view name=conflictdoc.canonical_name %}">{{ conflictdoc.canonical_name }}-{{ conflictdoc.rev }}</a>
  </div>

  <table id="metatable" width="100%">
    <tr>
      <td><a href="/doc/help/state/conflict-review/">Conflict Review State</a>:</td>
      <td>
        <div>
        <a title="{{ doc.get_state.desc }}"{% if not snapshot and user|has_role:"Area Director,Secretariat" %} class="editlink" href="{% url conflict_review_change_state name=doc.name %}"{% endif %}>{{ doc.get_state.name }}</a>

        {% if not snapshot and user|has_role:"Area Director,Secretariat" %}

          {% if request.user|has_role:"Secretariat" %}{% if doc.get_state_slug = 'appr-reqnopub-pend' or doc.get_state_slug = 'appr-noprob-pend' %}
          - <a href="{% url conflict_review_approve name=doc.name %}">Approve conflict review</a>
          {% endif %}{% endif %}

        {% endif %}
        </div>

        {% if not snapshot %}
        <div class="telechat">
          <a {% if not snapshot and user|has_role:"Area Director,Secretariat" and doc.get_state_slug not in approved_states %}
                class="editlink" href="{% url conflict_review_telechat_date name=doc.name %}"
             {%endif%} >
          {% if not telechat %}Not on agenda of an IESG telechat{% else %}On agenda of {{ telechat.telechat_date|date:"Y-m-d" }} IESG telechat{% if doc.returning_item %} (returning item){% endif %}{% endif %}
          </a>
        </div>

        {% if ballot_summary %}
        <div class="ballot-summary">
          ({{ ballot_summary }})
        </div>
        {% endif %}

        {% endif %}
      </td>
    </tr>

    <tr>
       <td>Shepherding AD:</td>
       <td>
           <a {% if not snapshot and user|has_role:"Area Director,Secretariat" and doc.get_state_slug not in approved_states %}
               class="editlink" href="{% url conflict_review_ad name=doc.name %}"
              {% endif %}
           >
           {{doc.ad}}
           </a>
       </td>
    </tr>

    <tr>
       <td>Send notices to:</td>
       <td>
           <a {% if not snapshot and user|has_role:"Area Director,Secretariat" and doc.get_state_slug not in approved_states %}
               class="editlink" href="{% url conflict_review_notices name=doc.name %}"
              {% endif %}
           >
           {{doc.notify}}
           </a>
       </td>
    </tr>


    <tr><td colspan='2'><hr size='1' noshade /></td></tr>

    <tr><td>Last updated:</td><td> {{ doc.time|date:"Y-m-d" }}</td></tr>

    {% comment %}
    <tr><td colspan='2'><hr size='1' noshade /></td></tr>
    {% endcomment %}

  </table>

</div>

<h3>Conflict Review for {{ conflictdoc.canonical_name }}-{{ conflictdoc.rev }}

{% if not snapshot and user|has_role:"Area Director,Secretariat" and doc.get_state_slug != 'apprsent' %}
<a class="edit" href="{% url conflict_review_submit name=doc.name %}">Change conflict review text</a>
{% endif %}
</h3>

{% if doc.rev %}
<div class="markup_draft">
{{ content|fill:"80"|safe|linebreaksbr|keep_spacing|sanitize_html|safe }}
</div>
{% endif %}

{% endblock %}

