{% extends "base.html" %}

{% load ietf_filters %}

{% block title %}History for {{ doc.name }}-{{ doc.rev }}{% endblock %}

{% block pagehead %}
<link rel="stylesheet" type="text/css" href="/css/doc.css"></link>
{% endblock %}

{% block content %}
{{ top|safe }}

{% if diff_revisions and diff_revisions|length > 1 %}
<div class="ietf-box diffTool">
  <h2>Diffs</h2>

  <form action="http{% if request.is_secure %}s{% endif %}:{{rfcdiff_prefix}}" method="get" target="_blank">
    <table>
      <tr>
        <td>
          <label>From:</label>
          <select name="url1">
            {% for name, rev, time, url in diff_revisions %}
            <option value="{{ url }}" {% if forloop.counter == 2 %} selected="selected" {% endif %}>{{ name }}-{{ rev }} ({{ time|date:"Y-m-d" }})</option>
            {% endfor %}
          </select>
        </td>
        <td rowspan="2" valign="top">
          <label>Format:</label>
          <select name="difftype">
            <option value="--html" selected="selected">Side-by-side</option>
            <option value="--abdiff">Before-after</option>
            <option value="--chbars">Change bars</option>
            <option value="--hwdiff">Wdiff</option>
          </select>
          <input name="submit" value="Go!" type="submit" />
        </td>
      </tr>
      <tr>
        <td>
          <label>To:</label>
          <select name="url2">
            {% for name, rev, time, url in diff_revisions %}
            <option value="{{ url }}" {% if forloop.counter == 1 %} selected="selected" {% endif %}>{{ name }}-{{ rev }} ({{ time|date:"Y-m-d" }})</option>
            {% endfor %}
          </select>
        </td>
      </tr>
    </table>
  </form>
</div>
{% endif %}

<h2>Document history</h2>
{% if user|has_role:"Area Director,Secretariat,IANA,RFC Editor" %}
<div class="history-actions">
  <a href="{% url doc_add_comment name=doc.name %}">Add comment</a>
</div>
{% endif %}


<table class="ietf-table history">
  <tr><th>Date</th><th>Version</th><th>By</th><th>Text</th></tr>

  {% for e in events %}
  <tr class="{% cycle oddrow,evenrow %}" id="history-{{ e.pk }}">
    <td>{{ e.time|date:"Y-m-d" }}</td>
    <td>{{ e.rev }}</td>
    <td>{{ e.by|escape }}</td>
    <td>{{ e.desc|format_history_text }}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock content %}

{% block content_end %}
<script type="text/javascript" src="/js/history.js"></script>
{% endblock content_end %}
