{% extends "base.html" %}

{% block title %}Email Discuss and Comment text for {{ ad }} to IESG list{% endblock %}

{% block morecss %}
form.send-ballot pre {
  margin: 0;
  padding: 4px;
  border-top: 4px solid #eee;
  border-bottom: 4px solid #eee;
}
{% endblock %}

{% block content %}
<h1>Email Discuss and Comment text for {{ ad }} to IESG list</h1>

<form class="send-ballot" action="" method="POST">
  <table>
    <tr><th>From:</th> <td>{{ frm }}</td></tr>
    <tr><th>To:</th> <td>{{ to }}</td></tr>
    <tr>
      <th>Cc:<br/>
      <span class="help">separated<br/> by comma</span></th>
      <td><input type="text" name="cc" value="" size="75" /><br/>
      {% if doc.idinternal.state_change_notice_to %}
      <label>
        <input type="checkbox" name="cc_state_change" value="1" />
        {{ doc.idinternal.state_change_notice_to }}
      </label>
      {% endif %}
      </td>
    </tr>
    <tr><th>Subject:</th> <td>{{ subject }}</td></tr>
    <tr>
      <th>Body:</th>
      <td><pre>{{ body }}</pre></td>
    </tr>
    <tr>
      <td></td>
      <td class="actions">
        <a href="{{ back_url }}">Back</a>
        <input type="submit" value="Send"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
