{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}

{% load ietf_filters staticfiles %}

{% block pagehead %}
<link rel="stylesheet" href="{% static "jquery.tablesorter/css/theme.bootstrap.min.css" %}">
{% endblock %}

{% block title %}Liaison statements to the IETF - guidelines for completing the "To:" and "Cc:" fields{% endblock %}

{% block content %}
  {% origin %}

  <h1>Liaison statements to the IETF<br><small>Guidelines for completing the "To:" and "Cc:" fields</small></h1>

  <p>The following table provides guidelines for completing the "To:" and "Cc:" fields of liaison statements that are sent to the IETF by other Standards Development Organizations (SDOs).</p>
  <p>
    For definitive information on generating liaison statements, please
    see <a href="{{ "4053"|rfcurl }}">RFC 4053 (BCP 103) "Procedures for Handling Liaison Statements to and from the IETF."</a></p>

  <table class="table table-condensed table-striped tablesorter">
    <thead>
      <tr>
        <th>To: organization</th>
        <th>To: POC(s)</th>
        <th>Cc: <sup><small>(1, 2)</small></sup></th>
      </tr>
    </thead>

    <tr>
      <td>The IAB </td>
      <td>The IAB Chair &lt;iab-chair@iab.org&gt;</td>
      <td><a href="https://www.ietf.org/liaison/managers.html">The IETF Liaison Manager for the SDO</a><br>
        The IAB &lt;iab@iab.org&gt;</td></tr>
    <tr>
      <td>The IESG </td>
      <td>The IETF Chair &lt;chair@ietf.org&gt;</td>
      <td><a href="https://www.ietf.org/liaison/managers.html">The IETF Liaison Manager for the SDO</a><br>
        The IESG &lt;iesg@ietf.org&gt;</td></tr>
    <tr>
      <td>The IETF </td>
      <td>The IETF Chair &lt;chair@ietf.org&gt;</td>
      <td><a href="https://www.ietf.org/liaison/managers.html">The IETF Liaison Manager for the SDO</a><br>
        The IESG &lt;iesg@ietf.org&gt;</td></tr>
    <tr>
      <td>An IETF Area </td>
      <td><a href="/wg/">The IETF Area Director(s)</a></td>
      <td><a href="https://www.ietf.org/liaison/managers.html">The IETF Liaison Manager for the SDO</a><br>
        The IETF Chair &lt;chair@ietf.org&gt;<br>
        The IETF Area Directorate Mailing List(where applicable) <sup><small>(3)</small></sup></td></tr>
    <tr>
      <td>An IETF Working Group </td>
      <td><a href="/wg/">The Working Group Chair(s)</a></td>
      <td><a href="https://www.ietf.org/liaison/managers.html">The IETF Liaison Manager for the SDO</a><br>
        <a href="/wg/">The IETF Area Director(s)</a><br>
        <a href="/wg/">The IETF Working Group Discussion List</a></td></tr>
  </table>

  <p>
    <sup><small>(1)</small></sup> The <a href="mailto:statements@ietf.org">IETF Secretariat &lt;statements@ietf.org&gt;</a>, is automatically blind-copied on every liaison statement sent to the IETF.
  </p>
  <p>
    <sup><small>(2)</small></sup> Any addresses included in the "response contact" and
    "technical contact" fields of a liaison statement will also receive copies of the liaison statement.
  </p>
  <p>
    <sup><small>(3)</small></sup> A list of area directorate mailing lists is not currently available.
  </p>
{% endblock %}

{% block js %}
<script src="{% static "jquery.tablesorter/js/jquery.tablesorter.combined.min.js" %}"></script>
{% endblock %}