{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin staticfiles %}

{% block pagehead %}
<link rel="stylesheet" href="{% static "jquery.tablesorter/css/theme.bootstrap.min.css" %}">
{% endblock %}

{% block title %}Active review directorates{% endblock %}


{% block content %}
  {% origin %}
  <h1>Active Review Directorates</h1>
  <table class="table table-condensed table-striped tablesorter">
    <thead>
      <tr>
        <th>Team</th>
        <th>Name</th>
        <th>Area</th>
        <th>AD</th>
        <th>Secretaries</th>
        <th>Chairs</th>
      </tr>
    </thead>
    <tbody>
    {% for group in dirs %}
        <tr>
          <td><a href="{% url "ietf.group.views.group_home" acronym=group.acronym %}">{{ group.acronym }}</a></td>
          <td>{{ group.name }}</td>
          <td><a href="{% url "ietf.group.views.group_home" acronym=group.parent.acronym %}">{{ group.parent.acronym }}</a></td>
          <td>
            {% for ad in group.ads %}
              <a href="{% url 'ietf.person.views.profile' email_or_name=ad.person.name %}">{{ ad.person.plain_name }}
	      </a><a href="mailto:{{ ad.email.address }}"><span class="fa fa-envelope-o tiny"></span></a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for secretary in group.secretaries %}
              <a href="{% url 'ietf.person.views.profile' email_or_name=secretary.person.name %}">{{ secretary.person.plain_name }}</a>
	      <a href="mailto:{{ secretary.email.address }}"><span class="fa fa-envelope-o tiny"></span></a> {% if not forloop.last %}, {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for chair in group.chairs %}
              <a href="{% url 'ietf.person.views.profile' email_or_name=chair.person.name %}">{{ chair.person.plain_name }}</a>
	      <a href="mailto:{{ chair.email.address }}"><span class="fa fa-envelope-o tiny"></span></a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block js %}
<script src="{% static "jquery.tablesorter/js/jquery.tablesorter.combined.min.js" %}"></script>
{% endblock %}
