{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}

{% load ietf_filters staticfiles %}

{% block pagehead %}
<link rel="stylesheet" href="{% static "jquery.tablesorter/css/theme.bootstrap.min.css" %}">
{% endblock %}

{% block title %}{{ group.name }} ({{ group.acronym }}) - {% block group_subtitle %}{% endblock %}{% endblock %}

{% block content %}
  {% origin %}

  <h1>{{ group.name}} ({{ group.acronym }})
    {% if group.state_id == "dormant" or group.state_id == "conclude" %}
      <span class="label label-warning">Concluded {{ group.type.name }}</span>
    {% endif %}
    {% if group.state_id == "proposed" %}
      <span class="label label-info">Proposed {{ group.type.name }}</span>
    {% endif %}
  </h1>

  <ul class="nav nav-tabs" role="tablist">
    {% for name, url in menu_entries %}
      <li {% if selected_menu_entry == name.lower %}class="active"{% endif %}>
        <a href="{{ url }}">{{ name }}</a>
      </li>
    {% endfor %}
  </ul>

  <div class="buttonlist">
    {% block buttonlist %}
      {% if menu_actions %}
	{% for name, url in menu_actions %}
	  <a class="btn {% if name == "Request closing group" %}btn-warning{% else %}btn-default{% endif %}" href="{{ url }}">{{ name }}</a>
	{% endfor %}
      {% endif %}
    {% endblock buttonlist %}
  </div>

  {% block group_content %}
  {% endblock group_content %}

{% endblock content %}

{% block js %}
<script src="{% static "jquery.tablesorter/js/jquery.tablesorter.combined.min.js" %}"></script>
{% endblock %}
