{# Copyright The IETF Trust 2015, All Rights Reserved #}{% load origin %}{% origin %}
{# assumes group and milestones is in context #}
{% regroup milestones by resolved as milestonegroups %}

{% for milestoneset in milestonegroups %}
  <h2>
    {% if milestoneset.grouper %}
      {{milestoneset.grouper}} milestones
    {% else %}
      {% if group.state_id == "proposed" %}Proposed milestones{% else %}Milestones{% endif %}
    {% endif %}
  </h2>
  <table class="table table-condensed table-striped{% if group.uses_milestone_dates %} tablesorter{% endif %}">
    <thead>
      <tr>
        <th>{% if group.uses_milestone_dates %}Date{% else %}Order{% endif %}</th>
        <th>Milestone</th>
      </tr>
    </thead>
    <tbody>
      {% for milestone in milestoneset.list reversed %}
        <tr>
          <td class="text-nowrap">
  	  {% if milestone.resolved %}
  	    <span class="label label-success">{{ milestone.resolved }}</span>
  	  {% else %}
        {% if group.uses_milestone_dates %}
           <!-- The first hidden digit is to help tablesorter see this as a date -->
           <span style="display:none">1</span> {{ milestone.due|date:"M Y" }} 
        {% else %}
          {% if forloop.first %}Last{% endif %}
          {% if forloop.last %}Next{% endif %}
        {% endif %}
  	  {% endif %}
          </td>
          <td>
  	  {{ milestone.desc }}
  	  {% for d in milestone.docs.all %}
  	    <br><a href="{% url "ietf.doc.views_doc.document_main" name=d.name %}">{{ d.name }}</a>
  	  {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endfor %}
