{% extends "base.html" %}

{% block title %}Approve {{ charter.canonical_name }}{% endblock %}

{% block morecss %}
form.approve pre {
  margin: 0;
  padding: 4px;
  border-top: 4px solid #eee;
  border-bottom: 4px solid #eee;
}
form.approve .announcement {
  overflow-x: auto;
  overflow-y: scroll;
  width: 800px;
  height: 400px;
  border: 1px solid #bbb;
}
{% endblock %}

{% block content %}
<h1>Approve {{ charter.canonical_name }}-{{ charter.rev }}</h1>

<div>IETF announcement:</div>

<form class="approve" action="" method="POST">

  <div class="announcement">
    <pre>{{ announcement }}</pre>
  </div>

  <div class="actions">
    <a href="{% url doc_view name=charter.name %}">Back</a>
    <a href="{% url charter_edit_announcement name=charter.canonical_name,ann="action" %}?next=approve">Go to edit/regenerate announcement page</a>
    <input type="submit" value="Send out the announcement, close ballot and update revision"/>
  </div>
</form>
{% endblock %}
