{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block morecss %}
form.change-state select {
  width: 22em;
}

#id_message, #id_comment {
  width: 40em;
}

form.change-state .actions {
  text-align: right;
  padding-top: 10px;
}
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

{% if not option %}
<p class="helptext">For help on the states, see the <a href="{% url help_charter_states %}">state table</a>.</p>
{% endif %}

<form class="change-state" action="" method="post">
  <table>
    {% for field in form.visible_fields %}
    <tr>
      {% if field.name == "initial_time" %}
      {% if option == "recharter" %}
      <th>{{ field.label_tag }}:</th>
      <td>{{ field }}
      {% if field.help_text %}<div class="help">{{ field.help_text }}</div>{% endif %}
      {% else %}
      {% if option == "initcharter" %}
      <th>{{ field.label_tag }}:</th>
      <td>{{ field }}
      {% if field.help_text %}<div class="help">{{ field.help_text }}</div>{% endif %}
      {% endif %}
      {% endif %}

      {% else %}
      <th>{{ field.label_tag }}:</th>
      <td>{{ field }}
      {% if field.help_text %}<div class="help">{{ field.help_text }}</div>{% endif %}
      {% endif %}

      {{ field.errors }}
      </td>
    </tr>
    {% if field.name == "charter_state" and chartering_type == "rechartering" %}
    <tr class="ballot-wo-extern" style="display:none">
      <td></td>
      <td><label><input name="ballot_wo_extern" type="checkbox" /> Ask whether external review can be skipped in ballot</label></td>
    </tr>
    {% endif %}
    {% endfor %}
    {% if initial_review %}
    <tr><td></td><td class="warning">Warning: Announced initial review time hasn't elapsed yet. It does so at {{ initial_review.expires }}.</td></tr>
    {% endif %}
    <tr>
      <td colspan="2" class="actions">
        {% if option == "initcharter" or option == "recharter" %}
        <input type="submit" value="Initiate chartering"/>
        {% endif %}
        {% if not option or option == "abandon" %}
        <a href="{% url doc_view name=doc.name %}">Back</a>
        <input type="submit" value="Save and (possibly) notify Secretariat"/>
        {% endif %}
      </td>
    </tr>
  </table>
</form>

{% if prev_state %}
<h3>Or revert to previous state</h3>

<div class="prev-state">
  <form action="" method="post">
    <input type="hidden" name="charter_state" value="{{ prev_charter_state.pk }}" />
    <input type="hidden" name="state" value="{{ prev_state.slug }}" />
    <input type="submit" value="Back to {{ prev_charter_state.name }}" />
  </form>
</div>
{% endif %}
{% endblock %}

{% block content_end %}
<script type="text/javascript">
  var info_msg = {{ info_msg|safe }},
      statesForBallotWoExtern = {{ states_for_ballot_wo_extern }};
</script>
<script type="text/javascript" src="/js/charter-change-state.js"></script>
{% endblock %}
