{% extends "base.html" %}

{% block title %}Change position for {{ ad.plain_name }} on {{ wg.acronym }}{% endblock %}

{% block morecss %}
form.position-form .position ul {
  padding: 0;
  margin: 0;
}
form.position-form .position li {
  list-style-type: none;
  float: left;
  padding-right: 10px;
}
form.position-form .last-edited {
  font-style: italic;
}
form.position-form .block_comment {
  padding-top: 20px
}
form.position-form #id_block_comment,
form.position-form #id_comment {
  width: 700px;
  height: 250px;
}
form.position-form .comment {
  margin-top: 20px;
}
{% endblock %}

{% block content %}
<h1>Change position for {{ ad.plain_name }} on {{ wg.acronym }}</h1>

<form class="position-form" action="" method="POST">
  <div>
  <span class="position">{{ form.position }}</span>
  <span class="actions">
    <input type="submit" name="send_mail" value="Save and send email"/>
    <input type="submit" value="Save"/>
  </span>
  </div>

  <div style="clear:left"></div>
  
  <div class="block_comment-widgets" {% ifnotequal form.position.initial "block" %}style="display:none"{% endifnotequal %}>
  <div class="block_comment">
    {{ form.block_comment.label_tag }}:
    {% if old_pos and old_pos.block_comment_time %}<span class="last-edited">(last edited {{ old_pos.block_comment_time }})</span>{% endif %}
  </div>
  {{ form.block_comment.errors }}
  {{ form.block_comment }}
  </div>
  
  <div class="comment">
    {{ form.comment.label_tag }}:
    {% if old_pos and old_pos.comment_time %}<span class="last-edited">(last edited {{ old_pos.comment_time }}){% endif %}</span>
  </div>
  {{ form.comment }}

  <div class="actions">
    <a href="{{ return_to_url }}">Back</a>
  </div>
  
  {{ form.return_to_url }}

</form>
{% endblock %}

{% block content_end %}
<script type="text/javascript" src="/js/wg-edit-position.js"></script>
{% endblock %}
