{% extends "base.html" %}

{% block title %}
Set Telechat Date for {{ doc.name }}
{% endblock %}

{% block morecss %}
form.telechat-date td.actions {
  padding-top: 1em;
}
.warning {
  font-size: 200%;
  color: red;
  padding-left: 2px;
  padding-bottom: 1em;
}
{% endblock %}

{% block content %}
{% load ietf_filters %}
<h1>Set Telechat Date for {{ doc.name }}</h1>

{% if not doc.get_state_slug in okstates %}
<div class="warning">
This charter is currently in the {{ doc.get_state.name }} state.
<br/>
Are you sure you want to put it on a telechat agenda?
</div>
{% endif %}
<form class="telechat-date" action="" method="POST">
  <table>
    {{ form.as_table }}
    <tr>
      <td></td>
      <td class="actions">
        <a href="{% url doc_view name=doc.name %}">Back</a>
        <input type="submit" value="Save"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
