{% extends "base.html" %}

{% block morecss %}
form #id_content {
  width: 40em;
  height: 600px;
}
{% endblock %}

{% block title %}
Charter submission for {{ wg.acronym }}
{% endblock %}

{% block content %}
<h1>Charter submission for {{ wg.acronym }}</h1>

<p>The text will be submitted as <strong>charter-ietf-{{ wg.acronym }}-{{ next_rev }}</strong></p>
<form class="edit-info" action="" enctype="multipart/form-data" method="POST">
  <table>
    {% for field in form.visible_fields %}
    <tr>
      <th>{{ field.label_tag }}:</th>
      <td>
        {{ field }}
	{% if field.help_text %}<div class="help">{{ field.help_text }}</div>{% endif %}
        {{ field.errors }}
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td></td>
      <td class="actions">
        <a href="{% url doc_view name=wg.charter.name %}">Back</a>
        <input type="submit" value="Submit"/>
      </td>
    </tr>
  </table>
</form>

{% endblock %}
