{% extends "base.html" %}

{% comment %}
Copyright The IETF Trust 2011, All Rights Reserved
{% endcomment %}

{% load ietf_filters %}
{% block morecss %}
.metabox { width: 99%; margin-top:8px; padding:4px; margin-bottom:1em; }
#metatable { border: 0; border-spacing: 0; }
#metatable tr { vertical-align:top ;}
.comment_toggle { text-decoration: underline; color: blue; }
.comment_date { white-space: nowrap; }

div.diffTool { padding: 8px 4px; margin: 8px 0;}
.diffTool label { float:left; width:50px; }

.markup_draft pre {line-height: 1.2em; margin: 0; }
.m_hdr, .m_ftr { color: #808080; }
.m_ftr { border-bottom: 1px solid #a0a0a0; }
.m_h { font-family: arial; font-weight:bold;}
.ietf-concluded-bg {background-color: #F8F8D0; }
.ietf-concluded-warning { background:red;color:white;padding:2px 2px;}
.ietf-proposed-bg { }
.ietf-proposed-warning { background:green;color:white;padding:2px 2px;}
{% endblock %}

{% block pagehead %}
<link rel="alternate" type="application/atom+xml" href="/feed/wgcomments/{{ wg.acronym }}/" />
<meta name="description" content="{% include "wgcharter/wg_description.html" %}" />
{% endblock %}

{% block title %}{% include "wgcharter/wg_title.html" %}{% endblock title %}

{% block content %}
<h1>{% include "wgcharter/wg_title.html" %}
{% ifequal wg.state_id "conclude" %}<br/><span class="ietf-concluded-warning">(concluded WG)</span>{% endifequal %}
{% ifequal wg.state_id "proposed" %}<br/><span class="ietf-proposed-warning">(proposed WG)</span>{% endifequal %}
</h1>

<div id="mytabs" class="yui-navset">
<ul class="yui-nav">
  <li{% ifequal tab "charter" %} class="selected"{% endifequal %}><a href="/wgcharter/{{ wg.acronym }}"><em>Charter {% if snapshot %}(snapshot){% endif %}</em></a></li>
  <li{% if wg.charter %}{% ifequal wg.charter.get_state_slug "iesgrev" %}{% ifequal tab "ballot" %} class="selected"{% endifequal %}{%else%} class="disabled"{%endifequal%}{% else %} class="disabled"{% endif %}{% if snapshot %} class="disabled"{% endif %}><a href="/wgcharter/{{ wg.acronym }}/ballot/"><em>IESG Review</em></a></li>
  <li{% if wg.charter %}{% ifequal tab "writeup" %} class="selected"{% endifequal %}{% ifequal wg.charter.get_state_slug "notrev" %} class="disabled"{%endifequal%}{% else %} class="disabled"{% endif %}{% if snapshot %} class="disabled"{% endif %}><a href="/wgcharter/{{ wg.acronym }}/writeup/"><em>IESG Writeups</em></a></li>
  <li{% ifequal tab "history" %} class="selected"{% endifequal %}{% if snapshot %} class="disabled"{% endif %}><a href="/wgcharter/{{ wg.acronym }}/history/"><em>History</em></a></li>
</ul>
<div class="yui-content">

{% block tab_content %}{% endblock %}

</div> <!-- yui-content -->
</div> <!-- mytabs -->

{% endblock content %}

{% block scripts %}
function toggleComment(n) {
    var el = document.getElementById("commentF"+n);
    var el2 = document.getElementById("commentS"+n);
    var el3 = document.getElementById("commentT"+n);
    if (el.style.display == 'none') {
        el.style.display = 'block';
        el2.style.display = 'none';
        el3.innerHTML = ""; //[hide]";
    } else {
        el.style.display = 'none';
        el2.style.display= 'block';
        el3.innerHTML = "[show all]";
    }
}
{% endblock scripts %}
