{% extends "wgcharter/wg_main.html" %}

{% comment %}
Copyright The IETF Trust 2011, All Rights Reserved
{% endcomment %}

{% load ietf_filters %}

{% block tab_content %}
{% block wg_revision %}{% endblock %}
<div class="ietf-box metabox">
<table id="metatable" width="100%">
{% block wg_metatable %}{% endblock %}
</table>

<div style="padding-top:6px;padding-bottom:6px;padding-left:2px;">
{% block wg_metalinks %}{% endblock %}
</div>

{% block wg_metabuttons %}
{% if user|in_group:"Area_Director,Secretariat" %}
{% if not snapshot %}
<div style="padding-bottom:2px;">
{% if wg.charter.get_state_slug  != "notrev" and wg.charter.get_state_slug != "approved" %}
<span id="wg_edit_state_button" class="yui-button yui-link-button" style="margin-left:2px;"><span class="first-child"><a href="{% url wg_startstop_process name=wg.acronym option='abandon' %}">Abandon effort</a></span></span>
<span id="wg_edit_state_button" class="yui-button yui-link-button" style="margin-left:2px;"><span class="first-child"><a href="{% url wg_change_state name=wg.acronym %}">Change state</a></span></span>
{% ifnotequal wg.state_id "conclude" %}
<span id="wg_edit_info_button" class="yui-button yui-link-button" style="margin-left:2px;"><span class="first-child"><a href="{% url wg_submit name=wg.acronym %}">Edit charter</a></span></span>
{% endifnotequal %}
{% else %}
<span id="wg_edit_state_button" class="yui-button yui-link-button" style="margin-left:2px;"><span class="first-child"><a href="{% url wg_startstop_process name=wg.acronym option='recharter' %}">Recharter</a></span></span>
{% endif %}

</div>
{% endif %}{# if not snapshot #}
{% endif %}{# if user in group #}
{% endblock wg_metabuttons%}
</div> <!-- metabox -->

<div id="charterText">
{% block charter_text %}{% endblock %}
</div> <!-- charterText -->
{% endblock tab_content %}

{% block content_end %}
{% endblock content_end %}
