{% extends "nomcom/nomcom_private_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}

{% load bootstrap3 %}

{% block subtitle %} - Edit members{% endblock %}

{% block nomcom_content %}
  {% origin %}
  <h2>
     Edit members
  </h2>

  <div class="help-block">

     Fill in this form with the email addresses of nomcom members to register
     them with the datatracker as nomcom members.

  </div>
  <div class="help-block">

     The email addresses should be the primary email addresses of the members'
     datatracker accounts, and they should be entered as a comma-separated
     list, with optional white-space.

  </div>

  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="hidden" name="{{ stage_field }}" value="1">

    {% buttons %}
      <input class="btn btn-primary" type="submit" value="Preview">
    {% endbuttons %}
  </form>

{% endblock %}
