{% extends "nomcom/nomcom_private_base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load staticfiles %}

{% load bootstrap3 %}

{% block pagehead %}
  <link rel="stylesheet" href="{% static 'select2/select2.css' %}">
  <link rel="stylesheet" href="{% static 'select2-bootstrap-css/select2-bootstrap.min.css' %}">
{% endblock %}

{% block subtitle %} - Request Merge of Person Records {% endblock %}

{% block nomcom_content %}
  {% origin %}
  <h2>Request Merge of Person Records</h2>

  <p>
    The nomination system encourages the community to nominate people by selecting
    their email address from the set of addresses the tracker already knows. In order
    to allow a person who does not yet have a datatracker account to be nominated, the
    system also provides a way for the community to nominate people with a new, 
    previously unknown email address. When this option is chosen, a new Person record
    is created and associated with the new address.
  </p>
  <p>
    Occasionally, this new address should have been associated with an existing person
    instead. This will happen particularly if the community member uses a slightly incorrect
    address (such as a typo), or knows the person they want to nominate by a very old or very
    new address that is not yet in the tracker. When this happens, you can use this form to
    ask the secretariat to merge the two Person records. The secretariat has a process
    for verifying that the addresses both belong to the same person, and a tool that
    can correct the relevant data.
  </p>
  <p>
    On the other hand, if you have multiple Nominee records which refer to the same Person
    record, rather than to different Person records for the same individual, you should
    use the
    <a href="{% url 'ietf.nomcom.views.private_merge_nominee' year=year %}">Merge Nominee Records</a>
    form, not this form.
  </p>

  {% if form %}
    <form id="mergeform" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% buttons %}
        <input class="btn btn-primary" type="submit" value="Save" name="save">
      {% endbuttons %}
    </form>
  {% endif %}

{% endblock %}

{% block js %}
  <script src="{% static 'select2/select2.min.js' %}"></script>
  <script src="{% static 'ietf/js/select2-field.js' %}"></script>
{% endblock %}
