{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "base.html" %}

{% block title %}Internet Draft Database Index{% endblock %}

{% block content %}
{% block heading %}
<center><font size=+2>Internet-Drafts Database Interface</font></center>
<br>
<a href="ftp://ftp.ietf.org/internet-drafts/all_id.txt">TAB Delimited Format</a><br><br>

<img src="/images/blue.gif" hspace="3" border="0"> All I-Ds &nbsp; <a href="{% url ietf.idindex.views.showdocs "all" %}?sort=date">(sorted by submission date)</a> &nbsp; <a href="{% url ietf.idindex.views.showdocs "all" %}?sort=name">(sorted by filename)</a><br>

<img src="/images/blue.gif" hspace="3" border="0"> Active I-Ds &nbsp; <a href="{% url ietf.idindex.views.showdocs "current" %}?sort=date">(sorted by submission date)</a> &nbsp; <a href="{% url ietf.idindex.views.showdocs "current" %}?sort=name">(sorted by filename)</a><br>

<img src="/images/blue.gif" hspace="3" border="0"> I-Ds Published as RFCs &nbsp; <a href="{% url ietf.idindex.views.showdocs "rfc" %}?sort=date">(sorted by submission date)</a> &nbsp; <a href="{% url ietf.idindex.views.showdocs "rfc" %}?sort=name">(sorted by filename)</a><br>

<img src="/images/blue.gif" hspace="3" border="0"> Expired/Withdrawn/Replaced I-Ds &nbsp; <a href="{% url ietf.idindex.views.showdocs "dead" %}?sort=date">(sorted by submission date)</a> &nbsp; <a href="{% url ietf.idindex.views.showdocs "dead" %}?sort=name">(sorted by filename)</a><br><br>

<img src="/images/blue.gif" hspace="3" border="0"> IETF Working Group Drafts 
{% for letter in alphabet %}
<a href="{% url ietf.idindex.views.wgdocs letter %}">{{ letter.upper }}</a>
{% endfor %}
<a href="{% url ietf.idindex.views.wgdocs "other" %}">other</a><br>
<img src="/images/blue.gif" hspace="3" border="0"> Individual Drafts by Author Identifier
{% for letter in alphabet %}
<a href="{% url ietf.idindex.views.inddocs letter %}">{{ letter.upper }}</a>
{% endfor %}
<a href="{% url ietf.idindex.views.inddocs "other" %}">other</a><br>

<img src="/images/blue.gif" hspace="3" border="0"> Other Drafts
{% for org in orgs %}
<a href="{% url ietf.idindex.views.otherdocs org.key %}">{{ org.name.upper }}</a>
{% endfor %}
<br><br>

<img src="/images/blue.gif" hspace="3" border="0"> <a href="{% url ietf.idindex.views.search %}">I-D Search</a>
{% endblock %}

{% block iddbcontent %}
Please select one of the above items.
{% endblock %}
{% endblock %}
