{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "idindex/base.html" %}{% load ietf_filters %}

{% block title %}Internet Draft Database Index - {{ object.filename }}{% endblock %}

{% block iddbcontent %}
<hr>
<h2>{{ object.filename }}-{{ object.revision_display }}</h2>
<blockquote>
{% ifequal object.status.status "Active" %}
<li> <b><a href="http://www.ietf.org/internet-drafts/{{ object.filename }}-{{ object.revision }}.txt">View Document</a></b></li>
{% endifequal %}
<li> <b><a href="related/">View Related Documents</a></b> (e.g., documents that replaced or were replaced by the subject I-D, and their derivatives and precursors.)</li>
{% ifequal object.group.acronym "none" %}
{% else %}
<li> <b>IETF Working Group: <a href="http://www.ietf.org/dyn/wg/charter/{{ object.group.acronym }}-charter.html">{{ object.group.name }}</a></li>
{% endifequal %}
<li> <b>I-D Title:</b> {{ object.title }}</li>
<li> <b>I-D Status:</b> {{ object.status }}
{% ifequal object.status.status "Replaced" %}
(by <a href="/drafts/{{object.replaced_by.filename}}/">{{ object.replaced_by.filename }}</a>)
{% endifequal %}
{% if object.replaces %}
(replaced <a href="/drafts/{{object.replaces.filename}}/">{{ object.replaces.filename }}</a>)
{% endif %}
</li>
<li> <b>I-D Intended Status at Publication:</b> {{ object.intended_status }}</li>
<li> <b>RFC Number:</b> {% if object.rfc_number %}<a href="{{ object.rfc_number|rfcurl }}">{{ object.rfc_number }}</a>{% endif %}</li>
<li> <b><a href="{% url ietf.idtracker.views.search %}">I-D Tracker</a> State:</b>
{% if object.idtracker %}
<a href="/idtracker/{{ object.filename }}/">{{ object.idstate }}</a>
{% else %}
{{ object.idstate }}
{% endif %}
</li>
<li> <b>Abstract: </b><br>   {{ object.abstract|escape }}
</li>
<li> <b>Author(s):</b><br>The e-mail addresses provided for the authors of this Internet-Draft may no longer be valid.  If you are an author of this Internet-Draft, and if your e-mail address is not correct, then please send your current e-mail address to <a href="mailto:ietf-action@ietf.org">ietf-action@ietf.org</a>.
<blockquote>
{% for author in object.authors.all %}
{% if author.email %}
<a href="mailto:{{ author.email }}">{{ author.person }}</a>
{% else %}
{% if author.person %}
{{ author.person }}
{% else %}
Missing author info #{{ author.person_id }}
{% endif %}
{% endif %}
<br>
{% endfor %}
</blockquote></li>
</blockquote>

{% endblock %}
