{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "idindex/base.html" %}

{% block title %}Internet Draft Database Index - documents related to {{ startdoc.filename }}{% endblock %}

{% block iddbcontent %}
<hr>
<table>
<tr><td colspan="3"><h3>Total number of related documents found: {{ numdocs }}</h3></td></tr>
{% for doc in related %}
<tr bgcolor="#{% cycle efefff,dfdfff %}"><td colspan="3">{{ doc.0.filename }}, "{{ doc.0.title|escape }}{% if doc.1 %},{% endif %}"
{% if doc.1 %}
{{ doc.1 }} {{ doc.2.filename }}, "{{ doc.2.title|escape }}"
{% endif %}
</td></tr>
{% endfor %}
</table>
{% endblock %}
