{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load django_bootstrap5 %}
{% load static %}
{% block title %}Change username{% endblock %}
{% block content %}
    {% origin %}
    <h1>Change username</h1>
    <div class="alert alert-info my-3">
        This form lets you change your username (login) from {{ user.username }} to
        one of your other active email addresses.  If you want to change to a new
        email address, then please first
        <a href="{% url 'ietf.ietfauth.views.profile' %}">edit your profile</a>
        to add that email address to the active email addresses for your account.
    </div>
    <form method="post" class="my-3">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Change username</button>
    </form>
{% endblock %}