{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}

{% load bootstrap3 %}

{% block title %}Change password{% endblock %}

{% block content %}
  {% origin %}

  {% if success %}
    <h1>Password change successful</h1>

    <p>Your password has been updated.</p>
    <a type="a" class="btn btn-primary" href="/accounts/login/" rel="nofollow">Sign in</a>

  {% else %}
    <h1>Change password</h1>

    <p>You can change the password below for your user {{ username }} below.</p>
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% buttons %}
        <button type="submit" class="btn btn-primary">Change password</button>
      {% endbuttons %}
    </form>

  {% endif %}
{% endblock %}
