{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}Change password{% endblock %}

{% block js %}
      {{ block.super }}
      <script type="text/javascript" src="{% static 'zxcvbn/zxcvbn.js' %}"></script>
      <script type="text/javascript" src="{% static 'ietf/js/password_strength.js' %}"></script>
{% endblock %}

{% block content %}
  {% origin %}

  {% if success %}
    <h1>Your password was successfully changed.</h1>
    {% if not user.is_authenticated %}
      <a type="a" class="btn btn-primary" href="/accounts/login/" rel="nofollow">Sign in</a>
    {% endif %}
  {% else %}
    <div class="row">
      <div class="col-md-2 col-sm-0"></div>
      <div class="col-md-8 col-sm-12">
        <h1>Change password</h1>

        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}

          {% buttons %}
            <button type="submit" class="btn btn-primary">Change password</button>
          {% endbuttons %}
        </form>

	<div class="help-block">
	   This password form uses the
	   <a href="https://blogs.dropbox.com/tech/2012/04/zxcvbn-realistic-password-strength-estimation/">zxcvbn</a>
	   password strength estimator to give an indication of password strength.
	   The crack times given assume online attack without rate limiting,
	   at a rate of 10 attempts per second.
	</div>
	  
	<div class="help-block">
	   The datatracker currently uses a <b>{{ hasher.algorithm }}</b>-based
	   password hasher with
	   <b>{% if hasher.iterations %}{{ hasher.iterations }} iterations{% else %}{{ hasher.rounds }} rounds{% endif %}</b>.
	   Calculating offline attack time if password hashes would leak is left
	   as an excercise for the reader.
	</div>

      </div>
      <div class="col-md-2 col-sm-0"></div>
    </div>

  {% endif %}
{% endblock %}
