{% extends "registration/base.html" %}

{% block title %}Confirm Profile Update{% endblock %}

{% block content %}
<div id="confirm_profile_update">
<h1>Confirm Confirm Profile Update</h1>
{% if success %}
<p>Your account has been successfully updated to reflect the change(s) you submitted.</p>
{% for email in new_emails %}
<p><b>A confirmation email has been sent to {{email}}. It will be added to your account after you click on the link it contains.</b></p>
{% endfor %}
<p>You may <a href="{% url ietfauth.views.profile %}">continue editing your profile</a>.</p>
{% else %}
<p>An error has occured when attempting to update your account.<p>
{% if error %}<p>{{ error }}</p>{% endif %}
{% endif %}
</div>
{% endblock %}
