{% extends "registration/base.html" %}

{% block title %}Account Creation{% endblock %}

{% block scripts %}
  {{ block.super }}

(function($) {
    var checkUsername = function() {
        var field = $(this);
        var url = $("#check_user_name_url").val();
        var error = field.next('.username-error');

        $.ajax({
            url: url,
            data: {username: field.val()},
            dataType: 'json',
            success: function(response) {
                if (response.error) {
                   error.text(response.error);
                   error.show();
                } else {
                   error.hide();
                }
            }
        });
    }

    $(document).ready(function(){
        $('#id_email').after(' <span class="username-error" style="display: none;"></span>');
        $('#id_email').keyup(checkUsername).blur(checkUsername);
    });
})(jQuery);
{% endblock %}

{% block content %}
<div id="register_page">
<h1>Account Creation</h1>
{% if success %}
<p>Your account creation request has been received successfully. <br />
   We have sent you an email with instructions on how to complete the process.</p>
<p>Best regards,
<br />
<br />
<blockquote>
	The datatracker login manager service<br />
	(for the IETF Secretariat)

</blockquote>
{% else %}
<form action="" method="POST">
  <p>
     If you already have an account, and want to use a new email address,<br/>
     please go to your <a href="{% url ietf.ietfauth.views.profile %}">account profile page</a> and
     add the new email<br/>
     address there.
  </p>

  <p style="width: 35em">
     If you already have an account, but forgot your password,<br/> <a href="{% url password_reset %}">please use the password reset form.</a>
  </p>


  <hr style="width:35em; " align="left" />

  <p>Please enter your email address in order to create a new account.</p>

  <table class="register-form">
  {{ form }}
  </table>
  <div class="submit_row">
    <input type="hidden" id="check_user_name_url" value="{% url ajax_check_username %}" />
    <input type="submit" value="Submit" />
  </div>
</form>

{% endif %}
</div>
{% endblock %}
