{% extends "base.html" %}

{% block title %}Manual Handling Required{% endblock %}

{% block content %}
<h1>Manual Handling Required</h1>

<p>We're sorry, but while the algorithms used to create accounts
automatically cover many IETF participants, they failed in your
case.  If you use a different email address for IETF participation,
please use that one to create your account.</p>

<p>Please contact <a href="mailto:ietf-action@ietf.org">ietf-action@ietf.org</a>
for assistance with your account.  Please share the steps that got you
to this page.</p>
{% endblock %}
