{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% block title %}Account management{% endblock %}
{% block content %}
    {% origin %}
    <h1>Account management</h1>
    <div class="buttonlist">
        {% if user.username %}
            <a class="btn btn-primary" href="{% url 'ietf.ietfauth.views.profile' %}">View/edit profile</a>
        {% else %}
            <a
               class="btn btn-primary"
               href="{% url 'ietf.ietfauth.views.login' %}"
               rel="nofollow">Sign in</a>
        {% endif %}
        <a class="btn btn-info" href="{% url 'ietf.ietfauth.views.create_account' %}">New account</a>
        <a class="btn btn-warning" href="{% url 'ietf.ietfauth.views.password_reset' %}">Reset password</a>
        <a class="btn btn-primary" href="{% url 'ietf.cookies.views.preferences' %}">Change browser preferences</a>
    </div>
{% endblock %}