{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "base.html" %}

{% block content %}

{% if form.has_errors %}
<p>Your username and password didn't match our records. Please try again.</p>
{% endif %}

<form method="post" action=".">
<table>
<tr><td><label for="id_username">Username (or email address):</label></td><td>{{ form.username }}</td></tr>
<tr><td><label for="id_password">Password:</label></td><td>{{ form.password }}</td></tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
