{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% extends "base.html" %}
{% load origin %}
{% block title %}Complete account creation{% endblock %}
{% block content %}
    {% origin %}
    <h1>Additional Assistance Required</h1>
    <p class="alert alert-info my-3">
        Our apologies, it looks like there was an issue creating your Datatracker account.
        Please send an email to the
        <a href="mailto:{{ settings.SECRETARIAT_SUPPORT_EMAIL }}">IETF secretariat</a>
        and we'll get you set up promptly.
    </p>
    <a class="btn btn-primary"
       href="mailto:{{ settings.SECRETARIAT_SUPPORT_EMAIL }}">Email IETF secretariat</a>
{% endblock %}