{% extends "registration/base.html" %}

{% block title %}Password recovery{% endblock %}

{% block content %}
<div id="register_page">
<h1>Password recovery</h1>
{% if success %}
<p>Your password recovery request has been received successfully. We have sent you an email with instructions on how to change your password.</p>
<p>Thank you.</p>
{% else %}
<form action="" method="POST">
  <table class="register-form">
  {{ form }}
  </table>
  <div class="submit_row">
    <input type="submit" value="Recover my password" />
  </div>
</form>
{% endif %}
</div>
{% endblock %}
