{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% extends "base.html" %}
{% load origin %}
{% load django_bootstrap5 %}
{% block title %}Password reset{% endblock %}
{% block content %}
    {% origin %}
    {% if success %}
        <h1>Password reset successful</h1>
        <p class="alert alert-success my-3">
            Your password reset request has been successfully received.
            We have sent you an email with instructions on how to set a new password.
        </p>
    {% else %}
        <h1>Password reset</h1>
        <p class="alert alert-info my-3">
            Please enter the account for which you would like to reset the password.
        </p>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="Reset password" %}
        </form>
    {% endif %}
{% endblock %}