{% extends "registration/base.html" %}

{% block title %}Password Reset Request{% endblock %}

{% block content %}
<div id="register_page">
<h1>Password Reset Request</h1>
{% if success %}
<p>Your password reset request has been successfully received. <br />
   We have sent you an email with instructions on how to set a new password.</p>
<p>Best regards,
<br />
<br />
<blockquote>
	The datatracker login manager service<br />
	(for the IETF Secretariat)
</blockquote>
</p>
{% else %}
<form action="" method="POST">
  <table class="register-form">
  {{ form }}
  </table>
  <div class="submit_row">
    <input type="submit" value="Request password reset" />
  </div>
</form>
{% endif %}
</div>
{% endblock %}
