{% extends "base_site.html" %}

{% block title %}Drafts - Replace{% endblock %}

{% block extrahead %}{{ block.super }}
  <script type="text/javascript" src="{{ SECR_STATIC_URL }}js/utils.js"></script>
{% endblock %}

{% block breadcrumbs %}{{ block.super }} 
  &raquo; <a href="../../">Drafts</a>
  &raquo; <a href="../">{{ draft.name }}</a>
  &raquo; Replace
{% endblock %}

{% block content %}

<div class="module draft-container">
    <h2>Draft - Replace</h2>
    <form enctype="multipart/form-data" action="" method="post">
      <table class="full-width">
	{{ form.as_table }}
      </table>

      {% include "includes/buttons_save_cancel.html" %}

    </form>
</div> <!-- module -->

{% endblock %}
