# Copyright The IETF Trust 2015-2020, All Rights Reserved
# -*- python; coding: utf-8 -*-

# Uncomment and set passwords below to match those set for the workers, then
# save as "buildbot_passwords.py"

# datatracker_lin_py27_1_pw   = "<password>"
# datatracker_lin_py27_2_pw   = "<password>"
# datatracker_lin_py27_3_pw   = "<password>"
# datatracker_osx_py27_4_pw   = "<password>"
# datatracker_lin_py27_5_pw   = "<password>"
# datatracker_lin_py27_6_pw   = "<password>"
# ietfdb_svn_hook_pw          = "<password>"
# 
# datatracker_lin_py36_1_pw   = "<password>"
# datatracker_lin_py36_2_pw   = "<password>"
# datatracker_lin_py36_3_pw   = "<password>"
# datatracker_lin_py36_4_pw   = "<password>"
# datatracker_lin_py36_5_pw   = "<password>"
# datatracker_lin_py36_6_pw   = "<password>"

