{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load ietf_filters static %}
{% block pagehead %}
    <link rel="stylesheet" href="{% static "ietf/css/list.css" %}">
{% endblock %}
{% block title %}Liaison statement field help{% endblock %}
{% block content %}
    {% origin %}
    <h1>Liaison statement field help</h1>
    <p>
        The table below provides descriptions of the fields included in the
        liaison statement submission form, and suggestions for completing them,
        where appropriate.  Additional materials that may be useful in
        completing this form can be found in the following documents:
    </p>
    <ul>
        <li>
            <a href="/liaison/help/to_ietf/">
                Liaison statements to the IETF: guidelines for completing the "To:" and "Cc:" fields
            </a>
        </li>
        <li>
            <a href="/liaison/help/from_ietf/">Liaison statements from the IETF: guidelines for completing the "Cc:" field</a>
        </li>
        <li>
            <a href="{% url 'ietf.group.views.active_groups' group_type='wg' %}">Active IETF working groups</a>
        </li>
        <li>
            <a href="https://www.ietf.org/liaison/managers.html">IETF liaison managers</a>
        </li>
    </ul>
    <p>
        For definitive information on generating liaison statements, please
        see
        <a href="{% url 'ietf.doc.views_doc.document_html' name='rfc4053' %}">RFC 4053 (BCP 103) "Procedures for Handling Liaison Statements to and from the IETF."</a>
    </p>
    <table class="table table-sm table-striped tablesorter">
        <thead>
            <tr>
                <th scope="col" data-sort="fieldset">Fieldset</th>
                <th scope="col" data-sort="field">Field</th>
                <th scope="col" data-sort="description">Description</th>
                <th scope="col" data-sort="comments">Comments</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">From</th>
            <th scope="row">Groups</th>
            <td>The organization(s) submitting the liaison statement.</td>
            <td>Use arrows to select or type name to search</td>
        </tr>
        <tr>
            <th scope="row">From</th>
            <th scope="row">From Contact</th>
            <td>The e-mail address of the person submitting the liaison statement.</td>
            <td>The field is filled in automatically.</td>
        </tr>
        <tr>
            <th scope="row">From</th>
            <th scope="row">Response Contacts</th>
            <td>The e-mail address(es) to which any response should be sent, separated by commas.</td>
            <td>Mandatory format: <code>Name &lt;e-mail address&gt;</code></td>
        </tr>
        <tr>
            <th scope="row">To</th>
            <th scope="row">Groups</th>
            <td>The organization(s) (and sub-group, if applicable) to which the liaison statement is being sent.</td>
            <td>Drop-down menu with available choices.  If an SDO is not listed, please contact <a href="mailto:statements@ietf.org">statements@ietf.org</a>.</td>
        </tr>
        <tr>
            <th scope="row">
                To
            </th>
            <th scope="row">
                Contacts
            </th>
            <td>
                The e-mail address(es) of the recipient(s) of the liaison statement, separated by commas.
            </td>
            <td>
                The field may be filled in automatically.
            </td>
        </tr>
        <tr>
            <th scope="row">
                Other email addresses
            </th>
            <th scope="row">
                Technical contact
            </th>
            <td>
                The e-mail address(es) of individuals or lists that may be contacted for clarification of the liaison statement, separated by commas.
            </td>
            <td>
                Optional. Suggested format: <code>Name &lt;e-mail address&gt;</code>
            </td>
        </tr>
        <tr>
            <th scope="row">
                Other email addresses
            </th>
            <th scope="row">
                Action Holder Contacts
            </th>
            <td>
                The e-mail address(es) of the persons responsible for acting on the statement.
            </td>
            <td>
                Optional. Suggested format: <code>Name &lt;e-mail address&gt;</code>
            </td>
        </tr>
        <tr>
            <th scope="row">
                Other email addresses
            </th>
            <th scope="row">
                Cc
            </th>
            <td>
                The e-mail address(es) of the copy recipient(s) of the liaison statement, one on each line.
            </td>
            <td>
                Optional. Suggested format: <code>Name &lt;e-mail address&gt;</code>
            </td>
        </tr>
        <tr>
            <th scope="row">
                Purpose
            </th>
            <th scope="row">
                Purpose
            </th>
            <td>
                The intent of the liaison statement.  One of four choices: (a) For action, (b) For comment, (c) For information, (d) In Response.
            </td>
            <td>
                The submitter selects one of the four choices.
            </td>
        </tr>
        <tr>
            <th scope="row">
                Purpose
            </th>
            <th scope="row">
                Deadline
            </th>
            <td>
                The date by which a comment or action is required.
            </td>
            <td>
                Mandatory if the purpose is "For comment" or "For action."
            </td>
        </tr>
        <tr>
            <th scope="row">
                Liaison statements
            </th>
            <th scope="row">
                Title
            </th>
            <td>
                The title of the liaison statement.
            </td>
            <td>
                Mandatory.
            </td>
        </tr>
        <tr>
            <th scope="row">
                Liaison statements
            </th>
            <th scope="row">
                Submission date
            </th>
            <td>
                The date the liaison was originally submitted.
            </td>
            <td>
                Mandatory.
            </td>
        </tr>
        <tr>
            <th scope="row">
                Liaison statements
            </th>
            <th scope="row">
                Body
            </th>
            <td>
                The text of the liaison statement.
            </td>
            <td>
                Mandatory if there are no attachments. Optional if the text of the liaison statement is provided in an attachment.
            </td>
        </tr>
        <tr>
            <th scope="row">
                Add attachment
            </th>
            <th scope="row">
                Title
            </th>
            <td>
                The title of the attachment.
            </td>
            <td>
                Optional if there is text in the body, mandatory if there is not.
            </td>
        </tr>
        <tr>
            <th scope="row">
                Add attachment
            </th>
            <th scope="row">
                File
            </th>
            <td>
                Browse to find the attachment.
            </td>
            <td>
                Optional if there is text in the body, mandatory if there is not.
            </td>
        </tr>
    </tbody>
    </table>
{% endblock %}
{% block js %}
    <script src="{% static "ietf/js/list.js" %}">
    </script>
{% endblock %}