{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "base.html" %}{% load ietf_filters %}

{% block title %}Liaison Statements to the IETF - Guidelines for Completing the "To:" and "Cc:" Fields{% endblock %}

{% block content %}

<center><font size=+2>Liaison Statements to the IETF <br>Guidelines for Completing the "To:" and "Cc:" Fields</font></center>
<br>
The following table provides guidelines for completing the "To:" and "Cc:" fields of liaison statements that are sent TO the IETF by other Standards Development Organizations (SDOs).  
For definitive information on generating liaison statements, please
see <a href="{{ "4053"|rfcurl }}">RFC 4053 (BCP 103) "Procedures for Handling Liaison Statements to and from the IETF."</a><br><br>

<table cellspacing="0" cellpadding="3" border="1" bgcolor="#ffffff">
  <tr>
    <td colspan="3"><center><b>Liaison Statements TO the IETF</b></center></td></tr>
  <tr align="center">
    <td colspan="2"><b>"To:" Field</b></td>
    <td rowspan="2"><b>"Cc:" Field</b> <sup><small>(1, 2)</small></sup></td></tr>
  <tr align="center">
    <td><b>Organization</b></td>
    <td><b>POC(s)</b></td></tr>
  <tr>
    <td><ul><li>The IAB </li></td>
    <td><ul><li>The IAB Chair &lt;iab-chair@iab.org&gt;</li></td>
    <td><ul><li><a href="/liaison/managers/">The IETF Liaison Manager for the SDO</a><br><br>
        <li>The IAB &lt;iab@iab.org&gt;</li></td></tr>
  <tr>
    <td><ul><li>The IESG </li></td>
    <td><ul><li>The IETF Chair &lt;chair@ietf.org&gt;</li></td>
    <td><ul><li><a href="/liaison/managers/">The IETF Liaison Manager for the SDO</a><br><br>
        <li>The IESG &lt;iesg@ietf.org&gt;</li></td></tr>
  <tr>
    <td><ul><li>The IETF </li></td>
    <td><ul><li>The IETF Chair &lt;chair@ietf.org&gt;</li></td>
    <td><ul><li><a href="/liaison/managers/">The IETF Liaison Manager for the SDO</a><br><br>
            <li>The IESG &lt;iesg@ietf.org&gt;</li></td></tr>
  <tr>
    <td><ul><li>An IETF Area </li></td>
    <td><ul><li><a href="/wg/">The IETF Area Director(s)</a></li></td>
    <td><ul><li><a href="/liaison/managers/">The IETF Liaison Manager for the SDO</a><br><br>
        <li>The IETF Chair &lt;chair@ietf.org&gt;<br><br>
        <li>The IETF Area Directorate Mailing List(where applicable)<sup><small>(3)</small></sup></li></td></tr>
  <tr>
    <td><ul><li>An IETF Working Group </li></td>
    <td><ul><li><a href="/wg/">The Working Group Chair(s)</a></li></td>
    <td><ul><li><a href="/liaison/managers/">The IETF Liaison Manager for the SDO</a><br><br>
        <li><a href="/wg/">The IETF Area Director(s)</a><br><br>
        <li><a href="/wg/">The IETF Working Group Discussion List</a></li></td></tr>
  <tr>
    <td colspan="3"> <sup><small>(1)</small></sup> The IETF Secretariat, <a href="mailto:statement@ietf.org">&lt;statements@ietf.org&gt;</a>, is automatically blind-copied on every liaison statement sent to the IETF.<br>
    <sup><small>(2)</small></sup> Any addresses included in the "Response Contact" and 
"Technical Contact" fields of a liaison statement will also receive copies of the liaison statement.<br>
    <sup><small>(3)</small></sup> A list of Area Directorate mailing lists is not currently available.</td></tr>

</table>

{% endblock %}
