{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "base.html" %}

{% block title %}Liaison Statement Management Tool Help{% endblock %}

{% block content %}
<center><font size=+2>Liaison Statement Management Tool<br>Help</font></center>

<ul>
<li><a href="fields/">Help on Fields</a>
<li><a href="to_ietf/">Liaison Statements to the IETF: Guidelines for Completing the "To:" and "Cc:" Fields </a>
<li><a href="from_ietf/">Liaison Statements from the IETF: Guidelines for Completing the "Cc:" Field</a>
</ul>

{% endblock %}
