{% extends "base.html" %}

{% block title %}IETF Liaison Managers{% endblock %}

{% block content %}
<center><font size=+2>IETF Liaison Managers</font></center>
<br>
The table below contains the names and e-mail addresses of the IETF Liaison Managers for all Standards Development Organizations (SDOs) with which the IETF has a formal liaison relationship.  Please include the applicable IETF Liaison Manager in the Cc list of every liaison statement sent to or by one of these SDOs.<br><br>
<table cellpadding="4" cellspacing="0" border="1">
<tr align="center">
  <td rowspan="2"><b>SDO</b></td><td colspan="2"><b>IETF Liaison Manager</b></td>
</tr>
<tr align="center">
  <td><b>Name</b></td><td>E-mail Address</td>
</tr>
{% for manager in object_list %}
<tr>
<td>{{ manager.sdo.sdo_name }}
{# this belongs in the database! #}
{% ifequal manager.sdo.sdo_name "ITU-T SG 15" %}
<br>(optical control plane)
{% endifequal %}
</td>
<td>{{ manager.person }}</td>
<td>{{ manager.email }}</td>
</tr>
{% endfor %}
</table>
<br><br><br>

{% endblock %}
