{% extends "base.html" %}
{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% load ietf_filters %}
{% block title %}Liaison Statement: {% include 'liaisons/liaison_title.html' %}{% endblock %}

{% block pagehead %}
<link rel="stylesheet" type="text/css" href="/css/liaisons.css"></link>

<meta name="description" content="Liaison Statement from {{ object.from_body }}{% if not object.by_secretariat %} to {{object.to_body}}{% endif %} ({{ object.submitted_date|date:"Y" }})" />
{% endblock %}

{% block morecss %}
.ietf-liaison-details tr { vertical-align:top; }
{% endblock morecss %}

{% block content %}
<h1>Liaison Statement: {% include 'liaisons/liaison_title.html' %}</h1>
<table class="ietf-liaison-details">
<tr>
<td style="width:18ex;">Submission Date:</td><td>{{ object.submitted_date }}</td></tr>
<tr>
<td>From:</td><td>{{ object.from_body }} (<a href="mailto:{{ object.from_email|fix_ampersands }}">{{ object.person }}</a>)</td></tr>

<tr>
<td>To:</td><td>
{% if object.by_secretariat %}
  {% if object.submitter_email %}
    <a href="mailto:{{ object.submitter_email}}">{{ object.submitter_name }}</a>
  {% else %}
    {{ object.submitter_name }}
  {% endif %}
{% else %}
{{ object.to_body }} ({{ object.to_poc|parse_email_list|safe }})</td></tr>
{% endif %}

{% if not object.by_secretariat %}

<tr>
<td>Cc:</td><td>{{ object.cc1|parse_email_list|make_one_per_line|safe|linebreaksbr }}</td></tr>
<tr>
<td>Response Contact:</td>
<td>
{{ object.response_contact|parse_email_list|make_one_per_line|safe|linebreaksbr }}
</td></tr>
<tr>
<td>Technical Contact:</td>
<td>{{ object.technical_contact|parse_email_list|make_one_per_line|safe|linebreaksbr }}</td>
</tr>
<tr>
<td>Purpose:</td><td>{% if object.purpose_text %}{{ object.purpose_text }}{% else %}{{ object.purpose }}{% endif %}</td></tr>
{% if object.deadline_date %}
<tr>
<td>Deadline:</td>
{% if can_take_care %}
<td><form method="post" action="">
{{ object.deadline_date }}
{% if object.action_taken %}<span class="actionTaken">Action Taken</span>{% else %}<span class="noActionTaken">Action Required</span>{% endif %}
<input type="submit" value="Mark as Action Taken" name='do_action_taken' />
</form></td>
{% else %}
<td>{{ object.deadline_date }}
{% if object.action_taken %}<span class="actionTaken">Action Taken</span>{% else %}<span class="noActionTaken">Action Needed</span>{% endif %}
</td>
{% endif %}
</tr>
{% endif %}

{% endif %}

{% if relations %}
<tr>
<td>Liaisons referring to this one:</td>
<td>
{% for liaison in relations %}
<a href="../{{ liaison.pk }}">{% if liaison.title %}{{ object.title }}{% else %}Liaison #{{ liaison.pk }}{% endif %}</a><br />
{% endfor %}
</td></tr>
{% endif %}

{% if object.related_to %}
<tr>
<td>Referenced liaison:</td>
<td>
<a href="../{{ object.related_to.pk }}">{% if object.related_to.title %}{{ object.related_to.title }}{% else %}Liaison #{{ object.related_to.pk }}{% endif %}</a>
</td></tr>
{% endif %}

<tr>
<td>Attachments:</td>
<td>
{% for file in object.uploads_set.all %}
<a href="https://datatracker.ietf.org/documents/LIAISON/{{ file.filename }}">{{ file.file_title }}</a>{% if not forloop.last %}<br/>{% endif %}
{% empty %}
(none)
{% endfor %}
</td></tr>

{% if not object.by_secretariat and object.body %}
<tr>
<td>Body:</td><td><pre>{{ object.body|wordwrap:"71"|escape }}</pre></td></tr>
{% endif %}
</table>

{% if can_edit %}
<form method="get" action="{% url liaison_edit object.pk %}">
<input type="submit" value="Edit" />
</form>
{% endif %}

{% endblock %}
