{% extends "base.html" %}
{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% block title %}Liaison Statements{% endblock %}

{% block pagehead %}
<link rel="stylesheet" type="text/css" href="/css/liaisons.css"></link>
<link rel="alternate" type="application/atom+xml" href="/feed/liaison/recent/" />
{% endblock %}

{% block content %}

{% block content-title %}
<h1>Liaison Statements</h1>
{% endblock %}

{% block management-links %}
{% if can_manage %}
<ul>
  {% if can_send_incoming %}<li><a href="{% url add_liaison %}?incoming">Add new incoming liaison</a></li>{% endif %}
  {% if can_send_outgoing %}<li><a href="{% url add_liaison %}">Add new outgoing liaison</a></li>{% endif %}
  {% if can_approve %}<li><a href="{% url liaison_approval_list %}">You have {{ can_approve }} pending liaison statement{{ can_approve|pluralize }} that need{{ can_approve|pluralize:"s," }} your approval</a></li>{% endif %}
</ul>
{% endif %}
{% endblock %}

{% include "liaisons/liaisondetail_simple_list.html" %}

{% endblock %}

