{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% load ietf_filters %}
{% load future %}

<table class="ietf-table" width="100%">
<tr>
  <th width="9%" class="sort{% if sort == "submitted" %} sorted{% endif %}"><a href="?sort=submitted">Date</a></th>
  <th width="15%" class="sort{% if sort == "from_name" %} sorted{% endif %}"><a href="?sort=from_name">From</a></th>
  <th width="15%" class="sort{% if sort == "to_name" %} sorted{% endif %}"><a href="?sort=to_name">To</a></th>
  <th width="9%" class="sort{% if sort == "deadline" %} sorted{% endif %}"><a href="?sort=deadline">Deadline</a></th>
  <th width="50%" class="sort{% if sort == "title" %} sorted{% endif %}"><a href="?sort=title">Title</a></th>
</tr>

{% for liaison in liaisons %}
<tr class="{% cycle 'oddrow','evenrow' %}">
  <td style="white-space:nowrap;">{{ liaison.submitted|date:"Y-m-d" }}</td>
  <td>{{ liaison.from_name }}</td>
  <td>
    {% if liaison.from_contact_id %}
      {{ liaison.to_name }}
    {% else %}
      {{ liaison.to_name|strip_email }}
    {% endif %}
  </td>
  <td>
    {{ liaison.deadline|default:"-"|date:"Y-m-d" }}
  </td>
  <td>
    {% if not liaison.from_contact_id %}
      {% for doc in liaison.attachments.all %}
        <a href="https://datatracker.ietf.org/documents/LIAISON/{{ doc.external_url }}">{{ doc.title }}</a><br/>
      {% endfor %}
    {% else %}
      <a href="{% if liaison.approved %}{% url "liaison_detail" object_id=liaison.pk %}{% else %}{% url "liaison_approval_detail" object_id=liaison.pk %}{% endif %}">{{ liaison.title }}</a>
    {% endif %}
    <span style="display: none" class="liaisonPK">{{ liaison.pk }}</span>
  </td>
</tr>
{% endfor %}

</table>
