{% extends "base.html" %}
{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% load ietf_filters %}
{% block title %}Liaison Management{% endblock %}

{% block content %}
<h1>Liaison Management</h1>

{% if can_send_incoming or can_send_outgoing %}
<div class="liaison-box">
  <h1>Add new liaison</h1>
  <ul>
  {% if can_send_incoming %}<li><a href="{% url add_liaison %}?incoming">Add new incoming liaison</a></li>{% endif %}
  {% if can_send_outgoing %}<li><a href="{% url add_liaison %}">Add new outgoing liaison</a></li>{% endif %}
</div>
{% endif %}

{% if to_aprove %}
<div class="liaison-box pending-for-aproval">
  <h1>Liaisons that need your approval</h1>
  {% for liaison in to_aprove %}
  <a href="">{{ liaison }}</a>
  {% endfor %}
</div>
{% endif %}

{% if to_edit %}
<div class="liaison-box edit-liaison-list">
  <h1>Liaisons you can edit</h1>
{% for liaison in to_edit %}
<tr class="{% cycle oddrow,evenrow %}">
<td style="white-space:nowrap;">{{ liaison.submitted_date|date:"Y-m-d" }}</td>
<td>{{ liaison.from_body|escape }}</td>
<td>
{% if liaison.by_secretariat %}
  {% if liaison.submitter_email %}
    <a href="mailto:{{ liaison.submitter_email}}">{{ liaison.submitter_name|escape }}</a>
  {% else %}
    {{ liaison.submitter_name|escape }}
  {% endif %}
{% else %}
  {{ liaison.to_body|escape }}
{% endif %}
</td>
<td>
{% if liaison.by_secretariat %}
  {% for file in liaison.uploads_set.all %}
    <a href="https://datatracker.ietf.org/documents/LIAISON/file{{ file.file_id }}{{ file.file_extension }}">{{ file.file_title|escape }}</a><br/>
  {% endfor %}
{% else %}
  <a href="{{ liaison.detail_id }}/">{{ liaison.title|escape }}</a>
{% endif %}
</td>
</tr>
{% endfor %}

</table>

</div>
{% endif %}

{% endblock %}
