{% extends "base.html" %}
{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% block title %}Liaison Statements{% endblock %}

{% block pagehead %}
<link rel="stylesheet" type="text/css" href="/css/liaisons.css"></link>
<link rel="alternate" type="application/atom+xml" href="/feed/liaison/recent/" />
{% endblock %}

{% block content %}

{% block content-title %}
<h1>Liaison Statements</h1>
{% endblock %}

{% block management-links %}
{% if can_manage %}
<ul>
  {% if can_send_incoming %}<li><a href="{% url "add_liaison" %}?incoming">Add new incoming liaison</a></li>{% endif %}
  {% if can_send_outgoing %}<li><a href="{% url "add_liaison" %}">Add new outgoing liaison</a></li>{% endif %}
  {% if approvable %}<li><a href="{% url "liaison_approval_list" %}">You have {{ approvable }} pending liaison statement{{ approvable|pluralize }} that need{{ approvable|pluralize:"s," }} your approval</a></li>{% endif %}
</ul>
{% endif %}
{% endblock %}

{% if with_search %}
<div class="ietf-box search-form-box">
{% include "liaisons/search_form.html" %}
</div>
{% endif %}

{% include "liaisons/liaison_table.html" %}

{% endblock %}

{% block js %}
<script type="text/javascript" src="/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
$(document).ready(function() 
    { 
        var widgetIETF = {css: ["evenrow", "oddrow"]};
        $.tablesorter.addWidget({ 
            id: "ietf",
            format: function(table) {
                var $tr, row = -1, odd;
                $("tr:visible", table.tBodies[0]).each(function (i) {
                    $tr = $(this);
                    if (!$tr.hasClass(table.config.cssChildRow)) row++;
                    odd = (row % 2 == 0);
                    $tr.removeClass(
                    widgetIETF.css[odd ? 0 : 1]).addClass(
                    widgetIETF.css[odd ? 1 : 0])
                });
            }
        });

        $("#LiaisonListTable").tablesorter({
            sortList: [[0, 1]],
            widgets: ["ietf"]
        });
    } 
); 
</script>
{% endblock %}
