{% comment %}
Required parameters:
  filter_categories - filter description structure (see agenda view for example)

Optional parameters:
  always_show - if False or absent, menu closes when not in use and "Customize" button is shown
  customize_button_text - text to show on the "Customize" button (defaults to "Customize...")
{% endcomment %}
{% load agenda_filter_tags %}
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
      {% if not always_show %}
      <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#customize" id="agenda-filter-customize">
                    <span class="fa fa-caret-down"></span> {% firstof customize_button_text "Customize..."%} 
                </a>
            </h4>
        </div>
      {% endif %}
        <div id="customize" class="{% if not always_show %}panel-collapse collapse{% endif %}">
            <span hidden {# options to pass to the JS - correspond to keys in opts object #}
                  id="agenda-filter-options"
                  data-always-show="{% firstof always_show False %}">
            </span>
            <div class="panel-body">

                <p>
                    You can customize the agenda view to show only selected sessions,
                    by clicking on groups and areas in the table below.
                    To be able to return to the customized view later, bookmark the resulting URL.
                </p>

                {% if filter_categories|length %}
                    <p>Groups displayed in <b><i>italics</i></b> are BOFs.</p>

                    {% with spacer_scale=5 %}
                        {% with width_scale=filter_categories|agenda_width_scale:spacer_scale %}
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    {% for fc in filter_categories %}
                                        {% if not forloop.first %}
                                            <th style="width:{% widthratio 1 width_scale 100 %}%"></th>
                                        {% endif %}
                                        {% for area in fc %}
                                            <th style="width:{% widthratio spacer_scale width_scale 100 %}%">
                                                {% if area.keyword %}
                                                    <button class="agenda-filter-areaselectbtn btn btn-default btn-block pickview {{ area.keyword }}"
                                                            data-filter-item="{{ area.keyword }}">
                                                        {% firstof area.label area.keyword %}
                                                    </button>
                                                {% endif %}
                                            </th>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    {% for fc in filter_categories %}
                                        {% if not forloop.first %} <td></td> {% endif %}
                                        {% for p in fc %}
                                            <td class="view{% if p.keyword %} {{ p.keyword }}{% endif %}">
                                                <div class="btn-group-vertical btn-block">
                                                    {% for button in p.children %}
                                                        <div class="btn-group btn-group-xs btn-group-justified">
                                                            <button class="agenda-filter-groupselectbtn btn btn-default pickview {{ button.keyword }}"
                                                                    {% if button.toggled_by %}data-filter-keywords="{{ button.toggled_by|join:"," }}"{% endif %}
                                                                    data-filter-item="{{ button.keyword }}">
                                                                {% if button.is_bof %}
                                                                    <i>{{ button.label }}</i>
                                                                {% else %}
                                                                    {{ button.label }}
                                                                {% endif %}
                                                            </button>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </td>                                       
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        {% endwith %}
                    {% endwith %}
                {% else %}
                    <blockquote><i>No WG / RG data available -- no WG / RG sessions have been scheduled yet.</i>
                    </blockquote>
                {% endif %}
            </div>
        </div>
    </div>
</div>
