{% extends "base.html" %}
{% block title %} Meeting Agenda  {% endblock %}
{% block content %}

<center> 
<strong> Agenda of the {{ meeting_num }}th IETF Meeting </strong> <br/> 
<strong> {{ meeting_info.start_date|date:"F j, Y" }} - {{ meeting_info.end_date|date:"F j, Y" }} </strong><br />
Updated As of : {% now "F j, Y" %}<br />
</center> 

<a href="/meeting/{{meeting_num}}/agenda.txt"> Text Format of the Agenda </a> <br />
<P>
*** Click on an acronym of the group to get a charter page *** <br />
*** Click on a name of the group to get a meeting agenda *** <br />
</P>
<p><b>{{ meeting_info.start_date|date:"l, F j, Y" }}</b><br>
{{ nonsession_info.0.time_desc }} {{ nonsession_info.0.non_session_ref }} - {{ meetingvenue_info.reg_area_name }}
<br>
{% for item in qs_sun %}
{{ item.sched_time_id1.time_desc }} {{ item.acronym_name }} - {{ item.sched_room_id1.room_name }}<br>
{% endfor %}
<br>
{% regroup object_list by day_id as days %}
{% for day in days %}
   <b>Day: {{ day.list.1.meeting_date|date:"l, F j, Y" }} </b><br>
   {{ day.list.1.reg_info }} - {{ meetingvenue_info.reg_area_name }} <br>
   {{ day.list.1.morning_br_info }} - {{ meetingvenue_info.break_area_name }} <br>
   <br>
   {% for item in day.list %}
      {% ifequal item.session_name_id 3 %}
	 {{ day.list.1.lunch_br_info }} Break<br>
      {% endifequal %}
      {% ifequal item.session_name_id 4 %}
	 {{ day.list.1.an_br1_info }}<br>
      {% endifequal %}
      {% ifequal item.session_name_id 5 %}
	 {{ day.list.1.an_br2_info }}<br>
      {% endifequal %}
      <b>{{ item.time_desc }} {{ item.session_name }} </b><br>
      <table border="0" cellspacing="0" cellpadding="0" width="800">
      {% for session in item.sessions|dictsort:"area" %}
	 {% ifequal session.acronym "plenaryw" %}
	    <tr><td>{{ op_ad_plenary_agenda|linebreaksbr }}</td></tr>
	 {% else %}
	    <tr><td width="200">{{ session.sched_room_id1.room_name }}</td><td width="50">{{ session.area|upper }}</td><td width="100">{{ session.acronym }}</td><td>{{ session.acronym_name }}</td></tr>
	 {% endifequal %}
      {% endfor %}
      </table>
      <br>
   {% endfor %}
   <br>
{% endfor %}
{% endblock %}
