{% extends "base.html" %}
{% block morecss %}
    .type-lead:after { content: " (DO NOT POST)"; color:red; }
    .type-offagenda:after { content:" (not published on agenda)"; }
{% endblock %}
{% block title %}Agenda for {{ meeting }} by room{% endblock %}
{% block content %}
    {% include "meeting/meeting_heading.html" with updated=meeting.updated selected="by-room" title_extra="By room" %}
    <div class="daylist">
        {% for day,sessions in ss_by_day.items %}
            <h2 class="daylistentry mt-5">{{ day|date:'l, j F Y' }}</h2>
            {% regroup sessions by timeslot.get_functional_location as room_list %}
            <div class="roomlist">
                {% for room in room_list %}
                    <strong class="roomlistentry">{{ room.grouper|default:"Location Unavailable" }}</strong>
                    <ul class="sessionlist">
                        {% for ss in room.list %}
                            <li class="sessionlistentry type-{{ ss.slot_type.slug }} {% if ss.schedule_id != meeting.schedule_id %}from-base-schedule{% endif %}">
                                {{ ss.timeslot.time|date:"H:i" }}-{{ ss.timeslot.end_time|date:"H:i" }} {{ ss.session.short_name }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}