{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load static %}
{% load ietf_filters %}
{% load django_bootstrap5 %}
{% block title %}
    Delete IETF {{ meeting.number }} Meeting Agenda: {{ schedule.owner }} / {{ schedule.name }}
{% endblock %}
{% block content %}
    {% origin %}
    <h1>
        Delete IETF {{ meeting.number }} Schedule
        <br>
        <small class="text-muted">{{ schedule.owner }}/{{ schedule.name }}</small>
    </h1>
    <form method="post" class="my-3" enctype="multipart/form-data">
        {% csrf_token %}
        {# Null Form #}
        <button class="btn btn-danger"
               type="submit"
               name="save">Delete schedule</button>
        <a href="{% url 'ietf.meeting.views.list_schedules' num=meeting.number %}"
           class="btn btn-secondary float-end">Back</a>
    </form>
{% endblock %}