{# Copyright The IETF Trust 2015, All Rights Reserved #}{% load origin %}{% origin %}
{% load ietf_filters %}
<tr>
  <td>
    {% comment %}
    <a name="{{ session.group.acronym }}"></a>
    <a name="wg-{{ session.group.acronym }}"></a>
    <a name="session.group-{{ session.group.acronym }}"></a>
    {% endcomment %}
    {% if session.name %}
      <div class="anchor-target" id="{{ session.name|slugify }}">{{ session.name }}</div>
    {% else %}
      <div class="anchor-target" id="{{session.group.acronym}}"><a href="{% url 'ietf.group.info.group_home' acronym=session.group.acronym %}">{{session.group.acronym}}</a></div>
      {% if session.group.state.slug == "bof" %}
        <span class="label label-success">{{ session.group.state.slug|upper }}</span>
      {% endif %}
    {% endif %}
  </td>

  {% if session.status_id == 'canceled' %}
    <td colspan="3"><span class="label label-danger">Session cancelled</span></td>
  {% else %}
    <td>
      {% if session.agenda %}
        <a href="https://www.ietf.org/proceedings/{{meeting_num}}/agenda/{{ session.agenda }}">Agenda</a>
      {% else %}
        {% if show_agenda == "True" %}
          <span class="label label-warning">No agenda</span>
        {% endif %}
      {% endif %}
    </td>
    <td>
      {% if session.minutes %}
        <a href="https://www.ietf.org/proceedings/{{ meeting_num }}/minutes/{{ session.minutes }}">Minutes</a>
      {% else %}
        {% if show_agenda == "True" %}
          <span class="label label-warning">No minutes</span>
        {% endif %}
      {% endif %}
    </td>
    <td>
      {% with session.slides as slides %}
        {% for slide in slides %}
          <a href="https://www.ietf.org/proceedings/{{meeting_num}}/slides/{{ slide.external_url }}">{{ slide.title|clean_whitespace }}</a>
          <br>
        {% empty %}
          <span class="label label-warning">No slides</span>
        {% endfor %}
      {% endwith %}
    </td>
    <td>
     {% with session.all_meeting_drafts as drafts %}
       {% for draft in drafts %}
         <a href="{% url "doc_view" name=draft.canonical_name %}">{{ draft.canonical_name }}</a><br>
       {% empty %} 
         <span class="label label-warning">No drafts</span>
       {% endfor %}
     {% endwith %}
    </td>
  {% endif %}
</tr>

