{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% origin %}
{% load ietf_filters %}
{% load proceedings_filters %}
<tr>
    <td>
        {% if entry.name %}
            <div id="{{ entry.name|slugify }}">{{ entry.name }}</div>
        {% elif entry.group.acronym %}
            <div id="{{ entry.group.acronym }}">
                <a href="{% url 'ietf.group.views.group_home' acronym=entry.group.acronym %}">{{ entry.group.acronym }}</a>
            </div>
            {% if entry.group.state_id == "bof" %}<span class="badge rounded-pill bg-success">BOF</span>{% endif %}
        {% else %}
            <h1>{{ entry.group }}</h1>
        {% endif %}
    </td>
    {% if entry.canceled %}
        <td colspan="4">
            <span class="badge rounded-pill bg-danger">Session cancelled</span>
        </td>
    {% else %}
        {# artifacts #}
        <td>
            {% for session in entry.sessions_with_agendas %}
                {% if session.agenda %}
                    <a href="{{ session.agenda|meeting_href:meeting }}">
                        Agenda
                        {% if entry.sessions_with_agendas|length > 1 %}
                            {{session.official_timeslotassignment.timeslot.time|date:"D G:i"}}
                      {% endif %}
                    </a>
                    <br>
                {% endif %}
            {% empty %}
                {% if show_agenda and not meeting.proceedings_final %}
                    <span class="badge rounded-pill bg-warning">No agenda</span>
                    <br>
                {% endif %}
            {% endfor %}
            {% for session in entry.sessions_with_minutes %}
                {% if session.minutes %}
                    <a href="{{ session.minutes|meeting_href:meeting }}">
                        Minutes
                        {% if entry.sessions_with_minutes|length > 1 %}
                            {{session.official_timeslotassignment.timeslot.time|date:"D G:i"}}
                        {% endif %}
                    </a>
                    <br>
                {% endif %}
            {% empty %}
                {% if show_agenda and not meeting.proceedings_final %}
                    <span class="badge rounded-pill bg-warning">No minutes</span>
                    <br>
                {% endif %}
            {% endfor %}
            {% for session in entry.sessions_with_bluesheets %}
                {% if session.bluesheets %}
                    {% for bs in session.bluesheets %}
                        <a href="{{ bs|meeting_href:meeting }}">
                            Bluesheets
                            {% if entry.sessions_with_bluesheets|length > 1 %}
                                {{ session.official_timeslotassignment.timeslot.time|date:"D G:i" }}
                            {% endif %}
                        </a>
                        <br>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </td>
        {# recordings #}
        <td>
          {% for session in entry.sessions_with_recordings %}
              {% for rec in session.recordings %}
                  <a href="{{ rec|meeting_href:meeting|default:"#" }}">
                      {% if entry.sessions_with_recordings|length > 1 %}
                          {{ rec|hack_recording_title:True }}
                      {% else %}
                          {{ rec|hack_recording_title:False }}
                      {% endif %}
                  </a>
                  <br>
              {% endfor %}
          {% endfor %}
        </td>
        {# slides #}
        <td>
            {% for session in entry.sessions_with_slides %}
                {% for slide in session.slides %}
                    <a href="{{ slide|meeting_href:meeting }}">{{ slide.title|clean_whitespace }}</a>
                    <br>
                {% endfor %}
            {% empty %}
                {% if not meeting.proceedings_final %}<span class="badge rounded-pill bg-warning">No slides</span>{% endif %}
            {% endfor %}
        </td>
        {# drafts #}
        <td>
            {% for session in entry.sessions_with_drafts %}
                {% for draft in session.drafts %}
                    <a href="{% url "ietf.doc.views_doc.document_main" name=draft.canonical_name %}">{{ draft.canonical_name }}</a>
                    <br>
                {% endfor %}
            {% empty %}
                {% if not meeting.proceedings_final %}<span class="badge rounded-pill bg-warning">No drafts</span>{% endif %}
            {% endfor %}
        </td>
    {% endif %}
{% comment %}
<!--            {% if session.name %}-->
<!--                {% if session.agenda %}-->
<!--                    <a href="{{ session.agenda|meeting_href:meeting }}">Agenda</a>-->
<!--                    <br>-->
<!--                {% endif %}-->
<!--            {% elif session.all_meeting_agendas %}-->
<!--                {% if session.all_meeting_agendas|length == 1 %}-->
<!--                    <a href="{{ session.all_meeting_agendas.0|meeting_href:meeting }}">Agenda</a>-->
<!--                    <br>-->
<!--                {% else %}-->
<!--                    {% for agenda in session.all_meeting_agendas %}-->
<!--                        <a href="{{ agenda|meeting_href:meeting }}">-->
<!--                            Agenda {{ agenda.sessionpresentation_set.first.session.official_timeslotassignment.timeslot.time|date:"D G:i" }}-->
<!--                        </a>-->
<!--                        <br>-->
<!--                    {% endfor %}-->
<!--                {% endif %}-->
<!--            {% else %}-->
<!--                {% if show_agenda == "True" and not meeting.proceedings_final %}-->
<!--                    <span class="badge rounded-pill bg-warning">No agenda</span>-->
<!--                    <br>-->
<!--                {% endif %}-->
<!--            {% endif %}-->
<!--            {% if session.all_meeting_minutes %}-->
<!--                {% if session.all_meeting_minutes|length == 1 %}-->
<!--                    <a href="{{ session.all_meeting_minutes.0|meeting_href:meeting }}">Minutes</a>-->
<!--                    <br>-->
<!--                {% else %}-->
<!--                    {% for minutes in session.all_meeting_minutes %}-->
<!--                        <a href="{{ minutes|meeting_href:meeting }}">-->
<!--                            Minutes {{ minutes.sessionpresentation_set.first.session.official_timeslotassignment.timeslot.time|date:"D G:i" }}-->
<!--                        </a>-->
<!--                        <br>-->
<!--                    {% endfor %}-->
<!--                {% endif %}-->
<!--            {% else %}-->
<!--                {% if show_agenda == "True" and not meeting.proceedings_final %}-->
<!--                    <span class="badge rounded-pill bg-warning">No minutes</span>-->
<!--                    <br>-->
<!--                {% endif %}-->
<!--            {% endif %}-->
<!--            {% if session.all_meeting_bluesheets %}-->
<!--                {% if session.all_meeting_bluesheets|length == 1 %}-->
<!--                    <a href="{{ session.all_meeting_bluesheets.0|meeting_href:meeting }}">Bluesheets</a>-->
<!--                    <br>-->
<!--                {% else %}-->
<!--                    {% for bs in session.all_meeting_bluesheets %}-->
<!--                        <a href="{{ bs|meeting_href:meeting }}">-->
<!--                            Bluesheets {{ bs.sessionpresentation_set.first.session.official_timeslotassignment.timeslot.time|date:"D G:i" }}-->
<!--                        </a>-->
<!--                        <br>-->
<!--                    {% endfor %}-->
<!--                {% endif %}-->
<!--            {% endif %}-->
<!--            {% with session.group|status_for_meeting:meeting as status %}-->
<!--                {% if status %}-->
<!--                    <a href="{% url 'ietf.group.views.group_about_status_meeting' acronym=session.group.acronym num=meeting.number %}">-->
<!--                        Status-->
<!--                    </a>-->
<!--                    <br>-->
<!--                {% endif %}-->
<!--            {% endwith %}-->
<!--        </td>-->
<!--        {# recordings #}-->
<!--        <td>-->
<!--            {% if session.name %}-->
<!--                {% for rec in session.recordings %}-->
<!--                    <a href="{{ rec|meeting_href:meeting|default:"#" }}">{{ rec|hack_recording_title:False }}</a>-->
<!--                    <br>-->
<!--                {% endfor %}-->
<!--            {% else %}-->
<!--                {% if session.all_meeting_sessions_for_group|length == 1 %}-->
<!--                    {% for rec in session.all_meeting_recordings %}-->
<!--                        <a href="{{ rec|meeting_href:meeting|default:"#" }}">{{ rec|hack_recording_title:False }}</a>-->
<!--                        <br>-->
<!--                    {% endfor %}-->
<!--                {% else %}-->
<!--                    {% for rec in session.all_meeting_recordings %}-->
<!--                        <a href="{{ rec|meeting_href:meeting|default:"#" }}">{{ rec|hack_recording_title:True }}</a>-->
<!--                        <br>-->
<!--                    {% endfor %}-->
<!--                {% endif %}-->
<!--            {% endif %}-->
<!--        </td>-->
<!--        {# slides #}-->
<!--        <td>-->
<!--            {% if session.name %}-->
<!--                {% for slide in session.slides %}-->
<!--                    <a href="{{ slide|meeting_href:meeting }}">{{ slide.title|clean_whitespace }}</a>-->
<!--                    <br>-->
<!--                {% empty %}-->
<!--                    {% if not meeting.proceedings_final %}<span class="badge rounded-pill bg-warning">No slides</span>{% endif %}-->
<!--                {% endfor %}-->
<!--            {% else %}-->
<!--                {% with session.all_meeting_slides as slides %}-->
<!--                    {% for slide in slides %}-->
<!--                        <a href="{{ slide|meeting_href:meeting }}">{{ slide.title|clean_whitespace }}</a>-->
<!--                        <br>-->
<!--                    {% empty %}-->
<!--                        {% if not meeting.proceedings_final %}<span class="badge rounded-pill bg-warning">No slides</span>{% endif %}-->
<!--                    {% endfor %}-->
<!--                {% endwith %}-->
<!--            {% endif %}-->
<!--        </td>-->
<!--        {# drafts #}-->
<!--        <td>-->
<!--            {% if session.name %}-->
<!--                {% for draft in session.drafts %}-->
<!--                    <a href="{% url "ietf.doc.views_doc.document_main" name=draft.canonical_name %}">{{ draft.canonical_name }}</a>-->
<!--                    <br>-->
<!--                {% empty %}-->
<!--                    {% if not meeting.proceedings_final %}<span class="badge rounded-pill bg-warning">No drafts</span>{% endif %}-->
<!--                {% endfor %}-->
<!--            {% else %}-->
<!--                {% with session.all_meeting_drafts as drafts %}-->
<!--                    {% for draft in drafts %}-->
<!--                        <a href="{% url "ietf.doc.views_doc.document_main" name=draft.canonical_name %}">{{ draft.canonical_name }}</a>-->
<!--                        <br>-->
<!--                    {% empty %}-->
<!--                        {% if not meeting.proceedings_final %}<span class="badge rounded-pill bg-warning">No drafts</span>{% endif %}-->
<!--                    {% endfor %}-->
<!--                {% endwith %}-->
<!--            {% endif %}-->
<!--        </td>-->
<!--    {% endif %}-->
{% endcomment %}
</tr>
