{# Copyright The IETF Trust 2015, All Rights Reserved #}{% load origin %}{% origin %}
{% load ietf_filters %}
{% load proceedings_filters %}
<tr>
  <td>
    {% comment %}
    <a name="{{ session.group.acronym }}"></a>
    <a name="wg-{{ session.group.acronym }}"></a>
    <a name="session.group-{{ session.group.acronym }}"></a>
    {% endcomment %}
    {% if session.name %}
      <div class="anchor-target" id="{{ session.name|slugify }}">{{ session.name }}</div>
    {% else %}
      <div class="anchor-target" id="{{session.group.acronym}}"><a href="{% url 'ietf.group.views.group_home' acronym=session.group.acronym %}">{{session.group.acronym}}</a></div>
      {% if session.group.state.slug == "bof" %}
        <span class="label label-success">{{ session.group.state.slug|upper }}</span>
      {% endif %}
    {% endif %}
  </td>

  {% if session.status_id == 'canceled' %}
    <td colspan="3"><span class="label label-danger">Session cancelled</span></td>
  {% else %}
    <td>
      {% if session.agenda %}
        <a href="https://www.ietf.org/proceedings/{{meeting_num}}/agenda/{{ session.agenda }}">Agenda</a><br>
      {% else %}
        {% if show_agenda == "True" and not meeting.proceedings_final %}
          <span class="label label-warning">No agenda</span><br>
        {% endif %}
      {% endif %}
      {% if session.minutes %}
        <a href="https://www.ietf.org/proceedings/{{ meeting_num }}/minutes/{{ session.minutes }}">Minutes</a><br>
      {% else %}
        {% if show_agenda == "True" and not meeting.proceedings_final %}
          <span class="label label-warning">No minutes</span><br>
        {% endif %}
      {% endif %}
      {% if session.all_meeting_bluesheets %}
         {% if session.all_meeting_bluesheets|length == 1 %}
              <a href="{{session.all_meeting_bluesheets.0.get_absolute_url}}">Bluesheets</a></br>
         {% else %}
           {% for bs in session.all_meeting_bluesheets %}
              <a href="{{bs.get_absolute_url}}">Bluesheets {{bs.sessionpresentation_set.first.session.official_timeslotassignment.timeslot.time|date:"D G:i"}}</a></br>
           {% endfor %}
        {% endif %}
      {% endif %}
      
    </td>
    <td>
      {% if session.all_meeting_sessions_for_group|length == 1 %}
        {% for rec in session.all_meeting_recordings %}
          <a href="{{rec.get_absolute_url}}">{{rec|hack_recording_title:False}}</a><br>
        {% endfor %}
      {% else %}
        {% for rec in session.all_meeting_recordings %}
          <a href="{{rec.get_absolute_url}}">{{rec|hack_recording_title:True}}</a><br>
        {% endfor %}
      {% endif %}
    </td>
    <td>
      {% with session.slides as slides %}
        {% for slide in slides %}
          <a href="https://www.ietf.org/proceedings/{{meeting_num}}/slides/{{ slide.external_url }}">{{ slide.title|clean_whitespace }}</a>
          <br>
        {% empty %}
          {% if not meeting.proceedings_final %}
            <span class="label label-warning">No slides</span>
          {% endif %}
        {% endfor %}
      {% endwith %}
    </td>
    <td>
     {% with session.all_meeting_drafts as drafts %}
       {% for draft in drafts %}
         <a href="{% url "doc_view" name=draft.canonical_name %}">{{ draft.canonical_name }}</a><br>
       {% empty %} 
         {% if not meeting.proceedings_final %}
           <span class="label label-warning">No drafts</span>
         {% endif %}
       {% endfor %}
     {% endwith %}
    </td>
  {% endif %}
</tr>

