{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load static %}
{% load textfilters %}
{% origin %}
{% with item=session.official_timeslotassignment acronym=session.historic_group.acronym %}
    {% if session.agenda and show_agenda %}
      {# Note: if called with show_agenda=True, calling template must load agenda_materials.js, needed by session_agenda_include.html #}
      {% include "meeting/session_agenda_include.html" with slug=item.slug session=session timeslot=item.timeslot only %}
      <!-- agenda pop-up button -->
      <a class="" data-toggle="modal" data-target="#modal-{{item.slug}}" title="Show meeting materials"><span class="fa fa-fw fa-arrows-alt"></span></a>
      <!-- materials tar file -->
      <a class="" href="/meeting/{{meeting.number}}/agenda/{{acronym}}-drafts.tgz" title="Download meeting materials as .tar archive"><span class="fa fa-fw fa-file-archive-o"></span></a>
      <!-- materials PDF file -->
      <a class="" href="/meeting/{{ meeting.number }}/agenda/{{acronym}}-drafts.pdf" title="Download meeting materials as PDF file"><span class="fa fa-fw fa-file-pdf-o"></span></a>
    {% endif %}
      <!-- etherpad -->
    {% if use_codimd %}
      {% if item.timeslot.type.slug == 'plenary' %}
        <a class="" href="https://codimd.ietf.org/notes-ietf-{{ meeting.number }}-plenary title="Etherpad for note-takers"><span class="fa fa-fw fa-edit"></span></a>
      {% else %}
        <a class="" href="https://codimd.ietf.org/notes-ietf-{{ meeting.number }}-{{acronym}}" title="Etherpad for note-takers"><span class="fa fa-fw fa-edit"></span></a>
      {% endif %}
    {% else %}
      {% if item.timeslot.type.slug == 'plenary' %}
        <a class="" href="https://etherpad.ietf.org:9009/p/notes-ietf-{{ meeting.number }}-plenary?useMonospaceFont=true" title="Etherpad for note-takers"><span class="fa fa-fw fa-edit"></span></a>
      {% else %}
        <a class="" href="https://etherpad.ietf.org:9009/p/notes-ietf-{{ meeting.number }}-{{acronym}}?useMonospaceFont=true" title="Etherpad for note-takers"><span class="fa fa-fw fa-edit"></span></a>
      {% endif %}
    {% endif %}

  {# show stream buttons up till end of session, then show archive buttons #}
  {% if now < item.timeslot.end_time %}
      <!-- Jabber -->
      <a class="" href="xmpp:{{session.jabber_room_name}}@jabber.ietf.org?join" title="Jabber room for {{session.jabber_room_name}}"><span class="fa fa-fw fa-lightbulb-o"></span></a>
      <!-- Remote call-in -->
      {% if session.agenda_note|first_url|conference_url %}
	<a class=""
	  href="{{ session.agenda_note|first_url }}"
	  title="Online conference"><span class="fa fa-fw fd-group"></span>
	</a>
      {% elif session.remote_instructions|first_url|conference_url %}
	<a class=""
	  href="{{ session.remote_instructions|first_url }}"
	  title="Online conference"><span class="fa fa-fw fd-group"></span>
	</a>
      {% elif item.timeslot.location.webex_url %}
	  <a class=""
	    href="{{item.timeslot.location.webex_url|format:session }}"
	    title="Webex session"><span class="fa fa-fw fd-group"></span>
	  </a>
      <!-- Video stream (meetecho) -->
      {% elif item.timeslot.location.video_stream_url %}
	  <a class=""
	    href="{{item.timeslot.location.video_stream_url|format:session }}"
	    title="Meetecho video stream"><span class="fa fa-fw fa-video-camera"></span>
	  </a>
      {% else %}
	<span class="">
	  <span class="fa fa-fw fd-group" style="color: #ddd;"
		title="No online conference info found in remote instructions or agenda note"></span>
	</span>
      {% endif %}
      <!-- iCalendar item -->
      <a
        href="{% url 'ietf.meeting.views.agenda_ical' num=meeting.number session_id=session.id %}"
        title="icalendar entry for {{acronym}} session on {{item.timeslot.utc_start_time|date:'Y-m-d H:i'}} UTC">
            <span class="fa fa-fw fa-calendar-o"></span>
      </a>
  {% else %}
    <!-- Jabber -->
    <a class="" href="https://www.ietf.org/jabber/logs/{{session.jabber_room_name}}?C=M;O=D" title="Jabber logs for {{session.jabber_room_name}}">
       <span class="fa-stack-1"><i class="fa fa-fw fa-file-o fa-stack-1x"></i><i class="fa fa-fw fa-lightbulb-o fa-stack-sm"></i></span>
    </a>
    {% with session.recordings as recordings %}
      {% if recordings %}
        {# There's no guaranteed order, so this is a bit messy: #}
        <!-- Audio -->
        {% for r in recordings %}{% with href=r.get_href %}
          {% if 'audio' in href %}
              <a class="" href="{{ href }}" title="{{ r.title }}"><span class="fa fa-fw fa-file-audio-o"></span></a>
          {% endif %}
        {% endwith %}{% endfor %}
        <!-- YouTube -->
        {% for r in recordings %}{% with href=r.get_href %}
          {% if 'youtu' in href %}
            <a class="" href="{{ href }}" title="{{ r.title }}"><span class="fa fa-fw fa-file-video-o"></span></a>
          {% endif %}
        {% endwith %}{% endfor %}
        <!-- Any other recordings -->
        {% for r in recordings %}{% with href=r.get_href %}
          {% if not 'audio' in href and not 'youtu' in href %}
            <a class="" href="{{ href }}" title="{{ r.title }}"><span class="fa fa-fw fa-file-o"></span></a>
          {% endif %}
        {% endwith %}{% endfor %}
      {% elif item.timeslot.location.video_stream_url %}
          <a class=""
             href="http://www.meetecho.com/ietf{{meeting.number}}/recordings#{{acronym.upper}}"
             title="Meetecho session recording"><span class="fd fa-fw fd-meetecho"></span></a>
      {% elif show_empty  %}
        <span class="fa fa-fw"></span>
      {% endif %}
    {% endwith %}
  {% endif %}
{% endwith %}
  