{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load static bootstrap3 widget_tweaks %}



{% block pagehead %}
  <link rel="stylesheet" href="{% static 'select2/select2.css' %}">
  <link rel="stylesheet" href="{% static 'select2-bootstrap-css/select2-bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}">
{% endblock %}

{% block content %}
  {% origin %}
  <h1>{% block title %}Cancel Interim {% if meeting %}Meeting{% else %}Session{% endif %} {% if session_status != "sched" %}Request{% endif %}{% endblock %}</h1>

  <form id="interim-request-cancel-form" role="form" method="post" class="form-horizontal">
    {% csrf_token %}
    
    {% bootstrap_form form layout='horizontal' %}

    <div class="form-group">
    {% buttons %}
      <button type="submit" class="btn btn-primary">Submit</button>
        {% if meeting %}<a class="btn btn-default pull-right" href="{% url 'ietf.meeting.views.interim_request_details' number=meeting.number %}">Back</a>
        {% else %}<a class="btn btn-default pull-right" href="{% url 'ietf.meeting.views.interim_request_details' number=session.meeting.number %}">Back</a>{% endif %}
    {% endbuttons %}
    </div>
    
  </form>

{% endblock %}

{% block js %}
  <script src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'select2/select2.min.js' %}"></script>
  <script src="{% static 'ietf/js/meeting-interim-request.js' %}"></script>
{% endblock %}
