{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "base.html" %}
{% block title %} IETF {{ meeting_num }} Preliminary & Interim Materials {% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://www.ietf.org/css/base.css" />
{% endblock %}
{% block content %}
<center>
<h2>IETF {{ meeting_num }} Meeting Materials</h2>
{% if sub_began %}
<h4>Submission began {{ begin_date|date:"F j, Y" }} </h4>
<h4>Submission cutoff date: {{ cut_off_date|date:"F j, Y" }}</h4>
<h4>Corrections to submissions cutoff date: {{ cor_cut_off_date|date:"F j, Y" }} </h4>
{% endif %}
Updated as of {% now "F j, Y, H:i:s (T)" %}
<br><br>

{% regroup object_list|dictsort:"area" by area_name as areas %}
  {% for wgs in areas %}
    <table cellpadding="0" cellspacing="0" border="2" width="80%">
      <tr>
        <td colspan=2 bgcolor="#0911DC" valign="center"><font color="#FFFFFF"><center><br><h3><img src="/images/ib2.gif" width="100%" height=21><br>{{ wgs.grouper }}</h3></center></font>
        </td>
      </tr>
    </table>
    {% ifequal wgs.grouper "Plenary Sessions" %}
    {% for wg in wgs.list|dictsortreversed:"acronym" %}
      <table cellpadding="0" cellspacing="0" border="2" width="80%">
        <tr><a name="wg-{{ wg.acronym }}"></a>
          <td align="center" bgcolor="#DDFFDD" width="20%"><b>{{ wg.acronym|upper }}{% ifequal wg.group_type_str "BOF" %} <font color="red">({{ wg.group_type_str }})</font> {% endifequal %}</b><br>
          {% if wg.agenda_file %}<a href="http://www3.ietf.org/proceedings/{{ wg.agenda_file }}">[Agenda]</a>{% endif %}{% if wg.minute_file %} <a href="http://www3.ietf.org/proceedings/{{ wg.minute_file }}">[Minutes]</a>{% endif %}</td>
          <td><table border="1" width="100%">
{% include "meeting/submission_status_snippet.html" %}
                {% for slide in wg.slides %}
                <tr><td><a href="http://www3.ietf.org/proceedings/{{ slide.file_loc }}">{{ slide.slide_name }}</a></td>
                </tr>
                {% endfor %}
              </table>
          </td>
        </tr>
      </table>

    {% endfor %}
  {% else %}
    {% for wg in wgs.list|dictsort:"acronym" %}
      <table cellpadding="0" cellspacing="0" border="2" width="80%">
        <tr><a name="wg-{{ wg.acronym }}"></a>
          <td align="center" bgcolor="#DDFFDD" width="20%"><b>{{ wg.acronym|upper }}{% ifequal wg.group_type_str "BOF" %} <font color="red">({{ wg.group_type_str }})</font> {% endifequal %}</b><br>
          {% if wg.agenda_file %}<a href="http://www3.ietf.org/proceedings/{{ wg.agenda_file }}">[Agenda]</a>{% endif %}{% if wg.minute_file %} <a href="http://www3.ietf.org/proceedings/{{ wg.minute_file }}">[Minutes]</a>{% endif %}</td>
          <td><table border="1" width="100%">
{% include "meeting/submission_status_snippet.html" %}
                {% for slide in wg.slides %}
                <tr><td><a href="http://www3.ietf.org/proceedings/{{ slide.file_loc }}">{{ slide.slide_name }}</a></td>
                </tr>
                {% endfor %}
              </table>
          </td>
        </tr>
      </table>

    {% endfor %}
  {% endifequal %}
  {% endfor %}
<!--- Training Sessions --->
{% if training_list %}
  <table cellpadding="0" cellspacing="0" border="2" width="80%">
    <tr>
      <td colspan=2 bgcolor="#0911DC" valign="center"><font color="#FFFFFF"><center><br><h3><img src="/images/ib2.gif" width="100%" height=21><br>Training</h3></center></font>
      </td>     </tr>  </table>
{% for wg in training_list|dictsort:"acronym" %}
    <table cellpadding="0" cellspacing="0" border="2" width="80%">      <tr><a name="wg-{{ wg.acronym }}"></a>
        <td align="center" bgcolor="#DDFFDD" width="20%"><b>{{ wg.acronym|upper }}</b></td>
        <td><table border="1" width="100%">
{% include "meeting/submission_status_snippet.html" %}
              {% for slide in wg.slides %}
              <tr><td><a href="http://www3.ietf.org/proceedings/{{ slide.file_loc }}">{{ slide.slide_name }}</a></td>              </tr>
              {% endfor %}
            </table>
        </td> 
      </tr>
    </table>
{% endfor %}  
{% endif %}
<!--- End of Training Sessions --->
<!--- IRTF Sessions --->
{% if irtf_list %}
  <table cellpadding="0" cellspacing="0" border="2" width="80%">
    <tr>
      <td colspan=2 bgcolor="#0911DC" valign="center"><font color="#FFFFFF"><center><br><h3><img src="/images/ib2.gif" width="100%" height=21><br>IRTF</h3></center></font>
      </td>
    </tr>
  </table>
{% for wg in irtf_list|dictsort:"acronym_lower" %}
    <table cellpadding="0" cellspacing="0" border="2" width="80%">
      <tr><a name="wg-{{ wg.acronym }}"></a>
        <td align="center" bgcolor="#DDFFDD" width="20%"><b>{{ wg.acronym|upper }}</b><br>
        {% if wg.agenda_file %}<a href="http://www3.ietf.org/proceedings/{{ wg.agenda_file }}">[Agenda]</a>{% endif %}{% if wg.minute_file %} <a href="http://www3.ietf.org/proceedings/{{ wg.minute_file }}">[Minutes]</a>{% endif %}</td>
        <td><table border="1" width="100%">
{% include "meeting/submission_status_snippet.html" %}
              {% for slide in wg.slides %}
              <tr><td><a href="http://www3.ietf.org/proceedings/{{ slide.file_loc }}">{{ slide.slide_name }}</a></td>
              </tr>
              {% endfor %}
            </table>
        </td>
      </tr>
    </table>
{% endfor %}
{% endif %}
<!--- End of IRTF Sessions --->
<!--- Interim Meetings --->
{% if interim_list %}
  <table cellpadding="0" cellspacing="0" border="2" width="80%">
    <tr>
      <td colspan=2 bgcolor="#0911DC" valign="center"><font color="#FFFFFF"><center><br><h3><img src="/images/ib2.gif" width="100%" height=21><br>Interim Meetings</h3></center></font>
      </td>
    </tr>
  </table>
{% for wg in interim_list|dictsort:"acronym" %}
    <table cellpadding="0" cellspacing="0" border="2" width="80%">      <tr><a name="wg-{{ wg.acronym }}"></a>
        <td align="center" bgcolor="#DDFFDD" width="20%"><b>{{ wg.acronym|upper }}</b><br>        {% if wg.agenda_file %}<a href="http://www3..ietf.org/proceedings/{{ wg.agenda_file }}">[Agenda]</a>{% endif %}{% if wg.minute_file %} <a href="http://www3.ietf.org/proceedings/{{ wg.minute_file }}">[Minutes]</a>{% endif %}</td>
        <td><table border="1" width="100%">
{% include "meeting/submission_status_snippet.html" %}
              {% for slide in wg.slides %}
              <tr><td><a href="http://www3.ietf.org/proceedings/{{ slide.file_loc }}">{{ slide.slide_name }}</a></td>              </tr>
              {% endfor %}
            </table>
        </td> 
      </tr>
    </table>
{% endfor %}
{% endif %}
<!--- End of Imterim Meetings --->
</center>
{% endblock %}
