{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "base.html" %}
{% block title %} IETF {{ meeting_num }} Preliminary & Interim Materials {% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://www.ietf.org/css/base.css" />
{% endblock %}
{% block content %}
<center>
<h2>IETF {{ meeting_num }} Preliminary & Interim Materials</h2>
<h4>Submission began {{ begin_date|date:"F j, Y" }} </h4>
<h4>Submission cutoff date: {{ cut_off_date|date:"F j, Y" }}</h4>
<h4>Corrections to submissions cutoff date: {{ cor_cut_off_date|date:"F j, Y" }} </h4>
</center>
<br>
<i>
The IETF {{ meeting_num }} Preliminary & Interim Materials page is now closed.<br>
You should be able to access the final version of IETF {{ meeting_num }} Proceedings via <a href="http://www.ietf.org/proceedings_directory.html">IETF Online Proceedings page</a>.<br>
</i>
{% endblock %}
