{% extends "m_base.html" %}
{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% load humanize %}
{% load ietf_filters %}
{% block title %} IETF {{ schedule.meeting.number }} Meeting Agenda{% endblock %}
{% block head %}
  <link href="http://tools.ietf.org/css/palette.css"  rel="stylesheet" type="text/css" />
  <link rel="apple-touch-icon" href="/images/agenda-touch-icon.png" />
  <script type="text/javascript" src='http://tools.ietf.org/js/prototype-1.6.0.2.js'></script>
  <script type="text/javascript" src='/js/agenda.js'></script>
  <script type="text/javascript" src="/js/dateformat.js"></script>
  <script type="text/javascript">
//<![CDATA[
    function on_load_actions() {
	set_cookie_colors();
	set_location(); 
    }
    function set_location() {
	var now = new Date;
	var utc = now;
	utc.setMinutes(now.getMinutes() + now.getTimezoneOffset());
	var loc = utc;
	// Switch page location 1 hour after local time, to give stragglers some leeway.
	loc.setHours(utc.getHours() + {{ schedule.meeting.time_zone|default_if_none:"0"}} - 1);
	localtime = loc.format("%Y-%m-%d_%H%M");
	var anchors = document.getElementsByTagName("a");
	for (var i = 0; i<anchors.length;i++){
	    var anchor = anchors[i];
	    if (anchor.name) {
		if ((anchor.name > localtime)) {
		    window.location.hash = anchor.name;
		    break;
		}
	    }
	}

    }
//]]>
  </script>
{% endblock %}
{% block body_attributes %}onload="on_load_actions()"{% endblock %}
{% block content %}
<span id='colorpallet'></span>
<div class="header">
<a name="{{ schedule.meeting.date|date:"Y-m-d_0000" }}" />
<h1>Agenda of the {{ schedule.meeting.number|ordinal }} IETF Meeting</h1>
<h2>{{ schedule.meeting.date|date:"F j" }}-{% if schedule.meeting.date.month != schedule.meeting.end_date.month %}{{ schedule.meeting.end_date|date:"F " }}{% endif %}{{ schedule.meeting.end_date|date:"j, Y" }}</h2>
</div>
<div class="legal">IETF agendas are subject to change, up to and during the meeting.</div>
<div>
   <table id="agenda">
      {% for item in schedule.assignments.all.distinct %}
	  {% ifchanged  %}
	  <tr>
	     <td colspan="3">
		<a name="{{item.timeslot.time|date:"Y-m-d"}}_0000" />
		<h4>{{ item.timeslot.time|date:"l"|upper }}, {{ item.timeslot.time|date:"F j, Y" }}</h4>
	     </td>
	  </tr>
	  {% endifchanged %}

	  {% if item.timeslot.type.slug == "reg" %}
	  <tr>
	     <td colspan="3">
		{{ item.timeslot.time_desc  }}  {{ item.timeslot.name  }}
                {% if schedule.meeting.reg_area %} - <a href="http://tools.ietf.org/agenda/{{schedule.meeting.number}}/venue/?room={{ schedule.meeting.reg_area|slugify }}">{{ schedule.meeting.reg_area }}</a>{% endif %}
	     </td>
	  </tr>
	  {% endif %}{# reg #}

	  {% if item.timeslot.type.slug == "break" %}
	  <tr>
	     <td colspan="3">
		<br />
		{{ item.timeslot.time_desc }}  {{ item.timeslot.name }}
                {% if schedule.meeting.break_area and item.timeslot.break_info.show_break_location %} - <a href="http://tools.ietf.org/agenda/{{schedule.meeting.number}}/venue/?room={{ schedule.meeting.break_area|slugify }}">{{ schedule.meeting.break_area }}</a>{% endif %}
	     </td>
	  </tr>
	  {% endif %}{# break #}


	  {% if item.timeslot.type.slug == "session" %}
	      {% if item.session.group  %}
		  {% ifchanged %}
		      <tr>
			 <td colspan="3">
			    <a name="{{item.timeslot.time|date:"Y-m-d"}}_{{item.timeslot.time_desc|slice:":4"}}" />
			    <h5>{{item.timeslot.time|date:"D"}} {{ item.timeslot.time_desc               }}  {{ item.timeslot.name }}
			 </td>
		      </tr>
		  {% endifchanged %}

		  <tr id="{{schedule.meeting.number}}-{{item.timeslot.time|date:"D"|lower}}-{{item.timeslot.time_desc|slice:":4"}}-{{item.session.group.acronym|lower}}">
		     <td>
			<a href="http://tools.ietf.org/agenda/{{schedule.meeting.number}}/venue/?room={{item.timeslot.location.name|slugify}}">{{ item.timeslot.location.name}}</a>
		     </td>
		     <td>
			{% if item.session.type == "WG" %}<a href="http://www.ietf.org/dyn/wg/charter/{{ item.session.group.acronym|lower }}-charter.html">{%endif%}
			   {% if item.session.type == "BOF" %}<span style="background-color: #6FD">{% endif %}
			   {{ item.session.group.acronym|lower }}
			   {% if item.session.type == "BOF" %}</span>{% endif %}
			{% if item.session.type == "WG" %}</a>{%endif%}
		     </td>
		     <td>
			{% if item.session.agenda_file %}<a href="http://tools.ietf.org/wg/{{item.session.group.acronym}}/agenda/">{%endif%}
			   {{ item.session.group.name|truncate_ellipsis:"22"|safe }}
			{% if item.session.agenda_file %}</a>{%endif%}
		     </td>
		  </tr>
	      {% endif %}
	  {% endif %}{# session #}


	  {% if item.timeslot.type.slug == "other" %}      
	  <tr>
	     <td colspan="3">
		<a name="{{item.timeslot.time|date:"Y-m-d"}}_{{item.timeslot.time_desc|slice:":4"}}" />
		{{ item.timeslot.time_desc }}  {{ item.timeslot.name|truncate_ellipsis:"19"|safe }} - <a href="http://tools.ietf.org/agenda/{{schedule.meeting.number}}/venue/?room={{item.timeslot.location.name|slugify}}">{{ item.timeslot.location.name}}</a>
	     </td>
	  </tr>
	  {% endif %}{# other #}


      {% endfor %}
   </table>
</div>
{% endblock %}
