{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load static %}
{% load ietf_filters %}
{% load django_bootstrap5 %}
{% block title %}IETF {{ meeting.number }} : Make {{ schedule.owner }} / {{ schedule.name }} Official{% endblock %}
{% block content %}
    {% origin %}
    <h1>
        Make IETF {{ meeting.number }} Schedule Official
        <br>
        <small class="text-muted">{{ schedule.owner }}/{{ schedule.name }}</small>
    </h1>
    <form method="post" enctype="multipart/form-data" class="my-3">
        {% csrf_token %}
        {# Null Form #}
        <button class="btn btn-warning"
               type="submit"
               name="save">Make this schedule official</button>
        <a href="{% url 'ietf.meeting.views.list_schedules' num=meeting.number %}"
           class="btn btn-secondary float-end">Back</a>
    </form>
{% endblock %}