{% extends "base.html" %}
{# Copyright The IETF Trust 2015-2019, All Rights Reserved #}
{% load origin %}
{% load ietf_filters static managed_groups %}
{% block pagehead %}
    <link rel="stylesheet" href="{% static "ietf/css/list.css" %}">
{% endblock %}
{% block title %}IETF {{ meeting.number }} preliminary &amp; interim materials{% endblock %}
{% block content %}
    {% origin %}
    {% with user|matman_groups as user_groups %}
        <h1>IETF {{ meeting.number }} meeting materials</h1>
        {% if submission_started %}
            <p class="alert alert-info my-3">
                <b>Submission cutoff date:</b> {{ cut_off_date|date:"F j, Y" }}
                <br>
                <b>Corrections to submissions cutoff date:</b> {{ cor_cut_off_date|date:"F j, Y" }}
            </p>
        {% endif %}
        <p>
            {% if user|has_role:"Secretariat" %}
                <a class="btn btn-primary"
                   href="{% url 'ietf.meeting.views_proceedings.edit_meetinghosts' num=meeting.number %}">
                    Edit meeting hosts
                </a>
                <a class="btn btn-primary"
                   href="{% url 'ietf.secr.proceedings.views.main' %}">Secretariat proceedings functions</a>
                {% if meeting.end_date.today > meeting.end_date %}
                    <a class="btn btn-primary"
                       href="{% url 'ietf.meeting.views.request_minutes' num=meeting.number %}">
                        Send request for minutes
                    </a>
                {% endif %}
            {% endif %}
            <a class="btn btn-primary" href="{% url 'ietf.meeting.views.meeting_requests' num=meeting.number %}">Meeting requests/conflicts</a>
        </p>
        {% include 'meeting/proceedings/materials_table.html' with meeting=meeting proceedings_materials=proceedings_materials user=user only %}
        {% with "True" as show_agenda %}
            <!-- Plenaries -->
            {% if plenaries %}
                <h2 class="mt-4" id="plenaries">Plenaries</h2>
                <table class="table table-sm table-striped tablesorter">
                    <thead>
                        <tr>
                            <th scope="col" data-sort="group">Group</th>
                            <th scope="col" data-sort="agenda">Agenda</th>
                            <th scope="col" data-sort="minutes">Minutes</th>
                            <th scope="col" data-sort="slides">Slides</th>
                            <th scope="col" data-sort="drafts">Drafts</th>
                            <th scope="col" data-sort="updated">Updated</th>
                            {% if user|has_role:"Secretariat" or user_groups %}
                                <th scope="col"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in plenaries %}
                            {% include "meeting/group_materials.html" %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <!-- Working groups -->
            {% regroup ietf|dictsort:"group.parent.acronym" by group.parent.name as areas %}
            {% for sessions in areas %}
                <h2 class="mt-4" id="{{ sessions.list.0.group.parent.acronym }}">
                    {{ sessions.list.0.group.parent.acronym|upper }} <small>{{ sessions.grouper }}</small>
                </h2>
                <table class="table table-sm table-striped tablesorter">
                    <thead>
                        <tr>
                            <th scope="col" data-sort="group">Group</th>
                            <th scope="col" data-sort="agenda">Agenda</th>
                            <th scope="col" data-sort="minutes">Minutes</th>
                            <th scope="col" data-sort="slides">Slides</th>
                            <th scope="col" data-sort="drafts">Drafts</th>
                            <th scope="col" data-sort="updated">Updated</th>
                            {% if user|has_role:"Secretariat" or user_groups %}
                                <th scope="col"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in sessions.list|dictsort:"group.acronym" %}
                            {% ifchanged session.group.acronym %}
                                {% include "meeting/group_materials.html" %}
                            {% endifchanged %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
            <!-- Training Sessions -->
            {% if training %}
                {% with "False" as show_agenda %}
                    <h2 class="mt-4" id="training">Training</h2>
                    <table class="table table-sm table-striped tablesorter">
                        <thead>
                            <tr>
                                <th scope="col" data-sort="group">Group</th>
                                <th scope="col" data-sort="agenda">Agenda</th>
                                <th scope="col" data-sort="minutes">Minutes</th>
                                <th scope="col" data-sort="slides">Slides</th>
                                <th scope="col" data-sort="drafts">
                                    Drafts
                                </th>
                                <th scope="col" data-sort="updated">
                                    Updated
                                </th>
                                {% if user|has_role:"Secretariat" or user_groups %}
                                    <th scope="col"></th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for session in training %}
                                {% ifchanged %}
                                    {# TODO: Find a better way to represent purposed sessions in both materials and proceedings #}
                                    {% include "meeting/group_materials.html" %}
                                {% endifchanged %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% endwith %}
            {% endif %}
            <!-- IAB Sessions -->
            {% if iab %}
                <h2 class="mt-4" id="iab">
                    IAB <small>Internet Architecture Board</small>
                </h2>
                <table class="table table-sm table-striped tablesorter">
                    <thead>
                        <tr>
                            <th scope="col" data-sort="group">
                                Group
                            </th>
                            <th scope="col" data-sort="agenda">
                                Agenda
                            </th>
                            <th scope="col" data-sort="minutes">
                                Minutes
                            </th>
                            <th scope="col" data-sort="slides">
                                Slides
                            </th>
                            <th scope="col" data-sort="drafts">
                                Drafts
                            </th>
                            <th scope="col" data-sort="updated">
                                Updated
                            </th>
                            {% if user|has_role:"Secretariat" or user_groups %}
                                <th scope="col"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in iab %}
                            {% ifchanged session.group.acronym %}
                                {% include "meeting/group_materials.html" %}
                            {% endifchanged %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <!-- IRTF Sessions -->
            {% if irtf %}
                <h2 class="mt-4" id="irtf">
                    IRTF <small>Internet Research Task Force</small>
                </h2>
                <table class="table table-sm table-striped tablesorter">
                    <thead>
                        <tr>
                            <th scope="col" data-sort="group">
                                Group
                            </th>
                            <th scope="col" data-sort="agenda">
                                Agenda
                            </th>
                            <th scope="col" data-sort="minutes">
                                Minutes
                            </th>
                            <th scope="col" data-sort="slides">
                                Slides
                            </th>
                            <th scope="col" data-sort="drafts">
                                Drafts
                            </th>
                            <th scope="col" data-sort="updated">
                                Updated
                            </th>
                            {% if user|has_role:"Secretariat" or user_groups %}
                                <th scope="col"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in irtf|dictsort:"group.acronym" %}
                            {% ifchanged session.group.acronym %}
                                {% include "meeting/group_materials.html" %}
                            {% endifchanged %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if other %}
                <h2 class="mt-4" id="other">
                    Other <small>Miscellaneous other sessions</small>
                </h2>
                <table class="table table-sm table-striped tablesorter">
                    <thead>
                        <tr>
                            <th scope="col" data-sort="group">
                                Group
                            </th>
                            <th scope="col" data-sort="agenda">
                                Agenda
                            </th>
                            <th scope="col" data-sort="minutes">
                                Minutes
                            </th>
                            <th scope="col" data-sort="slides">
                                Slides
                            </th>
                            <th scope="col" data-sort="drafts">
                                Drafts
                            </th>
                            <th scope="col" data-sort="updated">
                                Updated
                            </th>
                            {% if user|has_role:"Secretariat" or user_groups %}
                                <th scope="col"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in other|dictsort:"group.acronym" %}
                            {% ifchanged session.group.acronym %}
                                {% include "meeting/group_materials.html" %}
                            {% endifchanged %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endwith %}
    {% endwith %}
{% endblock %}
{% block js %}
    <script src="{% static "ietf/js/list.js" %}">
    </script>
{% endblock %}