{% extends "base.html" %}
{# Copyright The IETF Trust 2015-2020, All Rights Reserved #}
{% load origin %}
{% block title %}IETF {{ meeting.number }} Meeting Agenda: {{ schedule.owner }} / {{ schedule.name }}{% endblock %}
{% block content %}
    {% origin %}
    <div id="read_only">
        <p>
            You do not have access this agenda. It belongs to {{ schedule.owner }}.
        </p>
        <a class="btn btn-primary my-3"
           href="{% url "ietf.meeting.views.list_schedules" meeting.number %}">
            Other agendas for this meeting
        </a>
    </div>
{% endblock %}
