<table id="id_attendees" class="table table-sm table-striped tablesorter">
    <thead>
        <tr>
            <th scope="col" data-sort="last">Last name</th>
            <th scope="col" data-sort="first">First name</th>
            <th scope="col" data-sort="organization">Organization</th>
            <th scope="col" data-sort="country">Country</th>
        </tr>
    </thead>
    <tbody>
        {% for attendee in attendees %}
            <tr>
                <td>{{ attendee.LastName }}</td>
                <td>{{ attendee.FirstName }}</td>
                <td>{{ attendee.Company }}</td>
                <td>{{ attendee.Country }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>