{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load ietf_filters static %}
{% block morecssXX %}
    .proceedings-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    }
    .proceedings-title > h1 {font-size: xx-large; margin-bottom: 0;}
    .proceedings-date {font-size: x-large;}
    .proceedings-intro {
    font-size: large;
    display: flex;
    justify-content:
    space-around;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    }
    .proceedings-intro.with-divider {border-bottom-style: solid; border-width: 1px;}
    .proceedings-intro > .proceedings-column {display: flex; flex-direction: column;}
    .proceedings-intro > .proceedings-column > .proceedings-row {display: flex;}
    .finalize-button {position: absolute; top: 0; right: 0;}
    .proceedings-intro .host-logo {
    max-height: {{ meetinghost_logo.max_height }}px;
    max-width: {{ meetinghost_logo.max_width }}px;
    overflow: hidden;
    margin: 0 0 0 1rem;
    }
    {# Resize logo so longest edge matches the display size, maintaining aspect ratio. #}
    {% widthratio meetinghost_logo.max_width meetinghost_logo.max_height 1 as displayed_aspect %}
    {% for host in meeting.meetinghosts.all %}
        {% widthratio host.logo.width host.logo.height 1 as logo_aspect %}
        .host-logo img.host{{ forloop.counter }}  {
        {% if logo_aspect > displayed_aspect %}
            width: 100%; height: auto;
        {% else %}
            width: auto; height: 100%;
        {% endif %}
        }
    {% endfor %}
{% endblock %}
{% block pagehead %}
    <link rel="stylesheet" href="{% static "ietf/css/list.css" %}">
{% endblock %}
{% block title %}
    IETF {{ meeting.number }}
    {% if not meeting.proceedings_final %}Draft{% endif %}
    Proceedings
{% endblock %}
{% block content %}
    {% origin %}
    {% if user|has_role:"Secretariat" and not meeting.proceedings_final %}
        <a class="btn btn-primary finalize-button"
           href="{% url 'ietf.meeting.views.finalize_proceedings' num=meeting.number %}">
            Finalize Proceedings
        </a>
    {% endif %}
    {# cache for 15 minutes, as long as there's no proceedings activity. takes 4-8 seconds to generate. #}
    {% load cache %}
    {% cache 900 ietf_meeting_proceedings meeting.number cache_version %}
    {% include 'meeting/proceedings/title.html' with meeting=meeting attendance=attendance only %}
    {% include 'meeting/proceedings/introduction.html' with meeting=meeting only %}
    {% with "True" as show_agenda %}
        <!-- Plenaries -->
        {% if plenaries %}
            <h2 id="plenaries">Plenaries</h2>
            <table class="table table-sm table-striped tablesorter">
                <thead>
                    <tr>
                        <th class="col-1" data-sort="group">Group</th>
                        <th class="col-1" data-sort="artifacts">Artifacts</th>
                        <th class="col-2" data-sort="recordings">Recordings</th>
                        <th class="col-4" data-sort="slides">Slides</th>
                        <th class="col-3" data-sort="drafts">Drafts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for session in plenaries %}
                        {% include "meeting/group_proceedings.html" %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <!-- Working groups -->
        {% for area, meeting_sessions, not_meeting_sessions in ietf_areas %}
            <h2 id="{{ area.acronym }}">
                {{ area.acronym|upper }} <small class="text-muted">{{ area.name }}</small>
            </h2>
            {% if meeting_sessions %}
                <table class="table table-sm table-striped tablesorter">
                    <thead>
                        <tr>
                            <th class="col-1" data-sort="group">Group</th>
                            <th class="col-1" data-sort="artifacts">Artifacts</th>
                            <th class="col-2" data-sort="recordings">Recordings</th>
                            <th class="col-4" data-sort="slides">Slides</th>
                            <th class="col-3" data-sort="drafts">Drafts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in meeting_sessions %}
                            {% ifchanged session.group.acronym %}
                                {% include "meeting/group_proceedings.html" %}
                            {% endifchanged %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if not_meeting_sessions %}
                <p>
                    <small class="text-muted">{{ area.name }} groups not meeting:</small>
                    {% for session in not_meeting_sessions %}
                        {% ifchanged session.group.acronym %}
                            <a href="{% url 'ietf.group.views.group_home' acronym=session.group.acronym %}">{{ session.group.acronym }}</a>
                            {% if not forloop.last %},{% endif %}
                        {% endifchanged %}
                    {% endfor %}
                </p>
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th class="col-1">data-sort="nbsp"&nbsp;</th>
                            <th class="col-1">data-sort="nbsp"&nbsp;</th>
                            <th class="col-2">data-sort="nbsp"&nbsp;</th>
                            <th class="col-4">data-sort="nbsp"&nbsp;</th>
                            <th class="col-3">data-sort="nbsp"&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in not_meeting_sessions %}
                            {% ifchanged session.group.acronym %}
                                {% if session.sessionpresentation_set.exists %}
                                    {% include "meeting/group_proceedings.html" %}
                                {% endif %}
                            {% endifchanged %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% endfor %}
        <!-- Training Sessions -->
        {% if training %}
            {% with "False" as show_agenda %}
                <h2 id="training">Training</h2>
                <table class="table table-sm table-striped tablesorter">
                    <thead>
                        <tr>
                            <th class="col-1" data-sort="group">Group</th>
                            <th class="col-1" data-sort="artifacts">Artifacts</th>
                            <th class="col-2" data-sort="recordings">Recordings</th>
                            <th class="col-4" data-sort="slides">Slides</th>
                            <th class="col-3" data-sort="drafts">Drafts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in training %}
                            {% ifchanged %}
                                {% include "meeting/group_proceedings.html" %}
                            {% endifchanged %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endwith %}
        {% endif %}
        <!-- IAB Sessions -->
        {% if iab %}
            <h2 id="iab">
                IAB <small class="text-muted">Internet Architecture Board</small>
            </h2>
            <table class="table table-sm table-striped tablesorter">
                <thead>
                    <tr>
                        <th class="col-1" data-sort="group">
                            Group
                        </th>
                        <th class="col-1" data-sort="artifacts">
                            Artifacts
                        </th>
                        <th class="col-2" data-sort="recordings">
                            Recordings
                        </th>
                        <th class="col-4" data-sort="slides">
                            Slides
                        </th>
                        <th class="col-3" data-sort="drafts">
                            Drafts
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for session in iab %}
                        {% ifchanged %}
                            {% include "meeting/group_proceedings.html" %}
                        {% endifchanged %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <!-- IRTF Sessions -->
        {% if irtf %}
            <h2 id="irtf">
                IRTF <small class="text-muted">Internet Research Task Force</small>
            </h2>
            <table class="table table-sm table-striped tablesorter">
                <thead>
                    <tr>
                        <th class="col-1" data-sort="group">
                            Group
                        </th>
                        <th class="col-1" data-sort="artifacts">
                            Artifacts
                        </th>
                        <th class="col-2" data-sort="recordings">
                            Recordings
                        </th>
                        <th class="col-4" data-sort="slides">
                            Slides
                        </th>
                        <th class="col-3" data-sort="drafts">
                            Drafts
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for session in irtf|dictsort:"group.acronym" %}
                        {% ifchanged %}
                            {% include "meeting/group_proceedings.html" %}
                        {% endifchanged %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endwith %}
{% endcache %}
{% endblock %}
{% block js %}
    <script src="{% static "ietf/js/list.js" %}">
    </script>
{% endblock %}