{% extends "base.html" %}
{% load ams_filters ietf_filters %}
{% block title %}IETF {{ meeting.number }} Proceedings - Progress Report{% endblock %}
{% block content %}
    <h1>
        <a class="text-decoration-none text-reset"
           href="{% url 'ietf.meeting.views.proceedings' num=meeting.number %}">
            IETF {{ meeting.number }} proceedings
        </a>
    </h1>
    <h2 class="mt-3">IETF Progress Report</h2>
    <h3 class="mt-3">{{ sdate|date:"d-F-y" }} to {{ edate|date:"d-F-y" }}</h3>
    <ul class="progress-section">
        <li>{{ actions_count }} IESG Protocol and Document Actions this period</li>
        <li>{{ last_calls_count }} IESG Last Calls issued to the IETF this period</li>
        <li>
            {{ new_drafts_count|stringformat:"3s" }}    New I-Ds   ({{ new_drafts_updated_count }} of which were updated, some ({{ new_drafts_updated_more_count }}) more than once)
        </li>
        <li>{{ updated_drafts_count|stringformat:"3s" }}    I-Ds were updated   (Some more than once)</li>
        <li>
            <h3 class="mt-3">In the final 4 weeks before meeting</h3>
        </li>
        <li>
            {{ ffw_new_count|stringformat:"3s" }}    New I-Ds were received - {{ ffw_new_percent }} of total newbies since last meeting
        </li>
        <li>
            {{ ffw_update_count|stringformat:"3s" }}    I-Ds were updated - {{ ffw_update_percent }} of total updated since last meeting
        </li>
    </ul>
    <h3 class="mt-3">{{ new_groups.count }} New Working Group(s) formed this period</h3>
    <ul class="progress-section">
        {% for group in new_groups %}<li>{{ group.name }} ({{ group.acronym }})</li>{% endfor %}
    </ul>
    <h3 class="mt-3">{{ concluded_groups.count }} Working Group(s) concluded this period</h3>
    <ul class="progress-section">
        {% for group in concluded_groups %}<li>{{ group.name }} ({{ group.acronym }})</li>{% endfor %}
    </ul>
    <h3 class="mt-3">{{ rfcs.count }} RFCs published this period</h3>
    <p>
        {{ counts.std }} Standards Track; {{ counts.bcp }} BCP; {{ counts.exp }} Experimental; {{ counts.inf }} Informational
    </p>
    <table class="table table-sm table-striped tablesorter">
        <thead>
            <tr>
                <th scope="col" data-sort="rfc">RFC</th>
                <th scope="col" data-sort="status">Status</th>
                <th scope="col" data-sort="group">Group</th>
                <th scope="col" data-sort="date">Date</th>
                <th scope="col" data-sort="title">Title</th>
            </tr>
        </thead>
        {% if rfcs %}
            <tbody>
                {% for rfc in rfcs %}
                    <tr>
                        <td class="text-nowrap">
                            <a href="{{ rfc.doc.get_absolute_url }}">{{ rfc.doc.canonical_name|prettystdname }}</a>
                        </td>
                        <td class="text-nowrap">{{ rfc.doc.intended_std_level.name }}</td>
                        <td>
                            <a href="{{ rfc.doc.group.about_url }}">{{ rfc.doc.group.acronym }}</a>
                        </td>
                        <td>{{ rfc.time|date:"F Y" }}</td>
                        <td>{{ rfc.doc.title }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endif %}
    </table>
{% endblock %}