{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load staticfiles %}
{% load ietf_filters %}
{% load humanize %}

{% block title %}IETF {{ meeting.number }} Meeting Agenda: {{schedule.owner}} / {{ schedule.name }}{% endblock %}
{% load agenda_custom_tags %}
{% block pagehead %}
<link rel='stylesheet' type='text/css' href="{% static 'ietf/css/agenda/jquery-ui-themes/jquery-ui-1.8.11.custom.css' %}" />
<link rel='stylesheet' type='text/css' href="{% static 'ietf/css/agenda/base2.css' %}" />
<link rel='stylesheet' type='text/css' href="{% static 'ietf/css/agenda/agenda.css' %}" />
{% endblock pagehead %}

{% block js %}
<script type="text/javascript" src="{% static 'ietf/js/agenda/jquery-1.8.2.min.js' %}"></script>
<script src="{% static 'jquery.cookie/jquery.cookie.js' %}"></script>
<script>
jQuery.ajaxSetup({
    crossDomain: false, // obviates need for sameOrigin test
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
        }
    }
});
</script>
<script type='text/javascript' src="{% static 'ietf/js/agenda/jquery-ui-1.9.0.custom/jquery-ui.custom.js' %}"></script>
<script type='text/javascript' src="{% static 'ietf/js/agenda/jquery-ui-1.9.0.custom/jquery.ui.widget.js' %}"></script>
<script type='text/javascript' src="{% static 'ietf/js/agenda/jquery-ui-1.9.0.custom/jquery.ui.droppable.js' %}"></script>
<script type='text/javascript' src="{% static 'ietf/js/agenda/jquery-ui-1.9.0.custom/jquery.ui.sortable.js' %}"></script>
<script type='text/javascript' src="{% static 'ietf/js/agenda/jquery-ui-1.9.0.custom/jquery.ui.accordion.js' %}"></script>
<script type='text/javascript' src="{% static 'ietf/js/agenda/jquery-ui-1.9.0.custom/jquery.ui.draggable.js' %}"></script>

<script type='text/javascript' src="{% static 'ietf/js/agenda/agenda_listeners.js' %}"></script>
<script type='text/javascript' src="{% static 'ietf/js/agenda/agenda_helpers.js' %}"></script>
<script type='text/javascript' src="{% static 'ietf/js/agenda/agenda_property_utils.js' %}"></script>
<script type='text/javascript' src="{% static 'ietf/js/agenda/agenda_properties_edit.js' %}"></script>
{% endblock js %}

{% block content %}
  {% origin %}
</tr></table></div>
<div class="wrapper custom_text_stuff">
<div style="ui-icon ui-icon-arrow-1-w" id="close_ietf_menubar">
&lt;
</div>

<div href="{{ meeting.json_url }}" class="agenda_list_title">
<p>Meeting {{meeting.number}}</p>
</div>

<div id="agenda_edit_properties">
  <div id="title">
    <p>Schedule: {{schedule.owner}}/{{schedule.name}}</p>
    <!-- done with table to reuse code from table view -->
    <table class="agenda_list"><tr></tr><tr agenda_name="{{schedule.name}}" id="agenda_name_{{schedule.name|slugify}}" ><td>
    <span class="styled_button agenda_official_mark {{schedule.official_class}}">{{ schedule.official_token }}</span>
    </td></tr></table>
  </div>

  <form action="{{schedule.json_url}}" method="POST">
  <fieldset>
     <table>
        {{ form.as_table }}

     <tr>
       <td></td>
       <td colspan=2><input type="button" name="save" value="save" onClick="save_agenda(this.form)" class="styled_button">
       <a id="agenda_cancel_url" href="{% url "ietf.meeting.views.edit_agendas" meeting.number %}"><span class="styled_button agenda_cancel">Cancel</span></a></td>
       <td><span class="styled_button agenda_delete">DEL</span></td>
     </tr>
     </table>
  </fieldset>
  </form>
</div>

<div class="dialog" id="agenda_delete_dialog">
     Are you sure you want to delete this agenda?
</div>

</div>


{% endblock %}
