{% extends "base.html" %}
{# Copyright The IETF Trust 2018, All Rights Reserved #}
{% load origin %}
{% load ietf_filters static django_bootstrap5 %}
{% block morecss %}#id_body {height:700px;}{% endblock %}
{% block title %}IETF {{ meeting.number }}: Request Minutes{% endblock %}
{% block content %}
    {% origin %}
    <h1>
        Request Minutes
        <br>
        <small class="text-muted">IETF {{ meeting.number }}
            <br>
        {{ meeting.city }}, {{ meeting.country }} – {{ meeting.venue_name }}</small>
    </h1>
    <form method="post" class="my-3">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-danger">Send</button>
    </form>
{% endblock %}