{% extends "base.html" %}{% load ietf_filters %}
{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% block title %}IETF {{ meeting.num }} Meeting Timeslot Requests{% endblock %}
{% block morecss %}
h2 { border-style: none none solid none }
h3 { color: #0000a0 }
th { text-align: right; vertical-align: text-top; }
{% endblock morecss %}

{% block content %}
<h1>IETF {{ meeting.num }} Meeting Timeslot Requests</h1>

{# cache for 15 minutes -- XXX need to add criteria #}
{% load cache %}
{% cache 900 meeting.num %}
{% endcache %}

{% regroup sessions|dictsort:"area" by area as area_list %}
{% for area in area_list %}
  {% if area.grouper %}{% ifnotequal area.grouper|upper "1PLENARY" %}
    <h2>{{area.grouper|upper}}</h2>

    <h3>Summary</h3>
    <table>
      {% for session in area.list|dictsort:"acronym" %}
        {% if session.length_session1 %}
          <tr>
            <th>{{session.acronym|upper}}: </th>
            <td>
              {{session.length_session1_desc}}
              {% ifnotequal session.length_session2 "0" %}
               + {{session.length_session2_desc}}
              {% endifnotequal %}
              {% ifnotequal session.length_session3 "0" %}
               + {{session.length_session3_desc}}
              {% endifnotequal %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
      <tr><th>Unscheduled:</th><td>
      {% for wg in wgs %}
        {% ifequal wg.area_acronym|upper area.grouper|upper %}
          {% ifequal wg.meeting_scheduled|upper "NO" %}
            {{wg|upper}}
          {% endifequal %}
        {% endifequal %}
      {% endfor %}
      </td></tr>
    </table>


    {% for session in area.list|dictsort:"acronym" %}
      {% if session.length_session1 %}
      <h3>{{session.acronym|upper}}</h3>
      <table>
        <tr><th>Requested&nbsp;By: </th>
          <td>{{session.requested_by}} on {{session.requested_date}}
          {% ifnotequal session.requested_date session.last_modified_date %}
            (modified {{session.last_modified_date}})
          {% endifnotequal %}
          </td>
        </tr>
        <tr>
          <th>Session&nbsp;Length: </th>
          <td>
            {{session.length_session1_desc}}
            {% ifnotequal session.length_session2 "0" %}
             + {{session.length_session2_desc}}
            {% endifnotequal %}
            {% ifnotequal session.length_session3 "0" %}
             + {{session.length_session3_desc}}
            {% endifnotequal %}
          </td>
        </tr>
        {% if session.conflict1 %}
          <tr><th>Primary&nbsp;Conflicts: </th><td>{{session.conflict1}}</td></tr>
        {% endif %}
        {% if session.conflict2 %}
          <tr><th>Secondary&nbsp;Conflicts: </th><td>{{session.conflict2}}</td></tr>
        {% endif %}
        {% if session.conflict3 %}
          <tr><th>Tertiary&nbsp;Conflicts: </th><td>{{session.conflict3}}</td></tr>
        {% endif %}
        {% if session.conflict_other %}
          <tr><th>Other&nbsp;Conflicts: </th><td>{{session.conflict_other}}</td></tr>
        {% endif %}
        {% if session.special_req %}
          <tr><th>Special&nbsp;Requests: </th><td>{{session.special_req}}</td></tr>
        {% endif %}
        {% if session.ad_comments  %}
          <tr><th>AD&nbsp;Comments: </th><td>{{session.ad_comments}}</td></tr>
        {% endif %}
      <table>
      {% endif %}

    {%endfor%}
  {% endifnotequal %}{% endif %}
{% endfor %}
<br>


{% endblock %}
