{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load staticfiles %}
{% load textfilters %}

{% origin %}

{% if item.session.agenda %}
  <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal-{{item.slug}}" title="Show meeting materials"><span class="fa fa-arrows-alt"></span></button>
  <a class="btn btn-default btn-xs" href="/meeting/{{schedule.meeting.number}}/agenda/{{item.session.historic_group.acronym}}-drafts.tgz" title="Download meeting materials as .tar archive"><span class="fa fa-file-archive-o"></span></a>
  <a class="btn btn-default btn-xs" href="/meeting/{{ schedule.meeting.number }}/agenda/{{item.session.historic_group.acronym}}-drafts.pdf" title="Download meeting materials as PDF file"><span class="fa fa-file-pdf-o"></span></a>
{% endif %}

{% if item.timeslot.type.slug == 'plenary' %}
  <a class="btn btn-default btn-xs" href="https://etherpad.ietf.org:9009/p/notes-ietf-{{ schedule.meeting.number }}-plenary?useMonospaceFont=true" title="Etherpad for note-takers"><span class="fa fa-edit"></span></a>
{% else %}
  <a class="btn btn-default btn-xs" href="https://etherpad.ietf.org:9009/p/notes-ietf-{{ schedule.meeting.number }}-{{item.session.historic_group.acronym}}?useMonospaceFont=true" title="Etherpad for note-takers"><span class="fa fa-edit"></span></a>
{% endif %}

{# show stream buttons up till end of session, then show archive buttons #}
{% if now < item.timeslot.end_time %}
  <!-- Jabber -->
  <a class="btn btn-default btn-xs"
    href="xmpp:{{item.session.jabber_room_name}}@jabber.ietf.org?join"
    title="Jabber room for {{item.session.jabber_room_name}}"><span class="fa fa-lightbulb-o"></span>
  </a>

	<!-- Video stream (meetecho) -->
	{% if item.timeslot.location.video_stream_url %}
	  <a class="btn btn-default btn-xs"
	    href="{{ item.timeslot.location.video_stream_url|format:item.session }}"
	    title="Meetecho video stream"><span class="fa fa-video-camera"></span>
	  </a>
	{% endif %}
	<!-- Audio stream -->
	{% if item.timeslot.location.audio_stream_url %}
	  <a class="btn btn-default btn-xs"
	    href="{{item.timeslot.location.audio_stream_url|format:item.session }}"
	    title="Audio stream"><span class="glyphicon glyphicon-headphones"></span>
	  </a>
	{% endif %}
        <!-- WebEx -->
        {% if "https://ietf.webex.com" in item.session.agenda_note|first_url %}
          <a class="btn btn-default btn-xs"
            href="{{ item.session.agenda_note|first_url }}"
            title="Webex session"><span class="fa fa-phone"></span>
          </a>
        {% else  %}
          {% if item.timeslot.location.webex_url %}
            <a class="btn btn-default btn-xs"
              href="{{item.timeslot.location.webex_url|format:item.session }}"
              title="Webex session"><span class="fa fa-phone"></span>
            </a>
          {% endif %}
        {% endif %}

{% else %}

  <!-- Jabber logs -->
	{% if schedule.meeting.number|add:"0" >= 60 %}
    <a class="btn btn-default btn-xs" 
       href="https://www.ietf.org/jabber/logs/{{item.session.jabber_room_name}}"
	     title="Jabber logs for {{item.session.jabber_room_name}}">
	    <span class="fa fa-stack">
	      <i class="fa fa-file-o fa-stack-1x"></i>
	      <i class="fa fa-lightbulb-o fa-stack-1x"></i>
	    </span>
	  </a>
	{% endif %}

	<!-- Video recording -->
  {% if schedule.meeting.number|add:"0" >= 80 %}
	  {% with item.session.recordings as recordings %}
	    {% if recordings %}
	      <!-- There's no guaranteed order, so this is a bit messy: -->
	      <!-- First, the audio recordings, if any -->
	      {% for r in recordings %}
					{% if r.get_href and 'audio' in r.get_href %}
					  <a class="btn btn-default btn-xs" href="{{ r.get_href }}" title="{{ r.title}}">
	 			      <span class="fa fa-file-audio-o"></span>
				    </a>
					{% endif %}
	      {% endfor %}
	      <!-- Then the youtube recordings -->
	      {% for r in recordings %}
					{% if r.get_href and 'youtu' in r.get_href %}
					  <a class="btn btn-default btn-xs" href="{{ r.get_href }}" title="{{ r.title }}">
				      <span class="fa fa-file-video-o"></span>
					  </a>
					{% endif %}
	      {% endfor %}
	      <!-- Finally, any other recordings -->
	      {% for r in recordings %}
	        {% if r.get_href and not 'audio' in r.get_href and not 'youtu' in r.get_href %}
					  <a class="btn btn-default btn-xs" href="{{ r.get_href }}" title="{{ r.title }}">
					    <span class="fa fa-file-o"></span>
					  </a>
					{% endif %}
	      {% endfor %}
	    {% endif %}
            {% if item.timeslot.location.video_stream_url %}
              <a class="btn btn-default btn-xs"
                 href="http://www.meetecho.com/ietf{{schedule.meeting.number}}/recordings#{{item.session.historic_group.acronym.upper}}"
                 title="Meetecho session recording"><img src="{% static 'ietf/images/meetecho-icon.svg' %}" alt="Meetecho Stream" width="12px">
              </a>
            {% endif %}

	  {% endwith %}
	{% endif %}

	<!-- Audio recording -->
			{# <a class="btn btn-default btn-xs" href="" title="Audio recording"><span class="fa fa-file-audio-o"></span></a>#}
{% endif %}
