{% extends "base.html" %}
{# Copyright The IETF Trust 2015-2026, All Rights Reserved #}
{% load origin ietf_filters static %}
{% block title %}{{ meeting }} : {{ group.acronym }}{% endblock %}
{% block morecss %}
    .drag-handle {
        cursor: move;
    }
{% endblock %}
{% block content %}
    {% origin %}
    <h1>
        {{ meeting }}
        <br>
        <small class="text-body-secondary"><a href="{% url 'ietf.group.views.group_about' acronym=group.acronym %}">{{ group.acronym }}</a>: {{ group.name }}</small>
    </h1>
    {% if meeting.start_datetime >= thisweek %}
        <a class="regular float-end"
           title="icalendar entry for {{ group.acronym }}@{{ meeting.number }}"
           aria-label="icalendar entry for {{ group.acronym }}@{{ meeting.number }}"
           href="{% url 'ietf.meeting.views.agenda_ical' num=meeting.number acronym=group.acronym %}">
            <i class="bi bi-calendar"></i>
        </a>
    {% endif %}
    {% if is_materials_manager and not can_manage_materials %}
        <div class="alert alert-warning my-3">
            The materials upload cutoff date for this session has passed. If you need to change the materials, contact the Secretariat.
        </div>
    {% endif %}
    <h2 class="mt-3">Scheduled Sessions</h2>
    {% include 'meeting/session_details_panel.html' with sessions=scheduled_sessions %}
    <h2 class="mt-3">Unscheduled Sessions</h2>
    {% include 'meeting/session_details_panel.html' with sessions=unscheduled_sessions %}
    {% for s in pending_suggestions %}
        {% if forloop.first %}<h2 class="mt-3">
            {% if can_manage_materials %}
                Proposed slides awaiting your approval
            {% else %}
                Your proposed slides awaiting chair approval
            {% endif %}
        </h2>
        <div class="proposedslidelist">{% endif %}
            {% if can_manage_materials %}
                <p>
                    <a href="{% url "ietf.meeting.views.approve_proposed_slides" slidesubmission_id=s.pk num=s.session.meeting.number %}">
                        {{ s.submitter }} - {{ s.title }} ({{ s.time }})
                    </a>
                </p>
            {% else %}
                <p>
                    {{ s.title }} ({{ s.time }})
                </p>
            {% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}
    {% if user|has_role:"Secretariat" %}
        <div class="card text-dark bg-warning mt-5 mb-3">
            <div class="card-header">
                Secretariat Only
            </div>
            <div class="card-body">
                <form method="post"
                      action="{% url 'ietf.meeting.views.notify_meetecho_of_all_slides' num=meeting.number acronym=group.acronym %}">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">
                        Notify Meetecho of Slides
                    </button>
                </form>
            </div>
        </div>
    {% endif %}
    {% comment %}
    The existence of an element with id canManageMaterialsFlag is checked in
    session_details.js to determine whether it should init the sortable tables.
    Not the most elegant approach, but it works.
    {% endcomment %}
    {% if can_manage_materials %} <div id="can-manage-materials-flag"></div>{% endif %}
{% endblock %}
{% block js %}
    <script src="{% static 'ietf/js/list.js' %}"></script>
    <script src="{% static 'ietf/js/moment.js' %}"></script>
    <script src="{% static 'ietf/js/upcoming.js' %}"></script>
    <script src="{% static 'ietf/js/timezone.js' %}"></script>
    {% if can_manage_materials %}
        <script src="{% static 'ietf/js/sortable.js' %}"></script>
    {% endif %}
    <script src="{% static 'ietf/js/session_details.js' %}"></script>
{% endblock %}