{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin ietf_filters %}

{% block title %}{{ meeting }} : {{ acronym }}{% endblock %}

{% block content %}
  {% origin %}
  <h1>{{ meeting }} : {{ acronym }}</h1>

  {% for session in sessions %}
    <h2>{% if sessions|length > 1 %}Session {{ forloop.counter }} : {% endif %}{{ session.time }}{% if session.name %} : {{ session.name }}{% endif %}</h2>

   {% if can_manage_materials %}
   {% if session.status.slug == 'sched' or session.status.slug == 'schedw' %}
   <div class="buttonlist">
     {% if meeting.type.slug == 'interim' and user|has_role:"Secretariat" %}
        <a class="btn btn-default" href="{% url 'ietf.meeting.views.interim_request_details' number=meeting.number %}">Meeting Details</a>
     {% endif %}
     <a class="btn btn-default" href="{% url 'ietf.secr.proceedings.views.upload_unified' meeting_num=session.meeting.number acronym=session.group.acronym %}">
        Upload/Edit materials 
     </a>
     <a class="btn btn-default" href="{% url 'ietf.meeting.views.add_session_drafts' session_id=session.pk num=session.meeting.number %}">
        Link additional drafts to session
     </a>
     {% if not type_counter.agenda %}
       <span class="label label-warning">This session does not yet have an agenda</span>
     {% endif %}
   </div>
   {% endif %}
   {% endif %}

    {% if session.filtered_sessionpresentation_set %}
      <div class="panel panel-default">
        <div class="panel-heading">Materials:</div>
        <div class="panel-body">
          <table class="table table-condensed table-striped">
            {% for pres in session.filtered_sessionpresentation_set %}
              {% if pres.document.type_id != 'bluesheets' and pres.document.type_id != 'recording' %}
                <tr>
                    <td>
                        {% if pres.rev %}
                           {% url 'doc_view' name=pres.document.name rev=pres.rev as url %}
                        {% else %}
                           {% url 'doc_view' name=pres.document.name as url %}
                        {% endif %}
                        <a href="{{url}}">{{pres.document.title}} ({{ pres.document.name }}{% if pres.rev %}-{{ pres.rev }}{% endif %})
                        </a>
                    </td>
                </tr>
              {% endif %}
            {% endfor %}
          </table>
        </div>
      </div>
    {% endif %}
  {% endfor %}

{% endblock %}
