{# Copyright The IETF Trust 2007, All Rights Reserved #}
          {% if wg.agenda_file and wg.minute_file and wg.slides %}
                <tr bgcolor="#BBFFBB"><td>Presentation files received, agenda received, minutes received</td></tr>
          {% else %}
            {% if not wg.agenda_file and not wg.minute_file and not wg.slides %}
              <tr bgcolor="#ff8888"><td>No presentation files, no agenda, no minutes</td></tr>
            {% else %}
              {% if not wg.agenda_file and wg.minute_file and not wg.slides %}
                <tr bgcolor="ffffbb"><td>No presentation files, no agenda, minutes received</td></tr>
              {% else %}
                {% if wg.agenda_file and not wg.minute_file and not wg.slides %}
                   <tr bgcolor="ffffbb"><td>No presentation files, agenda received, no minutes</td></tr>
                {% else %}
                  {% if wg.agenda_file and wg.minute_file and not wg.slides %}
                    <tr bgcolor="ffffbb"><td>No presentation files, agenda received, minutes received</td></tr>
                  {% else %}
                    {% if not wg.agenda_file and not wg.minute_file and wg.slides %}
                      <tr bgcolor="ffcc88"><td>Presentation files received, no agenda, no minutes</td></tr>
                    {% else %}
                       {% if not wg.agenda_file and wg.minute_file and wg.slides %}
                         <tr bgcolor="ffcc88"><td>Presentation files received, no agenda, minutes received</td></tr>
                       {% else %}
                         {% if wg.agenda_file and not wg.minute_file and wg.slides %}
                           <tr bgcolor="ffcc88"><td>Presentation files received, agenda received, no minutes</td></tr>
                         {% else %}
                           <tr bgcolor="cccccc"><td>Unknown Status</td></tr>
                         {% endif %}
                       {% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
