{% extends "base.html" %}
{# Copyright The IETF Trust 2007, All Rights Reserved #}

{% block title %}IETF Mailing List Requests{% endblock %}

{% block content %}
<h1>Mailing List Requests - Instructions</h1>

<p>The old "Mailing List Request Tool" has been retired; mailing list requests
are now sent over email, using instructions below.</p>

<h2>Create a new WG email list at ietf.org</h2>

The working group chair should fill out this template, and send it to
ietf-action@ietf.org (when the WG has been approved by IESG):

<div style="margin-left:2em;">
<pre>
MAILING LIST REQUEST TEMPLATE

(0) Your (requestor's) full name and email address:

(1) List name (often &lt;WGACRONYM&gt;@ietf.org):

(2) Provide a short description of the email list. This description is
used when the mailing list is listed with other mailing lists, or in
headers, and so forth. It should be as succinct as you can get it,
while still identifying what the list is. For example, "Media Gateway
Control working group discussion list".

(3) Provide a longer description of the email list (for example, "This
list is for discussions relating to the development, clarification,
and implementation of the media gateway control protocol defined in
RFC 3015 (and ITU-T Recommendation H.248). Standardization related to
this protocol is carried out jointly by the IETF Megaco Working Group
and ITU-T Stydy Group 16 Question 3.")

(4) Who are the list Administrators? (usually email addresses of the
WG chairs)

(5) Initial list member(s): 

(6) Provide a welcome message for initial subscriber(s) (optional): 

(7) Provide a welcome message for new subscriber(s)(optional): 

(8) What steps are required for subscription?
    [ ] Confirm (RECOMMENDED)  
    [ ] Approve
    [ ] Confirm+Approve

(9) Messages to this list can be posted by: 
    [ ] List members only (RECOMMENDED)
    [ ] Anyone

(10) Do postings need to be approved by an administrator?
    [ ] Yes 
    [ ] No (RECOMMENDED)

(11) Require TMDA?
    [ ] Yes (RECOMMENDED)
    [ ] No 

(12) The archives are 
    [ ] Public (RECOMMENDED)
    [ ] Private (not allowed for WG lists)

(13) Provide specific information about how to access and move the
existing archive (optional):
</pre>
</div>

<h2>Move an existing WG email list to ietf.org</h2>

The working group chair should fill out the template above,
and send it to ietf-action@ietf.org.

<h2>Close an existing WG email list at ietf.org</h2>

<p>Send an email to an appropriate Area Director, specifying which
list should be closed and why, and ask him/her to forward the approved
request to ietf-action@ietf.org.

<h2>Create a new non-WG email list at ietf.org/iab.org/irtf.org</h2>

Requests to create a new non-WG list need to be approved by an Area
Director (for lists at ietf.org), IAB member (for iab.org), or IRSG
member (for irtf.org).

<p>Please fill out the template above, send it via email to an appropriate
Area Director/IAB member/IRSG member for approval, and ask him/her
to forward it, when approved, to ietf-action@ietf.org.</p>

<h2>Move an existing non-WG email list to ietf.org/iab.org/irtf.org</h2>

<p>Requests to move existing non-WG lists need to be approved by an Area
Director (for lists at ietf.org), IAB member (for iab.org), or IRSG
member (for irtf.org).</p>

<p>Please fill out the template above, send it via email to an appropriate
Area Director/IAB member/IRSG member for approval, and ask him/her
to forward it, when approved, to ietf-action@ietf.org.</p>

<h2>Close an existing non-WG email list at ietf.org/iab.org/irtf.org</h2>

<p>Send an email to an appropriate Area Director (for lists at
ietf.org), IAB member (for iab.org), or IRSG member (for irtf.org),
specifying which list should be closed and why, and ask him/her to
forward the approved request to ietf-action@ietf.org.</p>
{% endblock %}
