{% extends "mailinglists/list_wizard_base.html" %}

{% block mlform %}
<tr>
<th colspan=2>Preview</th>
</tr>
<tr>
<th>{{ main_form.requestor.label }}</th>
<td>{{ main_form.requestor.field.data|escape }}</td>
</tr>
<tr>
<th>{{ main_form.requestor_email.label }}</th>
<td>{{ main_form.requestor_email.field.data|escape }}</td>
</tr>
<tr>
<th>{{ main_form.mlist_name.label }}</th>
<td>{{ main_form.mlist_name.field.data|escape }}@{{ main_form.domain_name }}</td>
</tr>
<tr>
<th>{{ main_form.requestor_email.label }}</th>
<td>{{ main_form.requestor_email.field.data|escape }}</td>
</tr>
<!-- make sure we have all the fields -->
{% for field in main_form %}
<tr>
<th>{{ field.label }}</th>
<td>{{ field.data|escape|linebreaksbr }}</td>
</tr>
{% endfor %}
<!-- must figure out whether this is an approver or a hidden field -->
{{ form }}
{% endblock %}
