{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "mailinglists/list_help_base.html" %}

{% block content %}
<br><b>Short description:</b> A terse phrase identifying this list.<br><br>
This description is used when the mailing list is listed with other mailing lists, or 
in headers, and so forth. It should be as succinct as you can get it, while 
still identifying what the list is.<br>

<b><font color="blue">Example:</font> Media Gateway Control working group discussion list.</b>
{% endblock %}
