{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "mailinglists/list_wizard_base.html" %}

{% block mlform %}
<tr><td>
{% if form.authorized.errors %}
<ul class="errorlist">
{% for error in form.authorized.errors %}
<li>{{ error|escape }}</li>
{% endfor %}
</ul>
{% endif %}
{{ form.authorized }}
<b>
{% ifequal form0.domain_name.data "iab.org" %}
I am a member of the IAB or am otherwise authorized to create or
close a mailing list at iab.org, or to move an existing list to
this domain.
{% else %}
{% ifequal form0.domain_name.data "irtf.org" %}
I am an active participant in the IRTF, or am otherwise authorized
to create or close a mailing list at irtf.org, or to move an existing
list to this domain.
{% else %}
I am authorized to perform this action.
{% endifequal %}
{% endifequal %}
</b></td></tr>
{% endblock %}
