{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "mailinglists/list_help_base.html" %}

{% block content %}
<br><b>Long description:</b> An introductory description - a few paragraphs - about the list.
It will be include, as html, at the top of the listinfo page. Carriage returns will end a paragraph.<br><br>
The text will be treated as html <i>except</i> that newlines will be translated to <br> - so you can use links, preformatted text, etc, but don't put in carriage returns except where you mean to separate paragraphs. And review your changes - bad html (like some unterminated HTML constructs) can prevent display of the entire listinfo page.<br><br>

<b><font color="blue">Example:</font> This list is for discussions relating to the development, clarification, and implementation of the media gateway control protocol defined in RFC 3015 (and ITU-T Recommendation H.248).  Standardization related to this protocol is carried out jointly by the IETF Megaco Working Group and ITU-T Stydy Group 16 Question 3.</b>
{% endblock %}
