{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "mailinglists/list_wizard_base.html" %}

{% block head %}
<script language="javascript">
function get_mail_type() {
    buttons = document.form_post["0-mail_type"]
    selected = ""
    for (i = 0; i < buttons.length; i++)
        if (buttons[i].checked)
            selected = buttons[i].value
    return selected
}

function set_domain (widget) {
    loc = "./?domain_name=" + widget.options[widget.selectedIndex].value
    mail_type = get_mail_type()
    if (mail_type != "")
        loc = loc + "&mail_type=" + mail_type
    window.location = loc
}

function activate_widgets() {
    selected = get_mail_type()
    if (selected == "") {
	return
    }
    wg = (selected.substr(-2) == "wg")
    document.form_post["0-group"].disabled = !wg
    document.form_post["0-domain_name"].disabled = wg
    document.form_post["0-list_to_close"].disabled = wg
}
</script>
{% endblock %}

{% block body_attributes %}onLoad="activate_widgets()"{% endblock %}

{% block mlform %}
<tr valign="top"><td bgcolor="#dfe9ef"><h3>WG email list
&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{ form.group }}
{% if form.group.errors %}
<ul class="errorlist">
{% for error in form.group.errors %}
<li>{{ error|escape }}</li>
{% endfor %}
</ul>
{% endif %}
</h3>

{% if form.mail_type.errors %}
<ul class="errorlist">
{% for error in form.mail_type.errors %}
<li>{{ error|escape }}</li>
{% endfor %}
</ul>
{% endif %}
{{ form.mail_type_fields.0 }}<br>
{{ form.mail_type_fields.1 }}<br>
{{ form.mail_type_fields.2 }}<br>
</td></tr>
<tr>
<td bgcolor="#ccdcec"><h3>Non-WG email list</h3>
<b>Select Domain Name: </b>{{ form.domain_name }}<br>
{{ form.mail_type_fields.3 }}<br>
{{ form.mail_type_fields.4 }}<br>
{{ form.mail_type_fields.5 }}<br>
{{ form.list_to_close }}
{% if form.list_to_close.errors %}
<ul class="errorlist">
{% for error in form.list_to_close.errors %}
<li>{{ error|escape }}</li>
{% endfor %}
</ul>
{% endif %}
<br>
</td></tr>
<tr><td colspan="2">
<font color="red">Note: Only members of the IAB (or their designees) and active 
participants in the IRTF may create or close a mailing list at iab.org and
irtf.org, respectively, or move an existing list to one of these domains."</font>
<br><br>
</td></tr>

{% endblock %}
