{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "base.html" %}

{% block title %}Mailing list request approval note.{% endblock %}

{% block css %}
table {
  margin:0;
  padding:0;
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  color: #022D66;
  font-style: normal;
  }
th {
  font-weight: normal;
  text-align: left;
}
{% endblock %}

{% block content %}
<table bgcolor="#88AED2" cellspacing="1" border="0" width="604">
<tr><td>
<table bgcolor="#f3f8fd" cellpadding="3" cellspacing="0" border="0" width="100%">
<tr>
<td><img src="/images/ietf_topleft.gif" border="0"><img src="/images/blue_title.
gif" border="0"></td>
</tr>
<tr><td>
<img src="/images/mail_title.gif" border="0">
</td></tr>
<tr><td valign="top">
<img src="/images/t_un.gif" border="0">
</td></tr>
<tr><td>
{% block innercontent %}{% endblock %}
</td></tr>
</table>
</table>
{% endblock %}
