{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "base.html" %}

{% block title %}IETF Mailing List Form{% endblock %}

{% block css %}
ul.errorlist { color: red; border: 1px solid red; }
th { text-align: left; vertical-align: top; font-weight: normal;}
{% block mlcss %}{% endblock %}
{% endblock %} 

{% block head %}
<link rel="stylesheet" type="text/css" href="/css/base.css" />
{% endblock %}

{% block content %}

<table bgcolor="#88AED2" cellspacing="1" border="0" width="604">
<tr><td>
<table bgcolor="#f3f8fd" cellpadding="3" cellspacing="0" border="0" width="100%">

<tr>
<td colspan="2"><img src="/images/ietf_topleft.gif" border="0"><img src="/images/blue_title.gif" border="0"></td>
</tr>
<tr><td colspan="2">
<img src="/images/mail_title.gif" border="0">
</td></tr>
<tr><td colspan="2" valign="top">
<img src="/images/t_un.gif" border="0">
</td></tr>
</table>
        <form action="." method="POST" name="form_post">
	
        <h2>Step {{ step|add:"1" }}:</h2>
<table bgcolor="#f3f8fd" cellpadding="3" cellspacing="0" border="1" width="100%">
{% block mlform %}
form goes here
{% endblock %}
</table>


        <input type="hidden" name="{{ step_field }}" value="{{ step }}" />  

        {{ previous_fields }}

        <input type="submit" value="Next">
        </form>

<!--
clean_forms: {{ clean_forms|escape }}
-->
</td></tr>
</table>

{% endblock %}
