{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "mailinglists/list_approval_base.html" %}

{% block innercontent %}
{% if requestor_is_approver %}
An email has been sent to you so you can confirm this request.<br>
Please note that after your request has been approved by you,<br>
{% else %}
Your request to {% filter escape %}{% include "mailinglists/list_type_message2.txt" %}{% endfilter %}
has been sent to<br>
{{ list.auth_person }} for approval.<br>
Please note that after your request has been approved by <br>
{{ list.auth_person }}, 
{% endif %}
{% ifequal req "delete" %}
your list will be closed within two business days.<br>
{% else %}
your list will be created and the archives <br>
will be tested.<br>
You will receive a welcome E-mail containing your administrator's<br>
password within two business days.<br>
For security reasons we suggest that you change this password.<br>
Please remember to forward this changed password to any other list<br>
admins. <br>
{% endifequal %}
{% endblock %}
