{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% load ietf_filters %}
<html>
<HEAD><TITLE>IETF Non-WG Mailing Lists</title>
<STYLE TYPE="text/css">
<!--
TD {text-decoration: none; color: #000000; font: 11pt;}
body {
  margin:0;
  padding:0;
  font-style: normal;
  }
th {
  padding:6px 0px 10px 30px;
  line-height:1em;
  font-size: 1.0em;
  color: #333;
                                                                                
                   
 }
/* Links
----------------------------------------------- */
a:link, a:visited {
  border-bottom:1px dotted #69f;
  color:#36c;
  text-decoration:none;
  }
a:visited {
  border-bottom-color:#969;
  color:#36c;
  }
a:hover {
  border-bottom:1px solid #f00;
  color:#f00;
  }
a.noline:link, a.noline:visited, a.noline:hover {border-style:none;}
-->
</STYLE>

</head>
<body>
<blockquote>
<center><h2>IETF Non-WG Mailing Lists</h2></center>
<p>This page attempts to list all the active, publicly visible lists that are
considered to be related to the IETF, but are not the main list of any working
group, in alphabetical order by list name.</p>
<p>It includes lists that are for discussion of particular topics, lists
that have belonged to former working groups but are still active, lists that
are specified in the registration rules of some parameter registry as
"forreview," and others of less clear classification.</p>
<p>Mail sent to all these lists is considered an "IETF Contribution" as defined
in RFC 3978, section 1., point C. (formerly known as the NOTE WELL
statement).</p>

<p>Details of adding lists to this page can be found at the bottom of the
page.</p>

<table width="100%" cellpadding="2" cellspacing="2" border="1">

<tr><td valign="top" align="left" width="15%"><b>List Name</b></td><td valign="top" align="left" width="20%"><b>List Administrator(s)</b></td>
<td valign="top" align="left" width="35%"><b>Purpose</b></td><td valign="top" align="left" width="5%"><b>Area</b></td><td valign="top" align="left" width="25%"><b>To Subscribe</b></td></tr>

{% for list in object_list %}
<tr>
<td><a href="{{ list.list_url|add_scheme }}">{% firstof list.list_name list.list_url %}</a></td>
<td>{{ list.admin|make_one_per_line }}</td>
<td>{{ list.purpose|truncatewords:"20"|escape }}</td>
<td>{{ list.area }}</td>
<td>{% if list.subscribe_url %}
{# There are lots of non-urls in the database #}
{{ list.subscribe_url|link_if_url|safe }}</a>
{% else %}
&nbsp;
{% endif %}
{% if list.subscribe_other %}
<br>
{{ list.subscribe_other }}
{% endif %}
</td>
</tr>

{% endfor %}

</table>

<p>To add a list, or to update or delete an existing entry, please go to the
<A HREF="{% url ietf.mailinglists.views.non_wg_wizard %}">IETF Non-WG Mailing List Posting Page</a>. When adding a list, please provide the following information:</p>
<ul>
  <li>The name and email address of the submitter 
  <li>The name of the list
  <li>The URL or email address of the list
  <li>The name(s) and email address(es) of the list administrator(s)
  <li>The purpose of the list
  <li>The IETF Area to which the list belongs</li>
  <li>The URL or other instructions for subscribing to the list</li></ul>

<p>An AD for the specified Area must approve the request to add, update, or delete a listing. 
An AD can also request that the listing be changed or removed. </p>
<p>The following types of lists SHOULD be added:</p>
<ul>
  <li>Directorates (see also the <a 
  href="http://www.ietf.org/iesg/directorate.html">list of 
  directorates</a>) 
  <li>Review lists specified in IANA procedures 
  <li>Lists of former WGs that wish to remain active 
  <li>Lists that are created with the intent to form a working group (with AD 
  approval) 
  <li>Lists that are created for a subtask of a working group</li></ul>
<p>The following types of lists SHOULD NOT be added:</p>
<ul>

  <li>Existing WGs (listed in the <a 
  href="/wg/">list of working groups</a>) 
  <li>IRTF Research Groups (listed at <a 
  href="http://www.irtf.org/">http://www.irtf.org/</a>) 
  <li>Lists of former WGs where the list is expected to go passive after WG 
  shutdown (these can also be found at <a href="http://www.ietf.org/wg/concluded/index.html">http://www.ietf.org/wg/concluded/index.html</a>)
  <li>Closed lists where normal IETF participants should have no reason to want 
  to contact them 
  <li>Completely passive lists</li></ul>
<p>These guidelines are intended to make the list useful and easy to 
maintain.</p>
<p>This list is maintained by the IETF Secretariat. The guidelines are set by 
the IESG.</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</blockquote>
</body>
</html>
