{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "mailinglists/nwg_wizard_base.html" %}

{% block nwgcontent %}
<h2>Step {{ step|add:"1" }}</h2>
<h4>Please verify the following information:</h4>
<form action="." method="POST">
<table bgcolor="#88AED2" cellspacing="1" border="0">
<tr valign="top"><td> 
<table bgcolor="#f3f8fd" cellpadding="3" cellspacing="0" border="0">
<tr valign="top">
<td colspan=2>
<h3>Request Submit Confirmation</h3>
Please review the following information that you are about to submit.<br>
Once you click the 'Submit' button below, this request will be sent to 
the selected Area Director for approval.<br>
<br>
</td>
</tr>
<tr valign="top"><td>Request Type:</td><td>
Deleting an existing entry
</td></tr>
<tr valign="top"><td>Submitter's Name:</td><td>{{ clean_forms.1.ds_name.data|escape }}</td></tr>
<tr valign="top"><td>Submitter's Email Address:</td><td>{{ clean_forms.1.ds_email.data|escape }}</td></tr>
<tr valign="top"><td>Mailing List Name:</td><td>{{ list_q.list_name|escape }}</td></tr>
<tr valign="top"><td>URL or Email Address of Mailing List: </td><td><pre>{{ list_url|escape }}</pre></td></tr>
<tr valign="top"><td>URL to Subscribe: </td><td><pre>{% firstof list_q.subscribe_url "Not Applicable" %}</pre></td></tr>
<tr valign="top"><td>Other Info. to Subscribe: </td><td><pre>{{ list_q.subscribe_other|escape }}</pre></td></tr>
<tr valign="top"><td>Administrator(s)' Email Address(es): </td><td><pre>{{ list_q.admin|escape|linebreaks }}</pre></td></tr>
<tr valign="top"><td>Purpose: </td><td>{{ list_q.purpose|escape }}</td></tr>
<tr valign="top"><td>Area: </td><td><pre>{{ list_q.area }}</pre></td></tr>
<tr valign="top"><td>Approving Area Director: </td><td><pre>{{ approver|escape }}</pre></td></tr>
<tr valign="top"><td>Message to AD: </td><td><pre>{{ clean_forms.1.msg_to_ad.data|escape }}</pre></td></tr>
<tr valign="top">
<td></td>
<td>
<input type="submit" value=" Submit ">
</td>
</tr>
</table>
</table>
{{ previous_fields }}
<input type="hidden" name="{{ step_field }}" value="{{ step }}" />  
</form>
{% endblock %}
