{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "mailinglists/nwg_wizard_base.html" %}

{% block nwgcontent %}
<a href="/list/nonwg/"><b>View Current list</b></a><br>
</p>
<p>
Your request to {% ifequal add_edit "edit" %}edit{% else %}{% ifequal add_edit "add" %}add{% else %}delete{% endifequal %}{% endifequal %} the entry for the Non-WG Mailing List that is described below has been sent to the following Area Director for approval:</p>
<p>
<b>{{ approver|escape }}</b>
</p>
<table cellpadding="0" cellspacing="0" border="0">
{% if old %}
<tr valign="top"><td><b>Current Entry</b></td><td></td></tr>
<tr valign="top"><td>Submitter's Name: </td><td>{{ old.s_name }}</td></tr>
<tr valign="top"><td>Submitter's Email Address: </td><td>{{ old.s_email }}</td></tr>
<tr valign="top"><td>List Name: </td><td>{{ old.list_name }}</td></tr>
<tr valign="top"><td>URL or Email Address of Mailing List: </td><td>{{ old.list_url }}</td></tr>
<tr valign="top"><td>URL to Subscribe: </td><td>{{ old.subscribe_url }}</td></tr>
<tr valign="top"><td>Other Info. to Subscribe: </td><td>{{ old.subscribe_other }}</td></tr>
<tr valign="top"><td>Administrator(s)'  Email Address(es): </td><td>{{ old.admin }}</td></tr>
<tr valign="top"><td>Purpose: </td><td>{{ old.purpose }}</td></tr>
<tr valign="top"><td>Area: </td><td>{{ old.area }}</td></tr>
<tr valign="top"><td>&nbsp;</td></tr>
<tr valign="top"><td><b>Revised Entry</b></td><td></td></tr>
{% endif %}
<tr valign="top"><td>Submitter's Name: </td><td>{% ifequal add_edit "delete" %}{{ list.ds_name }}{% else %}{{ list.s_name }}{% endifequal %}</td></tr>
<tr valign="top"><td>Submitter's Email Address: </td><td>{% ifequal add_edit "delete" %}{{ list.ds_name }}{% else %}{{ list.s_email }}{% endifequal %}</td></tr>
<tr valign="top"><td>Mailing List Name: </td><td>{{ list.list_name }}</td></tr>
<tr valign="top"><td>URL or Email Address of Mailing List: </td><td>{{ list.list_url }}</td></tr>
<tr valign="top"><td>URL to Subscribe: </td><td>{{ list.subscribe_url }}</td></tr>
<tr valign="top"><td>Other Info. to Subscribe: </td><td>{{ list.subscribe_other }}</td></tr>
<tr valign="top"><td>Administrator(s)' Email Address(es): </td><td>{{ list.admin }}</td></tr>
<tr valign="top"><td>Purpose: </td><td>{{ list.purpose }}</td></tr>
<tr valign="top"><td>Area: </td><td>{{ list.area }}</td></tr>
{% ifequal add_edit "delete" %}
<tr valign="top"><td>Message from submitter: </td><td>{{ list.msg_to_ad }}</td></tr>
{% endifequal %}
<tr valign="top"><td>&nbsp;</td></tr>
<tr valign="top"><td>Approving Area Director: </td><td>{{ approver|escape }}</td></tr>
</table>

{% endblock %}
