{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "mailinglists/nwg_wizard_base.html" %}

{% block nwgcss %}
tr > th { text-align: left; vertical-align: top; }
{% endblock %}

{% block nwgcontent %}
<h2>Step {{ step|add:"1" }}</h2>
<h4>Please provide the following information:</h4>

<form action="." method="POST">
<table bgcolor="#88AED2" cellspacing="1" border="0" width="714">
<tr valign="top"><td> 
<table bgcolor="#f3f8fd" cellpadding="3" cellspacing="0" border="0">
{{ form }}
<tr>
<td></td>
<td>
<input type="submit" value=" SUBMIT ">
</td>
</tr>
</table>
</td></tr>
</table>
{{ previous_fields }}
<input type="hidden" name="{{ step_field }}" value="{{ step }}" />  
</form>
{% endblock %}
