{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "base.html" %}

{% block title %}IETF Non WG Mailing List Submit Form{% endblock %}

{% block css %}
ul.errorlist { color: red; border: 1px solid red; }
{% block nwgcss %}{% endblock %}
{% endblock %} 
{% block head %}
{% block javascript %}{% endblock %}
<link rel="stylesheet" type="text/css" href="http://www.ietf.org/css/base.css" />
{% endblock %}

{% block content %}
<blockquote>
<img src="/images/nwg/mail_title_submission.gif" border="0"><br>
<img src="/images/nwg/t_un1.gif" border="0">
<!-- form step {{ step }} -->
<br>
{% block nwgcontent %}
form goes here
{% endblock %}
</blockquote>

{% endblock %}
