{# Copyright The IETF Trust 2007, All Rights Reserved #}{% extends "base.html" %}
{% load ietf_filters %}
                                                                                                                
{% block title %}-- Ballot for {{ object.drafts.all.0.document.filename }}{% endblock %}
                                                                                                                
{% block content %}
<pre>
To: Internet Engineering Steering Group &lt;iesg@ietf.org&gt;
From: IESG Secretary &lt;iesg-secretary@ietf.org&gt;
Reply-To: IESG Secretary &lt;iesg-secretary@ietf.org&gt;
Subject: Evaluation: {% for id in object.drafts.all %}{{ id.draft.filename }}-{{ id.draft.revision }}.txt to {{ id.draft.intended_status }}
         {% endfor %}
--------

Evaluation for{% for id in object.drafts.all %} {{ id.draft.filename }}-{{ id.draft.revision }}.txt {% endfor %}can be found at
https://datatracker.ietf.org{% url ietf.idtracker.views.view_ballot object.ballot %} <!-- FIXME: hardcoded URL -->
{% if object.drafts.all.0.draft.lc_expiration_date %}
Last Call to expire on: {{ object.drafts.all.0.draft.lc_expiration_date|escape }}
{% endif %}
        Please return the full line with your position.

                      Yes  No-Objection  Discuss  Abstain
{% if not object.an_sent %}{% for curpos in object.active_positions %}{{ curpos.ad|ljust:"20" }} {{ curpos.pos.yes|bracket }}     {{ curpos.pos.noobj|bracket }}     {{ curpos.pos.discuss|bracket }}     {{ curpos.pos.abstain_ind|bracket }}
{% endfor %}
{% endif %}{% for position in object.positions.all|dictsort:"ad.last_name" %}{% if object.an_sent or not position.ad.is_current_ad %}{{ position.ad|ljust:"20" }} {{ position.yes|bracket }}     {{ position.noobj|bracket }}     {{ position.discuss|bracket }}     {{ position.abstain_ind|bracket }}
{% endif %}{% endfor %}

"Yes" or "No-Objection" positions from 2/3 of non-recused ADs, 
with no "Discuss" positions, are needed for approval.

DISCUSSES AND COMMENTS:
======================
{% for position in object.positions.all|dictsort:"ad.last_name" %}{% ifequal position.discuss 1 %}{{ position.ad }}:{% for item in object.discusses.all %}{% ifequal position.ad item.ad %}

Discuss [{{ item.date }}]:
{{ item.text|fill:"80"|escape }}

{% endifequal %}{% endfor %}{% endifequal %}{% for item in object.comments.all %}{% ifequal position.ad item.ad %}{% ifnotequal position.discuss 1 %}{{ position.ad }}:

{% endifnotequal %}Comment [{{ item.date }}]:
{{ item.text|fill:"80"|escape }}

{% endifequal %}{% endfor %}{% endfor %}


^L
---- following is a DRAFT of message to be sent AFTER approval ---
{{ object.approval_text|escape|urlize }}

{{ object.ballot_writeup|escape|urlize }}
</pre>
{% endblock %}

