{# Copyright The IETF Trust 2007, All Rights Reserved #}
<html>
<HEAD>
      <!-- Project Revision {{ revision_num }}, {{ revision_time }} -->
      <title>IETF I-D Tracker {% block title %}{% endblock %}{% ifnotequal server_mode "production" %} - {{ server_mode|upper }} MODE{% endifnotequal %}</title>
      {% ifnotequal server_mode "production" %}
      <link rel="icon" href="/images/ietf-dev-icon.bmp" />
      {% else %}
      <link rel="icon" href="/images/ietf-icon.bmp" />
      {% endifnotequal %}
      {% block head %}{% endblock %}

<STYLE TYPE="text/css">
<!--

	  TD {text-decoration: none; color: #000000; font: 9pt arial;} 
	  A:Link {color: #0000ff; text-decoration:underline}
	  A:Hover {color: #ff0000; text-decoration:underline}
      A:visited {color: #0000ff; text-decoration:underline}
	  .largefont {font-weight: bold; color: #000000; font: 18pt arial}
	  .largefont2 {color: #000000; font: 14pt verdana}
	  .largefont3 {color: #000000; font: 13pt verdana}
	  .largefont_red {font-weight: bold; color: #ff0000; font: 16pt arial}
-->
</STYLE>

</head>
<body link="blue" vlink="blue">

{% block idcontent %}
{% endblock %}

      {% include "footer.html" %}
      {% include "debug.html" %}

</body>
</html>
