<html>
<HEAD><TITLE>IETF I-D Tracker v1.1 {% block title %}{% endblock %}-- WCF</title>
<link rel="icon" href="http://tools.ietf.org/images/django-ietf.png" />

<STYLE TYPE="text/css">
<!--

	  TD {text-decoration: none; color: #000000; font: 9pt arial;} 
	  A:Link {color: #0000ff; text-decoration:underline}
	  A:Hover {color: #ff0000; text-decoration:underline}
      A:visited {color: #0000ff; text-decoration:underline}
	  .largefont {font-weight: bold; color: #000000; font: 18pt arial}
	  .largefont2 {color: #000000; font: 14pt verdana}
	  .largefont3 {color: #000000; font: 13pt verdana}
	  .largefont_red {font-weight: bold; color: #ff0000; font: 16pt arial}
-->
</STYLE>

</head>
<body link="blue" vlink="blue">

{% block idcontent %}
{% endblock %}

      <hr/>
      <a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangomade124x25.gif" border="0" alt="Made with Django." title="Made with Django." /></a>
      {% include "debug.html" %}

</body>
</html>
