{# Copyright The IETF Trust 2007, All Rights Reserved #}{% extends "base.html" %}

{% load ietf_filters %}     

{% block title %}-- {{ object.document.filename }}{% endblock %}

{% block head %}
<link rel="alternate" type="application/atom+xml" href="/feed/comments/{{ object.document.filename }}/"/>
{% endblock %}

{% block content %}

<h1 class="first">Detailed Information</h1>

<!--
{% if object.ballot_others.count %}
<a href="#action">Action List</a>
{% endif %}
-->

  <table class="top">
    <tr>
      <th>
	  {{ object.document.doctype }} Name:
      </th>

      <td>
	  {{ object.document.displayname_with_link|safe }}
	  {% ifequal object.document.doctype "Draft" %}
	    {% ifnotequal object.document.status.status "Active" %}
	      ({{ object.document.status.status }})
	    {% endifnotequal %}
	  {% endifequal %}
	  {% if object.via_rfc_editor %}
	    (Independent submission via RFC Editor)
	  {% else %}
	    {% ifequal object.document.group_acronym "none" %}
	      (Individual submission)
	    {% else %}
	      (<a href="/idtracker/?search_group_acronym={{ object.document.group_acronym }}">{{ object.document.group_acronym|upper }}</a> WG submission)
	    {% endifequal %}
	  {% endif %}
	  {% ifequal object.document.status.status "Replaced" %}
	    Replaced by
	    {% if object.document.replaced_by.idinternal %}
	      <a href="{{ object.document.replaced_by.idinternal.get_absolute_url }}">
	    {% endif %}
	    {{ object.document.replaced_by.displayname_with_link }}
	    {% if object.document.replaced_by.idinternal %}
	      </a>
	    {% endif %}
	  {% endifequal %}
	  {% if object.document.replaces_set.count %}
	    <br>Replaces
	    {% for replaces in object.document.replaces_set.all %}
	      {% if replaces.idinternal %}
		<a href="{{ replaces.idinternal.get_absolute_url }}">
	      {% endif %}
	      {{ replaces.displayname_with_link }}{% if replaces.idinternal %}</a>{% endif %}{% if not forloop.last %},{% endif %}
	    {% endfor %}
	  {% endif %}
      </td>
    </tr>

    <tr>
      <th>
	  Version:
      </th>

      <td>
	  {{ object.document.revision }}
      </td>
    </tr>

    <tr>
      <th>
	  Intended Status:
      </th>

      <td>
	  {{ object.document.intended_status }}
      </td>
    </tr>

    <tr>
      <th>
	  On Next Agenda?
      </th>

      <td>
	  {{ object.agenda|yesno:"Yes,No" }}
      </td>
    </tr>

    <tr>
      <th>
	  IESG Discussion:
      </th>

      <td>
	  {% if object.ballot.ballot_issued %}
	  <a href="{% url ietf.idtracker.views.view_ballot object.ballot_id %}">IESG evaluation record</a>
	  [<a href="/idtracker/help/evaluation/">What they mean</a>]
	  [<a href="/idtracker/help/ballot/">How they are recorded</a>]
	  {% else %}
	  No IESG evaluation record
	  {% endif %}
      </td>
    </tr>

    <tr>
      <th>
	  Current State:
      </th>

      <td>
	  <a title="{{ object.cur_state.description|escape|allononelinew }}" href="/idtracker/help/state/{{ object.cur_state_id }}/">
	  {{ object.cur_state }}</a>
	  {% if object.cur_sub_state %}
	  ::
	  <a title="{{ object.cur_sub_state.description|escape|allononelinew }}" href="/idtracker/help/substate/{{ object.cur_sub_state_id }}/">
	  {{ object.cur_sub_state }}</a>
	  {% endif %}
	  {% if object.rfc_flag %}
	  {% else %}
	  {% ifequal object.cur_state.state "RFC Ed Queue" %}
	  <a href="http://www.rfc-editor.org/queue.html#{{ object.document.filename }}">
	  [RFC Editor State]</a>
	  {% endifequal %}
	  {% endif %}
	<a href="/idtracker/help/state/">
	[State explanations]</a> 
      </td>
    </tr>

    <tr>
      <th>
	  Responsible AD:
      </th>

      <td>
	  {{ object.job_owner }}
      </td>
    </tr>

    <tr>
      <th>
	  Status Date:
      </th>

      <td>
	  {% firstof object.status_date "&nbsp;" %}
      </td>
    </tr>

    <tr>
      <th>
	  Note:
      </th>

      <td>
	  {# |unformat_textarea #}
	  {% firstof object.note "&nbsp;" %}
      </td>
    </tr>

<!--
    <tr>
      <td/>

      <td>
	      <form action="{% url ietf.idtracker.views.search %}" method="GET">
		<input type="submit" value=
		"Main Menu">
	      </form>
      </td>
    </tr>
-->    
  </table>

    {% if object.ballot_others.count %}
    <h1>Ballot Set</h1>
    {% regroup object.ballot_set by docstate as grouped %}
    {% include "idtracker/search_result_table.html" %}
    {% endif %}

    <h1>Comment Log [<a href="/feed/comments/{{ object.document.filename }}/">atom feed</a>]</h1>

    <table>
      <tr>
	<th>Version</th>
	<th>Action</th>
	<th>Who</th>
	<th>Date</th>
      </tr>

{% for comment in object.public_comments %}
      <tr bgcolor="{% cycle #CFE1CC,#7DC189 %}">
	<td>{{ comment.version }}</td>

	<td>
	{% if comment.ballot %}
		<span class="{{ comment.get_ballot_display }}">[IESG Evaluation {{ comment.get_ballot_display|upper }}] </span>
	{% endif %}

	{{ comment.comment_text|removetags:"b br"|truncatewords_html:"20"|safe }}
	[<a href="{{ comment.get_absolute_url }}">more</a>]
	</td>

	<td>{{ comment.get_fullname }}</td>
	<td>{{ comment.date }}</td>
      </tr>

{% endfor %} 
    </table>
     

<p><a href="{% url ietf.idtracker.views.search %}">Main Menu</a></p>

{% endblock %}
