{% extends "base.html" %}

{% block title %}Not Found - {{ draft.filename }}{% endblock %}

{% block content %}
<br />
<h1>No IESG processing information available</h1>

<p>
   {{ draft.filename }} is an {{ draft.status.status|lower }} Internet Draft, but there
   is no IESG tracking information available for it.  The
   <a href="{% url ietf.idindex.views.view_id draft.filename %}">Internet-Drafts Database Index</a>
   has the status information which is available on this document.
</p>

{% endblock %}
