{% extends "idtracker/base.html" %}

{% block title %}-- Search{% endblock %}

{% block idcontent %}

<form method="post">

<center>
<table cellpadding="1" cellspacing="0" border="0">
<tr bgcolor="silver">
<th colspan="2">I-D - Search Criteria</th>
</tr>

<tr>
<td align="right"><label for="id_job_owner"><b>Responsible
AD:</b></label></td>
<td>{{ form.job_owner }}&nbsp;&nbsp;&nbsp;<label for="id_group">
<b>WG Acronym:</b></label>{{ idform.group }}&nbsp;&nbsp;&nbsp;<label
for="id_status"><b>Status:</b></label>
{{ idform.status }}</td>
</tr>

<tr>
<td align="right"><label for="id_cur_state"><b>Document
State:</b></label></td>
<td>{{ form.cur_state }} <label for="id_cur_sub_state"><b>sub
state</b>: {{ form.cur_sub_state }}</label> </td>
</tr>

<tr>
<td align="right"><label for=
"id_filename"><b>Filename:</b></label></td>
<td>{{ idform.filename }} &nbsp;&nbsp;&nbsp; <label for=
"id_rfc_number"><b>RFC Number:</b></label> {{ idform.rfc_number }}
&nbsp;&nbsp;&nbsp; <label for="id_area_acronym"><b>Area:</b></label>
{{ form.area_acronym }}</td>
</tr>

<TR BGCOLOR="silver">
<TD ALIGN="CENTER" colspan="2"><INPUT TYPE="submit" VALUE="SEARCH" name="search_button">
<input type="button" value="Clear Fields" onClick="clear_fields();">
</TD>

</TR>
</table>
</form>

<HR>
Document States: <a href="https://datatracker.ietf.org/state_diagram.gif">State Diagram</a> and 
<a href="https://datatracker.ietf.org/public/states_table.cgi">State Explanations</a>

</center>

<hr>
{% if matches %} 
<b>Search Result</b><br>
    {% regroup matches by docstate as grouped %}
    {% include "idtracker/search_result_table.html" %}
{% else %} 
    {% if searching %}
	<p>No matches to your query.</p>
    {% endif %}
{% endif %}

{% endblock %}
