{# Copyright The IETF Trust 2007, All Rights Reserved #}

{% extends "base.html" %}
{% load ietf_filters %}
{% block title %}IETF I-D Tracker{% endblock %}

{% block content %}

<script type="text/javascript" language="javascript">
function clear_fields() {
   document.search_form.search_job_owner.selectedIndex = 0;
   document.search_form.search_status_id.selectedIndex = 0;
   document.search_form.search_area_acronym.selectedIndex = 0;
   document.search_form.search_cur_state.selectedIndex = 0;
   document.search_form.sub_state_id.selectedIndex = 0;
   document.search_form.search_group_acronym.value = "";
   document.search_form.search_filename.value = "";
   document.search_form.search_rfcnumber.value = "";
}
</script>


<h1 class="first">IETF I-D Tracker</h1>

<h1>This page will be removed soon; go <a href="/doc/">here</a> instead.</h1>

<form action="." method="get" name="search_form">
<table class="top">
<tr>
	<th><label for="id_search_job_owner">Responsible AD:</label></th>
	<td>{{ form.search_job_owner }} </td>
</tr>
<tr>
	<th><label for="id_search_group_acronym">WG Acronym:</label></th>
	<td>{{ form.search_group_acronym }} </td>
</tr>
<tr>
	<th><label for="id_search_area_acronym">Area Acronym:</label></th>
	<td>{{ form.search_area_acronym }} </td>
</tr>
<tr>
	<th><label for="id_search_status_id">Status:</label></th>
	<td>{{ form.search_status_id }} </td>      
</tr>
<tr>
	<th><a href="/idtracker/help/state/">Current State:</a></th>
	<td>{{ form.search_cur_state }}{{ form.sub_state_id }} </td>
</tr>
<tr>
	<th><label for="id_search_filename">Draft Name:</label></th>
	<td>{{ form.search_filename }}  </td>
</tr>
<tr>
	<th><label for="id_search_rfcnumber">RFC Number:</label></th>
	<td>{{ form.search_rfcnumber }} </td>
</tr>
<tr>
	<td/>
	<td class="buttons">
	<input type="button" value="Reset Form" onClick="clear_fields()"/>
	<input type="submit" value="Search I-Ds"/>
	</td>
</tr>
</table>
</form>

{% if form.errors %}
<p class="error">
Please fix the following error{{ form.errors|pluralize }} and retry your search:
{{ form.errors }}
</p>
{% endif %}


{% if matches %} 
    {% regroup matches by docstate as grouped %}
    {% include "idtracker/search_result_table.html" %}
{% else %} 
    {% if searching %}
	<p class="error">No matches to your query.</p>
    {% endif %}
{% endif %}

{% if matches or searching %}
	<p><a href=".">Back</a></p>
{% endif %}

{% endblock %}
