{% extends "base.html" %}
{# Copyright The IETF Trust 2007, All Rights Reserved #}

{% block title %}Internet Draft States{% endblock %}

{% block content %}

   <h1>Main I-D States</h1>
   
<p><a href="/images/state_diagram.gif">View Diagram</a></p>

   <table class="ietf-table">

   <tr>
   <th>State</th>
   <th>Description</th>
   <th>Next State(s)</th>
   </tr>

{# XXX I-D Exists should be added to the database #}
<tr class="{% cycle oddrow,evenrow as cycle1 %}">
<tr>
<td>I-D Exists</td>
<td >Initial (default) state for all internet drafts. Such documents are
not being tracked by the IESG as no request has been made of the
IESG to do anything with the document.</td>
<td>
<ul>
<li> AD is watching
<li> Publication Requested</ul>
</td></tr>
                                                                                                               
{% for state in states %}   
<tr class="{% cycle cycle1 %}">
          <td>{{ state.state|escape }}</td>
          <td>{{ state.description|escape }}</td>
          <td>
		  <ul>
		  {% for next in state.nextstate.all %}
		  <li>{{ next.next_state.state }}
		  {% endfor %}
		  </ul>
</td>
          </tr>
{% endfor %}
   </table>

<h2>Sub States</h2>
<table class="ietf-table">

<tr><th>Sub State Name</th><th>Description</th></tr>

{% for substate in substates %}
<tr class="{% cycle oddrow,evenrow %}">
<td>{{ substate.sub_state|escape }}</td>
<td>{{ substate.description|escape }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
