{# Copyright The IETF Trust 2007, All Rights Reserved #}{% extends "base.html" %}

{% block content %}
<h1 class="first">Key file</h1>
<pre>
Key to how the Secretariat has historically recorded Evaluations:
   
- A single X in one of the four columns has the obvious meaning.

- A '.' (period mark) in a column indicates a change from a previous
  selection. I.e., A '.' in "discuss" and an X in "yes" indicates a
  change from discuss to yes.

- an "R" in the Abstain column means "Recuse"

- a "D" in the Discuss column indicates "Defer"
</pre>

   <form action=".">
   <input type="button" value="Back" onClick="history.go(-1);"/>
   </form>
{% endblock %}
