/* first some global settings to make the pages have the same environment as in the pre-Bootstrap days */
.content {
  padding: 0;
  font: 13px/1.231 arial,helvetica,clean,sans-serif;
}

.content * {
  box-sizing: content-box;
}

.content th {
  text-align: center;
}

.content button { font: normal; color: #000; }

.content .close { float: none; opacity: 1; }

.content table { border-collapse: separate; border-spacing: 2px; }

.container-fluid {padding-right: 0; padding-left:0;}

.ietf-navbar { background-color: #edf5ff; padding:0; border: 1px solid #89d; margin-top:4px; width: 130px; }
.ietf-navbar ul { padding: 0; margin: 0; }
.ietf-navbar ul li { list-style: none; padding: 0; margin: 0; font-size: 93%; padding: 2px 0px 2px 0px; }
.ietf-navbar ul li.yuimenuitem { padding: 0px 0px 1px 0px; border: 0;} 
.ietf-navbar ul li a { padding: 0px 0px 0px 10px; }
.ietf-navbar ul li.sect a { padding: 2px 2px 2px 2px; }
.ietf-navbar ul li.sect { font-weight:bold; color:#fff; background:#2647A0; margin-top:2px; text-indent:2px; padding: 2px 0;}
.ietf-navbar ul li.first { margin-top: 0px; }
.ietf-navbar ul li.sect a { color:#fff; } 
.ietf-navbar a, .ietf-navbar a:visited { color: #000000; }
.ietf-navbar > ul > li > a:hover { background-color: #b3d4ff; }
.ietf-navbar .yuimenuitemlabel { font-size: 12px; padding: 0 10px; }
.ietf-navbar #wgs .bd { background-color: #edf5ff; }
.ietf-navbar #wgs > .bd { border: 0;}


/* rest of agenda edit settings */

.IETF-scheme, .meeting_event th.IETF-scheme, #IETF-groups, #selector-IETF {
    color: black;
    background-color: white;
}
.IAB-scheme, .meeting_event th.IAB-scheme, #IAB-groups, #selector-IAB {
    color: black;
    background-color: white;
}

.custom_text_stuff{
  position: relative;
    margin-top: 0px;
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    vertical-align:text-top;
}

.room_title{
    border:1px solid black;
    border-right:0px;
    border-left:0px;
    background-color:#94d3e6;


}
.vert_time{
    /* border-bottom:1px solid black; */
    /* border:1px solid black; */
    color:white;
    background-color:#2647A0;
    width:100px; /* otherwise we get overlap */
    min-width:100px;
    min-height:40px;
    font-size:12px;
    position:absolute; /* makes it float independent of scroll */
    z-index:100; /* meeting events will be on top otherwise */
}

.agenda_slot_title{
  color:white;
  background-color:#2647A0;
  overflow-x: hidden;
  padding: 7px 10px;
  /* margin-left: 10px; */
  position:relative;
  text-align: left;
}

.bucket-list .agenda_slot_title {
  padding: 1px;
  font-size: 10px;
}

#unassigned-items {
    position: relative;
}

.events_bar_buttons {
    position: absolute;
    top:   3px;
    z-index: 5;
}

#recalculate {
    right: 200px;
}

#all_agendas {
    right: 5px;
}

.hide_buttons{
    margin:4px;
    min-width:150px;
    color:white;
}

#hidden_room {
    right: 200px;
}

#hidden_day {
    right: 400px;
}

#unassigned_order {
    position: absolute;
    top:   3px;
    left:  200px;
    z-index: 5;
}

/* this works around a firefox bug that prevents firefox from accepting a
 * position:relative; on a TD.
 * so the meeting event is buried in another div that is relative.
 * http://stackoverflow.com/questions/5148041/does-firefox-support-position-relative-on-table-elements
 */
div.meeting_box_container {
    position: relative;
};

div.meeting_box {
    width:  98px;
}

div.meeting_box_double {
    z-index: 5;
    min-width: 170px;
    position: absolute;
    left: 20px;
    top: -10px;
}
div.meeting_box_double table {
    min-width: 170px;
}

div.meeting_box_bucket_list {
    height: 23px;
    float: left;
}

div.meeting_box_pinned {
    /* not sure what to put here yet */
}

table.meeting_event {
    /* border:1px solid black; */
    /* background:#E0FFFF; */

    border-radius: 4px;
/* //    margin:8px; */
    width:100px;
    /* width:100%; */
    max-width:100px;
    /* height:67px; */
    cursor:pointer;
    float:left;
}

.noarea-scheme {
    background-color:#2b95b5;
}

.meeting_event th {
    /* background:#E6E6FA; */
    padding:0px;
    /* background-color:#ff7373; */

    border-radius: 4px;
    color:white;
    font-size: 10px;
    text-align:center;
    border:1px solid blue;
    height:8px;

}
/* #EDF5FF */
.menu{
    float:left;
}


.wrapper{
    /* width: 90%; */
    width:auto;
    margin-left:160px;
    margin-right:10px;
    height:90%;
    border-right:1px solid black;
    border-left:1px solid black;
}
.agenda{
    float:left;
    width:100%;
}


#close_ietf_menubar{
    border-radius: 4px;
    background-color:#2b95b5;
    color:white;
    border:1px solid black;
    width:25px;
    height:15px;
    float:left;
    cursor:pointer;
    margin-right:10px;
    text-align:center;
    padding-bottom:2px;

}

#ietf_menubar{
    width:auto;

}
tr.agenda_slot{
    overflow-y:scroll;
    height:20px;
    max-height:20px;
    min-height:20px;
   /* height:50px; */
}
td.agenda_slot{
    /* overflow-y:auto; */
    /* height:20px; */
    height: 45px;
    /* min-height:20px; */
}

.agenda_slot {
    /* background-color:#E6E6E6; */
    padding:0px;
    width:100px;
    min-width:100px;
    height:20px;

}

div.agenda_slot{
    max-height:45px;
    height:35px;
    /* overflow-y:auto; */
    /* overflow-x:hidden; */
}


.agenda_div{
    height:80%;
    overflow-x:scroll;

}

#meetings{
    border:0px;


}


/* style="border:1px solid red; background:#A60000; color:white" */

.bucket-list{
    /* position: absolute; */
    /* bottom:0; */
    /* border:1px solid blue; */
    height:50px;
    border-bottom: 1px solid black;
  overflow-x: auto;
}


#session-info{
  min-height: 160px;
  position: relative;
  width:100%;
}

.ss_info {
  margin-top:3px;
  margin-left:3px;
}

.ss_info_left {
  position: absolute;
  left: 5px;
  top: 15px;
  width: 320px;
}

.ss_info_right {
  position: absolute;
  left: 300px;
  top: 15px;
  min-width:409px;
  width:410px;
}

.ss_info_box {
  min-width: 1200px;
  overflow-x: auto;
}



.ss_info button{
    border:1px solid black;
    padding-top:1px;
    padding-bottom:1px;
    font-size:8px;
      background-color:white;
    cursor:pointer;

}

.ss_info button:hover {
  background-color:#E0E0E0;
 }

.ss_info select{
   border:1px solid black;
   font-size:8px;
   background-color:white;
   cursor:pointer;
   max-width:150px;
}

/* #2647A0*/
.ss_info table{
    border-left: 1px solid #89D;
    border-top: 1px solid #89D;
    background-color: #EDF5FF;
    border-spacing:0;
    border-collapse: collapse;


}

.wg_style {
    font-style:normal;
}

.bof_style {
    font-style:italic;
}
#grp_type {
    display: inline;
    float: right;
}

.ss_info tr{
    /* border-right: 1px solid #89D; */
    /* border-top: 1px solid #89D; */
    border:1px solid #89D;
    padding:0px;

}

.ss_info td.info_split {
    min-width:100px;
}
.ss_info td{
    min-width:200px;
/* //  border:1px solid #89D; */
    border: 0px;
    border-bottom: 1px solid #89D;
    border-right: 1px solid #89D;

    text-align:left;
    font-size: 12px;
    padding:1px;
    padding-left:5px;
    padding-right:5px;
}

td.ss_info_name_long{
    max-width:100px;
    width:100px;

    min-width:100px;
}

td.ss_info_name_short{
    max-width:50px;
    width:50px;

    min-width:50px;
}

.agenda_nice_button {
    border: 1px solid #89D;
    background-color: #EDF5FF;
    padding: 5px;
    max-width:  150px;
    float:left;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left:10px;
}

.agenda_find_free{
}

.agenda_double_slot {
}

#agenda_pin_slot {
}

#agenda_prev_session {
}

#agenda_show {
}

#agenda_next_session {
}


.button_disabled {
    color: #EDF4FF;
    text-color: #EDF4FF;
}
.button_enabled {
    color: black;
    text-color: black;
}

.button_up {
    background: #4479BA;
    color: #FFF;
}
.button_down {
    color: #4479BA;
    background: #FFF;
}

.agenda_save_box {
  position: absolute;
  right:    3px;
  bottom:   5px;
  border: 1px solid #89D;
  font-size: 11px;
  background-color: #EDF5FF;
  /* bottom: 3px; */
  margin: 3px;
  /* margin-top:3px; */
  /* margin-bottom:3px; */
  padding: 5px;
  max-width:  150px;
  min-height:97px;
}

.schedule_title {
  min-width: 100px;
  font-size: 10px;
  font-family: serif;  /* live life a bit */
}

#schedule_name{
    margin-left:10%;
}


.color_legend {
  position: absolute;

  left: 3px;
  bottom: 2px;
  padding-bottom: 3px;
  margin-top: 5px;
  height: 20px;
  width: 600px;
  text-align:left;
  font-size: 12px;
}
.color_legend span {
  padding-right: 4px;
}

div#conflict_table {
  font-size: 8pt;
  position: absolute;
  left: 650px;
  top: 14px;
  margin-left: 10px;
  margin-top:  3px;
}

#special_requests {
    text-align: left;
    min-height: 30px;
    width: 620px;
    overflow: auto;
    border: 1px solid #89D;
    background-color: #EDF5FF;
    border-spacing:0;
    border-collapse: collapse;
}

#conflict_table table {
  border: 1px solid #89D;
  background-color: #EDF5FF;
  border-spacing:0;
  border-collapse: collapse;
}
#conflict_table th.heading {
  font-size: 14pt;
  text-align: center;
  min-width: 200px;
  border-bottom: 2px solid #89D;
}

#conflict_table th.border {
  min-width: 0;
  width: 2px;
  border-bottom: 2px solid #89D;
}

#conflict_table td.border {
  width: 2px;
  background-color: #89D;
}

div.conflictlevel {
    display: inline-block;
    min-width: 1.5em;
}

div.our-conflict {
    padding-left: 20px;
    background-image: url('images/conflict-boxes/narow3.png');
    background-position: 8px 50%;
    background-repeat: no-repeat;
}

div.our-conflic2 {
  padding-left: 20px;
  background-image: url('images/conflict-boxes/narow2.png');
  background-position: 8px 50%;
  background-repeat: no-repeat;
}

div.our-conflic3 {
  padding-left: 20px;
  background-image: url('images/conflict-boxes/narow1.png');
  background-position: 8px 50%;
  background-repeat: no-repeat;
}

#conflict_table div.conflict {
    padding-top: 2px;
    height: 20px;
    text-align: left;
}

#conflict_group_list li.conflict {
    float: left;
    display: inline;
    list-style: none;
    /* border: 1px solid green; */
    width:   80px;
    /* height:  20px; */
    margin:  1px 2px;
}

#conflict_people_list li.conflict {
    float: left;
    display: inline;
    list-style: none;
    padding-bottom: 3px;
    /* border: 1px solid green; */
    width:   120px;
    /* height:  20px; */
    margin:  1px 2px;
}

td.conflict_list_title {
    width: 30px;
}
td#conflict_group_list {
    width: 576px;
}
td#conflict_people_list {
    width: 576px;
}


.agenda_column_2012-03-30__1120 {
  background-color: red;
  text-decoration: line-through;

}

#spinner{

  height:50%;
  /* margin-top:50%; */
  /* margin-bottom:50%; */
}


.spacer{
    background-color:#edf5ff;
    width:1px;
}
.spacer_grip{
   /* background-color:green; */
   min-width:4px;
   width:4px;
   min-height:40px;
   height:100%;
   /* border:1px solid red; */
   float:right;
/*   margin-left:-100%; */
   padding:0px;
   /* cursor:se-resize; */

background: #99beff; /* Old browsers */
background: -moz-linear-gradient(left, #99beff 0%, #1e5799 100%); /* FF3.6+ */

/* expect error on firefox */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#99beff), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #99beff 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #99beff 0%,#1e5799 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #99beff 0%,#1e5799 100%); /* IE10+ */
background: linear-gradient(to right, #99beff 0%,#1e5799 100%); /* W3C */

/* expect error on firefox */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99beff', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 */
}

.ui-resizable{
    float:right;

}
.ui-resizable-e{
    cursor: w-resize;

}
.ui-resizable-w{
    cursor: e-resize;

}


.small{
    font: 13px/1.231 arial,helvetica,clean,sans-serif;
}

.very_small{
    font: 10px/1.231 arial,helvetica,clean,sans-serif;
}


.right{
    float:right;
}

.left{
    float:left;
}


.show_conflict_view_highlight{
    background-color: red;
}

.show_conflict_specific_box {
  border: 3px solid red;
}
.show_conflic2_specific_box {
  border: 2px solid red;
}
.show_conflic3_specific_box {
  border: 1px solid red;
}

.personconflict {
}
.hidepersonconflict {
    display: none;
}
.showpersonconflict {
    display: inline;
}

.same_group {
    background-color: green;
}
.selected_group {
    background-color: purple;
}
.selected_slot {
    background-color: purple;
}

/*
 * table.actual* is used in the grid to indicate a conflict.
 * div.our-conflic*   is used in the info display to give more details
 * div.their-conflic* shows the same thing in the opposite direction.
 */
table.actual_conflict {
  padding-left: 20px;
  background-image: url('images/conflict-boxes/narow3.png');
  background-position: 8px 50%;
  background-repeat: no-repeat;
}

table.actual_conflic2 {
  padding-left: 20px;
  background-image: url('images/conflict-boxes/narow2.png');
  background-position: 8px 50%;
  background-repeat: no-repeat;
}

table.actual_conflic3 {
  padding-left: 20px;
  background-image: url('images/conflict-boxes/narow1.png');
  background-position: 8px 50%;
  background-repeat: no-repeat;
}

td.ourconflicts, td.theirconflicts {
   white-space:nowrap;
}

/* ::-webkit-scrollbar{ */
/*     width:3px; */
/* } */


.ui-effects-transfer { border: 2px solid black; }


.hide_room{
    position:absolute;
    top:0;
    left:0;
}
.light_blue_border{
    border: 1px solid #94d3e6;
    height:100%;


}

.top_left{
    /* position:absolute; */
    top:0;
    left:0;
}

.bottom_left{
    /* position:absolute; */
    bottom:0;
    left:0;
}


.close{
    cursor:pointer;
    background-color:white;
    color:black;
    min-width:11px;
    width:11px;
    max-width:11px;
    min-height:11px;
    height:11px;
    max-height:11px;
    border: 1px solid black;
    border-radius: 50%;

}

.delete {
    font-size: 14px;
    cursor: pointer;
    background-color: white;
    color:black;
    min-width:15px;
    width:15px;
    max-width:15px;
    min-height:15px;
    height:15px;
    max-height:15px;
    border: 1px solid black;
    border-radius: 50%;
}

.minimal_table{
    border-collapse:collapse;
    margin:0px;
}


.small_button{
    font-size:8px;
    cursor:pointer;
}

.show_hidden_things{
    position: absolute;
    right:    200px;
    bottom:   5px;
    border: 1px solid #89D;
    font-size: 11px;
    background-color: #EDF5FF;
    margin: 3px;
    padding: 5px;
    max-width:  150px;
    min-height:97px;
    min-width:150px;
}


.room_name{
    margin-left:12px;
    margin-right:4px;

}

.highlight_free_slot{
    background-image: url('images/green_hatch.png');
}


#show_all{


}

#show_all_button{
    margin-top:4px;

}

.free_slot{
    /* background-image: url('images/empty.png') no-repeat;*/ /* 404, this file doesn't exist? */
    /* background-color:rgb(0, 102, 153) !important; /* the important tag should fix any precedence issues */
 }


/* from: http://www.usabilitypost.com/2012/01/10/pressed-button-state-with-css3/# */
.content .styled_button {
    /* padding: 10px 15px; */
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.content .styled_button:hover {
    cursor:pointer;
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
.content .styled_button:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}

/*
.agenda_row_alt td {
    /* for now, use no alternating theme */
    border-bottom: 1px solid orange;
    margin-bottom: 5px;
}
*/

.agenda_slot_plenary {
    /* background-color: #d38f2d;  */ /* dark orange */
    background-image: url('images/orange_hatch.png');
}

.agenda_slot_session {
    background-color: #E0E0E0;
}

.agenda_slot_reserved {
    background-color: #a62b2b; /* dark red */
}

.agenda_slot_other {
    background-color: #9448d4;  /* purple */
}

.agenda_slot_unavailable,.agenda_slot_unavail {
    background-color: #4c4c4c;  /* dark grey */
}

.NOAREA-scheme {
    background-color: blue;
    color: white;
}


/* this is for timeslot edit page */

.addbutton {
    font-size: 6pt;
    cursor: pointer;
    float: left;
    max-width: 35px;
    width: 35px;
    height: 10px;
    padding: 5px 1px 3px 1px;
    border: 2px solid black;
    margin: 5px 5px 3px 1px;
}

#add_room_dialog {
}

#addday_form {
}

/*
.ui-dialog {
    border: 3px solid black;
    padding: 5px;
    background-color: #fff;
}
*/

.dialog {
    display: none;
}
.capacity {
    font: 10px/1.231 arial,helvetica,clean,sans-serif;
    font-style:italic;
}

.agenda_list_title {
  font-size: 44px;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  text-decoration: underline;
}

div.agenda_list {
  margin-left: 25%;
  margin-right: 25%;
  max-width: 500px;
  padding-top:  10px;
  padding-left: 20px;
  padding-right:20px;
  border: 2px dashed #444444;
  background-color: #bbbbbb;
  min-height: 600px;
  padding-bottom: 40px;
}

div.agenda_list tr.heading td {
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 32px;
}

div.agenda_list tr th {
  border-bottom: 2px solid black;
  padding-bottom: 3px;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}


div.agenda_list tr {
  margin-top: 8px;
}

div.agenda_list tr td.agenda_data {
  margin-top: 8px;
  margin-bottom: 3px;
  padding: 3px 5px 1px 3px;
  width: 100px;
  text-align: left;
}

.agenda_data span {
    /* cursor:pointer; */
}

.agenda_official_row {
  background-color: #dddddd;
}

div.line{
  transform-origin: 0 100%;
  height: 3px; /* Line width of 3 */
  background: #000; /* Black fill */
}

#read_only {
    position: relative;
    margin-top: 15px;
    margin-bottom: 4px;
    margin-left: 40%;
    padding: 2px 6px;
    font-size: 16pt;
    width: 500px;
    text-align: center;
    border: 2px double;
    border-radius: 9px;
}

#read_only p {
    padding: 0px;
}

#agenda_edit_properties {
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
    background: white;
    padding: 30px;
    height: 250px;
    width:  450px;
    top: 30%;
    left: 40%;
}

#agenda_edit_properties fieldset {
    border: none;
}

#agenda_edit_properties td {
    text-align: left;
    font-size: 10pt;
}

#agenda_edit_properties div#title table {
    display: inline;
}

.highlight_current_moving{
    background-color:red;

}

.highlight_current_selected{ /* replacement for dragging color */
    background-color:green;
    }

.th_column{ /* we need this or the other floating th's won't expand correctly */
    min-width:100px;
}

.director-right {
    float: right;
}

.director-rightup {
    position: absolute;
    right: 4px;
    top: -8px;
}

.director-mark {
    border-radius: 6px;
    margin-bottom: 1px;
    margin-top: 0px;
    font-size: 6pt;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
}


.ui-resizable-s {
height:6px;
/* background-color:aqua; */
/* background: #99beff; /\* Old browsers *\/ */
/* background: -moz-linear-gradient(top, #99beff 0%, #1e5799 100%); /\* FF3.6+ *\/ */

/* expect error on firefox */
background: -webkit-gradient(linear, top, bottom, color-stop(0%,#99beff), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #99beff 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
/* background: -o-linear-gradient(left, #99beff 0%,#1e5799 100%); /\* Opera 11.10+ *\/ */
/* background: -ms-linear-gradient(left, #99beff 0%,#1e5799 100%); /\* IE10+ *\/ */
/* background: linear-gradient(to right, #99beff 0%,#1e5799 100%); /\* W3C *\/ */

/* expect error on firefox */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99beff', endColorstr='#1e5799',GradientType=1 ); /\* IE6-9 *\/ */

}

.resource_image {
    float: left;
}
.resource_list {
    width: 75px;
}
.room_features {
    background-color:#2647A0;
}
.agenda_requested_feature {
    float: right;
}

/* copied from doc.css, maybe with some modifications. */
a.editlink {
  background-image: url("images/pencil.png");
  background-size: 10px;
  background-position: right top;
  background-attachment: scroll;
  background-repeat: no-repeat;
  padding-right: 12px;
}
a.editlink:link {text-decoration:none; color:inherit;}
a.editlink:visited {text-decoration:none; color:inherit;}
