{# Copyright The IETF Trust 2011, All Rights Reserved #}
{% load ietf_filters %}
<p>{{ obj.info.text|safe|linebreaksbr }}</p>

{% with obj.group as wg %}
<p>
  WG name: {{ wg.name }}<br/>
  WG acronym: {{ wg.acronym }}<br/>
  IETF area: {{ wg.parent|default:"-" }}<br/>
</p>

<p>
  WG chairs: {% for n in obj.chairs %}{{ n }}{% if not forloop.last %}, {% endif %}{% endfor %}<br/>
  WG secretaries: {% for n in obj.secr %}{{ n }}{% if not forloop.last %}, {% endif %}{% endfor %}<br/>
  WG technical advisors: {% for n in obj.techadv %}{{ n }}{% if not forloop.last %}, {% endif %}{% endfor %}<br/>
  Assigned AD: {{ wg.ad }}<br/>
</p>

<p>
  Mailing list: {{ wg.list_email }}<br/>
  Mailing list subscribe {{ wg.list_subscribe }}<br/>
  Mailing list archive: {{ wg.list_archive }}<br/>
  Other web sites: {% for a in wg.groupurl_set.all %}{{ a.url }} {% if a.name %}({{ a.name }}){% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}<br/>
</p>

<p>
  WG State: {{ wg.state|safe }}<br/>
  Charter State: {% if wg.charter %}{{ wg.charter.get_state|safe }}{% endif %}<br/>
</p>
{% if obj.rev %}
{{ obj.charter|safe }}
{% else %}
The WG does not yet have a charter
{% endif %}
{% endwith %}
