{% extends "base_site.html" %}
{% load staticfiles %}

{% block title %}Meetings{% endblock %}

{% block extrahead %}{{ block.super }}
  <script type="text/javascript" src="{% static 'secr/js/utils.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}{{ block.super }}
  &raquo; <a href="../../">Meetings</a>
  &raquo; <a href="../">{{ meeting.number }}</a>
  &raquo; Notifications
{% endblock %}

{% block content %}

<div class="module">
  <h2>IETF  {{ meeting.number }} - Send Notifications</h2>
    <form id="id_notification_form" action="." method="post">{% csrf_token %}
      <p>The following groups are in state 'schedw' (Waiting for scheduling). Pressing the Send Now button will change them to be in state 'sched' (Scheduled), and send email notifications each of them that their session has been scheduled. The last time this button was pressed was {{ last_notice.time|date:"Y-m-d" }}:</p>
      <p id="id_notification_list">{% if not groups %}(none){% endif %}{% for group in groups %}{{ group.acronym }}{% if not forloop.last %}, {% endif %}{% endfor %}<p>
      <input type="submit" value="Send Now" name="submit" onclick="return window.confirm('Are you sure you want to send notifications?');">
    </form>
    
    {% include "includes/buttons_back.html" %}

</div> <!-- module -->

{% endblock %}
 






















