{% extends "base_site.html" %}
{% load staticfiles %}

{% block title %}Meetings{% endblock %}

{% block extrahead %}{{ block.super }}
  <script type="text/javascript" src="{% static 'secr/js/utils.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}{{ block.super }}
  &raquo; <a href="{% url "ietf.secr.meetings.views.main" %}">Meetings</a>
  &raquo; <a href="{% url "ietf.secr.meetings.views.view" meeting_id=meeting.number %}">{{ meeting.number }}</a>
  &raquo; <a href="{% url "ietf.secr.meetings.views.select" meeting_id=meeting.number schedule_name=schedule.name %}">{{ schedule.name }}</a>
  &raquo; Select Group
{% endblock %}

{% block content %}

<div class="module">
    <h2>IETF {{ meeting.number }} - Scheduled Sessions</h2>
      
        <ul id="id_scheduled_sessions">
          {% for assignment in assignments %}
            <li><a href="{% url "ietf.secr.meetings.views.session_edit" meeting_id=meeting.number schedule_name=schedule.name session_id=assignment.session.pk %}">{{ assignment.session.group.acronym }} - {{ assignment.timeslot.time|date:"D" }}</a></li>
          {% endfor %}
        </ul>
     
</div> <!-- module -->

{% endblock %}
 
{% block footer-extras %}
  {% include "includes/meetings_footer.html" %}
{% endblock %}






















