{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}

{% block morecss %}
.panel-heading {font-size:150%; }
{% endblock morecss %}

{% block title %}Milestones under review{% endblock %}

{% block content %}
  {% origin %}
  <h1>Milestones under review</h1>

  {% for ad in ads %}
    <div class="panel panel-default">
      <div class="panel-heading">{{ ad.plain_name }}</div>
      <div class="panel-body">
        {% for g in ad.groups_needing_review %}
          <h3>{{ g.name }} ({{ g.acronym }})</h3>
          {% include "group/milestones.html" with milestones=g.milestones_needing_review %}
          <a class="btn btn-default" href="{% url 'ietf.group.milestones.edit_milestones;current' group_type=g.type_id acronym=g.acronym %}">All {{ g.acronym }} milestones</a>
        {% endfor %}
      </div>
    </div>
  {% endfor %}

{% endblock %}
