{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin staticfiles %}
{% load ietf_filters %}

{% block morecss %}
  .well { max-width: 150px;}
  .nav-tabs { position: relative; z-index: 100; }
  .anchor-target { position: relative; z-index: 0; } 
{% endblock %}

{% block title %}{{ group_type | upper }} {{ role }} Photos{% endblock %}

{% block bodyAttrs %}data-spy="scroll" data-target="#affix"{% endblock %}

{% block content %}
  {% origin %}

      <h1>{{ group_type | upper }} {{ role }} Photos</h1>

      <ul class="nav nav-tabs" role="tablist">
	 <li ><a href="/iesg/agenda/documents/">IESG Agenda</a></li>
	 <li ><a href="/iesg/agenda/documents/">Documents on future agendas</a></li>
	 <li ><a href="/iesg/discusses/">DISCUSS positions</a></li>
	 <li class="active"><a href="{% url "ietf.iesg.views.photos" %}">IESG Photos</a></li>
      </ul>

      {% regroup roles by group.acronym as alphabet_blocks %}
      <div class="col-md-11" >
      {% for letter in alphabet_blocks %}
       <div class="row anchor-target" id="{{letter.grouper}}">
	<div class="panel panel-default">
	  <div class="panel-heading">
	     <a href="{% url 'ietf.group.views.group_home' acronym=letter.grouper %}">
		{{letter.list.0.group.name}}
	     </a>
	  </div>
	  <div class="panel-body">
	    <ul class="list-inline">
	    {% regroup letter.list by person as person_groups %}
	    {% for person_with_groups in person_groups %}
	     <li>
	     {% if person_with_groups.grouper.photo %}<a href="{% url 'ietf.person.views.profile' email_or_name=person_with_groups.grouper.plain_name %}">{% endif %}
	     <div class="well photo-thumbnail">
	       <div>
	       {% if person_with_groups.grouper.photo_thumb %}
		     <img width=100 src="{{person_with_groups.grouper.photo_thumb.url}}"  alt="Photo of {{person_with_groups.grouper.name}}"/>
	       {% else %}
		     <img width=100 src="{{ MEDIA_URL }}photo/nopictureavailable.jpg" alt="No photo available"/>
	       {% endif %}
	       </div>
	       <div class="photo-name" style="height: 60px;">
		  <strong>{{person_with_groups.grouper.plain_name}}</strong>
	       </div>
	     </div>
	     {% if person_with_groups.grouper.photo %}</a>{% endif %}
	     </li>
	    {% endfor %}
	    </ul>
	  </div>
	</div>
       </div>
      {% endfor %}
      </div>

      <div class="col-md-1 hidden-print bs-docs-sidebar" id="affix">
	<ul class="nav nav-pills nav-stacked small fixed" data-spy="affix">
	  {% for letter in alphabet_blocks %}
	    <li><a href="#{{letter.grouper}}">{{letter.grouper}}</a></li>
	  {% endfor %}
	</ul>
      </div>
{% endblock %}
