/*
 * Site-wide CSS for the IETF datatracker.
 *
 * Styles only used for one page go into the morecss block of
 * that page template! (And not into the HTML of the page...)
 */

/* Passing for static navbar; see http://getbootstrap.com/components/#navbar-fixed-top */
body { padding-top: 72px; }

/* Browse Happy prompt */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Helper to center navigation pills */
.center-pills {	display: inline-block; }

/* Helper to constrain the size of the main logo */
.ietflogo { width: 75%;	max-width: 300px; }

/* See http://bootply.com/100899 */
.dropdown-submenu { position: relative; }
.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
	line-height: 1.2;
}
.dropdown-submenu > .dropdown-menu li a{
	line-height: 1.2;
}
.dropdown-submenu > .dropdown-menu li.separator{
  font-size: 80%;
  margin-left: 1em;
  padding: .5em 0;
  border-bottom: 1px solid #CCC;
}
.dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu .pull-left { float: none; }
.dropdown-submenu .pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

/* See http://eichefam.net/2012/04/12/scrollable-menus-in-bootstrap/ */
.dropdown-submenu:hover > .dropdown-menu {
		height: auto;
		max-height: 500px;
		overflow-x: hidden;
		overflow-y: auto;
}

/* Style the left menu */
.nav-header { font-weight: bold; padding-bottom: 2px;}
.nav-header:not(:first-child) { padding: 10px 0 2px 0 }

.navbar {
  font-family: "PT Sans", "Trebuchet", "Seravek", sans-serif;
}

.body-nav {
  font-family: "PT Sans", "Trebuchet", "Seravek", sans-serif;
  font-size: 90%;
}

.nav-stacked>li, .nav-stacked>li+li { margin: 0; line-height: 1.214; }
.nav-stacked>li>a { padding: 0.125em 0.5em; }

.leftmenu {
  max-width: 195px;
  font-family: "PT Sans", "Trebuchet", "Seravek", sans-serif;
}
.leftmenu .nav {
  overflow-wrap: break-word
}

.navbar-brand > img {
  display: inline;
  padding-right: 1em;
  margin-top: -5px;
}

.navbar-brand {
  margin-top: -2px;
}

/* Hack to make anchor-targets take up a bit more space vertically
 to work around the position fixed navbar which otherwise covers them */
h2.anchor-target:before,
h3.anchor-target:before,
h4.anchor-target:before,
.h1.anchor-target:before,
.h2.anchor-target:before,
.h3.anchor-target:before,
.h4.anchor-target:before,
tr th.anchor-target:before,
tr td.anchor-target:before,
div.anchor-target:before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 65px;
  margin-top: -65px;
}
div.anchor-target { z-index: 0; }

/* Same as above (avoid hiding content under navbar) for tab-panes */
div.tab-pane:before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 7.5em;
  margin-top: -7.5em;
}

/* Make the panel title font normally large */
.panel-title { font-size: 14px }

/* A new type of Bootstrap label and panel*/
.label-blank { color: #555; background-color: #eee; font-size: 0.9em; line-height: 0.9; padding: 0.2em 0.6em; }
.label-bluesheets { color: #fff; background-color: #9bf; font-size: 0.71em; padding: 0.2em 0.2em; }
.label.label-wide { margin-left: 1em; margin-right: 1em; }
.panel-blank { color: #555; }
.panel-blank > .panel-heading { background-color: #eee; }


/* Required form field labels - 2217 = &lowast;  */
label.required:after { content: "\2217"; color: #a94442; font-weight: bold; }

/* Add some margin to tabs */
.nav-tabs[role=tablist] { margin-bottom: 0.7em; }
.nav a { z-index: 100; }

/* Styles needed for the ballot table */
/*
.position-discuss,
.position-block    { background-color: #f0ad4e; }
.position-yes      { background-color: #67F72B; }
.position-noobj    { background-color: #D1F7C1; }
.position-abstain  { background-color: #8C73F5; }
.position-recuse   { background-color: #808080; }
.position-norecord { background-color: #FFFFFF; }
.position-discuss-row,
.position-block-row    { background-color: #FFE5d9 !important ; }
.position-yes-row      { background-color: #DBFFCC !important ; }
.position-noobj-row    { background-color: #F4FFF0 !important ; }
.position-abstain-row  { background-color: #eae5ff !important ; }
.position-recuse-row   { background-color: #D9D9D9 !important ; }
.position-norecord-row { background-color: #ffffff; }
*/

.ballot-icon table td { border: 1px solid #ddd; height: 10px; width: 8px; }
.ballot-icon table .my { border: 2px solid #000;}
.ballot-icon table { margin: 0 0 10px 10px; }

.is-blocking {  box-shadow: 0 0 8px 8px #dc0d12;
                padding: 3px 0px 3px 3px;
                margin: 5px 1px 3px 0px;
                border: 1px solid #dc0d12;
             }

/* Style the right-hand page navigation affix used on some pages. */

#affix .nav > li > a {
	display: block;
	padding: 4px 20px;
	font-size: 13px;
	font-weight: 500;
	color: #999;
	border-radius: 0;
}
#affix .nav > li > a:hover,
#affix .nav > li > a:focus {
	padding-left: 19px;
	color: #5f4f9f;
	text-decoration: none;
	background-color: transparent;
	border-left: 1px solid #5f4f9f;
	border-radius: 0;
}
#affix .nav > .active > a,
#affix .nav > .active:hover > a,
#affix .nav > .active:focus > a {
	padding-left: 18px;
	font-weight: bold;
	color: #5f4f9f;
	background-color: transparent;
	border-left: 2px solid #5f4f9f;
	border-radius: 0;
}

/* Style the search form and results */
.search_field:first-child { padding-bottom: 10px; }
.doc { width: 40%; }

/* Ballot discuss and comment text needs to look a bit different than pre */
.ballot { padding: 0; margin: 0; border: 0; background-color: inherit; }

/* Add some padding when there are multiple buttons in a line than can wrap. */
.buttonlist .btn { margin-bottom: .5em }


pre {
  /* Make preformatted text a bit more condensed in display */
  line-height: 1.214;
  /* PT Mono doesn't need the default one-step size reduction provided by bootstrap */
  font-size: 14px;
}

.preformatted {
    white-space: pre;
}

/* Some chunks of text are likely to be pasted into fields from other editing environments
   which do various things with line-wrapping. Preserve whitespace to the extent possible. */
.pasted {
    white-space: pre-wrap;
    word-break: keep-all;
}

/* Turn off link underlining for panels in the search results */
.ipr a:hover { text-decoration: none }

/* Helper for line-through text. */
.line-through { text-decoration: line-through; }

/* Tweak visibility of elements when js is disabled. These styles
   are removed from the DOM when js is enabled by a script in the main
   template. */
.hidden-nojs {
	display: none !important;
	visibility: hidden !important;
}
.visible-nojs { display: block !important; }

/* Development Mode tool bar */

.navbar-dev {
	background-color: #ff0000;
	border-color: #cc0000;
}
.navbar-dev .navbar-brand {
	color: #ecf0f1;
}
.navbar-dev .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ecdbff;
}
.navbar-dev .navbar-text {
	color: #ecf0f1;
}
.navbar-dev .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-dev .navbar-nav > li > a:hover, .navbar-dev .navbar-nav > li > a:focus {
	color: #ecdbff;
}
.navbar-dev .navbar-nav > .active > a, .navbar-dev .navbar-nav > .active > a:hover, .navbar-dev .navbar-nav > .active > a:focus {
	color: #ecdbff;
	background-color: #CC0000;
}
.navbar-dev .navbar-nav > .open > a, .navbar-dev .navbar-nav > .open > a:hover, .navbar-dev .navbar-nav > .open > a:focus {
	color: #ecdbff;
	background-color: #CC0000;
}
.navbar-dev .navbar-toggle {
	border-color: #CC0000;
}
.navbar-dev .navbar-toggle:hover, .navbar-dev .navbar-toggle:focus {
	background-color: #CC0000;
}
.navbar-dev .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-dev .navbar-collapse,
.navbar-dev .navbar-form {
	border-color: #ecf0f1;
}
.navbar-dev .navbar-link {
	color: #ecf0f1;
}
.navbar-dev .navbar-link:hover {
	color: #ecdbff;
}

/* table on document main tabs  */

.table td.edit {
  width: 1px; /* make sure it uses as little space as possible */
}

/* milestone editing */
#milestones-form .milestone {
  cursor: pointer;
}
#milestones-form .milestone:hover {
  background-color: #f5f5f5;
}
#milestones-form .edit-milestone {
  display: none;
}
#milestones-form .milestone.delete, #milestones-form .edit-milestone.delete, #milestones-form .edit-milestone.delete input {
  color: #aaa !important;
}

/* customize group workflow */
#group-customize-workflow  .state-table .inactive .name, .state-table .inactive .state, .state-table div.inactive, .tag-table .inactive .name {
  font-style: italic;
  color: #666;
}

#group-customize-workflow .state-table .state {
  margin-bottom: 0.1em;
}

#group-customize-workflow .state-table .set-state button, .set-tag button {
  width: 6.5em; /* prevent the layout from jumping around */
}

#group-customize-workflow .state-table td.next-states {
  width: 32em; /* prevent the layout from jumping around */
}

/* misc pages */

#dbtemplate-edit textarea {
  font-family: "PT Mono", monospace, "Courier";
}

.liaison-group-col {
    min-width: 10em;
}

#reset-charter-milestones .date {
  display: inline-block;
  min-width: 5em;
}

#charter-form textarea {
  font-family: "PT Mono", monospace, "Courier";
}

#ballot-form textarea {
  font-family: "PT Mono", monospace, "Courier";
}

#templateform textarea {
  font-family: "PT Mono", monospace, "Courier";
}

#ipr-details dl.dl-horizontal dt {
  white-space: normal;
}

.ipr-form .draft-row.template {
  display: none;
}

form.send-notification textarea {
  height: 24em;
}

form.add-email textarea {
  height: 24em;
}

table.materials .snippable {
  width: 25em;
}

.revlist {
  font-family: "PT Sans Caption", "Trebuchet", "Seravek", sans-serif;
  font-size: 0.7071em;
}
.pagination.revlist {
  margin: 1em 0 0.5em 0;
}
.pagination.revlist>li>a, .pagination.revlist>li>a:hover, .pagination.revlist>li>a:active {
  padding: 4px 8px;
}
.revlist>li.warning>a, .revlist>li.warning>a:hover, .revlist>li.warning>a:active {
  background-color: #f9c0a4;	/* warning colour */
}

/* This is for the <thead> of document meta-information tables, which can either be empty or hold an alert-warning */

#message-row tr th  {
  padding: 0.2em 0.5em;
}

.pad {
  padding: 0.5em 0.5em;
  line-height: 1.2;
}
.padded {
  padding: 1em 1em;
  line-height: 1.4142;
}
.padded-bottom {
  padding: 0 1em 1em 1em;
  line-height: 1.4142;
}
.padded-top {
  padding: 1em 1em 0 1em;
  line-height: 1.4142;
}
.padded-left,
tbody > tr > td.padded-left {
  padding-left: 1em;
}
.padded-right,
tbody > tr > td.padded-right {
  padding-right: 1em;
}


a.padded {
  line-height: 2.0;
}

footer {
  font-family: "PT Sans Caption", "Trebuchet", "Seravek", sans-serif;
  font-size: 0.7071em;
}

/* This applies to the top navbar submenu popouts*/
/*
.nav.navbar-nav .dropdown-submenu ul {

}
*/
/* This applies to the side menubar submenu popouts */
/*
.nav.nav-stacked .dropdown-submenu ul {

}
*/


table tbody.meta th, table tbody.meta td { border-top: 0; }
table tbody.meta th:first-child, table tbody.meta td:first-child {
	width: 6em;
}
table tbody.meta th:nth-child(2), table tbody.meta td:nth-child(2) {
	text-align: right;
	width: 9em;
}

table tbody.panel-meta th, table tbody.panel-meta td { border-top: 0; }
table tbody.panel-meta th:first-child, table tbody.panel-meta td:first-child {
  text-align: right;
  width: 9em;
}

td.area-director div { border-bottom: solid #ccc 1px; }

.milestone { font-style: italic; }

.balloter-name { padding-bottom: .5em; line-height: 1em;}

.changebar { width: 0.3em; }

h1 small .pull-right { margin-top: 10.5px; }

/* from bootstrap: .small {  font-size: 84%; } */

.tiny { font-size: 70%; position: relative; top: -0.06em; }
h1 .regular.pull-right { font-size: 50%; margin-top: 10.5px ; }
h2 .regular.pull-right { font-size: 57.6%; margin-top: 7.5px; }

.large {font-size: 120%;}
.llarge {font-size: 144%;}
.lllarge {font-size: 172.8%;}

/* This should not really be needed, but on iPads the navbar form is
   calculated to be a different width than it should be when we leave this at
   the bootstrap default auto setting:
*/
form.navbar-form input.form-control.input-sm { width: 141px; }
	


/* Styles for d3.js graphical SVG timelines */
#timeline { font-size: small; }

#timeline .axis path, #timeline .axis line {
    fill: none;
    stroke: black;
}

#timeline .axis.y path, #timeline .axis.y line { stroke: none; }

#timeline .axis.x text { dominant-baseline: central; }

#timeline .bar text {
    fill: white;
    dominant-baseline: central;
    pointer-events: none;
}

.tablesorter-bootstrap { width: inherit; }

.tablesorter-bootstrap thead tr th {
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: inherit;
    outline: inherit;
}

/* Community lists */

label#list-feeds {
  display: inline-block;
  font-weight: normal;
}

.email-subscription button[type=submit] {
  margin-left: 3em;
}

/* === Review flow ========================================================== */

.reviewer-assignment-not-accepted {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

form.complete-review .mail-archive-search .query-input {
  width: 30em;
}

form.complete-review .mail-archive-search .results .list-group {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

form.complete-review .mail-archive-search-result .from {
  width: 9em;
  padding-left: 0.4em;
}

form.complete-review .mail-archive-search-result .date {
  width: 6em;
  padding-left: 0.4em;
}

.closed-review-filter {
  margin-bottom: 1em;
}

form.review-requests .reviewer-controls, form.review-requests .close-controls {
  display: none;
}

form.review-requests .assign-action, form.review-requests .close-action {
  display: inline-block;
  margin-left: 0.5em;
}

form.review-requests .request-metadata {
  margin-bottom: 0.5em;
}

form.review-requests .abstract {
  font-size: 95%;
}

form.review-requests label {
  font-weight: normal;
  padding-right: 0.3em;
}

form.email-open-review-assignments [name=body] {
  height: 50em;
  font-family: monospace;
}

table.simple-table td {
  padding-right: 0.5em;
}

table.simple-table td:last-child {
  padding-right: 0;
}

.unavailable-period-past {
  color: #777;
}

.unavailable-period-active {
  font-weight: bold;
}

.reviewer-overview .completely-unavailable {
  background-color: #D8D8D8;
}

.reviewer-overview .skip-next {
  background-color: #E4E4E4;
}

.reviewer-overview .busy {
  background-color: #F0F0F0;
}

.reviewer-doc-past {
  background-color: #800000;
}

.reviewer-doc-ok {
  background-color: #008000;
}

/* === Statistics =========================================================== */

.stats-options > * {
  margin-bottom: 1em;
}

.stats-options > *:last-child {
  margin-bottom: 0;
}

.stats-options .date-range input.form-control {
  display: inline-block;
  width: 7em;
}

.document-stats .popover .element {
  padding-left: 1em;
  text-indent: -1em;
}

.document-stats #chart {
  height: 25em;
}

.document-stats #chart.chart-overview {
  height: 35em;
}

.stats-time-graph {
  height: 15em;
}

.review-stats th:first-child, .review-stats td:first-child {
 text-align: left;
}

.review-stats th, .review-stats td {
  text-align: center;
}

.review-stats tr.totals {
  font-weight: bold;
}

.review-stats-teams {
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  column-width: 18em;
}

.review-stats-teams a {
  display: block;
}

.highcharts-contextmenu hr {
  margin-top: 0;
  margin-bottom: 0;
}

/* === Photo pages ========================================================== */

.photo-name {
  height: 3em;
}

ul.list-inline li {
	vertical-align: bottom;
}

.bio-text {
	max-width: 85ex;
}

.photo {
	max-width: 200px;
}


.bio-photo {
	float: left;
	margin: 0.3em 1em 0.5em 0.1em;
	max-width: 200px;
}

.nav-tabs > li > a {
	background-color: #f8f8f8;
	border: 1px solid #e0e0e0;
}

/* === Interim Meetings ===================================================== */

#meeting-type-options {
    display: inline-block;
    margin-left: 4em;
}

.fieldset {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    background-color: #f1f1f1;
    padding: 16px 16px;
    margin-bottom: 20px;
}

#interim-request-form .fieldset.template {
    display: none;
}

#interim-request-form .time-field {
    width: 100px;
}

ul.errorlist {
    list-style-type: none;
    padding-left:0;
}

#s2id_id_country {
    display: inline-block;
}

#timezone-field {
    display: inline-block;
}

.form-inline .form-control.location {
    vertical-align: top;
}

.day-offset {
    color: #d60000;
}

.utc-time {
    display: inline-block;
    vertical-align: middle;
    color: #555;
}

/* === Proceedings ===================================================== */
ul.progress-section {
    list-style-type: none;
    margin-bottom: 2em;
}

/* === Font-Awesome ========================================================= */

.btn .fa-stack { width: 1em; height: 1em; }
.btn .fa-stack .fa-stack-1x { line-height: 80%; }
.fa-stack-1 {
  position: relative;
  display: inline-block;
  width: 1.28571429em;
  height: 1em;
  vertical-align: inherit;
}
.fa-stack-sm {
  width: 100%;
  text-align: center;
  font-size: 0.7172em;
  line-height: inherit;
}
.fa-stack-xs {
  width: 100%;
  text-align: center;
  font-size: 0.5em;
  line-height: inherit;
}

/* ========================================================================== */

.icon-link:visited,
.icon-link:hover,
.icon-link:active,
.icon-link:focus  {
   text-decoration: none;
}


.icon-link:hover,
.icon-link:active  {	
   background-color: #f5f5f5;
}

/* Move bootstrap's blockquote styling out of the way */

blockquote {
  font-size: inherit;
  padding: 10.5px 21px;
  margin: inherit; 
  border-left: inherit;
}

#emails {
  padding-top: 4px;
  padding-right: 4px;
} 


.symbol-link,
.symbol-link a:link,
.symbol-link a:visited {
  padding: 0 0.7em;
  font-size 1.2em;
}


.table-condensed th.ipr-label {
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    padding-right: 1em;
    vertical-align: top;
}
.table-condensed .ipr-prev {
  color: #777;
  background-color: #f0f0f0;
  vertical-align: top;
}
.table-condensed .ipr-this {
  vertical-align: top;
}

.rfcmarkup div {
  margin-top: 1em;
}
.rfcmarkup pre {
	font-size: 10.5pt;
	margin-right: 0;
	margin-left: 0;
	border: 0;
	margin: 0;
	padding: 0;
	padding-bottom: 1em;
	background-color: white;
	line-height: 1.12;
}

.rfcmarkup pre span.h1,
.rfcmarkup pre span.h2,
.rfcmarkup pre span.h3,
.rfcmarkup pre span.h4,
.rfcmarkup pre span.h5,
.rfcmarkup pre span.h6 {
	font-weight: bold;
	line-height: 0pt;
	display: inline;
	white-space: pre;
	font-family: monospace;
	font-size: 1em;
	font-weight: bold;

}
.rfcmarkup pre span.invisible {
	text-decoration: none;
	color: white;
}

.rfcmarkup pre a { text-decoration: underline; }

.rfcmarkup pre .grey,
.rfcmarkup pre .grey a:link,
.rfcmarkup pre .grey a:visited {
	color: #777;
}

.rfcmarkup pre.meta-info {
  padding: 0.5em;
  margin-left: -0.5em;
  margin-bottom: 0.5em;
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  width: 89ex;
}

.rfcmarkup hr {
	margin: 0;
	width: 80ex;
}

.rfcmarkup .text-warning,
.rfcmarkup a.text-warning,
.rfcmarkup a.text-warning:focus,
.rfcmarkup a.text-warning:active,
.rfcmarkup a.text-warning:visited,
.rfcmarkup a.text-warning:hover
{
  color: #d9534f;			/* brand-danger colour */
}

@media print {
  .rfcmarkup .noprint { display: none; }
  .rfcmarkup a,
  .rfcmarkup a:visited,
  .rfcmarkup pre a,
  .rfcmarkup pre a:visited {
    text-decoration: none;
  }
  .rfcmarkup a[href]:after {
    content: "";
  }
  .rfcmarkup abbr[title]:after {
    content: "";
  }
  .rfcmarkup pre {
    font-size: 10pt;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    

  }
  .rfcmarkup .newpage {
    page-break-before: always;
  }
}

.modal-max {
  width: 90%;
}

#debug-query-table .origin {
  font-family: 'PT Mono', monospace;
  font-size: 0.8em;
  word-break: break-all;
}

#debug-query-table .code {
  background-color: #eee;
}

#debug-query-table .code td {  
  white-space: pre;
}

#debug-query-table .table {
  max-width: 100%;
}

#debug-query-table .sql {
  border-top: 1px solid #555;
}

#debug-query-table .code .current {
  background-color: #ddd;
}

.checker-warning,
.checker-success {
  line-height: 1.0;
  cursor: pointer;
}

/* === Person ===================================================== */

.person-info {
  margin-bottom: 1.5em;
}

/* === Fullcalendar================================================ */

a.fc-event, .fc-event, .fc-content, .fc-title, .fc-event-container {
	background-color: #9772ff;	/* light primary colour from the palette */
	border-color: #9772ff;
}

.fc-button {
  /* same as button-primary */
  background-image: linear-gradient(rgb(107, 91, 173) 0px, rgb(80, 68, 135) 100%);
}

/* === Edit Milestones============================================= */

#milestones-form .milestonerow, #milestones-form .extrabuttoncontainer {
  padding: 8px;
  border-top: 1px solid #ddd;
}

/* === List Meeting Schedules ====================================== */

.from-base-schedule {
  opacity: 0.7;
}

/* === Edit Meeting Schedule ====================================== */

.edit-meeting-schedule .edit-grid {
  position: relative;
  display: flex;
}

.edit-meeting-schedule .edit-grid .room-label-column {
  /* make sure we cut this column off - the time slots will determine
   how much of it is shown */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 8em;
}

.edit-meeting-schedule .edit-grid .day {
  margin-left: 1em;
  margin-bottom: 2em;
}

.edit-meeting-schedule .edit-grid .room-label-column .day {
  margin-left: 0;
}

.edit-meeting-schedule .edit-grid .day-label {
  height: 3em;
}

.edit-meeting-schedule .edit-grid .day-label .swap-days {
  cursor: pointer;
}

.edit-meeting-schedule .edit-grid .day-label .swap-days:hover {
  color: #666;
}

.edit-meeting-schedule #swap-days-modal .modal-body label {
  display: block;
}

.edit-meeting-schedule .edit-grid .day-flow {
  margin-left: 8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.edit-meeting-schedule .edit-grid .room-group:not(:last-child) {
    margin-bottom: 1em;
}

.edit-meeting-schedule .edit-grid .time-header {
    position: relative;
    height: 1.5em;
    padding-bottom: 0.15em;
}

.edit-meeting-schedule .edit-grid .time-header .time-label {
    display: inline-block;
    position: relative;
    width: 100%;
    align-items: center;
}

.edit-meeting-schedule .edit-grid .time-header .time-label.would-violate-hint {
    background-color: #ffe0e0;
    outline: #ffe0e0 solid 0.4em;
}

.edit-meeting-schedule .edit-grid .time-header .time-label span {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #444444;
}

.edit-meeting-schedule .edit-grid .timeslots {
  position: relative;
  height: 4.5em;
  padding-bottom: 0.15em;
}

.edit-meeting-schedule .edit-grid .timeslot {
  position: relative;
  display: inline-block;
  background-color: #f4f4f4;
  height: 100%;
  overflow: hidden;
}

.edit-meeting-schedule .edit-grid .timeslot .time-label {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #999;
}

.edit-meeting-schedule .edit-grid .timeslot .drop-target {
  position: relative; /* this is merely to make sure we are positioned above the time labels */
  display: flex;
  flex-direction: row;
  height: 100%;
}

.edit-meeting-schedule .edit-grid .timeslot.dropping {
  background-color: #ccc;
  transition: background-color 0.2s;
}

.edit-meeting-schedule .edit-grid .timeslot.overfull {
  border-right: 0.3em dashed #f55000; /* cut-off illusion */
}

.edit-meeting-schedule .edit-grid .timeslot.would-violate-hint {
  background-color: #ffe0e0;
  outline: #ffe0e0 solid 0.4em;
}

.edit-meeting-schedule .edit-grid .timeslot.would-violate-hint.dropping {
  background-color: #ccb3b3;
}

.edit-meeting-schedule .constraints .encircled,
.edit-meeting-schedule .formatted-constraints .encircled {
  border: 1px solid #000;
  border-radius: 1em;
  padding: 0 0.3em;
  text-align: center;
  display: inline-block;
}

.edit-meeting-schedule .formatted-constraints .encircled {
  font-size: smaller;
}

/* sessions */
.edit-meeting-schedule .session {
  background-color: #fff;
  margin: 0.2em;
  padding-right: 0.2em;
  padding-left: 0.5em;
  line-height: 1.3em;
  border-radius: 0.4em;
  overflow: hidden;
  cursor: pointer;
}

.edit-meeting-schedule .session.selected {
  cursor: grabbing;
  outline: #0000ff solid 0.2em; /* blue, width matches margin on .session */
  z-index: 2; /* render above timeslot outlines */
}

.edit-meeting-schedule .session.other-session-selected {
  outline: #00008b solid 0.2em; /* darkblue, width matches margin on .session */
  z-index: 2; /* render above timeslot outlines */
}

.edit-meeting-schedule .read-only .session.selected {
  cursor: default;
}

.edit-meeting-schedule .session.readonly {
  cursor: default;
  background-color: #ddd;
}

.edit-meeting-schedule .session.hidden-parent * {
  /* This makes .session.hidden-parent's children transparent but keeps the
   * .session itself opaque so the timeslot label does not show through. */
  opacity: 0.7;
}

.edit-meeting-schedule .session.selected .session-label {
  font-weight: bold;
}

.edit-meeting-schedule .session.highlight {
  outline-color: #ff8c00;  /* darkorange */
  background-color: #f3f3f3;
}

.edit-meeting-schedule .session.would-violate-hint {
    outline: 0.3em solid #F55000;
    z-index: 1; /* raise up so the outline is not overdrawn */
}

.edit-meeting-schedule .session.highlight .session-label {
  font-weight: bold;
}

.edit-meeting-schedule .session.dragging {
  opacity: 0.1;
  transition: opacity 0.4s;
}

.edit-meeting-schedule .timeslot.overfull .session {
  border-radius: 0.4em 0 0 0.4em; /* remove right-side rounding to allude to being cut off */
  margin-right: 0;
}

.edit-meeting-schedule .edit-grid, .edit-meeting-schedule .session {
  font-family: arial, helvetica, sans-serif;
  font-size: 11px;
}

.edit-meeting-schedule .session .session-label {
  flex-grow: 1;
  margin-left: 0.1em;
}

.edit-meeting-schedule .session .session-label .bof-tag {
    font-style: normal;
    font-size: smaller;
    color: #8b0000;
    font-weight: bold;
    float: right;
    margin-right: 0.2em;
}

.edit-meeting-schedule .session.too-many-attendees .attendees {
  font-weight: bold;
  color: #8432d4;
}

.edit-meeting-schedule .session .constraints {
  margin-right: 0.2em;
  text-align: right;
  flex-shrink: 1;
}

.edit-meeting-schedule .session .constraints > span {
  display: none;
  font-size: smaller;
}

.edit-meeting-schedule .session .constraints > span .encircled {
  border: 1px solid #b35eff;
}

.edit-meeting-schedule .session .constraints > span.violated-hint {
  display: inline-block;
  color: #8432d4;
}

.edit-meeting-schedule .session .constraints > span.would-violate-hint {
  display: inline-block;
  font-weight: bold;
  color: #f55;
}

.edit-meeting-schedule .session .constraints > span.would-violate-hint .encircled {
  border: 1px solid #f99;
}

.edit-meeting-schedule .unassigned-sessions .session .constraints > span {
  display: none;
}

.edit-meeting-schedule .session .session-info {
  display: none;
}

/* scheduling panel */
.edit-meeting-schedule .scheduling-panel {
  position: sticky;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 0.2em solid #ccc;
  margin-bottom: 2em;
  background-color: #fff;
  opacity: 0.95;
  z-index: 5; /* raise above edit-grid items */
}

.edit-meeting-schedule .scheduling-panel .unassigned-container {
  flex-grow: 1;
}

.edit-meeting-schedule .unassigned-sessions {
  margin-top: 0.5em;
  min-height: 4em;
  max-height: 13em;
  overflow-y: auto;
  background-color: #f4f4f4;
}

.edit-meeting-schedule .unassigned-sessions.dropping {
  background-color: #e5e5e5;
  transition: background-color 0.2s;
}

.edit-meeting-schedule .unassigned-sessions .drop-target {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  min-height: 5em; /* do not disappear when empty */
}

.edit-meeting-schedule .scheduling-panel .preferences {
  margin: 0.5em 0;
}

.edit-meeting-schedule .scheduling-panel .preferences > span {
  margin-right: 1em;
}

.edit-meeting-schedule .sort-unassigned select {
  width: auto;
  display: inline-block;
}

.edit-meeting-schedule #timeslot-group-toggles-modal .modal-body {
  /*column-count: 3;*/
  display: flex;
  flex-flow: row wrap;
}

.edit-meeting-schedule #timeslot-group-toggles-modal .modal-body > * {
  margin-right: 1.5em;
}

.edit-meeting-schedule #timeslot-group-toggles-modal .modal-body label {
  display: block;
  font-weight: normal;
}

.edit-meeting-schedule .session-parent-toggles {
  margin-top: 1em;
}

.edit-meeting-schedule .session-parent-toggles label {
  font-weight: normal;
  margin-right: 1em;
  padding: 0 1em;
  border: 0.1em solid #eee;
  cursor: pointer;
}

.edit-meeting-schedule .modal .day-options {
    display: flex;
    flex-flow: row wrap;
}

.edit-meeting-schedule .modal .timeslot-options {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.edit-meeting-schedule .modal .room-group {
    margin: 2em;
}

.edit-meeting-schedule .scheduling-panel .session-info-container {
  padding-left: 0.5em;
  flex: 0 0 25em;
  height: 20em;
  font-size: 14px;
  overflow-y: auto;
}

.edit-meeting-schedule .scheduling-panel .session-info-container .comments {
  font-style: italic;
}

.edit-meeting-schedule .scheduling-panel .session-info-container .other-session:hover {
  cursor: default;
  background-color: #eee;
}

/* A modified .container-fluid without padding on very narrow devices*/
.container-fluid-narrow {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 480px) {
  .container-fluid-narrow {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

/* === Edit Meeting Timeslots and Misc Sessions =================== */

.edit-meeting-timeslots-and-misc-sessions .day {
  margin-bottom: 1em;
}

.edit-meeting-timeslots-and-misc-sessions .day-label {
  text-align: center;
  font-size: 20px;
  margin-bottom: 0.4em;
}

.edit-meeting-timeslots-and-misc-sessions .room-row {
  border-bottom: 1px solid #ccc;
  height: 20px;
  display: flex;
  cursor: pointer;
}

.edit-meeting-timeslots-and-misc-sessions .room-label {
  width: 12em;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.edit-meeting-timeslots-and-misc-sessions .timeline {
  position: relative;
  flex-grow: 1;
}

.edit-meeting-timeslots-and-misc-sessions .timeline.hover {
  background: radial-gradient(#999 1px, transparent 1px);
  background-size: 20px 20px;
}

.edit-meeting-timeslots-and-misc-sessions .timeline.selected.hover,
.edit-meeting-timeslots-and-misc-sessions .timeline.selected {
  background: radial-gradient(#999 2px, transparent 2px);
  background-size: 20px 20px;
}

.edit-meeting-timeslots-and-misc-sessions .timeslot {
  position: absolute;
  overflow: hidden;
  background-color: #f0f0f0;
  opacity: 0.8;
  height: 19px;
  top: 0px;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  padding-left: 0.2em;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

.edit-meeting-timeslots-and-misc-sessions .timeslot:hover {
  background-color: #ccc;
}

.edit-meeting-timeslots-and-misc-sessions .timeslot.selected {
  background-color: #bbb;
}

.edit-meeting-timeslots-and-misc-sessions .timeslot .session.cancelled {
  color: #a00;
}

.edit-meeting-timeslots-and-misc-sessions .scheduling-panel {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 0.2em solid #ccc;
  padding-top: 0.2em;
  margin-bottom: 2em;
  background-color: #fff;
  opacity: 0.95;
}

.edit-meeting-timeslots-and-misc-sessions .scheduling-panel form {
  display: flex;
  align-items: flex-start;
}

.edit-meeting-timeslots-and-misc-sessions .scheduling-panel form button {
  margin: 0 0.5em;
}

.edit-meeting-timeslots-and-misc-sessions .scheduling-panel .flowing-form {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.edit-meeting-timeslots-and-misc-sessions .scheduling-panel .flowing-form .form-group {
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.edit-meeting-timeslots-and-misc-sessions .scheduling-panel .flowing-form label {
  display: inline-block;
  margin-right: 0.5em;
}

.edit-meeting-timeslots-and-misc-sessions .scheduling-panel .flowing-form .form-control {
  display: inline-block;
  width: auto;
}

.edit-meeting-timeslots-and-misc-sessions .scheduling-panel .flowing-form [name=time],
.edit-meeting-timeslots-and-misc-sessions .scheduling-panel .flowing-form [name=duration] {
  width: 6em;
}

.edit-meeting-timeslots-and-misc-sessions .scheduling-panel .flowing-form [name=name] {
  width: 25em;
}

.edit-meeting-timeslots-and-misc-sessions .scheduling-panel .flowing-form [name=short] {
  width: 10em;
}

.rightmarker, .leftmarker {
    width: 3px;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.ongoing > td:first-child {
    background-color: red !important;
}

.ongoing > td:last-child {
    background-color: red !important;
}

.timetooltip {
    position: relative;
}

.timetooltip .timetooltiptext {
  visibility: hidden;
  background-color: #eee;
  color: #000;
  text-align: left;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 110;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  width: 60em;
}

.reschedtimetooltip .timetooltiptext {
    margin-left: -300px;
}

.timetooltiptext table tr td {
    padding: 1px 5px;
}

.timetooltiptext table tr th {
    text-align: center;
}

.timehead {
    text-align: right;
    font-weight: bold;
}

.timetooltip:hover .timetooltiptext {
  visibility: visible;
  opacity: 1;
}

#current-time {
    display: inline-block;
}