/*
 * Site-wide CSS for the IETF datatracker.
 *
 * Styles only used for one page go into the morecss block of
 * that page template! (And not into the HTML of the page...)
 */

/* Passing for static navbar; see http://getbootstrap.com/components/#navbar-fixed-top */
body { padding-top: 70px; }

/* Browse Happy prompt */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Helper to center navigation pills */
.center-pills {	display: inline-block; }

/* Helper to constrain the size of the main logo */
.ietflogo { width: 75%;	max-width: 300px; }

/* See http://bootply.com/100899 */
.dropdown-submenu { position: relative; }
.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
	line-height: 1.2;
}
.dropdown-submenu > .dropdown-menu li a{
	line-height: 1.2;
}
.dropdown-submenu > a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #cccccc;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu .pull-left { float: none; }
.dropdown-submenu .pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

/* See http://eichefam.net/2012/04/12/scrollable-menus-in-bootstrap/ */
.dropdown-submenu:hover > .dropdown-menu {
		height: auto;
		max-height: 500px;
		overflow-x: hidden;
		overflow-y: auto;
}

/* Style the left menu */
.nav-header { font-weight: bold; padding-bottom: 2px;}
.nav-header:not(:first-child) { padding: 10px 0 2px 0 }

.navbar {
  font-family: "PT Sans", "Trebuchet", "Seravek", sans-serif;
}

.nav-stacked>li, .nav-stacked>li+li { margin: 0; line-height: 1.214; }
.nav-stacked>li>a { padding: 0.125em 0.5em; }

.leftmenu {
  max-width: 195px;
  font-family: "PT Sans", "Trebuchet", "Seravek", sans-serif;
}
.leftmenu .nav {
  overflow-wrap: break-word
}

.navbar-brand > img {
  display: inline;
  padding-right: 1em;
  margin-top: -5px;
}

.navbar-brand {
  margin-top: -2px;
}

/* Hack to make anchor-targets take up a bit more space vertically
 to work around the position fixed navbar which otherwise covers them */
h2.anchor-target:before,
h3.anchor-target:before,
h4.anchor-target:before,
tr th.anchor-target:before,
div.anchor-target:before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 65px;
  margin-top: -65px;
}
div.anchor-target { z-index: 0; }

/* Make the panel title font normally large */
.panel-title { font-size: 14px }

/* A new type of Bootstrap label and panel*/
.label-blank { color: #555; background-color: #eee; }
.panel-blank { color: #555; }
.panel-blank > .panel-heading { background-color: #eee; }

/* Required form field labels - 2217 = &lowast;  */
label.required:after { content: "\2217"; color: #a94442; font-weight: bold; }

/* Add some margin to tabs */
.nav-tabs[role=tablist] { margin-bottom: 0.7em; }
.nav a { z-index: 100; }

/* Styles needed for the ballot table */
/*
.position-discuss,
.position-block    { background-color: #f0ad4e; }
.position-yes      { background-color: #67F72B; }
.position-noobj    { background-color: #D1F7C1; }
.position-abstain  { background-color: #8C73F5; }
.position-recuse   { background-color: #808080; }
.position-norecord { background-color: #FFFFFF; }
.position-discuss-row,
.position-block-row    { background-color: #FFE5d9 !important ; }
.position-yes-row      { background-color: #DBFFCC !important ; }
.position-noobj-row    { background-color: #F4FFF0 !important ; }
.position-abstain-row  { background-color: #eae5ff !important ; }
.position-recuse-row   { background-color: #D9D9D9 !important ; }
.position-norecord-row { background-color: #ffffff; }
*/

.ballot-icon table td { border: 1px solid #ddd; height: 10px; width: 8px; }
.ballot-icon table .my { border: 2px solid #000;}
.ballot-icon table { margin: 0 0 10px 10px; }

.is-blocking {  box-shadow: 0 0 8px 8px #dc0d12;
                padding: 3px 0px 3px 3px;
                margin: 5px 1px 3px 0px;
                border: 1px solid #dc0d12;
             }

/* Style the right-hand page navigation affix used on some pages. */

#affix .nav > li > a {
	display: block;
	padding: 4px 20px;
	font-size: 13px;
	font-weight: 500;
	color: #999;
	border-radius: 0;
}
#affix .nav > li > a:hover,
#affix .nav > li > a:focus {
	padding-left: 19px;
	color: #5f4f9f;
	text-decoration: none;
	background-color: transparent;
	border-left: 1px solid #5f4f9f;
	border-radius: 0;
}
#affix .nav > .active > a,
#affix .nav > .active:hover > a,
#affix .nav > .active:focus > a {
	padding-left: 18px;
	font-weight: bold;
	color: #5f4f9f;
	background-color: transparent;
	border-left: 2px solid #5f4f9f;
	border-radius: 0;
}

/* Style the search form and results */
.search_field:first-child { padding-bottom: 10px; }
.doc { width: 40%; }

/* Ballot discuss and comment text needs to look a bit different than pre */
.ballot { padding: 0; margin: 0; border: 0; background-color: inherit; }

/* Add some padding when there are multiple buttons in a line than can wrap. */
.buttonlist .btn { margin-bottom: .5em }


pre {
  /* Make preformatted text a bit more condensed in display */
  line-height: 1.214;
  /* PT Mono doesn't need the default one-step size reduction provided by bootstrap */
  font-size: 14px;
}

.preformatted {
    white-space: pre;
}

/* Some chunks of text are likely to be pasted into fields from other editing environments
   which do various things with line-wrapping. Preserve whitespace to the extent possible. */
.pasted {
    white-space: pre-wrap;
    word-break: keep-all;
}

/* Turn off link underlining for panels in the search results */
.ipr a:hover { text-decoration: none }

/* Helper for line-through text. */
.line-through { text-decoration: line-through; }

/* Tweak visibility of elements when js is disabled. These styles
   are removed from the DOM when js is enabled by a script in the main
   template. */
.hidden-nojs {
	display: none !important;
	visibility: hidden !important;
}
.visible-nojs { display: block !important; }

/* Development Mode tool bar */

.navbar-dev {
	background-color: #ff0000;
	border-color: #cc0000;
}
.navbar-dev .navbar-brand {
	color: #ecf0f1;
}
.navbar-dev .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ecdbff;
}
.navbar-dev .navbar-text {
	color: #ecf0f1;
}
.navbar-dev .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-dev .navbar-nav > li > a:hover, .navbar-dev .navbar-nav > li > a:focus {
	color: #ecdbff;
}
.navbar-dev .navbar-nav > .active > a, .navbar-dev .navbar-nav > .active > a:hover, .navbar-dev .navbar-nav > .active > a:focus {
	color: #ecdbff;
	background-color: #CC0000;
}
.navbar-dev .navbar-nav > .open > a, .navbar-dev .navbar-nav > .open > a:hover, .navbar-dev .navbar-nav > .open > a:focus {
	color: #ecdbff;
	background-color: #CC0000;
}
.navbar-dev .navbar-toggle {
	border-color: #CC0000;
}
.navbar-dev .navbar-toggle:hover, .navbar-dev .navbar-toggle:focus {
	background-color: #CC0000;
}
.navbar-dev .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-dev .navbar-collapse,
.navbar-dev .navbar-form {
	border-color: #ecf0f1;
}
.navbar-dev .navbar-link {
	color: #ecf0f1;
}
.navbar-dev .navbar-link:hover {
	color: #ecdbff;
}

/* table on document main tabs  */

.table td.edit {
  width: 1px; /* make sure it uses as little space as possible */
}

/* milestone editing */
#milestones-form .milestone {
  cursor: pointer;
}
#milestones-form .milestone:hover {
  background-color: #f5f5f5;
}
#milestones-form .edit-milestone {
  display: none;
}
#milestones-form .milestone.delete, #milestones-form .edit-milestone.delete, #milestones-form .edit-milestone.delete input {
  color: #aaa !important;
}

/* customize group workflow */
#group-customize-workflow  .state-table .inactive .name, .state-table .inactive .state, .state-table div.inactive, .tag-table .inactive .name {
  font-style: italic;
  color: #666;
}

#group-customize-workflow .state-table .state {
  margin-bottom: 0.1em;
}

#group-customize-workflow .state-table .set-state button, .set-tag button {
  width: 6.5em; /* prevent the layout from jumping around */
}

#group-customize-workflow .state-table td.next-states {
  width: 32em; /* prevent the layout from jumping around */
}

/* misc pages */

#dbtemplate-edit textarea {
  font-family: "PT Mono", monospace, "Courier";
}

.liaison-group-col {
    min-width: 10em;
}

#reset-charter-milestones .date {
  display: inline-block;
  min-width: 5em;
}

#charter-form textarea {
  font-family: "PT Mono", monospace, "Courier";
}

#ipr-details dl.dl-horizontal dt {
  white-space: normal;
}

.ipr-form .draft-row.template {
  display: none;
}

form.send-notification textarea {
  height: 24em;
}

form.add-email textarea {
  height: 24em;
}

table.materials .snippable {
  width: 25em;
}

.revlist {
  font-family: "PT Sans Caption", "Trebuchet", "Seravek", sans-serif;
  font-size: 0.7071em;
}
.pagination.revlist {
  margin: 1em 0 0.5em 0;
}
.pagination.revlist>li>a, .pagination.revlist>li>a:hover, .pagination.revlist>li>a:active {
  padding: 4px 8px;
}
.revlist>li.warning>a, .revlist>li.warning>a:hover, .revlist>li.warning>a:active {
  background-color: #f9c0a4;	/* warning colour */
}

/* This is for the <thead> of document meta-information tables, which can either be empty or hold an alert-warning */

#message-row tr th  {
  padding: 0.2em 0.5em;
}

.padded {
  padding: 1em 1em;
  line-height: 1.4142;
}

a.padded {
  line-height: 2.0;
}

footer {
  font-family: "PT Sans Caption", "Trebuchet", "Seravek", sans-serif;
  font-size: 0.7071em;
}

/* This applies to the top navbar submenu popouts*/
/*
.nav.navbar-nav .dropdown-submenu ul {

}
*/
/* This applies to the side menubar submenu popouts */
/*
.nav.nav-stacked .dropdown-submenu ul {

}
*/


table tbody.meta th, table tbody.meta td { border-top: 0; }
table tbody.meta th:first-child, table tbody.meta td:first-child {
	width: 6em;
}
table tbody.meta th:nth-child(2), table tbody.meta td:nth-child(2) {
	text-align: right;
	width: 9em;
}



td.area-director div { border-bottom: solid #ccc 1px; }

.milestone { font-style: italic; }

.areadirector-name { padding-bottom: .5em; line-height: 1em;}

.changebar { width: 0.3em; }

h1 small .pull-right { margin-top: 10.5px; }

.large {font-size: 120%;}
.llarge {font-size: 144%;}
.lllarge {font-size: 172.8%;}

/* This should not really be needed, but on iPads the navbar form is
   calculated to be a different width than it should be when we leave this at
   the bootstrap default auto setting:
*/
form.navbar-form input.form-control.input-sm { width: 141px; }
	


/* Styles for d3.js graphical SVG timelines */
#timeline { font-size: small; }

#timeline .axis path, #timeline .axis line {
    fill: none;
    stroke: black;
}

#timeline .axis.y path, #timeline .axis.y line { stroke: none; }

#timeline .axis.x text { dominant-baseline: central; }

#timeline .bar text {
    fill: white;
    dominant-baseline: central;
    pointer-events: none;
}

.tablesorter-bootstrap { width: inherit; }

.tablesorter-bootstrap thead tr th {
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: inherit;
    outline: inherit;
}

/* Community lists */

label#list-feeds {
  display: inline-block;
  font-weight: normal;
}

.email-subscription button[type=submit] {
  margin-left: 3em;
}

/* === Review flow ========================================================== */

.reviewer-assignment-not-accepted {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

form.complete-review .mail-archive-search .query-input {
  width: 30em;
}

form.complete-review .mail-archive-search .results .list-group {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

form.complete-review .mail-archive-search-result .from {
  width: 9em;
  padding-left: 0.4em;
}

form.complete-review .mail-archive-search-result .date {
  width: 6em;
  padding-left: 0.4em;
}

.closed-review-filter {
  margin-bottom: 1em;
}

form.review-requests .reviewer-controls, form.review-requests .close-controls {
  display: none;
}

form.review-requests .assign-action, form.review-requests .close-action {
  display: inline-block;
  margin-left: 0.5em;
}

form.review-requests .request-metadata {
  margin-bottom: 0.5em;
}

form.review-requests .abstract {
  font-size: 95%;
}

form.review-requests label {
  font-weight: normal;
  padding-right: 0.3em;
}

form.email-open-review-assignments [name=body] {
  height: 50em;
  font-family: monospace;
}

table.simple-table td {
  padding-right: 0.5em;
}

table.simple-table td:last-child {
  padding-right: 0;
}

.unavailable-period-past {
  color: #777;
}

.unavailable-period-active {
  font-weight: bold;
}

.reviewer-overview .completely-unavailable {
  opacity: 0.6;
}

/* === Statistics =========================================================== */

.stats-options > * {
  margin-bottom: 1em;
}

.stats-options > *:last-child {
  margin-bottom: 0;
}

.stats-options .date-range input.form-control {
  display: inline-block;
  width: 7em;
}

.stats-time-graph {
  height: 15em;
}

.review-stats th:first-child, .review-stats td:first-child {
 text-align: left;
}

.review-stats th, .review-stats td {
  text-align: center;
}

.review-stats tr.totals {
  font-weight: bold;
}

.review-stats-teams {
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  column-width: 18em;
}

.review-stats-teams a {
  display: block;
}

/* === Photo pages ========================================================== */

.photo-name {
  height: 3em;
}

ul.list-inline li {
	vertical-align: bottom;
}

.bio-text {
	max-width: 85ex;
}

.bio-photo {
	float: left;
	margin: 0.3em 1em 0.5em 0.1em;
	max-width: 200px;
}

.nav-tabs > li > a {
	background-color: #f8f8f8;
	border: 1px solid #e0e0e0;
}

/* === Interim Meetings ===================================================== */

#meeting-type-options {
    display: inline-block;
    margin-left: 4em;
}

.fieldset {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    background-color: #f1f1f1;
    padding: 16px 16px;
    margin-bottom: 20px;
}

#interim-request-form .fieldset.template {
    display: none;
}

#interim-request-form .time-field {
    width: 100px;
}

ul.errorlist {
    list-style-type: none;
    padding-left:0;
}

#s2id_id_country {
    display: inline-block;
}

#timezone-field {
    display: inline-block;
}

.form-inline .form-control.location {
    vertical-align: top;
}

.day-offset {
    color: #d60000;
}

.utc-time {
    display: inline-block;
    vertical-align: middle;
    color: #555;
}

/* === Proceedings ===================================================== */
ul.progress-section {
    list-style-type: none;
    margin-bottom: 2em;
}

/* === Font-Awesome ========================================================= */

.btn .fa-stack { width: 1em; height: 1em; }
.btn .fa-stack .fa-stack-1x { line-height: 80%; }

/* ========================================================================== */

.icon-link:visited,
.icon-link:hover,
.icon-link:active,
.icon-link:focus  {
   text-decoration: none;
}


.icon-link:hover,
.icon-link:active  {	
   background-color: #f5f5f5;
}

