{# Copyright The IETF Trust 2015, All Rights Reserved #}{% load origin %}{% origin %}
{% load ietf_filters proceedings_filters managed_groups %}
<tr>
  <td>
    {% comment %}
    <a name="{{ session.group.acronym }}"></a>
    <a name="wg-{{ session.group.acronym }}"></a>
    <a name="session.group-{{ session.group.acronym }}"></a>
    {% endcomment %}
    {% if session.name %}
      <div class="anchor-target" id="{{ session.name|slugify }}">{{ session.name }}</div>
    {% else %}
      <div class="anchor-target" id="{{session.group.acronym}}"><a href="{% url 'ietf.group.views.group_home' acronym=session.group.acronym %}">{{session.group.acronym}}</a></div>
      {% if session.group.state.slug == "bof" %}
        <span class="label label-success">{{ session.group.state.slug|upper }}</span>
      {% endif %}
    {% endif %}
  </td>

  {% if session.status_id == 'canceled' %}
    {% if user|has_role:"Secretariat" or user|managed_groups %}
      <td colspan="4"><span class="label label-danger">Session cancelled</span></td>
    {% else %}
      <td colspan="3"><span class="label label-danger">Session cancelled</span></td>
    {% endif %}
  {% else %}
    <td>
      {% if session.all_meeting_agendas %}
        {% if session.all_meeting_agendas|length == 1 %}
          <a href="{{ session.all_meeting_agendas.0|meeting_href:session.meeting }}">Agenda</a><br>
        {% else %}
          {% for agenda in session.all_meeting_agendas %}
            <a href="{{agenda|meeting_href:session.meeting}}">Agenda {{agenda.sessionpresentation_set.first.session.official_timeslotassignment.timeslot.time|date:"D G:i"}}</a></br>
          {% endfor %}
        {% endif %}
      {% else %}
        {% if show_agenda == "True" %}
          <span class="label label-warning">No agenda</span>
        {% endif %}
      {% endif %}
    </td>
    <td>
      {% if session.all_meeting_minutes %}
        {% if session.all_meeting_minutes|length == 1 %}
          <a href="{{ session.all_meeting_minutes.0|meeting_href:session.meeting }}">Minutes</a><br>
        {% else %}
          {% for minutes in sesison.all_meeting_minutes %}
            <a href="{{ minutes|meeting_href:session.meeting}}">Minutes {{minutes.sessionpresentation_set.first.session.official_timeslotassignment.timeslot.time|date:"D G:i"}}</a></br>
          {% endfor %}
        {% endif %}
      {% else %}
        {% if show_agenda == "True" %}
          <span class="label label-warning">No minutes</span>
        {% endif %}
      {% endif %}
    </td>
    <td>
      {% with session.all_meeting_slides as slides %}
        {% for slide in slides %}
          <a href="{{ slide|meeting_href:session.meeting}}">{{ slide.title|clean_whitespace }}</a>
          <br>
        {% empty %}
          <span class="label label-warning">No slides</span>
        {% endfor %}
      {% endwith %}
    </td>
    <td>
     {% with session.all_meeting_drafts as drafts %}
       {% for draft in drafts %}
         <a href="{{ draft.href }}">{{ draft.name }}</a><br>
       {% empty %} 
         <span class="label label-warning">No drafts</span>
       {% endfor %}
     {% endwith %}
    </td>
    {% if user|has_role:"Secretariat" or user|managed_groups %}
      <td> 
        <div>{% include "meeting/edit_materials_button.html" %}</div>
      </td>
    {% endif %}
  {% endif %}
</tr>

