{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}

{% block title %}Subscription to {{ clist.long_name }}{% endblock %}

{% block content %}
  {% origin %}
  <h1>Subscription to {{ clist.long_name }}</h1>

  <p>Confirm {% if operation == "subscribe" %}subscription{% else %}cancelling subscription{% endif %} of <code>{{ to_email }}</code> to {% if significant %}significant{% endif %} changes to {{ clist.long_name }}.</p>

  <form method="post">{% csrf_token %}
    <p>
      <a class="btn btn-default" href="{% if clist.group %}{% url "community_group_view_list" clist.group.acronym %}{% else %}{% url "community_personal_view_list" clist.user.username %}{% endif %}">Back to list</a>
      <button class="btn btn-primary" type="submit" name="action" value="confirm">Confirm</button>
    </p>
  </form>
{% endblock %}
