<ul class="list-inline pull-right" style="margin-top:1em;">
  <li>
    <label id="list-feeds">Atom feed:</label>
    <div class="btn-group" role="group" aria-labelledby="list-feeds">
      <a class="btn btn-default" title="Feed of all changes" href="{% if clist.group %}{% url "ietf.community.views.feed" acronym=clist.group.acronym %}{% else %}{% url "ietf.community.views.feed" username=clist.user.username %}{% endif %}">All changes</a>
      <a class="btn btn-default" title="Feed of only significant state changes" href="{% if clist.group %}{% url "ietf.community.views.feed" acronym=clist.group.acronym %}{% else %}{% url "ietf.community.views.feed" username=clist.user.username %}{% endif %}?significant=1">Significant</a>
    </div>
  </li>

  {% if clist.pk != None %}
    <li><a class="btn btn-default" href="{% if clist.group %}{% url "ietf.community.views.subscription" acronym=clist.group.acronym %}{% else %}{% url "ietf.community.views.subscription" username=clist.user.username %}{% endif %}">
      <i class="glyphicon glyphicon-envelope"></i>
      {% if subscribed %}
        Change subscription
      {% else %}
        Subscribe to changes
      {% endif %}
    </a></li>
  {% endif %}

  <li><a class="btn btn-default" href="{% if clist.group %}{% url "ietf.community.views.export_to_csv" acronym=clist.group.acronym %}{% else %}{% url "ietf.community.views.export_to_csv" username=clist.user.username %}{% endif %}"><i class="glyphicon glyphicon-list"></i> Export as CSV</a></li>
</ul>
