@import "bootstrap/scss/functions";

// Enable automatic dark mode
$color-mode-type: media-query;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// FIXME: color.scale doesn't seem to work with CSS variables, so avoid those:`
$dp-cell-focus-background-color: $dropdown-link-hover-bg !default;  

@import "vanillajs-datepicker/sass/datepicker-bs5";
