@use "sass:map";

// Disable responsive font sizing.
$enable-rfs: false;

// Only import what we need:
// https://getbootstrap.com/docs/5.1/customize/optimize/

// Configuration
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
// @import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar";
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
// @import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
// @import "bootstrap/scss/offcanvas";
// @import "bootstrap/scss/placeholders";

// Helpers
// @import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

// Make the bootstrap icons available.
$bootstrap-icons-font-src: url("npm:bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"),
url("npm:bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
@import "bootstrap-icons/font/bootstrap-icons";


@media screen {
    @include media-breakpoint-only(xs) {
        body {
            font-size: 8.25pt;
            margin: .5em;
        }
    }

    @include media-breakpoint-only(sm) {
        body {
            font-size: 10.5pt;
            margin: .5em;
        }
    }

    @include media-breakpoint-up(md) {
        body {
            font-size: 12pt;
            margin: 1em;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: bold;
    white-space: pre;
    font-family: var(--bs-font-monospace);
    font-size: 1em;
}

pre {
    // width: 72ch;
    font-size: 1em;
}

.htmlized {
    font-family: var(--bs-font-monospace);
    width: 72ch;
    font-size: .875em;
}

.grey {
    color: $gray-500;
}

tbody.meta tr {

    td:first-child,
    th:first-child,
    td.edit {
        display: none;
    }

    th,
    td {
        display: block;
    }

    td {
        margin-bottom: map.get($spacers, 2);
    }
}

// Add some padding when there are multiple buttons in a line than can wrap
.buttonlist .btn {
    margin-bottom: map.get($spacers, 1);
}

@media print {
    body {
        margin: 0;
        padding: 0;
        font-size: 9pt;
    }

    a:link,
    a:visited {
        color: inherit;
        text-decoration: none;
    }

    .noprint {
        display: none;
    }

    .newpage {
        page-break-before: always;
    }
}
