:root {
  --line: 1.2em;
  --block: 0 0 0 3ch;
  --paragraph: var(--line) 0 var(--line) 3ch;
}

.xml2rfc {

  line-height: var(--line);
  width: 72ch;

h1, h2, h3, h4, h5 {
  font-weight: bold;
  font-size: inherit;
  line-height: inherit;
  margin: var(--line) 0;
}
.section-number {
  margin-right: 1ch;
}
p {
  margin: var(--paragraph);
}
aside, ol, dl {
  margin: var(--block);
}
figure {
  margin: 0;
}
blockquote {
  margin: var(--paragraph);
  border-left: 2px solid darkgrey;
}

/* Header junk */
#external-metadata {
  display: none !important; /* metadata.min.js is evil because it produces unstyleable goop */
}
.ears, #identifiers :is(.label-stream, .label-authors, .label-rfc) {
  display: none;
}
#identifiers {
  margin: 0;
  position: relative;
}
#identifiers dt {
  margin-right: 1ch;
}
#identifiers dd {
  margin: 0 25ch 0 0;
}
#identifiers .rfc::before {
  content: 'Request for Comments: ';
}
#identifiers dd.authors {
  display: block;
  position: absolute;
  text-align: right;
  top: 0;
  right: 0;
  margin: 0;
}
#identifiers dd.updates {
  margin-left: 9ch;
}
#identifiers dd.obsoletes {
  margin-left: 11ch;
}

#title {
  text-align: center;
  margin-top: 2em;
}
#rfcnum {
  display: none;
}
.toplink {
  display: none;
}
nav.toc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav.toc ul > li {
  padding-left: 2ch;
}
nav.toc > ul > li {
  padding-left: 3ch;
}
nav.toc ul > li > p {
  margin: 0;
}

/* Lists */
ol, ul {
  padding: 0;
}
ol {
  margin: 0 0 0 6ch; /* todo: deal with lists that have >= 10 items */
}
:is(ol, ul) ol {
  margin: 0 0 0 3ch;
}
ul {
  margin: 0 0 0 4ch;
  list-style-type: '*';
}
ul ul {
  list-style-type: '-';
}
:is(ul, ol) ul {
  margin-left: 1ch;
}
ul ul ul {
  list-style-type: 'o';
}
li {
  margin: var(--line) 0;
  padding: 0 0 0 2ch;
}
.compact li {
  margin: 0;
}
:is(li, dd) p:first-child {
  margin: 0;
}
dt {
  float: left;
  clear: left;
  margin: 0 2ch 0 0;
}
dd {
  margin: var(--paragraph);
}
dl.compact :is(dt, dd) {
  margin-top: 0;
  margin-bottom: 0;
}
dl.references dt {
  margin-right: 1ch;
}
dl.references dd {
  margin-left: 11ch;
}
dd.break {
  display: none;
}

/* Figures, tables */
pre {
  margin: var(--line) 0;
}
div:is(.artwork, .sourcecode) {
  display: flex;
  flex-wrap: nowrap;
  align-items: end;
}
div:is(.artwork, .sourcecode).alignCenter {
  justify-content: center;
}
div:is(.artwork, .sourcecode).alignRight {
  justify-content: end;
}
div:is(.artwork, .sourcecode)::before {
  flex: 0 1 3ch;
  content: "";
}
div:is(.artwork, .sourcecode).alignRight::before {
  flex-grow: 1;
}
div:is(.artwork, .sourcecode) pre {
  flex: 0 0 auto;
  margin: 0;
}
div:is(.artwork, .sourcecode) .pilcrow {
  flex: 0 0 1ch;
}
figcaption, table caption {
  text-align: center;
  margin-top: var(--line);
}
table {
  --half-line: calc(var(--line) / 2 - 1px);
  caption-side: bottom;
  margin: var(--line) 0 var(--half-line) 3ch;
  border-collapse: collapse;
}
table.center {
  margin-left: auto; /* todo: add 3ch */
  margin-right: auto;
}
table caption {
  margin-top: calc(var(--half-line) + var(--line));
}
thead, tfoot {
  border-top-style: double;
  border-bottom-style: double;
}
td, th {
  border: 1px solid black;
  padding: var(--half-line) 1ch;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* Links */
a.selfRef, a.pilcrow {
  color: black;
  text-decoration: none;
}
a.relref, a.xref {
  white-space: nowrap;
  hyphens: none;
}
.pilcrow {
  display: inline-block;
  margin-right: -1ch;
  opacity: 0.01;
  text-decoration: none;
}
:hover > .pilcrow {
  opacity: 0.2;
}
* > .pilcrow[href]:hover {
  opacity: 0.6;
}

/* Authors */
address {
  font-style: normal;
  margin: 2em 0 var(--line) 3ch;
}
h2 + address {
  margin-top: 1em;
}
address .email {
  margin: var(--line) 0 0;
}
}
