@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "select2/src/scss/core";
@import "select2-bootstrap-5-theme/src/include-all";

// Propagate readonly property from input to select2 instrumentation, based on
// https://stackoverflow.com/questions/41807096/select2-make-it-readonly-not-disabled-from-js/55001516#55001516
select[readonly].select2-hidden-accessible + .select2-container {
  pointer-events: none;
  touch-action: none;

  .select2-selection {
    background: $form-select-disabled-bg;
    color: $form-select-disabled-color;
    border-color: $form-select-disabled-border-color;
    box-shadow: none;
  }

  .select2-selection__arrow, .select2-selection__clear {
    display: none;
  }
}
