  <table border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td id="sidebar1"><div id="sidebar2"><a href="/"><img src="/images/ietflogotrans.gif" alt="Logo" height="75" width="140" border="0"/></a>
            <div style="margin:0;padding:0;white-space: nowrap;">
              <form method="get" action="http://www.google.com/u/ietf" style="margin:0;padding:0;white-space: nowrap;">
                <p style="margin:0;padding:0;white-space: nowrap;">
                  <input name="q" size="16" maxlength="255" value="" type="text" style="margin:1px;padding:0;width:100px;border:1px solid #89d;" />
                  <input name="Search" value="Search" type="submit" style="margin:0;padding:0;font-size:85%;" />
                </p>
              </form>
            </div>
            <ul>
              <li class="subhdr00"><a class="subhdr00" href="xmpp:hallway@jabber.ietf.org?join"><img src="/images/chat-trans.png" border="0" alt="transparent chat button" /></a></li>
              <li class="subhdr00"><a class="subhdr00" href="https://www.ietf.org"><strong>Home</strong></a></li>
              <li class="subhdr00"><a class="subhdr00" href="https://www.ietf.org/about/"><strong>About the IETF</strong></a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/about/mission.html">Mission</a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/about/standards-process.html">Standards&nbsp;Process</a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/about/note-well.html">Note&nbsp;Well</a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/nomcom/">NomCom</a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/newcomers.html">Info&nbsp;for&nbsp;Newcomers</a></li>
              <li class="subhdr00"><a class="subhdr00" href="https://www.ietf.org/id-info/"><strong>Internet-Drafts</strong></a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://datatracker.ietf.org/">Datatracker</a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://datatracker.ietf.org/drafts/">Search</a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://datatracker.ietf.org/idst/upload.cgi">Submit</a></li>
              <li class="subhdr00"><a class="subhdr00" href="https://www.ietf.org/rfc.html"><strong>RFC Pages</strong></a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://rfc-editor.org/rfcsearch.html">Search&nbsp;RFC&nbsp;Ed&nbsp;Index</a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.rfc-editor.org/queue2.html">RFC&nbsp;Editor&nbsp;Queue</a></li>
              <li class="subhdr00"><a class="subhdr00" href="https://www.ietf.org/iana.html"><strong>IANA Pages</strong></a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/assignments/">Protocol&nbsp;Parameters</a></li>
              <li class="subhdr00"><a class="subhdr00" href="https://www.ietf.org/wg/"><strong>Working Groups</strong></a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/dyn/wg/charter.html">WG&nbsp;Charters</a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://datatracker.ietf.org/list/wg/">Email&nbsp;Lists</a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/wg/chairs-page.html">WG&nbsp;Chairs'&nbsp;Page</a></li>
              <li class="subhdr00"><a class="subhdr00" href="https://www.ietf.org/tools/"><strong>Resources</strong></a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/tools/tools.html">Community&nbsp;Tools</a></li>
              <li class="subhdr02"><a class="subhdr02" href="http://tools.ietf.org/">Tools&nbsp;Team&nbsp;Pages</a></li>
              <li class="subhdr02"><a class="subhdr02" href="/edu/">Edu&nbsp;Team&nbsp;Pages</a></li>
              <li class="subhdr02"><a class="subhdr02" href="/edu/tutorials.html">Tutorials</a></li>
              <li class="subhdr02"><a class="subhdr02" href="http://wiki.tools.ietf.org/group/">Wikis</a></li>
              <li class="subhdr00"><a class="subhdr00" href="https://www.ietf.org/meeting/"><strong>Meetings</strong></a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/meeting/upcoming.html">Upcoming&nbsp;Meetings</a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/meeting/interim-meetings.html">Interim&nbsp;Meetings</a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/meeting/cutoff-dates.html">Important&nbsp;Dates</a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/meeting/proceedings.html">Proceedings</a></li>
              <li class="subhdr00"><a class="subhdr00" href="https://www.ietf.org/list/"><strong>Mailing Lists</strong></a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/list/announcement.html">Announcement&nbsp;Lists</a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/list/discussion.html">Discussion&nbsp;Lists</a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/list/nonwg.html">Non-WG&nbsp;Lists</a></li>
              <li class="subhdr00"><a class="subhdr00" href="https://www.ietf.org/iesg/"><strong>IESG </strong></a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://datatracker.ietf.org/iesg/ann/new/">Announcements</a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/iesg/statement.html">Statements</a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/iesg/members.html">Members</a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/iesg/minutes.html">Minutes</a></li>
              <li class="subhdr00"><a class="subhdr00" href="https://www.ietf.org/ipr/"><strong>IPR</strong></a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/ipr/policy.html">IPR&nbsp;Policy</a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/ipr/file-disclosure">File&nbsp;a&nbsp;Disclosure</a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://datatracker.ietf.org/ipr/search/">Disclosure&nbsp;Search</a></li>
              <li class="subhdr00"><a class="subhdr00" href="https://www.ietf.org/liaison/"><strong>Liaisons</strong></a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://datatracker.ietf.org/liaison/">Liaison&nbsp;Statements</a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/liaison/managers.html">Liaison&nbsp;Managers</a></li>
              <li class="subhdr00"><a class="subhdr00" href="https://www.ietf.org/contact-the-ietf.html"><strong>Contact</strong></a></li>
              <li class="subhdr02"><a class="subhdr02" href="https://www.ietf.org/secretariat.html">IETF&nbsp;Secretariat</a><sup>&reg;</sup></li>
              <li class="subhdr02"><a class="subhdr02" href="https://iaoc.ietf.org/subpoena.html">Legal&nbsp;Matters</a></li>
              <li class="subhdr02"><a class="subhdr02" href="mailto:webmaster@ietf.org">Report&nbsp;Web&nbsp;Site&nbsp;Errors</a></li>
              <li class="subhdr00"><strong>Customize View</strong><br />
              </li>
              <li class="subhdr01"><a class="subhdr01" href="javascript:setStyle('2');" title="Brief">Brief</a></li>
              <li class="subhdr01"><a class="subhdr01" href="javascript:setStyle('1');" title="Normal">Normal</a></li>
              <li class="subhdr01"><a class="subhdr01" href="javascript:setStyle('3');" title="Extended">Extended</a></li>
              <li class="subhdr01"><a class="subhdr01" href="javascript:setStyle('4');" title="Advanced">Advanced</a></li>
              <li class="subhdr01"><small>(Requires Javascript)</small></li>
            </ul>
         </div></td>
        <td id="content1"><div id="content2"> <!-- InstanceBeginEditable name="body" -->
