
          <p>Use this to generate official proceedings for the selected meeting.</p>
          <ul class="none">
            <li>
              <button id="generate-button">Generate Proceedings</button>
              &nbsp;&nbsp;Last run: 
              {% if last_run %}
                {{ last_run|date:"M d, Y H:i" }}&nbsp;&nbsp;<a href="{{ proceedings_url }}">Proceedings</a>
              {% else %}
                Never
              {% endif %}
            </li>
          </ul>
          <p>Use this to process meeting materials files that have been converted to PDF and uploaded to the server.</p>
          <ul class="none">
            <li>
              <button onclick="window.location='{% url proceedings_process_pdfs meeting_num=meeting.number %}'">Process PDFs</button>
              &nbsp;&nbsp;<span class="{% if ppt_count > 0 %}alert{% endif %}">{{ ppt_count }} PowerPoint files waiting to be converted</span>
            </li>
          </ul>
          <p>Use this to generate the progress report for the plenary.</p>
          <ul class="none">
            <li><button onclick="window.location='{% url proceedings_progress_report meeting_num=meeting.number %}'">Generate Progress Report</button>
            &nbsp;&nbsp;<a href="{{ MEDIA_URL }}/proceedings/{{ meeting.number }}/progress-report.html">Progress Report</a>
            </li>
          </ul>