{% load ams_filters %}{# keep this in sync with sessions_request_view_session_set.html #}
{% for sess_form in formset %}{% if sess_form.cleaned_data and not sess_form.cleaned_data.DELETE %}
  <tr class="row2">
    <td>Session {{ forloop.counter }}:</td>
    <td>
      <dl>
        <dt>Length</dt>
        <dd>{{ sess_form.cleaned_data.requested_duration.total_seconds|display_duration }}</dd>
        {% if sess_form.cleaned_data.name %}
          <dt>Name</dt>
          <dd>{{ sess_form.cleaned_data.name }}</dd>{% endif %}
        {% if sess_form.cleaned_data.purpose.slug != 'regular' %}
          <dt>Purpose</dt>
          <dd>
            {{ sess_form.cleaned_data.purpose }}
            {% if sess_form.cleaned_data.purpose.timeslot_types|length > 1 %}({{ sess_form.cleaned_data.type }}
              ){% endif %}
          </dd>
        {% endif %}
      </dl>
    </td>
  </tr>
  {% if group.features.acts_like_wg and forloop.counter == 2 and not is_virtual %}
    <tr class="row2">
      <td>Time between sessions:</td>
      <td>{% if session.session_time_relation_display %}{{ session.session_time_relation_display }}{% else %}No
        preference{% endif %}</td>
    </tr>
  {% endif %}
{% endif %}{% endfor %}