{# Copyright The IETF Trust 2026, All Rights Reserved #}
{% extends "base.html" %}
{% load origin %}
{% load ietf_filters static %}
{% block content %}
    {% origin %}
    <h1>{% block title %}Annual Report Inputs for {{ year }}{% endblock %}</h1>
    <form method="get" action="{% url "ietf.stats.views.annual_report_inputs" %}" class="mb-3">
        <div class="input-group w-auto d-inline-flex">
            <label class="input-group-text" for="year-select">Year</label>
            <input id="year-select" class="form-control" type="number" name="year" value="{{ year }}" min="1990">
            <button class="btn btn-primary" type="submit">Go</button>
        </div>
    </form>
    <h2>Summary</h2>
    <table class="table table-sm table-bordered w-auto">
        <thead>
            <tr>
                <th scope="col" class="px-3"></th>
                <th scope="col" class="text-end px-3">Email addresses</th>
                <th scope="col" class="text-end px-3">Unique persons found</th>
                <th scope="col" class="text-end px-3">Addresses with no person record</th>
                <th scope="col" class="text-end px-3">Approximate unique people</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="px-3">Authors</th>
                <td class="text-end px-3">{{ author_count }}</td>
                <td class="text-end px-3">{{ author_person_count }}</td>
                <td class="text-end px-3">{{ author_noperson_count }}</td>
                <td class="text-end px-3">{{ author_person_count|add:author_noperson_count }}</td>
            </tr>
            <tr>
                <th scope="row" class="px-3">Submitters</th>
                <td class="text-end px-3">{{ submitter_count }}</td>
                <td class="text-end px-3">{{ submitter_person_count }}</td>
                <td class="text-end px-3">{{ submitter_noperson_count }}</td>
                <td class="text-end px-3">{{ submitter_person_count|add:submitter_noperson_count }}</td>
            </tr>
        </tbody>
    </table>
    <p>Drafts submitted in {{ year }}: {{ draft_count }}</p>
    <h2>Downloads</h2>
    <ul>
        <li>
            <a href="{% url "ietf.stats.views.annual_report_inputs" year %}?download=authors">authors-{{ year }}.csv</a>
            &mdash; email addresses for I-D authors with submissions posted in {{ year }}
        </li>
        <li>
            <a href="{% url "ietf.stats.views.annual_report_inputs" year %}?download=submitters">submitters-{{ year }}.csv</a>
            &mdash; email addresses for I-D submitters with submissions posted in {{ year }}
        </li>
    </ul>
{% endblock %}
