{% extends "base.html" %}
{% load origin %}
{% load ietf_filters static %}
{% block title %}{{ stats_title }}{% endblock %}
{% block pagehead %}
    <link rel="stylesheet" href="{% static "ietf/css/list.css" %}">
{% endblock %}
{% block content %}
    {% origin %}
    <h1>Draft/RFC statistics</h1>
    <div class="row my-3">
        <label class="fw-bold col-sm-2 col-form-label">Documents:</label>
        <div class="btn-group col-sm-10">
            {% for slug, label, url in possible_document_stats_types %}
                <a class="btn btn-outline-primary
                          {% if slug == stats_type %}
                              active
                          {% endif %}"
                   href="{{ url }}">{{ label }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="row my-3">
        <label class="fw-bold col-sm-2 col-form-label">Authors:</label>
        <div class="btn-group col-sm-10">
            {% for slug, label, url in possible_author_stats_types %}
                <a class="btn btn-outline-primary
                          {% if slug == stats_type %}
                              active
                          {% endif %}"
                   href="{{ url }}">{{ label }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="row my-3">
        <label class="fw-bold col-sm-2 col-form-label">Yearly:</label>
        <div class="btn-group col-sm-10">
            {% for slug, label, url in possible_yearly_stats_types %}
                <a class="btn btn-outline-primary
                          {% if slug == stats_type %}
                              active
                          {% endif %}"
                   href="{{ url }}">{{ label }}</a>
            {% endfor %}
        </div>
    </div>
    <h2>Options</h2>
    <div class="row my-3">
        <label class="fw-bold col-sm-2 col-form-label">Document type:</label>
        <div class="btn-group col-sm-10">
            {% for slug, label, url in possible_document_types %}
                <a class="btn btn-outline-primary
                          {% if slug == document_type %}
                              active
                          {% endif %}"
                   href="{{ url }}">{{ label }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="row my-3">
        <label class="fw-bold col-sm-2 col-form-label">Time:</label>
        <div class="btn-group col-sm-10">
            {% for slug, label, url in possible_time_choices %}
                <a class="btn btn-outline-primary
                          {% if slug == time_choice %}
                              active
                          {% endif %}"
                   href="{{ url }}">{{ label }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="alert alert-info my-3">
        <b>Please Note:</b> The author information in the datatracker about RFCs
        with numbers lower than about 1300 and drafts from before 2001 is
        unreliable and in many cases absent.  For this reason, statistics on these
        pages does not show correct author stats for corpus selections that involve such
        documents.
    </div>
    {% include content_template %}
{% endblock %}
{% block js %}
    <script src="{% static 'ietf/js/highcharts.js' %}"></script>
    <script src="{% static 'ietf/js/stats.js' %}"></script>
    <script src="{% static "ietf/js/list.js" %}"></script>
{% endblock %}