{% load origin %}
{% origin %}
<div id="chart"></div>
<script>
    var chartConf = {
        chart: {
            type: 'column'
        },
        plotOptions: {
            column: {
                animation: false
            }
        },
        title: {
            text: '{{ stats_title|escapejs }}'
        },
        xAxis: {
            type: "category",
            title: {
                text: 'Format'
            }
        },
        yAxis: {
            title: {
                text: 'Number of {{ doc_label }}s'
            }
        },
        tooltip: {
            formatter: function () {
                var s = '<b>' + this.points[0].key + '</b>';

                $.each(this.points, function () {
                    s += '<br>' + chartConf.yAxis.title.text + ': ' + this.y;
                });

                return s;
            },
            shared: true
        },
        series: {{ chart_data }}
    };
</script>
<h2>Data</h2>
<table class="table table-sm table-striped tablesorter stats-data">
    <thead>
        <tr>
            <th scope="col" data-sort="format">Format</th>
            <th scope="col" data-sort="percent">Percentage of {{ doc_label }}s</th>
            <th scope="col" data-sort="label">{{ doc_label|capfirst }}s</th>
        </tr>
    </thead>
    {% if table_data %}
        <tbody>
            {% for pages, percentage, count, names in table_data %}
                <tr>
                    <td>{{ pages }}</td>
                    <td>{{ percentage|floatformat:2 }}%</td>
                    <td>{% include "stats/includes/number_with_details_cell.html" %}</td>
                </tr>
            {% endfor %}
        </tbody>
    {% endif %}
</table>