{% load origin %}{% origin %}
<div id="chart"></div>

<script>
 var chartConf = {
     chart: {
         type: 'column'
     },
     plotOptions: {
         column: {
             animation: false
         }
     },
     title: {
         text: '{{ stats_title|escapejs }}'
     },
     xAxis: {
         tickInterval: 1,
         title: {
             text: 'h-index of {{ doc_label }}s by author'
         }
     },
     yAxis: {
         title: {
             text: 'Percentage of authors'
         },
         labels: {
             formatter: function () {
                 return this.value + '%';
             }
         }
     },
     tooltip: {
         formatter: function () {
             var s = '<b>' + ' h-index ' + this.x + '</b>';

             $.each(this.points, function () {
                 s += '<br/>' + chartConf.yAxis.title.text + ': ' + this.y.toFixed(1) + '%';
             });

             return s;
         },
         shared: true
     },
     series: {{ chart_data }}
 };
</script>

<h3>Data</h3>

<table class="table table-condensed stats-data">
  <thead>
    <tr>
      <th>h-index</th>
      <th>Percentage of authors</th>
      <th>Authors</th>
    </tr>
  </thead>
  <tbody>
    {% for h_index, percentage, count, names in table_data %}
      <tr>
        <td>{{ h_index }}</td>
        <td>{{ percentage|floatformat:2 }}%</td>
        <td>{% include "stats/includes/number_with_details_cell.html" with content_limit=25 %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<p>Hirsch index or h-index is a
  <a href="https://www.wikipedia.org/wiki/H-index">measure of the
    productivity and impact of the publications of an author</a>. An
  author with an h-index of 5 has had 5 publications each cited at
  least 5 times - to increase the index to 6, the 5 publications plus
  1 more would have to have been cited at least 6 times, each. Thus a
  high h-index requires many highly-cited publications.</p>

<p>Note that the h-index calculations do not exclude self-references.</p>
