{% extends "base.html" %}
{% load origin %}
{% load ietf_filters static %}
{% block content %}
    {% origin %}
    <h1>
        {% block title %}Statistics{% endblock %}
    </h1>
    <p>
        Statistics on...
    </p>
    <ul>
        <li>
            <a rel="nofollow" href="{% url "ietf.stats.views.review_stats" %}">Reviews of Internet-Drafts in review teams</a>
            (requires login)
        </li>
    </ul>
    <p>
        Statistics on meetings and authorship are not currently available.
    </p>
{% endblock %}