{% extends "base.html" %}

{% load origin %}

{% load ietf_filters staticfiles bootstrap3 %}

{% block content %}
  {% origin %}

  <h1>{% block title %}Statistics{% endblock %}</h1>

  <p>Statistics on...</p>

  <ul>
    <li><a href="{% url "ietf.stats.views.document_stats" %}">Drafts/RFCs (authors, countries, formats, ...)</a></li>
    <li><a href="{% url "ietf.stats.views.meeting_stats" %}">Meeting attendance</a></li>
    <li><a rel="nofollow" href="{% url "ietf.stats.views.review_stats" %}">Reviews of drafts in review teams</a> (requires login)</li>
  </ul>

{% endblock %}
