{# Copyright The IETF Trust 2007, All Rights Reserved #}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
   "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<title>Comparison -- {{ info.old }} - {{ info.new }}</title>
</head>
<frameset rows="70, *">
   <frame src="/review/top/{{ info.this }}">
   <frameset cols="50%, 50%">
      <frame name="old" src="{{ info.old }}">
      <frame name="new" src="{{ info.new }}">
   </frameset>
  <noframes>
      <p>this frameset document contains:
      <ul>
         <li><a href="{{ info.old }}">The old page</a><li>
         <li><a href="{{ info.new }}">The new page</a><li>
      </ul>
  </noframes>
</frameset>
</html>