{% extends "base_site.html" %}

{% block title %}Rolodex - Add{% endblock %}

{% block breadcrumbs %}{{ block.super }}
    &raquo; <a href="../">Rolodex</a>
    &raquo; Add
{% endblock %}

{% block content %}
    <h2>Adding {{ name }}</h2>

    <form method="post" id="rolodex-add-form">{% csrf_token %}
        <div class="module">
            <h3>Rolodex - Add</h3>
            <table class="full-width amstable">
                <tbody>
                <!-- [html-validate-disable-block element-required-attributes -- FIXME: as_table renders without scope] -->
                {{ form.as_table }}
                </tbody>
            </table>
        </div> <!-- module -->


        {% include "includes/buttons_submit.html" %}

    </form>

{% endblock %}
