/.coverage
/.mypy_cache
/.project
/.pydevproject
/.Python
/.settings
/.tmp
/.factoryboy_random_state
/attic
/bin
/etc
/env
/ghostdriver.log
/htmlcov
/include
/INSTALL.pdf
/latest-coverage.json
/lib
/local
/media
/mergelog
/mergequeue
/minimum-requirements.txt
/pip-selfcheck.json
/selenium
/settings_local.py
/share
/static
/testresult
/tmp
/tmp-nomcom-public-keys-dir
/trunk27
/trunk36
/trunk37
/unix.tag
*.pyc
__pycache__
