{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "base.html" %}
{% load ietf_filters %}

{% block head %}<link rel="stylesheet" type="text/css" href="https://www1.ietf.org/css/base.css" />{% endblock %}

{% block title %}NomCom Message: {{ object.announced_date|date:"F j, Y" }} -- {{ object.subject|escape }}{% endblock %}

{% block content %}
<h2 style="text-align: center;">NomCom Message</h2>
<p>
From: {{ object.from_name|escape }}<br>
To: {{ object.announced_to|escape }}<br>
Date: {{ object.announced_date|date:"F j, Y" }}<br>
Subject: {{ object.subject|escape }}<br>
<hr width="400" align="left">
<pre>
{{ object.text|escape }}
</pre>
{% endblock %}
