{# Copyright The IETF Trust 2007, All Rights Reserved #}

{% extends "base.html" %}

{% block title %}IETF Announcement{% endblock %}

{% block head %}
  <style type="text/css" media="all">@import "/css/base.css";</style>
{% endblock %}

{% block content %}
  <div>
    <form action="{% url ietf.announcements.views.send %}" method="post">
      {% if form.is_valid %}{% ifequal request.POST.op "Preview" %}
        <pre>
From: {{ form.clean_data.sender }}
To: {{ form.clean_data.recipient }}{% if form.clean_data.cc %}
Cc: {{ form.clean_data.cc }}{% endif %}{% if form.clean_data.bcc %}
Bcc: {{ form.clean_data.bcc }}{% endif %}{% if form.clean_data.reply_to %}
Reply-to: {{ form.clean_data.reply_to }}{% endif %}

{{ form.clean_data.body }}
        </pre>
        <input class="form-submit" name="op" type="submit" value="Send"/>
      {% endifequal %}{% endif %}

      {% for field in form %}
        <div class="form-item">
          {{ field.label_tag }}
  
          {# Ideally this would go in the <lable> tag #}
          {% if field.field.required %}
            <span class="form-required" title="This field is required.">*</span>
          {% endif %}
  
          {{ field }}
  
          {% if field.help_text %}
            <div class="description">
              {{ field.help_text }}
            </div>
          {% endif %}
  
          {% if field.errors %}{{field.errors }}{% endif %}
        </div>
      {% endfor %}
      <input class="form-submit" name="op" type="submit" value="Preview"/>
    </form>
  </div>
{% endblock %}
