{% load ietf_filters ballot_icon %}
<div class="agenda-doc">
  <div class="ballot-icon-column">
    {% ballot_icon doc %}
  </div>

  <div>
    <a href="{% url "doc_view" name=doc.canonical_name %}">{{ doc.canonical_name }}</a>
    {% with doc.rfc_number as rfc_number %}
    {% if rfc_number %}
    <a href="http://www.rfc-editor.org/rfc/rfc{{rfc_number}}/">[txt]</a>
    {% else %}
    <a href="{{doc.href}}">[txt]</a>
    {% endif %}
    {% endwith %}

    <span class="stream">{% if doc.stream %} - {{ doc.stream }} stream{% endif %}</span>

    <br/>{{ doc.title }} ({{ doc.intended_std_level }})


    {% if doc.note %}
    <br/>Note: {{ doc.note|linebreaksbr }}
    {% endif %}

    {% if doc.ipr %}
    <br />
    <h5>IPR:</h5>
     <ul>
     {% for ipr in doc.ipr %}
        {% if ipr.disclosure.state.slug == "posted" %}
        <li><a href="/ipr/{{ ipr.disclosure.id }}/">{{ ipr.disclosure.title }}</a></li>
        {% endif %}
     {% endfor %}
     </ul>

    {% endif %}

    <br/>Token: {{ doc.ad }} ({{ doc.area_acronym }} area)

    {% with doc.active_defer_event as defer %}
    {% if defer %}
    <br/>Was deferred by {{ defer.by }} on {{ defer.time|date:"Y-m-d" }}
    {% endif %}
    {% endwith %}

    {% if doc.iana_review_state %}
    <br/>IANA Review: {{ doc.iana_review_state }}
    {% endif %}

    {% if doc.consensus %}
    <br/>Consensus: {{ doc.consensus }}
    {% endif %}

    {% if doc.lastcall_expires %}
    <br/>Last call expires: {{ doc.lastcall_expires|date:"Y-m-d" }}
    {% endif %}

  </div>
</div>
