{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin staticfiles %}

{% load ballot_icon %}
{% load ietf_filters %}
{% load iesg_filters %}

{% block pagehead %}
  <link rel="alternate" type="application/atom+xml" href="/feed/iesg-agenda/">
  <link rel="stylesheet" href="{% static "jquery.tablesorter/css/theme.bootstrap.min.css" %}">
  <style>
    .tablesorter-bootstrap .bootstrap-icon-unsorted {
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAOCAMAAADOvxanAAAAVFBMVEUAAABCQkJZWVkZGRnJyckgICAZGRkZGRn8/PweHh4dHR0aGhoaGhpUVFQbGxvQ0NDc3NxMTExSUlIbGxvr6+s4ODhKSkogICAtLS00NDQzMzMnJydSEPrQAAAAGHRSTlMA1ssZRLgdAQbDyisqsZo8QdXUq0r9xPepSRwiAAAAX0lEQVQI13XHSQKAIAwEwQAKxn13Ev7/T2Pu9qmarJKPXIicI4PH4hxaKNrhm2S8bJK5h4YzKHrzJNtK6yYT/TdXzpS5zuYg4MSQYF6i4IHExdw1UVRi05HPrrvT53a+qyMFC9t04gcAAAAASUVORK5CYII=)
    }
  </style>
{% endblock %}

{% block title %}Documents on future IESG telechat agendas{% endblock %}

{% block content %}
  {% origin %}
  <h1>Documents on future IESG telechat agendas</h1>

  {% if user|has_role:"Secretariat" %}
    <form class="form-inline" method="post">
      {% csrf_token %}
  {% endif %}

  {% for t in telechats %}
    <h2>IESG telechat {{t.date}}
    {% with t|telechat_page_count as pages %}
    <small class="text-muted">{{pages}} page{{pages|pluralize}}</small>
    {% endwith %}
</h2>
    <p>
      <a class="btn btn-default" role="button" href="/iesg/agenda/">
        <span class="fa fa-list"></span>
        Full IESG agenda
      </a>

      <a class="btn btn-default" role="button" href="/iesg/agenda/telechat-{{t.date|date:"Y"}}-{{t.date|date:"m"}}-{{t.date|date:"d"}}-docs.tgz">
        <span class="fa fa-download"></span>
        Download documents
      </a>
    </p>

    {% for num, section in t.sections %}
      {% if "docs" not in section or section.docs %}
        {% if num|sectionlevel == 1 %}<h3>{{ num }}. {{ section.title|safe }}</h3>{% endif %}
        {% if num|sectionlevel == 2 %}<h4>{{ num }} {{ section.title|safe }}</h4>{% endif %}
        {% if num|sectionlevel == 3 %}<h5>{{ num }} {{ section.title|safe }}</h5>{% endif %}
      {% endif %}

      {% if "docs" in section and section.docs %}
        <table class="table table-condensed table-striped tablesorter">
          <thead>
            <tr>
	      <th class="sorter-false"></th>
	      <th>Document</th>
	      <th>Date</th>
	      <th>Status</th>
	      <th>IPR</th>
	      <th>AD / Shepherd</th>
            </tr>
          </thead>
          <tbody>
            {% for doc in section.docs %}
              {% include "doc/search/search_result_row.html" with color_row_positions=True %}
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    {% endfor %}
    <hr>
  {% endfor %}

  {% if user|has_role:"Secretariat" %}
    <input title="Save reschedule changes done with the drop-down boxes below" type="submit" value="Save reschedules" class="btn btn-primary">
    </form>
  {% endif %}

{% endblock content %}

{% block js %}
<script src="{% static "jquery.tablesorter/js/jquery.tablesorter.combined.min.js" %}"></script>
{% endblock %}
