{% load ietf_filters ballot_icon %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}{% origin %}

<div class="pull-right">{% ballot_icon doc %}</div>

<dl class="dl-horizontal">
  <dt>{{ doc.group.type }} name</dt>
  <dd><b>{{ doc.group.name }} ({{doc.group.acronym}})</b></dd>

  <dt>Charter</dt>
  <dd>
    <a href="{{ doc.get_href }}"><span class="fa fa-file"></span></a>
    <a href="{{ doc.get_absolute_url }}">{{ doc.name}}-({{doc.rev}})</a>
  </dd>

  <dt>Area</dt>
  <dd>{{ doc.group.parent.acronym|upper }}  ({{ doc.ad|default:"(None)" }})</dd>
</dl>
