{% load ietf_filters ballot_icon %}
<div class="agenda-doc">
  <div class="ballot-icon-column">
    {% ballot_icon doc %}
  </div>

  <div>
    <a href="{% url "doc_view" name=doc.name %}">{{doc.name}}-{{doc.rev}}</a>
    <a href="{{doc.href}}">[txt]</a>

    <br/>{{ doc.title }}

    {% with doc.conflictdoc as conflictdoc %}

    <div style="padding-left:30px;">
    <a href="{% url "doc_view" name=conflictdoc.name %}">{{ conflictdoc.name }}-{{ conflictdoc.rev }}</a>
    <a href="{{ conflictdoc.href }}">[txt]</a>
    <br/>{{ conflictdoc.title }} ({{ conflictdoc.stream }}: {{ conflictdoc.intended_std_level }})
    {% if conflictdoc.note %}
    <br/>Note: {{ conflictdoc.note|linebreaksbr }}
    {% endif %}

    {% if conflictdoc.ipr %}
    <br />
    <h5>IPR:</h5>
       <ul>
       {% for ipr in conflictdoc.ipr %}
        {% if ipr.disclosure.state.slug == "posted" %}
          <li><a href="/ipr/{{ ipr.disclosure.id }}/">{{ ipr.disclosure.title }}</a></li>
        {% endif %}
       {% endfor %}
       </ul>

    {% endif %}
    </div>

    {% endwith %}

    Token: {{ doc.ad }} 
    {% with doc.active_defer_event as defer %}
    {% if defer %}
    <br/>Was deferred by {{ defer.by }} on {{ defer.time|date:"Y-m-d" }}
    {% endif %}
    {% endwith %}
  </div>
</div>
