{% load ietf_filters ballot_icon %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% origin %}
{% load ietf_filters ballot_icon person_filters %}
<div class="card mb-3">
    <div class="position-absolute top-0 end-0 m-3">{% ballot_icon doc %}</div>
    <div class="card-body">
        <div class="row">
            <div class="col-3 text-end fw-bold">{{ doc.group.type }} name</div>
            <div class="col pe-5 me-5">
                <b>{{ doc.group.name }}
                    <a href="{{ doc.group.about_url }}">({{ doc.group.acronym|upper }})</a>
                </b>
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-end fw-bold">Charter</div>
            <div class="col">
                <a href="{{ doc.get_href }}" aria-label="Content"><i class="bi bi-file-earmark-fill"></i></a>
                <a href="{{ doc.get_absolute_url }}">{{ doc.name }}-({{ doc.rev }})</a>
            </div>
        </div>
        <div class="row">
            <div class="col-3 text-end fw-bold">Area</div>
            <div class="col">
                <a href="{% url 'ietf.group.views.active_groups' group_type='wg' %}#{{ doc.group.parent.acronym|upper }}">
                    {{ doc.group.parent.acronym|upper }}</a>
                ({% person_link doc.ad %})
            </div>
        </div>
    </div>
</div>