{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load ietf_filters textfilters %}
{% block pagehead %}<link rel="alternate" type="application/atom+xml" href="/feed/iesg-agenda/">{% endblock %}
{% block title %}IESG agenda: {{ date }}{% endblock %}
{% block content %}
    {% origin %}
    <h1>
        IESG agenda
        <br>
        <small class="text-muted">{{ date }}</small>
    </h1>
    {% include "iesg/nav.html" with active="agenda" %}
    {% for num, section in sections %}
        {% if num|sectionlevel == 1 %}
            <h2 class="mt-3" id="sec-{{ num|slugify }}">{{ num }}. {{ section.title|safe }}</h2>
        {% elif num|sectionlevel == 2 %}
            <h3 class="mt-3" id="sec-{{ num|slugify }}">{{ num }} {{ section.title|safe }}</h3>
        {% elif num|sectionlevel == 3 %}
            <h4 class="mt-3" id="sec-{{ num|slugify }}">{{ num }} {{ section.title|safe }}</h4>
        {% endif %}
        {% if num == "1.4" %}<pre>{{ section.text|urlize_ietf_docs|linkify }}</pre>{% endif %}
        {% if num >= "2" and num < "5" %}
            {% if num == "2" %}
                <p class="alert alert-info my-3">
                    Reviews should focus on these questions: "Is this document a
                    reasonable basis on which to build the salient part of the Internet
                    infrastructure? If not, what changes would make it so?"
                </p>
            {% endif %}
            {% if num == "3.1" or num == "3.2" %}
                <p class="alert alert-info my-3">
                    Reviews should focus on these questions: "Is this document a
                    reasonable contribution to the area of Internet engineering
                    which it covers? If not, what changes would make it so?"
                </p>
            {% endif %}
            {% if num == "3.3" %}
                <p class="alert alert-info my-3">
                    Reviews should focus on these questions: "Are the proposed
                    changes to document status appropriate? Have all requirements
                    for such a change been met? If not, what changes to the proposal
                    would make it appropriate?"
                </p>
            {% endif %}
            {% if num == "3.4" %}
                <p class="alert alert-info my-3">
                    The IESG will use RFC 5742 responses:
                </p>
                <ol>
                    <li>
                        The IESG has concluded
                        that there is no conflict between this document and IETF work;
                    </li>
                    <li>
                        The IESG has concluded that this work is related to IETF work done
                        in WG &lt;X&gt;, but this relationship does not prevent
                        publishing;
                    </li>
                    <li>
                        The IESG has concluded that publication could
                        potentially disrupt the IETF work done in WG &lt;X&gt; and
                        recommends not publishing the document at this time;
                    </li>
                    <li>
                        The IESG
                        has concluded that this document violates IETF procedures for
                        &lt;Y&gt; and should therefore not be published without IETF
                        review and IESG approval; or
                    </li>
                    <li>
                        The IESG has concluded that this
                        document extends an IETF protocol in a way that requires IETF
                        review and should therefore not be published without IETF review
                        and IESG approval.
                    </li>
                </ol>
                <p>
                    The document shepherd must propose one of these responses in the
                    conflict-review document, and the document shepherd may supply text
                    for an IESG Note in that document. The Area Director ballot positions
                    indicate consensus with the response proposed by the document shepherd
                    and agreement that the IESG should request inclusion of the IESG Note.
                </p>
                <p>
                    Other matters may be recorded in comments, and the comments will
                    be passed on to the RFC Editor as community review of the document.
                </p>
            {% endif %}
            {% if "docs" in section %}
                {% for doc in section.docs %}
                    {% if doc.type_id == "draft" or doc.type_id == "statchg" %}
                        {% include "iesg/agenda_doc.html" %}
                    {% endif %}
                    {% if doc.type_id == "conflrev" %}
                        {% include "iesg/agenda_conflict_doc.html" %}
                    {% endif %}
                    {% if doc.type_id == "charter" %}
                        {% include "iesg/agenda_charter.html" %}
                    {% endif %}
                {% empty %}
                    <p class="text-muted">
                        (None)
                    </p>
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if num|startswith:"6." and user|has_role:"Area Director,IAB Chair,Secretariat" %}
            <pre class="border p-3">{{ section.text|maybewordwrap|urlize_ietf_docs|linkify }}</pre>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block js %}<script>// automatically generate a right-hand navigation tab for long pages</script>{% endblock %}
