{# Copyright The IETF Trust 2015, All Rights Reserved #}{% load origin %}{% origin %}
{% load ietf_filters ballot_icon %}
<p>
  <div class="pull-right">{% ballot_icon doc %}</div>

  <dl class="dl-horizontal">
    {% with doc.conflictdoc as conflictdoc %}
      <dt>Conflict review</dt>
      <dd>
        <a href="{{doc.href}}">
	  <span class="fa fa-file"></span>
        </a>
        <a href="{% url "doc_view" name=doc.canonical_name %}">{{ doc.canonical_name }}</a>
        <br>
        <i>{{ doc.title }}</i>
      </dd>

      <dt>{{ conflictdoc.stream }} {{ conflictdoc.intended_std_level }}</dt>
      <dd>
        <a href="https://www.ietf.org/id/{{ conflictdoc.name }}-{{ conflictdoc.rev }}.txt">
	  <span class="fa fa-file"></span>
        </a>
        <a href="{% url "doc_view" name=conflictdoc.name %}">{{ conflictdoc.name }}</a>
        <br>
        <i>{{ conflictdoc.title }}</i>
      </dd>

      {% if conflictdoc.note %}
        <dt>Note</dt><dd>{{ conflictdoc.note|linebreaksbr }}</dd>
      {% endif %}

      <dt>Token</dt><dd>{{ doc.ad }}</dd>

      {% with doc.active_defer_event as defer %}
        {% if defer %}
          <dt>Deferred by</dt><dd>{{ defer.by }} on {{ defer.time|date:"Y-m-d" }}</dd>
        {% endif %}
      {% endwith %}

      {% if conflictdoc.ipr %}
        <dt>IPR</dt>
        <dd>
          {% for ipr in conflictdoc.ipr %}
            {% if ipr.disclosure.state_id == "posted" %}
              <a href="/ipr/{{ ipr.disclosure.id }}/">{{ ipr.disclosure.title }}</a><br>
            {% endif %}
          {% endfor %}
        </dd>
      {% endif %}
    {% endwith %}
  </dl>
</p>
