{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "base.html" %}
{% block title %}IESG Announcement{% endblock %}

{% block content %}
   <center><h2>IESG Announcement</center>
   <blockquote>
      <p>
      This page contains an IESG Protocol, Document, or Working Group Action
      announcement.  Other announcements can be found using the links below.
      </p>

      <b>
      <ol>
	 <li><a href="#protocol">Protocol Action Announcements</a></li>
	 <li><a href="#document">Document Action Announcements</a></li>
	 <li><a href="#wg">Working Group Action Announcements</a></li>
	 <li><a href="/iesg/ann/new/">Recent IESG Announcements</a></li>
	 <li><a href="/iesg/ann/prev/">Previous IESG Announcements</a></li>
      </ol>
      </b>
   </blockquote>
   <hr>
   <pre>
{{ object.approval_text|escape|urlize }}

{{ object.ballot_writeup|escape|urlize }}
</pre>
<form>
<input type="button" onClick="history.go(-1);return true;"  value="Back to List">
</form>
{% endblock %}

