{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin staticfiles %}

{% load ballot_icon %}
{% load ietf_filters %}

{% block pagehead %}
<link rel="stylesheet" href="{% static "jquery.tablesorter/css/theme.bootstrap.min.css" %}">
{% endblock %}

{% block title %}IESG discuss positions{% endblock %}

{% block content %}
  {% origin %}
  <h1>IESG discuss positions</h1>

  {% if user|has_role:"Area Director" %}
    <p class="btn-group" data-toggle="buttons">
      <label class="btn btn-default active discuss">
        <input type="radio" value="all">All
      </label>
      <label class="btn btn-default discuss">
        <input type="radio" value="byme">By me
      </label>
      <label class="btn btn-default discuss">
        <input type="radio" value="forme">For me
      </label>
    </p>
  {% endif %}

  <table class="table table-condensed table-striped tablesorter">
    <thead>
      <tr>
        <th>Document</th>
        <th>Status</th>
        <th>Responsible AD</th>
        <th>Discusses</th>
      </tr>
    </thead>

    <tbody>
      {% for doc in docs %}
        <tr class="{% if doc.by_me %}byme{% endif %} {% if doc.for_me %}forme{% endif %}">
          <td>
	    {{ doc.displayname_with_link }}
          </td>
          {% include "doc/search/status_columns.html" %}
          <td>{{ doc.ad|default:"" }}</td>
          <td>
	    {% for p in doc.blocking_positions %}
	      {% if p.old_ad %}
	        <span class="text-muted">
	      {% endif %}
	      {{ p.ad }}
	      ({% if p.discuss_time %}{{ p.discuss_time|timesince_days }}{% endif %}
	      days ago{% if doc.get_state_url != "rfc" and p.rev != doc.rev %}
	        for -{{ p.rev }}{% endif %})<br>
	      {% if p.old_ad %}
	        </span>
	      {% endif %}
	    {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block js %}
  <script src="{% static "jquery.tablesorter/js/jquery.tablesorter.combined.min.js" %}"></script>
  <script>
    $(".discuss").click(function () {
        var x = $(this).find("input").val();
        if (x === "all") {
            $("tbody tr").removeClass("hidden");
        } else {
            $("tbody tr." + x).removeClass("hidden");
            $("tbody tr:not(." + x + ")").addClass("hidden");
        }
    });
  </script>
{% endblock %}

