{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "idrfc/base.html" %}
{% block title %}{{ title_prefix }} IESG Announcements{% endblock %}
{% block content %}
{% if is_recent %}
<h1>Recent IESG Announcements</h1>
<blockquote>
This page contains links to all IESG Protocol, Document, and Working Group Action announcements that have been sent within the past six months. Announcements that were sent prior to six month ago can be found in <a href="/iesg/ann/prev/">Previous Announcements</a>.<br>
<br>
<b>
                                                                                 
1. <a href="#protocol">Protocol Action Announcements</a><br>
2. <a href="#document">Document Action Announcements</a><br>
3. <a href="#wg">Working Group Action Announcements</a><br>
4. <a href="/iesg/ann/prev/">Previous Announcements</a><br>
</b>
</blockquote>
{% else %}
<h1>Previous IESG Announcements</h1>
<blockquote>
This page contains links to all IESG Protocol, Document, and Working Group Action announcements that were sent prior to six months ago.  Announcements that have been sent within the past six months can be found in <a href="/iesg/ann/new/">Recent Announcements</a>.
<br><br>
<b>
1. <a href="#protocol">Protocol Action Announcements</a><br>
2. <a href="#document">Document Action Announcements</a><br>
3. <a href="#wg">Working Group Action Announcements</a><br>
4. <a href="/iesg/ann/new/">Recent IESG Announcements</a><br>
</b>
</blockquote>
{% endif %}
<hr>
<h3><a name="protocol">1. <u>Protocol Action Announcements</u></a></h3>
{% regroup object_list by b_approve_date|date:"F j, Y" as dates %}
{% for date in dates %}
{% if date.list.0.idinternal.ballot_id %}<b>Date Sent: {{ date.grouper }} </b>{% endif %}
<ul>
{% regroup date.list by idinternal.ballot_id as ballots %}
{% for each_ballot in ballots %}
{% if each_ballot.grouper %}
<li> <a href="/iesg/ann/{{ each_ballot.grouper }}/">
{% for item in each_ballot.list %}
{{ item.title|escape }} ({{ item.intended_status }})<br>
{% endfor %}
</a></li>
{% endif %}
{% endfor %}
</ul>
{% endfor %}

<h3><a name="document">2. <u>Document Action Announcements</u></a></h3>
{% regroup object_list_doc by b_approve_date|date:"F j, Y" as dates %}
{% for date in dates %}
{% if date.list.0.idinternal.ballot_id %}<b>Date Sent: {{ date.grouper }} </b>{% endif %}
<ul>
{% regroup date.list by idinternal.ballot_id as ballots %}
{% for each_ballot in ballots %}
{% if each_ballot.grouper %}
<li> <a href="/iesg/ann/{{ each_ballot.grouper }}/">
{% for item in each_ballot.list %}
{{ item.title|escape }} ({{ item.intended_status }})<br>
{% endfor %}
</a></li>
{% endif %}
{% endfor %}
</ul>
{% endfor %}

<h3><a name="wg">3. <u>Working Group Action Announcements</u></a></h3>
<font color="red"><i>Coming Soon ...</i></font>

{% endblock %}
