{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "base.html" %}
{% block title %}IESG Statements on Independent Submissions{% endblock %}
{% block css %}
TD {text-decoration: none; color: #000000; font: 10pt verdana;}
body {
  margin:18;
  padding:0;
  font-family: Times, sans-serif;
  font-size: 1.0em;
  font-style: normal;
  }
th {
  padding:6px 0px 10px 30px;
  line-height:1em;
  font-size: 12px;
  color: #333;
                                                                                                   
 }
/* Links
----------------------------------------------- */
a:link, a:visited {
  border-bottom:1px dotted #69f;
  color:#36c;
  text-decoration:none;
  }
a:visited {
  border-bottom-color:#969;
  color:#36c;
  }
a:hover {
  border-bottom:1px solid #f00;
  color:#f00;
  }
a.noline:link, a.noline:visited, a.noline:hover {border-style:none;}
{% endblock %}
{% block content %}
<center><h2>IESG Statements on Independent Submissions</center>
The RFC Editor receives requests to publish non-IETF Working Group documents as independent Informational or Experimental RFCs. Following the process defined in RFC 3932, the RFC Editor requests that the IESG review these documents and provide input. This page contains copies of those messages that were sent by the IESG to the RFC Editor following such reviews.
<hr>

<h3>Positive IESG Responses</h3>

{% regroup object_list by b_approve_date|date:"F j, Y" as dates %}
{% for date in dates %}
<b>Date Sent: {{ date.grouper }}</b>
<ul>
{% regroup date.list by idinternal.ballot_id as ballots %}
{% for each_ballot in ballots %}
{% if each_ballot.grouper %}
<li> <a href="/iesg/ann/{{ each_ballot.grouper }}/">
{% for item in each_ballot.list %}
{{ item.title }} ({{ item.intended_status }})<br>
{% endfor %}
</a></li>
{% endif %}
{% endfor %}
</ul>
{% endfor %}


<B><a href="http://www.ietf.org/IESG/RFCED-YES.html">OLD LIST</a></B><hr>
<h3>Negative IESG Responses</h3>
{% regroup object_list_dnp by dnp_date|date:"F j, Y" as dates %}
{% for date in dates %}
<b>Date Sent: {{ date.grouper }}</b>
<ul>
{% for item in date.list %}
<li><a href="/iesg/ann/{{ item.ballot_id }}/">{{ item.draft.title }} ({{item.draft.intended_status }})</a>
{% endfor %}
</ul>
{% endfor %}

<br>

<B><a href="http://www.ietf.org/IESG/RFCED-NO.html">OLD LIST</a></B><br><br><br><br>
{% endblock %}
