{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin static %}
{% block pagehead %}
    <link rel="stylesheet" href="{% static "ietf/css/list.css" %}">
{% endblock %}
{% block title %}Milestones under review{% endblock %}
{% block content %}
    {% origin %}
    <h1>Milestones under review</h1>
    {% for ad in ads %}
        <h2 class="mt-5">{{ ad.plain_name }}</h2>
        {% for g in ad.groups_needing_review %}
            <h3 class="mt-4">{{ g.name }} ({{ g.acronym }})</h3>
            {% include "group/milestones.html" with milestones=g.milestones_needing_review heading=False %}
            <a class="btn btn-primary my-1"
               href="{% url 'ietf.group.milestones.edit_milestones;current' group_type=g.type_id acronym=g.acronym %}">
                All {{ g.acronym }} milestones
            </a>
        {% endfor %}
    {% endfor %}
{% endblock %}
{% block js %}
    <script src="{% static "ietf/js/list.js" %}"></script>
{% endblock %}