{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin static %}
{% load ietf_filters %}
{% block title %}{{ group_type | upper }} {{ role }} Photos{% endblock %}
{% block content %}
    {% origin %}
    <h1>{{ group_type | upper }} {{ role }} Photos</h1>
    {% include "iesg/nav.html" with active="photos" %}
    {% regroup roles by group.acronym as alphabet_blocks %}
    {% for letter in alphabet_blocks %}
        <div class="mb-3">
            <h2 class="mt-5">
                <a href="{% url 'ietf.group.views.group_home' acronym=letter.grouper %}">{{ letter.list.0.group.name }}</a>
            </h2>
            <div class="mt-0 row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-3 g-">
                {% regroup letter.list by person as person_groups %}
                {% for person_with_groups in person_groups %}
                    <div class="col">
                        {% include "person/photo.html" with person=person_with_groups.grouper groups=person_with_groups.list %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}