    <li>
      {{ doc.title }} ({{ doc.intended_std_level }})
      <br><a href="{% url "doc_view" name=doc.canonical_name %}">{{ doc.canonical_name }}</a>
      {% with doc.rfc_number as rfc_number %}
          {% if rfc_number %}
              <a href="http://www.rfc-editor.org/rfc/rfc{{ rfc_number }}/">[txt]</a>
          {% else %}
              <a href="{{doc.href}}">[txt]</a>
          {% endif %}
      {% endwith %}

      <br>Token: {{ doc.ad }} ({{ doc.area_acronym }} area)

      {% if doc.note %}
      <br>Note: {{ doc.note|linebreaksbr }}
      {% endif %}

      {% for ipr in doc.ipr %}
          {% if ipr.ipr.status == 1 %}
              <br>IPR: <a href="https://datatracker.ietf.org/ipr/{{ ipr.ipr.ipr_id }}/">{{ ipr.ipr.title }}</a>
          {% endif %}
      {% endfor %}

      {% include "iesg/scribe_doc_ballot.html" %}
    </li>
