{% extends "base.html" %}

{% block title %}Working Group Actions{% endblock %}

{% block morecss %}
.working-group-action .name,
.working-group-action .edit {
  padding-left: 10px;
}
.working-group-action form input {
  margin-left: 10px;
}
{% endblock %}

{% block content %}
{% load ietf_filters %}
<h1>Working Group Actions</h1>

<p>These are the submitted WG descriptions and milestones for all
Proposed Working Groups and recharter submissions, along with
whatever status information is available.</p>

<p>NOTE: Explicit direction by the AD is required to add the group to
an IESG Telechat agenda.</p>

<h2>Current Items</h2>

<table>
{% for wga in current_items %}
  <tr class="working-group-action">
    <td>{{ wga.status_date|date:"M d" }}</td>
    <td class="name">{{ wga.group_acronym.name }} ({{ wga.group_acronym.acronym }})</td>
    {% if user|in_group:"Secretariat" %}
    <td class="edit">
    <form action="{% url iesg_edit_working_group_action wga_id=wga.pk %}" method="POST">
      <a href="{% url iesg_edit_working_group_action wga_id=wga.pk %}">Edit</a>
      <input type="submit" name="delete" value="Delete"/>
    </form>
    </td>
    {% endif %}
  </tr>
{% endfor %}
</table>

<h2>Possible Items</h2>

<table>
{% for wga in possible_items %}
  <tr class="working-group-action">
    <td>{{ wga.status_date|date:"M d" }}</td>
    <td class="name">{{ wga.name }} ({{ wga.acronym }})</td>
    {% if user|in_group:"Secretariat" %}
    <td class="edit">
    <form action="{% url iesg_working_group_actions %}" method="POST">
      <input type="hidden" name="filename" value="{{ wga.filename }}">
      <input type="submit" name="add" value="Add"/>
      <input class="permanent-delete" type="submit" name="delete" value="Delete permanently"/>
    </form>
    </td>
    {% endif %}
  </tr>
{% endfor %}
</table>
{% endblock %}

{% block content_end %}
<script type="text/javascript" src="/js/working-group-actions.js"></script>
{% endblock %}
