{% extends "base_site.html" %}

{% block title %}Drafts - Authors{% endblock %}

{% block extrahead %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.1.custom.css" />
  <link rel="stylesheet" type="text/css" href="/css/jquery.ui.autocomplete.css" />
  <script type="text/javascript" src="/js/jquery-ui-1.8.1.custom.min.js"></script>
  <script type="text/javascript" src="/js/utils.js"></script>
{% endblock %}

{% block breadcrumbs %}{{ block.super }} 
  &raquo; <a href="../../">Drafts</a>
  &raquo; <a href="../">{{ draft.name }}</a>
  &raquo; Authors
{% endblock %}

{% block content %}

<div class="module">
  <h2>Authors</h2>   
    <table class="full-width">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Order</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for author in draft.documentauthor_set.all %}
          <tr class="{% cycle row1,row2 %}">
            <td>{{ author.author.person }}</td>
            <td>{{ author.author }}</td>
            <td>{{ author.order }}</td>
            <td><a href="{% url drafts_author_delete id=draft.pk oid=author.id %}">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  
    <div class="inline-related">
      <!-- <hr><br> -->
      <h3>Add Author</h3>
      <form id="groups-people" action="" method="post">
        {{ form.non_field_errors }}
        <table class="full-width">
          <tr>
            <td>{{ form.person.errors }}{{ form.person }}{% if form.person.help_text %}<br>{{ form.person.help_text }}{% endif %}</td>
            <td>{{ form.email.errors }}{{ form.email }}{% if form.email.help_text %}<br>{{ form.email.help_text }}{% endif %}</td>
            <td><input type="submit" name="submit" value="Add" /></td>
          </tr>
        </table>    
    </div> <!-- inline-related -->

    <div class="button-group">
      <ul>
        <li><button type="submit" name="submit" value="Done">Done</button></li>
      </ul>
    </div> <!-- button-group -->
    
    </form>
</div> <!-- module -->

{% endblock %}
