{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}Add comment on {{ ipr.title }}{% endblock %}

{% block content %}
  <h1>Add comment<br><small>{{ ipr }}</small></h1>

  <p>The comment will be added to the history trail of the disclosure.</p>

  {% bootstrap_messages %}

  <form role="form" class="add-comment" method="post">
    {% csrf_token %}

    {% bootstrap_form form %}
    
    {% buttons %}
      <button type="submit" class="btn btn-primary">Add Comment</button>
      <a class="btn btn-default pull-right" href="{% url "ipr_history" id=ipr.id %}">Back</a>
    {% endbuttons %}
  </form>
{% endblock %}
