{% load ietf_filters %}
{# Copyright The IETF Trust 2007, All Rights Reserved #}
   <tr class="{{ forloop.counter|divisibleby:2|yesno:"oddrow,evenrow" }}">
      <td class="date-column">{{ ipr.time|date:"Y-m-d" }}</td>
      <td class="id-column">{{ ipr.id }}</td>
      <td class="title-column">
        <a href="{% url "ietf.ipr.views.show" ipr.id %}">{{ ipr.title }}</a>
     <br />
     {% for item in ipr.relatedipr_source_set.all %}
         {% if item.target.state_id == 'posted' %}
            Updates ID <a href="{% url "ietf.ipr.views.show" item.target.id %}">#{{ item.target.id }}</a>.<br/>
         {% endif %}
     {% endfor %}
     {% for item in ipr.relatedipr_target_set.all %}
        {% comment %}{% if item.processed == 1 and item.ipr.status != 2 %}{% endcomment %}
        {% if item.source.state_id == "posted" %}
            Updated by ID <a href="{% url "ietf.ipr.views.show" item.source.id %}">#{{ item.source.id }}</a>.<br/> 
        {% endif %}
     {% endfor %}
      </td>
      {% if selected == 'pending' %}
      <td class="column-four">{{ ipr.get_latest_event_msgout.time|date:"Y-m-d" }}</td>
      <td class="column-five">
        {% if ipr.get_latest_event_msgout.response_due %}
          {{ ipr.get_latest_event_msgout.response_due|date:"Y-m-d" }}
          {% if ipr.get_latest_event_msgout.response_past_due %}
            <img src="/images/warning.png" title="Response overdue"/>
          {% endif %}
        {% endif %}
      </td>
      {% endif %}
   </tr>

