{% extends "ipr/details.html" %}
{% block legacy_sections %}I, II, and III{% endblock %}

<!-- unchanged: section1, Patent Holder-->

<!-- not present: section2, Patent Holder's Contact -->
{% block section2 %}{% endblock %}

<!-- unchanged: section3, IETF Participant -->

<!-- unchanged: section4, IETF Document -->

<!-- unchanged: section5, Patent Information -->

<!-- not present: section6, Licensing Declaration -->
{% block section6 %}{% endblock %}

<!-- not present: section7, Form Submitter -->
{% block section7 %}{% endblock %}

<!-- not present: section8, Other Notes -->
{% block section8 %}{% endblock %}