{% extends "base.html" %}
{# Copyright The IETF Trust 2007, All Rights Reserved #}

{% block title %}IPR Details - {{ ipr.title|escape }}{% endblock %}

{% block pagehead %}
<meta name="description" content="IPR disclosure #{{ipr.ipr_id}}: {{ ipr.title }} ({{ ipr.submitted_date|date:"Y" }})" />
{% endblock %}


{% block morecss %}
table.ipr { margin-top: 1em; }
.ipr .light td { background: #eeeeee; }
.ipr .dark td { background: #dddddd; }
.ipr th { background: #2647a0; color: white; }
.ipr { width: 101ex; border: 0; border-collapse: collapse; }
.ipr th, .ipr td { padding: 3px 6px; text-align: left; }
.ipr tr { vertical-align: top; }
.ipr td.iprlabel { width: 18ex; }
.iprdata { font-weight: bold; }
{% endblock %}
{% block content %}

{% if section_list.title %}
<h1>{{ ipr.title|escape }}</h1>
{% endif %}


      {% if section_list.legacy_intro %}
	 <p>This IPR disclosure was submitted by e-mail.</p>
	 {% if not ipr.comply %}
	 <p style="color:red;">
	    This IPR disclosure does not comply with the formal requirements of Section 6,
	    "IPR Disclosures," of RFC 3979, "Intellectual Property Rights in IETF Technology."
	 </p>
	 {% endif %}
	 <p>Sections {% block legacy_sections %}I, II, and IV{% endblock %} of "The Patent Disclosure and Licensing Declaration Template 
	 for {{ section_list.disclosure_type }}" have been completed for this IPR disclosure.
	 Additional information may be available in the original submission.</p>
	 <p>The text of the original IPR disclosure is available further down, and also here:<br />
	 <a href="{{ipr.legacy_url_0}}">{{ipr.legacy_url_0}}</a>.</p>
      {% endif %}

{% if section_list.new_intro %}
<p>Only those sections of the "Patent Disclosure and Licensing Declaration
Template for {{ section_list.disclosure_type }}" where the submitter provided
 information are displayed.</p>
{% endif %}

{% if section_list.new_intro or section_list.legacy_intro %}

	 {% if ipr.legacy_title_1 %}
         <p><a href="{{ ipr.legacy_url_1 }}">{{ ipr.legacy_title_1 }}</a></p>
	 {% endif %}

	 {% if ipr.legacy_title_2 %}
	 <p><a href="{{ ipr.legacy_url_2 }}">{{ ipr.legacy_title_2 }}</a></p>
	 {% endif %}

	 {% for item in ipr.updates.all %}
	     <p>This IPR disclosure updates IPR disclosure ID #{{ item.updated.ipr_id }},
	     {% ifequal item.updated.status 0 %}
		"<a href="{% url ietf.ipr.views.show item.updated.ipr_id %}">{{ item.updated.title|escape }}</a>".
	     {% else %}
		{% ifequal item.updated.status 1 %}
		   "<a href="{% url ietf.ipr.views.show item.updated.ipr_id %}">{{ item.updated.title|escape }}</a>".
		{% else %}
		   "{{ item.updated.title|escape }}", which was removed at the request of the submitter.
		{% endifequal %}
	     {% endifequal %}
	     </p>
	 {% endfor %}

	 {% for item in ipr.updated_by.all %}
	 {% ifequal item.processed 1 %}
	     <p>
	     This IPR disclosure has been updated by IPR disclosure ID #{{ item.ipr.ipr_id }},
	     {% ifequal item.status_to_be 1 %}
		"<a href="{% url ietf.ipr.views.show item.ipr.ipr_id %}">{{ item.ipr.title|escape }}</a>".
	     {% else %}
		"{{ item.ipr.title|escape }}", which was removed at the request of the submitter.
	     {% endifequal %}
	     </p>
	 {% endifequal %}
	 {% endfor %}

	 <p><a href="{% url ietf.ipr.new.update ipr.ipr_id %}" rel="nofollow">Update this IPR disclosure</a>. Note: Updates to IPR disclosures must only be made by authorized
   representatives of the original submitters. Updates will automatically
   be forwarded to the current Patent Holder's Contact and to the Submitter
   of the original IPR disclosure.</p>
	 <!-- tag 1 -->
	 <p><strong>Submitted Date: {{ ipr.submitted_date|date:"F j, Y" }}</strong></p>
      {% endif %}


   {% if section_list.holder %}
      <table class="ipr">
	 <tr class="{% cycle dark,light as row_parity %}">
	    <th colspan="2">
	       {% cycle I,II,III,IV,V,VI,VII,VIII as section %}.
	       {% if section_list.third_party %}Possible{% endif %}
	       Patent Holder/Applicant ("Patent Holder")
	    </th>
	 </tr>
	 <tr class="{% cycle row_parity %}">
	    <td class="iprlabel">Legal Name:</td>	<td class="iprdata">{{ ipr.legal_name|escape }}</td>
	 </tr>
      </table>
   {% endif %}

   {% if section_list.holder_contact %}
      <table class="ipr">
	 <tr class="{% cycle dark,light as row_parity %}"><th colspan="2">
	    {% cycle section %}.
	    Patent Holder's Contact for License Application
	    </th>
	 </tr>
	 <tr class="{% cycle row_parity %}"><td class="iprlabel">Name:</td>		<td class="iprdata">{{ ipr.holder_contact.name|escape }}</td></tr>
	 <tr class="{% cycle row_parity %}"><td class="iprlabel">Title:</td>		<td class="iprdata">{{ ipr.holder_contact.title|escape }}</td></tr>
	 <tr class="{% cycle row_parity %}"><td class="iprlabel">Department:</td>	<td class="iprdata">{{ ipr.holder_contact.department|escape }}</td></tr>
	 <tr class="{% cycle row_parity %}"><td class="iprlabel">Address1:</td>	<td class="iprdata">{{ ipr.holder_contact.address1|escape }}</td></tr>
	 <tr class="{% cycle row_parity %}"><td class="iprlabel">Address2:</td>	<td class="iprdata">{{ ipr.holder_contact.address2|escape }}</td></tr>
	 <tr class="{% cycle row_parity %}"><td class="iprlabel">Telephone:</td>	<td class="iprdata">{{ ipr.holder_contact.telephone|escape }}</td></tr>
	 <tr class="{% cycle row_parity %}"><td class="iprlabel">Fax:</td>		<td class="iprdata">{{ ipr.holder_contact.fax|escape }}</td></tr>
	 <tr class="{% cycle row_parity %}"><td class="iprlabel">Email:</td>		<td class="iprdata">{{ ipr.holder_contact.email|escape }}</td></tr>
      </table>
   {% endif %}


   {% if section_list.ietf_contact %}
      <table class="ipr">
	 <tr class="{% cycle dark,light as row_parity %}">
	    <th colspan="2" >
	    {% cycle section %}.
	    Contact Information for the IETF Participant Whose Personal Belief Triggered this Disclosure:	    
	    </th>
	 </tr>
	 {% if ipr.ietf_contact.name %}
	 <tr class="{% cycle row_parity %}"><td class="iprlabel">Name:</td>		<td class="iprdata">{{ ipr.ietf_contact.name|escape }}</td></tr>
	 <tr class="{% cycle row_parity %}"><td class="iprlabel">Title:</td>		<td class="iprdata">{{ ipr.ietf_contact.title|escape }}</td></tr>
	 <tr class="{% cycle row_parity %}"><td class="iprlabel">Department:</td>	<td class="iprdata">{{ ipr.ietf_contact.department|escape }}</td></tr>
	 <tr class="{% cycle row_parity %}"><td class="iprlabel">Address1:</td>	<td class="iprdata">{{ ipr.ietf_contact.address1|escape }}</td></tr>
	 <tr class="{% cycle row_parity %}"><td class="iprlabel">Address2:</td>	<td class="iprdata">{{ ipr.ietf_contact.address2|escape }}</td></tr>
	 <tr class="{% cycle row_parity %}"><td class="iprlabel">Telephone:</td>	<td class="iprdata">{{ ipr.ietf_contact.telephone|escape }}</td></tr>
	 <tr class="{% cycle row_parity %}"><td class="iprlabel">Fax:</td>		<td class="iprdata">{{ ipr.ietf_contact.fax|escape }}</td></tr>
	 <tr class="{% cycle row_parity %}"><td class="iprlabel">Email:</td>		<td class="iprdata">{{ ipr.ietf_contact.email|escape }}</td></tr>
	 {% else %}
	 <tr class="{% cycle row_parity %}"><td colspan="2"><i>No information submitted</i></td></tr>
	 {% endif %}
      </table>
   {% endif %}


   {% if section_list.ietf_doc %}
      <table class="ipr">
	 <tr class="{% cycle dark,light as row_parity %}">
	    <th colspan="2" >
	    {% cycle section %}.
	    IETF Document or Other Contribution to Which this IPR Disclosure Relates:
	    </th>
	 </tr>
	    {% if ipr.rfclist %}
	       <tr class="{% cycle row_parity %}"><td class="iprlabel">RFC Numbers:</td><td class="iprdata">{{ ipr.rfclist }}</td></tr>
	    {% else %}
	       {% for doc in ipr.rfcs.all %}
	       <tr class="{% cycle row_parity %}"><td class="iprlabel iprdata">RFC {{ doc.document.rfc_number }}:</td><td class="iprdata">"{{ doc.document.title }}"</td></tr>
	       {% endfor %}
	    {% endif %}
	    {% if ipr.draftlist %}
	       <tr class="{% cycle row_parity %}"><td class="iprlabel">I-D Filenames (draft-...):</td><td class="iprdata">{{ ipr.draftlist }}</td></tr>
	    {% else %}
	       {% for doc in ipr.drafts.all %}
	       <tr class="{% cycle row_parity %}"><td class="iprlabel">Internet-Draft:</td><td class="iprdata">"{{ doc.document.title }}"<br />({{ doc.document.filename }}-{{ doc.revision }})</td></tr>
	       {% endfor %}
	    {% endif %}
	    {% if ipr.other_designations %}
	    <tr class="{% cycle row_parity %}"><td class="iprlabel">Designations for Other Contributions:</td><td class="iprdata">{{ ipr.other_designations }}</td></tr>
	    {% endif %}
      </table>
   {% endif %}

      {% if section_list.patent_info %}
	 <table class="ipr">
	    <tr class="{% cycle dark,light as row_parity %}">
	       <th colspan="2" >
	       {% cycle section %}.
	       Disclosure of Patent Information (i.e., patents or patent
	       applications required to be disclosed by Section 6 of RFC 3979)	    
	       </th>
	    </tr>
	    {% if ipr.patents or ipr.notes %}
	    <tbody class="{% cycle row_parity %}">
	       <tr>
		  <td colspan="2">
		  A. For granted patents or published pending patent applications,
		  please provide the following information:</td>
	       </tr>
	       <tr><td class="iprlabel">Patent, Serial, Publication, Registration,
			 or Application/File number(s):	</td><td class="iprdata">{{ ipr.patents }}</td></tr>
	    </tbody>
	    <tr class="{% cycle row_parity %}"><td class="iprlabel">Date(s) granted or applied for:	</td><td class="iprdata">{{ ipr.date_applied }}</td></tr>
	    <tr class="{% cycle row_parity %}"><td class="iprlabel">Country:				</td><td class="iprdata">{{ ipr.country }}</td></tr>
	    <tr class="{% cycle row_parity %}"><td class="iprlabel">Additional Notes:</td><td class="iprdata">{{ ipr.notes|escape|linebreaks }}</td></tr>
	    <tr class="{% cycle row_parity %}">
	       <td colspan="2">
		     B. Does this disclosure relate to an unpublished pending patent application?:
		  <span class="iprdata">{{ ipr.is_pending }}</span>
	       </td>
	    </tr>
	    <tbody class="{% cycle row_parity %}">	    
	       {% if section_list.generic %}
		  <tr class="{% cycle row_parity %}">
		     <td colspan="2">
			C. Does this disclosure apply to all IPR owned by
			the submitter?:
			<span class="iprdata">{{ ipr.applies_to_all }}</span>
		     </td>
		  </tr>
	       {% else %}
		  <tr class="{% cycle row_parity %}">
		     <td colspan="2">
			C. If an Internet-Draft or RFC includes multiple parts and it is not
			reasonably apparent which part of such Internet-Draft or RFC is alleged
			to be covered by the patent information disclosed in Section
			V(A) or V(B), it is helpful if the discloser identifies here the sections of
			the Internet-Draft or RFC that are alleged to be so
			covered:
		     </td>
		  </tr>
		  {% if ipr.document_sections %}
		  <tr class="{% cycle row_parity %}"><td class="iprlabel"></td><td class="iprdata">{{ ipr.document_sections|escape|linebreaks }}</td></tr>
		  {% else %}
		  <tr class="{% cycle row_parity %}"><td class="iprlabel"></td><td><i>No information submitted</i></td></tr>
		  {% endif %}
	       {% endif %}
	    </tbody>
	    {% else %}
	    <tr class="{% cycle row_parity %}"><td class="iprlabel"></td><td class="iprdata">This disclosure relates to an unpublished pending patent application.</td></tr>
	    {% endif %}
	    
	 </table>
      {% endif %}


      {% if section_list.licensing %}
      <!-- Not to be shown for third-party disclosures -->
	 <table  class="ipr">
	    <tr class="{% cycle dark,light as row_parity %}">
	       <th colspan="2" >
	       {% cycle section %}.
	       Licensing Declaration
	       </th>
	    </tr>
	    <tbody class="{% cycle row_parity %}">
	    <tr>
	       <td colspan="2">
	       The Patent Holder states that its position with respect
	       to licensing any patent claims contained in the patent(s) or patent
	       application(s) disclosed above that would necessarily be infringed by
	       implementation of the technology required by the relevant IETF specification
	       ("Necessary Patent Claims"), for the purpose of implementing such
	       specification, is as follows(select one licensing declaration option only):
	       </td>
	    </tr>
	    <tr>
	       <td colspan="2">
		  <span class="iprdata">{{ ipr.licensing_option }}</span>
	       </td>
	    </tr>
	    </tbody>
	    {% if ipr.stdonly_license %}
	    <tr class="{% cycle row_parity %}">
	       <td></td><td>
		  {{ ipr.stdonly_license }}
		  Above licensing declaration is limited solely to standards-track IETF documents.
	       </td>
	    </tr>
	    {% endif %}
	    <tbody class="{% cycle row_parity %}">
	       <tr>
		  <td colspan="2">
		     Licensing information, comments, notes, or URL for further information:
		  </td>
	       </tr>
	       {% if ipr.comments %}
	       <tr ><td class="iprlabel"> </td><td class="iprdata">{{ ipr.comments|escape|linebreaks }}</td></tr>
	       {% else %}
	       <tr ><td class="iprlabel"> </td><td><i>No information submitted</i></td></tr>
	       {% endif %}
	    </tbody>
	    {% if ipr.lic_checkbox %}
	    <tr class="{% cycle row_parity %}">
	       <td colspan="2">
		  <p>
		  {% ifnotequal ipr.lic_checkbox 1 %}{{ ipr.lic_checkbox }}{% endifnotequal %}
		  The individual submitting this template represents and warrants that all
		  terms and conditions that must be satisfied for implementers of any
		  covered IETF specification to obtain a license have been disclosed in this
		  IPR disclosure statement.
		  </p>
		  {% if section_list.generic %}
		  <p>
		     Note: According to
		     <a href="http://www.ietf.org/rfc/rfc3979.txt?number=3979">RFC 3979</a>,
		     Section 6.4.3, unless you check the box
		     above, and choose either option a) or b), you must still file specific
		     IPR disclosures as appropriate.
		  </p>
		  {% endif %}
	       </td>


	    </tr>
	    {% endif %}
	    <tr class="{% cycle row_parity %}">
	       <td colspan="2">
		  <span class="iprdata">Note: The individual submitting this template represents and warrants
		  that he or she is authorized by the Patent Holder to agree to the
		  above-selected licensing declaration.</span>
	       </td>
	    </tr>
	 </table>
      {% endif %}


      {% if section_list.submitter %}
	 <table class="ipr">
	    <tr class="{% cycle dark,light as row_parity %}">
	       <th colspan="2" >
	       {% cycle section %}.
	       Contact Information of Submitter of this Form (if different from the
	       Contact Information above)
	       </th>
	    </tr>
	    {% if ipr.submitter.name %}
	    {% if ipr.ietf_contact_is_submitter %}
	    <tbody class="{% cycle row_parity %}">
	       {% if section_list.holder_contact %}
	       <tr>
		  <td colspan="2">
		     Same as in Section II above:
		     <input type="checkbox" name="hold_contact_is_submitter" onChange="toggle_submitter_info('holder');" {{ ipr.hold_contact_is_submitter_checked }} >
		  </td>
	       </tr>
	       {% endif %}
	       {% if section_list.ietf_contact %}
	       <tr>
		  <td colspan="2">
		  Same as in Section III above:
		  <input type="checkbox" name="ietf_contact_is_submitter" onChange="toggle_submitter_info('ietf');" {{ ipr.ietf_contact_is_submitter_checked }} />
		  </td>
	       </tr>
	       {% endif %}
	    </tbody>
	    {% endif %}
	    <tr class="{% cycle row_parity %}"><td class="iprlabel">Name:</td>		<td class="iprdata">{{ ipr.submitter.name|escape }}</td></tr>
	    <tr class="{% cycle row_parity %}"><td class="iprlabel">Title:</td>		<td class="iprdata">{{ ipr.submitter.title|escape }}</td></tr>
	    <tr class="{% cycle row_parity %}"><td class="iprlabel">Department:</td>	<td class="iprdata">{{ ipr.submitter.department|escape }}</td></tr>
	    <tr class="{% cycle row_parity %}"><td class="iprlabel">Address1:</td>	<td class="iprdata">{{ ipr.submitter.address1|escape }}</td></tr>
	    <tr class="{% cycle row_parity %}"><td class="iprlabel">Address2:</td>	<td class="iprdata">{{ ipr.submitter.address2|escape }}</td></tr>
	    <tr class="{% cycle row_parity %}"><td class="iprlabel">Telephone:</td>	<td class="iprdata">{{ ipr.submitter.telephone|escape }}</td></tr>
	    <tr class="{% cycle row_parity %}"><td class="iprlabel">Fax:</td>		<td class="iprdata">{{ ipr.submitter.fax|escape }}</td></tr>
	    <tr class="{% cycle row_parity %}"><td class="iprlabel">Email:</td>		<td class="iprdata">{{ ipr.submitter.email|escape }}</td></tr>
	    {% else %}
	    <tr class="{% cycle row_parity %}"><td colspan="2"><i>No information submitted</i></td></tr>
	    {% endif %}
	 </table>
      {% endif %}


      {% if section_list.notes %}
	 <table class="ipr">
	    <tr class="{% cycle dark,light as row_parity %}">
	       <th colspan="2" >
	       {% cycle section %}.
	       Other Notes:
	       </th>
	    </tr>
	       {% if ipr.other_notes %}
	       <tr class="{% cycle row_parity %}"><td class="iprlabel"> </td><td class="iprdata">{{ ipr.other_notes|escape|linebreaks }}</td></tr>
	       {% else %}
	       <tr class="{% cycle row_parity %}"><td colspan="2"><i>No information submitted</i></td></tr>
	       {% endif %}
	 </table>
      {% endif %}

      {% if ipr.legacy_url_0 %}
      <div>
      <h3>The text of the original IPR declaration:</h3>
      {% if ipr.legacy_text %}
      <pre>{{ipr.legacy_text|safe}}</pre>
      {% else %}
      <iframe src="{{ipr.legacy_url_0}}" style="width:55em; height:30em">
	 Warning: Could not embed {{ipr.legacy_url_0}}.
      </iframe>
      {% endif %}
      </div>
      {% endif %}

{% endblock %}
