{% extends "base.html" %}
{# Copyright The IETF Trust 2015, 2017. All Rights Reserved. #}
{% load origin %}
{% load ietf_filters ipr_filters textfilters %}
{% block title %}IPR Details - {{ ipr.title }}{% endblock %}
{% block pagehead %}
    <meta name="description"
          content="IPR disclosure{% if ipr.ipr_id %} #{{ ipr.ipr_id }}{% endif %}: {{ ipr.title }} ({{ ipr.time|date:'Y' }})">
{% endblock %}
{% block content %}
    {% origin %}
    <h1>
        IPR Details
        <br>
        <small class="text-muted">{{ ipr.title }}</small>
    </h1>
    {% include "ipr/details_tabs.html" %}
    <div class="buttonlist my-3">
        {% if ipr.state_id == 'posted' %}
            <a class="btn btn-primary"
               href="{% url "ietf.ipr.views.update" ipr.id %}"
               rel="nofollow">
                Update this IPR disclosure
            </a>
        {% endif %}
        {% if user|has_role:"Secretariat" %}
            {# admin actions #}
            {% if ipr.updates and ipr.state_id == 'pending' and not ipr.update_notified_date %}
                <a class="btn btn-primary"
                   href="{% url 'ietf.ipr.views.notify' id=ipr.id type="update" %}"
                   title="Notify the submitter of IPR that is being updated">
                    Notify
                </a>
            {% endif %}
            {% if ipr.updates and ipr.state_id == 'pending' and ipr.update_notified_date or not ipr.updates and ipr.state_id == 'pending' %}
                <a class="btn btn-primary"
                   href="{% url 'ietf.ipr.views.post' id=ipr.id %}">
                    <i class="bi bi-check" aria-hidden="true"></i> Post
                </a>
            {% endif %}
            <a class="btn btn-primary"
               href="{% url 'ietf.ipr.views.email' id=ipr.id %}"
               title="Email submitter of this disclsoure">
                <i class="bi bi-envelope" aria-hidden="true"></i> Email
            </a>
            <a class="btn btn-primary"
               href="{% url 'ietf.ipr.views.edit' id=ipr.id %}">Edit</a>
            <a class="btn btn-primary"
               href="{% url 'ietf.ipr.views.state' id=ipr.id %}">Change State</a>
        {% endif %}
    </div>
    {% if not ipr.compliant %}
        {% if in_force_ipr_rfc == 'RFC 8179' %}
            <p class="alert alert-danger my-3">
                This IPR disclosure does not comply with the formal requirements of Section 5,
                "IPR Disclosures," of
                <a href="https://www.rfc-editor.org/rfc/rfc8179.txt">RFC 8179</a>,
                "Intellectual Property Rights in IETF Technology."
            </p>
        {% else %}
            <p class="alert alert-danger my-3">
                This IPR disclosure does not comply with the formal requirements of Section 6,
                "IPR Disclosures," of
                <a href="https://www.rfc-editor.org/rfc/rfc3979.txt">RFC 3979</a>,
                "Intellectual Property Rights in IETF Technology."
            </p>
        {% endif %}
    {% endif %}
    {% if ipr.has_legacy_event %}
        <p>
            The text of the original IPR disclosure is available in the
            <a href="{% url "ietf.ipr.views.history" id=ipr.id %}">disclosure history</a>.
        </p>
    {% endif %}
    <div>
        <strong>Submitted:</strong>
        {{ ipr.time|date:"F j, Y" }} under the rules in {{ in_force_ipr_rfc|urlize_ietf_docs }}.
    </div>
    {% if user|has_role:"Secretariat" %}
        <div>
            <strong>State:</strong>
            {{ ipr.state }}
        </div>
    {% endif %}
    {% if ipr.state_id == 'posted' %}
        <p class="alert alert-info my-3">
            Note: Updates to IPR disclosures must only be made by authorized
            representatives of the original submitters. Updates will automatically
            be forwarded to the current Patent Holder's Contact and to the Submitter
            of the original IPR disclosure.
        </p>
    {% endif %}
    {% if updates_iprs or updated_by_iprs %}
        <h2 class="mt-5">Updates</h2>
        {% if updated_by_iprs %}
            <dl class="row">
                <dt class="col-sm-1">
                    Updated by
                </dt>
                <dd class="col-sm-11">
                    {% for item in updated_by_iprs %}
                        <div>
                            IPR Disclosure ID #{{ item.source.id }},
                            {% if item.source.state.slug == "removed" %}
                                "{{ item.source.title }}" (which was removed at the request of the submitter)
                            {% else %}
                                "<a href="{% url "ietf.ipr.views.show" id=item.source.id %}">{{ item.source.title }}</a>"
                            {% endif %}
                        </div>
                    {% endfor %}
                </dd>
            </dl>
        {% endif %}
        {% if updates_iprs %}
            <dl class="row">
                <dt class="col-sm-1">
                    Updates
                </dt>
                <dd class="col-sm-11">
                    {% for item in updates_iprs %}
                        <div>
                            IPR Disclosure ID #{{ item.target.id }},
                            {% if item.target.state.slug == "removed" %}
                                "{{ item.target.title }}" (which was removed at the request of the submitter)
                            {% elif item.target.state.slug == "rejected" %}
                                "{{ item.target.title }}" (which was rejected)
                            {% elif item.target.state.slug == "parked" %}
                                "{{ item.target.title }}"
                            {% else %}
                                "<a href="{% url "ietf.ipr.views.show" id=item.target.id %}">{{ item.target.title }}</a>"
                            {% endif %}
                        </div>
                    {% endfor %}
                </dd>
            </dl>
        {% endif %}
    {% endif %}
    {% if user|has_role:"Secretariat" and ipr.update_notified_date %}
        <div class="alert alert-info my-3">
            This update was notified to the submitter of the IPR that is being updated on: {{ ipr.update_notified_date|date:"Y-m-d" }}
        </div>
    {% endif %}
    <h2 class="mt-5">
        {% cycle 'I' 'II' 'III' 'IV' 'V' 'VI' 'VII' 'VIII' as section %}.
        {% if ipr|to_class_name == "ThirdPartyIprDisclosure" %}Possible{% endif %}
        Patent Holder/Applicant ("Patent Holder")
    </h2>
    <table class="table table-sm table-striped">
        {% if prev %}
            <thead>
                <tr class="text-center">
                    <th scope="col" class="ipr-prev col-5">
                        {% if prev.state.slug == "posted" %}
                            Previous (<a href="{% url "ietf.ipr.views.show" id=prev.id %}">#{{ prev.id }}</a>)
                        {% else %}
                            Previous (#{{ prev.id }}, {{ prev.state }})
                        {% endif %}
                    </th>
                    <th scope="col"></th>
                    <th scope="col" class="col-5">This (#{{ ipr.id }})</th>
                </tr>
            </thead>
        {% else %}
            <thead>
                <tr>
                    <th scope="col" class="col-3"></th>
                    <th scope="col" class="col-9"></th>
                </tr>
            </thead>
        {% endif %}
        <tbody>
            <tr>
                {% if prev %}
                    <td class="ipr-prev">
                        {% if prev.holder_legal_name %}
                            {{ prev.holder_legal_name }}
                        {% endif %}
                    </td>
                {% endif %}
                <th scope="row" class="ipr-label {% if prev %}text-center table-secondary{% endif %}">Holder legal name</th>
                <td class="ipr-this">{{ ipr.holder_legal_name }}</td>
            </tr>
        </tbody>
    </table>
    {% if ipr.holder_contact_name or ipr.holder_contact_info %}
        <h2 class="mt-5">{% cycle section %}. Patent Holder's Contact for License Application</h2>
        <table class="table table-sm table-striped">
            {% if prev %}
                <thead>
                    <tr class="text-center">
                        <th scope="col" class="ipr-prev col-5">
                            {% if prev.state.slug == "posted" %}
                                Previous (<a href="{% url "ietf.ipr.views.show" id=prev.id %}">#{{ prev.id }}</a>)
                            {% else %}
                                Previous (#{{ prev.id }}, {{ prev.state }})
                            {% endif %}
                        </th>
                        <th scope="col"></th>
                        <th scope="col" class="col-5">This (#{{ ipr.id }})</th>
                    </tr>
                </thead>
            {% else %}
                <thead>
                    <tr>
                        <th scope="col" class="col-3">
                        </th>
                        <th scope="col" class="col-9">
                        </th>
                    </tr>
                </thead>
            {% endif %}
            <tbody>
                <tr>
                    {% if prev %}
                        <td class="ipr-prev">
                            {% if prev.holder_contact_name %}
                                {{ prev.holder_contact_name }}
                            {% endif %}
                        </td>
                    {% endif %}
                    <th scope="row" class="ipr-label {% if prev %}text-center table-secondary{% endif %}">
                        Holder contact name
                    </th>
                    <td class="ipr-this">
                        {{ ipr.holder_contact_name }}
                    </td>
                </tr>
                <tr>
                    {% if prev %}
                        <td class="ipr-prev">
                            {% if prev.holder_contact_email %}
                                {{ prev.holder_contact_email|linkify }}
                            {% endif %}
                        </td>
                    {% endif %}
                    <th scope="row" class="ipr-label {% if prev %}text-center table-secondary{% endif %}">
                        Holder contact email
                    </th>
                    <td class="ipr-this">
                        {{ ipr.holder_contact_email|linkify }}
                    </td>
                </tr>
                <tr>
                    {% if prev %}
                        <td class="ipr-prev">
                            {% if prev.holder_contact_info %}
                                {{ prev.holder_contact_info|linkify|linebreaks }}
                            {% endif %}
                        </td>
                    {% endif %}
                    <th scope="row" class="ipr-label {% if prev %}text-center table-secondary{% endif %}">
                        Holder contact info
                    </th>
                    <td class="ipr-this">
                        {% if ipr.holder_contact_info %}{{ ipr.holder_contact_info|linkify|linebreaks }}{% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    {% if ipr.ietfer_name or ipr.ietfer_contact_email or ipr.ietfer_contact_info %}
        <h2 class="mt-5">
            {% cycle section %}. Contact Information for the IETF Participant Whose Personal Belief Triggered this Disclosure
        </h2>
        <table class="table table-sm table-striped">
            {% if prev %}
                <thead>
                    <tr class="text-center">
                        <th scope="col" class="ipr-prev col-5">
                            {% if prev.state.slug == "posted" %}
                                Previous (<a href="{% url "ietf.ipr.views.show" id=prev.id %}">#{{ prev.id }}</a>)
                            {% else %}
                                Previous (#{{ prev.id }}, {{ prev.state }})
                            {% endif %}
                        </th>
                        <th scope="col">
                        </th>
                        <th scope="col" class="col-5">
                            This (#{{ ipr.id }})
                        </th>
                    </tr>
                </thead>
            {% else %}
                <thead>
                    <tr>
                        <th scope="col" class="col-3">
                        </th>
                        <th scope="col" class="col-9">
                        </th>
                    </tr>
                </thead>
            {% endif %}
            <tbody>
                <tr>
                    {% if prev %}
                        <td class="ipr-prev">
                            {% if prev.ietfer_name %}
                                {{ prev.ietfer_name }}
                            {% endif %}
                        </td>
                    {% endif %}
                    <th scope="row" class="ipr-label {% if prev %}text-center table-secondary{% endif %}">
                        Name
                    </th>
                    <td class="ipr-this">
                        {{ ipr.ietfer_name }}
                    </td>
                </tr>
                <tr>
                    {% if prev %}
                        <td class="ipr-prev">
                            {% if prev.ietfer_contact_email %}
                                {{ prev.ietfer_contact_email|linkify }}
                            {% endif %}
                        </td>
                    {% endif %}
                    <th scope="row" class="ipr-label {% if prev %}text-center table-secondary{% endif %}">
                        Email
                    </th>
                    <td class="ipr-this">
                        {{ ipr.ietfer_contact_email|linkify }}
                    </td>
                </tr>
                <tr>
                    {% if prev %}
                        <td class="ipr-prev">
                            {% if prev.ietfer_contact_info %}
                                {{ prev.ietfer_contact_info|linkify|linebreaks }}
                            {% endif %}
                        </td>
                    {% endif %}
                    <th scope="row" class="ipr-label {% if prev %}text-center table-secondary{% endif %}">
                        Other info
                    </th>
                    <td class="ipr-this">
                        {{ ipr.ietfer_contact_info|linkify|linebreaks }}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    {% if ipr.iprdocrel_set.all or ipr.other_designations %}
        <h2 class="mt-5">
            {% cycle section %}. IETF Document or Other Contribution to Which this IPR Disclosure Relates
        </h2>
        <table class="table table-sm table-striped">
            {% if prev %}
                <thead>
                    <tr class="text-center">
                        <th scope="col" class="ipr-prev col-5">
                            {% if prev.state.slug == "posted" %}
                                Previous (<a href="{% url "ietf.ipr.views.show" id=prev.id %}">#{{ prev.id }}</a>)
                            {% else %}
                                Previous (#{{ prev.id }}, {{ prev.state }})
                            {% endif %}
                        </th>
                        <th scope="col">
                        </th>
                        <th scope="col" class="col-5">
                            This (#{{ ipr.id }})
                        </th>
                    </tr>
                </thead>
            {% else %}
                <thead>
                    <tr>
                        <th scope="col">
                        </th>
                    </tr>
                </thead>
            {% endif %}
            <tbody>
                <tr>
                    {% if prev %}
                        <td class="ipr-prev">
                            <dl class="row">
                                {% for iprdocrel in prev.iprdocrel_set.all %}
                                    <dt class="col-sm-4 my-0">
                                        {{ iprdocrel.doc_type }}:
                                    </dt>
                                    <dd class="col-sm-8 my-0">
                                        {{ iprdocrel.formatted_name|urlize_ietf_docs }} ("{{ iprdocrel.document.document.title }}")
                                    </dd>
                                    {% if iprdocrel.revisions %}
                                        <dt class="col-sm-4 my-0">
                                            Revisions:
                                        </dt>
                                        <dd class="col-sm-8 my-0">
                                            {{ iprdocrel.revisions }}
                                        </dd>
                                    {% endif %}
                                    {% if iprdocrel.sections %}
                                        <dt class="col-sm-4 my-0">
                                            Sections:
                                        </dt>
                                        <dd class="col-sm-8 my-0">
                                            {{ iprdocrel.sections }}
                                        </dd>
                                    {% endif %}
                                {% endfor %}
                                {% if prev.other_designations %}
                                    <dt class="col-sm-4 my-0">
                                        Designations for Other Contributions:
                                    </dt>
                                    <dd class="col-sm-8 my-0">
                                        {{ prev.other_designations }}
                                    </dd>
                                {% endif %}
                            </dl>
                        </td>
                    <th scope="row" class="ipr-label {% if prev %}text-center table-secondary{% endif %}">
                    </th>
                    {% endif %}
                    <td class="ipr-this">
                        <dl class="row">
                            {% for iprdocrel in ipr.iprdocrel_set.all %}
                                <dt class="{% if prev %}col-sm-4{% else %}col-sm-3{% endif %} my-0">
                                    {{ iprdocrel.doc_type }}:
                                </dt>
                                <dd class="{% if prev %}col-sm-8{% else %}col-sm-9{% endif %} my-0">
                                    {{ iprdocrel.formatted_name|urlize_ietf_docs }} ("{{ iprdocrel.document.document.title }}")
                                </dd>
                                {% if iprdocrel.revisions %}
                                    <dt class="{% if prev %}col-sm-4{% else %}col-sm-3{% endif %} my-0">
                                        Revisions:
                                    </dt>
                                    <dd class="{% if prev %}col-sm-8{% else %}col-sm-9{% endif %} my-0">
                                        {{ iprdocrel.revisions }}
                                    </dd>
                                {% endif %}
                                {% if iprdocrel.sections %}
                                    <dt class="{% if prev %}col-sm-4{% else %}col-sm-3{% endif %} my-0">
                                        Sections:
                                    </dt>
                                    <dd class="{% if prev %}col-sm-8{% else %}col-sm-9{% endif %} my-0">
                                        {{ iprdocrel.sections }}
                                    </dd>
                                {% endif %}
                            {% endfor %}
                            {% if prev.other_designations %}
                                <dt class="{% if prev %}col-sm-4{% else %}col-sm-3{% endif %} my-0">
                                    Designations for Other Contributions:
                                </dt>
                                <dd class="{% if prev %}col-sm-8{% else %}col-sm-9{% endif %} my-0">
                                    {{ prev.other_designations }}
                                </dd>
                            {% endif %}
                        </dl>
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    {% if ipr.patent_info or ipr.has_patent_pending %}
        <h2 class="mt-5">
            {% cycle section %}. Disclosure of Patent Information
            <br>
            <small class="text-muted">i.e., patents or patent applications required to be disclosed by {{ in_force_ipr_rfc|urlize_ietf_docs }}</small>
        </h2>
        <p>
            A. For granted patents or published pending patent applications, please provide the following information:
        </p>
        <table class="table table-sm table-striped">
            {% if prev %}
                <thead>
                    <tr class="text-center">
                        <th scope="col" class="ipr-prev col-5">
                            {% if prev.state.slug == "posted" %}
                                Previous (<a href="{% url "ietf.ipr.views.show" id=prev.id %}">#{{ prev.id }}</a>)
                            {% else %}
                                Previous (#{{ prev.id }}, {{ prev.state }})
                            {% endif %}
                        </th>
                        <th scope="col">
                        </th>
                        <th scope="col" class="col-5">
                            This (#{{ ipr.id }})
                        </th>
                    </tr>
                </thead>
            {% else %}
                <thead>
                    <tr>
                        <th scope="col" class="col-3">
                        </th>
                        <th scope="col" class="col-9">
                        </th>
                    </tr>
                </thead>
            {% endif %}
            <tbody>
                <tr>
                    {% if prev %}
                        <td class="ipr-prev">
                            {% if prev.patent_info %}
                                {{ prev.patent_info|urlize_ietf_docs|linkify|linebreaks }}
                            {% endif %}
                        </td>
                    {% endif %}
                    <th scope="row" class="ipr-label {% if prev %}text-center table-secondary{% endif %}">
                        Patent, Serial,
                        Publication, Registration,
                        or Application/File number(s)
                    </th>
                    <td class="ipr-this">
                        {{ ipr.patent_info|urlize_ietf_docs|linkify|linebreaks }}
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            B. Does this disclosure relate to an unpublished pending patent application?:
        </p>
        <table class="table table-sm table-striped">
            {% if prev %}
                <thead>
                    <tr class="text-center">
                        <th scope="col" class="ipr-prev col-5">
                            {% if prev.state.slug == "posted" %}
                                Previous (<a href="{% url "ietf.ipr.views.show" id=prev.id %}">#{{ prev.id }}</a>)
                            {% else %}
                                Previous (#{{ prev.id }}, {{ prev.state }})
                            {% endif %}
                        </th>
                        <th scope="col">
                        </th>
                        <th scope="col" class="col-5">
                            This (#{{ ipr.id }})
                        </th>
                    </tr>
                </thead>
            {% else %}
                <thead>
                    <tr>
                        <th scope="col" class="col-3">
                        </th>
                        <th scope="col" class="col-9">
                        </th>
                    </tr>
                </thead>
            {% endif %}
            <tbody>
                <tr>
                    {% if prev %}
                        <td class="ipr-prev">
                            {% if prev.has_patent_pending %}
                                {{ prev.has_patent_pending|yesno:"Yes,No" }}
                            {% endif %}
                        </td>
                    {% endif %}
                    <th scope="row" class="ipr-label {% if prev %}text-center table-secondary{% endif %}">
                        Has patent pending
                    </th>
                    <td class="ipr-this">
                        {{ ipr.has_patent_pending|yesno:"Yes,No" }}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    {% if ipr.licensing %}
        <h2 class="mt-5">
            {% cycle section %}. Licensing Declaration
        </h2>
        <p>
            The Patent Holder states that its position with respect
            to licensing any patent claims contained in the patent(s) or patent
            application(s) disclosed above that would necessarily be infringed by
            implementation of the technology required by the relevant IETF specification
            ("Necessary Patent Claims"), for the purpose of implementing such
            specification, is as follows(select one licensing declaration option only):
        </p>
        {% if prev.licensing.slug == "provided-later" or ipr.licensing.slug == "provided-later" %}
            <div>
                Possible licensing choices a), b), and c) when Licensing Declaration to be Provided Later:
                <ul class="d-none">
                    {% for desc in choices_abc %}
                        <li>
                            {{ desc }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <table class="table table-sm table-striped">
            {% if prev %}
                <thead>
                    <tr class="text-center">
                        <th scope="col" class="ipr-prev col-5">
                            {% if prev.state.slug == "posted" %}
                                Previous (<a href="{% url "ietf.ipr.views.show" id=prev.id %}">#{{ prev.id }}</a>)
                            {% else %}
                                Previous (#{{ prev.id }}, {{ prev.state }})
                            {% endif %}
                        </th>
                        <th scope="col">
                        </th>
                        <th scope="col" class="col-5">
                            This (#{{ ipr.id }})
                        </th>
                    </tr>
                </thead>
            {% else %}
                <thead>
                    <tr>
                        <th scope="col" class="col-3">
                        </th>
                        <th scope="col" class="col-9">
                        </th>
                    </tr>
                </thead>
            {% endif %}
            <tbody>
                <tr>
                    {% if prev %}
                        <td class="ipr-prev">
                            {% if prev.licensing.slug %}
                                {% if prev.licensing.slug == "provided-later" %}
                                    {{ prev.licensing.desc|slice:"2:"|slice:":117" }})
                                {% else %}
                                    {{ prev.licensing.desc|slice:"2:" }}
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endif %}
                    <th scope="row" class="ipr-label {% if prev %}text-center table-secondary{% endif %}">
                        Licensing
                    </th>
                    <td class="ipr-this">
                        {% if ipr.licensing.slug == "provided-later" %}
                            {{ ipr.licensing.desc|slice:"2:"|slice:":117" }})
                        {% else %}
                            {{ ipr.licensing.desc|slice:"2:" }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    {% if prev %}
                        <td class="ipr-prev">
                            {% if prev.licensing_comments %}
                                {{ prev.licensing_comments|default:"(No information submitted)"|urlize_ietf_docs|linkify|linebreaks }}
                            {% endif %}
                        </td>
                    {% endif %}
                    <th scope="row" class="ipr-label {% if prev %}text-center table-secondary{% endif %}">
                        Licensing information, comments, notes, or URL for further information
                    </th>
                    <td class="ipr-this">
                        {{ ipr.licensing_comments.strip|default:"(No information submitted)"|urlize_ietf_docs|linkify|linebreaks }}
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            Note: The individual submitting this template represents and warrants
            that he or she is authorized by the Patent Holder to agree to the
            above-selected licensing declaration.
        </p>
    {% elif ipr.statement %}
        <h2 class="mt-5">
            {% cycle section %}. Statement
        </h2>
        <table class="table table-sm table-striped">
            {% if prev %}
                <thead>
                    <tr class="text-center">
                        <th scope="col" class="ipr-prev col-5">
                            {% if prev.state.slug == "posted" %}
                                Previous (<a href="{% url "ietf.ipr.views.show" id=prev.id %}">#{{ prev.id }}</a>)
                            {% else %}
                                Previous (#{{ prev.id }}, {{ prev.state }})
                            {% endif %}
                        </th>
                        <th scope="col">
                        </th>
                        <th scope="col" class="col-5">
                            This (#{{ ipr.id }})
                        </th>
                    </tr>
                </thead>
            {% else %}
                <thead>
                    <tr>
                        <th scope="col" class="col-3">
                        </th>
                        <th scope="col" class="col-9">
                        </th>
                    </tr>
                </thead>
            {% endif %}
            <tbody>
                <tr>
                    {% if prev %}
                        <td class="ipr-prev">
                            {% if prev.statement %}
                                {{ prev.statement|urlize_ietf_docs|linkify|linebreaks }}
                            {% endif %}
                        </td>
                    {% endif %}
                    <th scope="row" class="ipr-label {% if prev %}text-center table-secondary{% endif %}">
                        Statement
                    </th>
                    <td class="ipr-this">
                        {{ ipr.statement|urlize_ietf_docs|linkify|linebreaks }}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    <h2 class="mt-5">
        {% cycle section %}. Contact Information of Submitter of this Form
    </h2>
    <table class="table table-sm table-striped">
        {% if prev %}
            <thead>
                <tr class="text-center">
                    <th scope="col" class="ipr-prev col-5">
                        {% if prev.state.slug == "posted" %}
                            Previous (<a href="{% url "ietf.ipr.views.show" id=prev.id %}">#{{ prev.id }}</a>)
                        {% else %}
                            Previous (#{{ prev.id }}, {{ prev.state }})
                        {% endif %}
                    </th>
                    <th scope="col">
                    </th>
                    <th scope="col" class="col-5">
                        This (#{{ ipr.id }})
                    </th>
                </tr>
            </thead>
        {% else %}
            <thead>
                <tr>
                    <th scope="col" class="col-3">
                    </th>
                    <th scope="col" class="col-9">
                    </th>
                </tr>
            </thead>
        {% endif %}
        <tbody>
            <tr>
                {% if prev %}
                    <td class="ipr-prev">
                        {% if prev.submitter_name %}
                            {{ prev.submitter_name }}
                        {% endif %}
                    </td>
                {% endif %}
                <th scope="row" class="ipr-label {% if prev %}text-center table-secondary{% endif %}">
                    Submitter name
                </th>
                <td class="ipr-this">
                    {{ ipr.submitter_name }}
                </td>
            </tr>
            <tr>
                {% if prev %}
                    <td class="ipr-prev">
                        {% if prev.submitter_email %}
                            {{ prev.submitter_email|linkify }}
                        {% endif %}
                    </td>
                {% endif %}
                <th scope="row" class="ipr-label {% if prev %}text-center table-secondary{% endif %}">
                    Submitter email
                </th>
                <td class="ipr-this">
                    {{ ipr.submitter_email|linkify }}
                </td>
            </tr>
        </tbody>
    </table>
    {% if ipr.notes %}
        <h2 class="mt-5">
            {% cycle section %}. Other Notes
        </h2>
        <table class="table table-sm table-striped">
            {% if prev %}
                <thead>
                    <tr class="text-center">
                        <th scope="col" class="ipr-prev col-5">
                            {% if prev.state.slug == "posted" %}
                                Previous (<a href="{% url "ietf.ipr.views.show" id=prev.id %}">#{{ prev.id }}</a>)
                            {% else %}
                                Previous (#{{ prev.id }}, {{ prev.state }})
                            {% endif %}
                        </th>
                        <th scope="col">
                        </th>
                        <th scope="col" class="col-5">
                            This (#{{ ipr.id }})
                        </th>
                    </tr>
                </thead>
            {% else %}
                <thead>
                    <tr>
                        <th scope="col" class="col-3">
                        </th>
                        <th scope="col" class="col-9">
                        </th>
                    </tr>
                </thead>
            {% endif %}
            <tbody>
                <tr>
                    {% if prev %}
                        <td class="ipr-prev">
                            {% if prev.notes %}
                                {{ prev.notes|urlize_ietf_docs|linkify|linebreaks }}
                            {% endif %}
                        </td>
                    {% endif %}
                    <th scope="row" class="ipr-label {% if prev %}text-center table-secondary{% endif %}">
                        Additional notes
                    </th>
                    <td class="ipr-this">
                        {{ ipr.notes|urlize_ietf_docs|linkify|linebreaks }}
                    </td>
                </tr>
            </tbody>
        </table>
    {% endif %}
    <p class="my-3 alert alert-info">
        Only those sections of the relevant entry form where the submitter provided information are displayed above.
    </p>
{% endblock %}
