{% extends "ietf.html" %}

{% load ietf_filters %}

{% block morecss %}
table.ipr td, table.ipr th { padding-right: 1em; vertical-align: top; }
{% endblock %}

{% block title %}{{ ipr.title }}{% endblock %}

{% block pagehead %}
<meta name="description" content="IPR disclosure #{{ipr.ipr_id}}: {{ ipr.title }} ({{ ipr.submitted_date|date:"Y" }})">
{% endblock %}

{% block content %}

{% if section_list.title %}
	<h1>{{ ipr.title }}</h1>
{% endif %}

{% if not ipr.comply %}
	<p class="alert alert-danger">
		This IPR disclosure does not comply with the formal requirements of Section 6,
		"IPR Disclosures," of RFC 3979, "Intellectual Property Rights in IETF Technology."
	</p>
{% endif %}

<div class="alert alert-info">
{% if section_list.legacy_intro %}
	<p>This IPR disclosure was submitted by e-mail.</p>
	<p>
		Sections {% block legacy_sections %}I, II, and IV{% endblock %} of
		"The Patent Disclosure and Licensing Declaration Template
		for {{ section_list.disclosure_type }}" have been completed for this IPR disclosure.
		Additional information may be available in the original submission.
	</p>
	<p>
		The text of the original IPR disclosure is available further down, and also at
		<a href="{{ipr.legacy_url_0}}">{{ipr.legacy_url_0}}</a>.
	</p>
{% endif %}

{% if section_list.new_intro %}
	<p>
		Only those sections of the "Patent Disclosure and Licensing Declaration
		Template for {{ section_list.disclosure_type }}" where the submitter provided
		information are displayed.
	</p>
{% endif %}

{% if section_list.new_intro or section_list.legacy_intro %}
	{% if ipr.legacy_title_1 %}
		<p><a href="{{ ipr.legacy_url_1 }}">{{ ipr.legacy_title_1 }}</a></p>
	{% endif %}

	{% if ipr.legacy_title_2 %}
		<p><a href="{{ ipr.legacy_url_2 }}">{{ ipr.legacy_title_2 }}</a></p>
	{% endif %}

	{% for item in ipr.updates.all %}
		<p>
			This IPR disclosure updates IPR disclosure ID #{{ item.updated.ipr_id }},
			{% if item.updated.status == 0 %}
				"<a href="{% url "ietf.ipr.views.show" item.updated.ipr_id %}">{{ item.updated.title }}</a>".
			{% else %}
				{% if item.updated.status == 1 %}
					"<a href="{% url "ietf.ipr.views.show" item.updated.ipr_id %}">{{ item.updated.title }}</a>".
				{% else %}
					"{{ item.updated.title }}", which was removed at the request of the submitter.
				{% endif %}
			{% endif %}
		</p>
	{% endfor %}

	{% for item in ipr.updated_by.all %}
		{% if item.processed == 1 and item.ipr.status != 2 %}
			<p>
				This IPR disclosure has been updated by IPR disclosure ID #{{ item.ipr.ipr_id }},
				{% if item.status_to_be == 1 %}
					"<a href="{% url "ietf.ipr.views.show" item.ipr.ipr_id %}">{{ item.ipr.title }}</a>".
					{% else %}
					"{{ item.ipr.title }}", which was removed at the request of the submitter.
				{% endif %}
			</p>
		{% endif %}
	{% endfor %}

	<p	</p>

	<div class="row">
		<div class="col-sm-4">
			<a class="btn btn-danger btn-block" href="{% url "ietf.ipr.new.update" ipr.ipr_id %}" rel="nofollow">Update this IPR disclosure</a>
		</div>
		<div class="col-sm-8">
			<b>Note:</b> Updates to IPR disclosures must only be made by authorized
			representatives of the original submitters. Updates will automatically
			be forwarded to the current Patent Holder's Contact and to the Submitter
			of the original IPR disclosure.
		</div>
	</div>
{% endif %}
</div>

<!-- tag 1 -->
<h2>Submission date: {{ ipr.submitted_date|date:"F j, Y" }}</h2>


{% if section_list.holder %}
	<h3>
		{% cycle I,II,III,IV,V,VI,VII,VIII as section %}.
		{% if section_list.third_party %}Possible{% endif %}
		Patent holder/applicant ("patent holder")
	</h3>

	<div class="well">
		<table class="ipr">
			<tr>
				<th class="text-nowrap">Legal name</th>
				<td>{{ ipr.legal_name }}</td>
			</tr>
		</table>
	</div>
{% endif %}

{% if section_list.holder_contact %}
	<h3>
		{% cycle section %}.
		Patent holder's contact for license application
	</h3>

	<div class="well">
		<table class="ipr">
			<tr><th class="text-nowrap">Name</th>		<td>{{ ipr.holder_contact.name }}</td></tr>
			<tr><th class="text-nowrap">Title</th>		<td>{{ ipr.holder_contact.title }}</td></tr>
			<tr><th class="text-nowrap">Department</th> <td>{{ ipr.holder_contact.department }}</td></tr>
			<tr><th class="text-nowrap">Address1</th>	<td>{{ ipr.holder_contact.address1 }}</td></tr>
			<tr><th class="text-nowrap">Address2</th>	<td>{{ ipr.holder_contact.address2 }}</td></tr>
			<tr><th class="text-nowrap">Telephone</th>	<td>{{ ipr.holder_contact.telephone }}</td></tr>
			<tr><th class="text-nowrap">Fax</th>		<td>{{ ipr.holder_contact.fax }}</td></tr>
			<tr><th class="text-nowrap">Email</th>		<td>{{ ipr.holder_contact.email }}</td></tr>
		</table>
	</div>
{% endif %}

{% if section_list.ietf_contact %}
	<h3>
		{% cycle section %}.
		Contact information for the IETF participant whose personal belief triggered this disclosure
	</h3>

	{% if ipr.ietf_contact.name %}
		<div class="well">
			<table class="ipr">
				<tr><th class="text-nowrap">Name</th>		<td>{{ ipr.ietf_contact.name }}</td></tr>
				<tr><th class="text-nowrap">Title</th>		<td>{{ ipr.ietf_contact.title }}</td></tr>
				<tr><th class="text-nowrap">Department</th> <td>{{ ipr.ietf_contact.department }}</td></tr>
				<tr><th class="text-nowrap">Address1</th>	<td>{{ ipr.ietf_contact.address1 }}</td></tr>
				<tr><th class="text-nowrap">Address2</th>	<td>{{ ipr.ietf_contact.address2 }}</td></tr>
				<tr><th class="text-nowrap">Telephone</th>	<td>{{ ipr.ietf_contact.telephone }}</td></tr>
				<tr><th class="text-nowrap">Fax</th>		<td>{{ ipr.ietf_contact.fax }}</td></tr>
				<tr><th class="text-nowrap">Email</th>		<td>{{ ipr.ietf_contact.email }}</td></tr>
			</table>
		</div>
	{% else %}
		<i>No information submitted.</i>
	{% endif %}
{% endif %}

{% if section_list.ietf_doc %}
	<h3>
		{% cycle section %}.
		IETF document or other contribution to which this IPR disclosure relates
	</h3>

	<div class="well">
		<table class="ipr">
		{% if ipr.rfclist %}
			<tr><th class="text-nowrap">RFC numbers</th><td>{{ ipr.rfclist }}</td></tr>
		{% else %}
			{% for iprdocalias in ipr.rfcs %}
				<tr><th class="text-nowrap">{{ iprdocalias.formatted_name|rfcspace }}</th><td>"{{ iprdocalias.doc_alias.document.title }}"</td></tr>
			{% endfor %}
		{% endif %}

		{% if ipr.draftlist %}
			<tr><th class="text-nowrap">ID filenames (draft-...)</th><td>{{ ipr.draftlist }}</td></tr>
		{% else %}
		   {% for iprdocalias in ipr.drafts %}
			   <tr><th>{{ iprdocalias.formatted_name }}</th><td>"{{ iprdocalias.doc_alias.document.title }}" (Internet-Draft)</td></tr>
			{% endfor %}
		{% endif %}

		{% if ipr.other_designations %}
			<tr><th class="text-nowrap">Designations for other contributions</th><td>{{ ipr.other_designations }}</td></tr>
		{% endif %}
		</table>
	</div>
{% endif %}

{% if section_list.patent_info %}
	<h3>
		{% cycle section %}.
		Disclosure of patent information (i.e., patents or patent
		applications required to be disclosed by Section 6 of RFC 3979)
	</h3>

	{% if ipr.patents or ipr.notes %}
		<h4>
			A. For granted patents or published pending patent applications,
			please provide the following information:
		</h4>
		<div class="well">
			<table class="ipr">
				<tr>
					<th>Patent, serial, publication, registration,
					or application/file number(s)</th>
					<td>{{ ipr.patents }}</td>
				</tr>

				<tr><th>Date(s) granted or applied for </th><td>{{ ipr.date_applied }}</td></tr>
				<tr><th class="text-nowrap">Country				</th><td>{{ ipr.country }}</td></tr>
				<tr><th class="text-nowrap">Additional notes</th><td>{{ ipr.notes|linebreaks }}</td></tr>
			</table>
		</div>

		<h4>
			B. Does this disclosure relate to an unpublished pending patent application?
		</h4>

		<div class="well">
			{{ ipr.is_pending }}
		</div>

		{% if section_list.generic %}
			<h4>
				C. Does this disclosure apply to all IPR owned by
				the submitter?
			</h4>
			<div class="well">{{ ipr.applies_to_all }}</div>

		{% else %}
			<h4>
				C. If an Internet-Draft or RFC includes multiple parts and it is not
				reasonably apparent which part of such Internet-Draft or RFC is alleged
				to be covered by the patent information disclosed in Section
				V(A) or V(B), it is helpful if the discloser identifies here the sections of
				the Internet-Draft or RFC that are alleged to be so
				covered:
			</h4>

			<div class="well">
				{% if ipr.document_sections %}
					{{ ipr.document_sections|linebreaks }}
				{% else %}
					<i>No information submitted</i>
				{% endif %}
			</div>
		{% endif %}

	{% else %}
		<p>This disclosure relates to an unpublished pending patent application.</p>
	{% endif %}
{% endif %}


{% if section_list.licensing %}
	<!-- Not to be shown for third-party disclosures -->
	<h3>
		{% cycle section %}.
		Licensing declaration
	</h3>

	<h4>
		The Patent Holder states that its position with respect
		to licensing any patent claims contained in the patent(s) or patent
		application(s) disclosed above that would necessarily be infringed by
		implementation of the technology required by the relevant IETF specification
		("Necessary Patent Claims"), for the purpose of implementing such
		specification, is as follows(select one licensing declaration option only):
	</h4>

	<div class="well">
		{{ ipr.licensing_option }}
	</div>

	{% if ipr.stdonly_license %}
		<p>{{ ipr.stdonly_license }}</p>
		<p>Above licensing declaration is limited solely to standards-track IETF documents.</p>
	{% endif %}

	<h4>
		Licensing information, comments, notes, or URL for further information
	</h4>

	<div class="well">
		{% if ipr.comments %}
			{{ ipr.comments|linebreaks }}
		{% else %}
			No information submitted.</i>
		{% endif %}
	</div>

	{% if ipr.lic_checkbox %}
		<p>
			{% if ipr.lic_checkbox != 1 %}{{ ipr.lic_checkbox }}{% endif %}
			The individual submitting this template represents and warrants that all
			terms and conditions that must be satisfied for implementers of any
			covered IETF specification to obtain a license have been disclosed in this
			IPR disclosure statement.
		</p>

		{% if section_list.generic %}
			<p>
				<b>Note:</b> According to
				<a href="http://www.ietf.org/rfc/rfc3979.txt?number=3979">RFC 3979</a>,
				Section 6.4.3, unless you check the box
				above, and choose either option a) or b), you must still file specific
				IPR disclosures as appropriate.
			</p>
		{% endif %}
	{% endif %}

	<p><b>Note:</b> The individual submitting this template represents and warrants
	that he or she is authorized by the Patent Holder to agree to the
	above-selected licensing declaration.</p>
{% endif %}


{% if section_list.submitter %}
	<h3>
		{% cycle section %}.
		Contact information of submitter of this form (if different from the
		contact information above)
	</h3>

	{% if ipr.submitter.name %}
		{% if ipr.ietf_contact_is_submitter %}
			{% if section_list.holder_contact %}
				Same as in Section II above:
				<input type="checkbox" name="hold_contact_is_submitter" onChange="toggle_submitter_info('holder');" {{ ipr.hold_contact_is_submitter_checked }}>
			{% endif %}

			{% if section_list.ietf_contact %}
				Same as in Section III above:
				<input type="checkbox" name="ietf_contact_is_submitter" onChange="toggle_submitter_info('ietf');" {{ ipr.ietf_contact_is_submitter_checked }} />
			{% endif %}
		{% endif %}

		<div class="well">
			<table class="ipr">
				<tr><th class="text-nowrap">Name</th>		<td>{{ ipr.submitter.name }}</td></tr>
				<tr><th class="text-nowrap">Title</th>		<td>{{ ipr.submitter.title }}</td></tr>
				<tr><th class="text-nowrap">Department</th> <td>{{ ipr.submitter.department }}</td></tr>
				<tr><th class="text-nowrap">Address1</th>	<td>{{ ipr.submitter.address1 }}</td></tr>
				<tr><th class="text-nowrap">Address2</th>	<td>{{ ipr.submitter.address2 }}</td></tr>
				<tr><th class="text-nowrap">Telephone</th>	<td>{{ ipr.submitter.telephone }}</td></tr>
				<tr><th class="text-nowrap">Fax</th>		<td>{{ ipr.submitter.fax }}</td></tr>
				<tr><th class="text-nowrap">Email</th>		<td>{{ ipr.submitter.email }}</td></tr>
			</table>
		</div>

	{% else %}
		<div class="well"><i>No information submitted.</i></div>
	{% endif %}
{% endif %}


{% if section_list.notes %}
	<h3>
		{% cycle section %}.
		Other Notes
	</h3>

	<div class="well">
		{% if ipr.other_notes %}
			{{ ipr.other_notes|linebreaks }}
		{% else %}
			<i>No information submitted.</i>
		{% endif %}
	</div>
{% endif %}

{% if ipr.legacy_url_0 %}
	<h3>Text of original IPR declaration</h3>
	<pre>
		{% if ipr.legacy_text %}
			{{ipr.legacy_text|safe}}
		{% else %}
			<iframe seamless src="{{ipr.legacy_url_0}}" style="width:100%; height:40em;">
			Warning: Could not embed {{ipr.legacy_url_0}}.
			</iframe>
		{% endif %}
	</pre>
{% endif %}

{% endblock %}
