{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %}Email submitter of {{ ipr.title }}{% endblock %}
{% block pagehead %}
    <link rel="stylesheet" href="{% static 'ietf/css/datepicker.css' %}">
{% endblock %}
{% block content %}
    {% origin %}
    <h1>
        Email submitter
        <br>
        <small class="text-muted">{{ ipr.title }}</small>
    </h1>
    <form method="post" class="my-3 show-required">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Send Email</button>
        <a class="btn btn-secondary float-end"
           href="{% url "ietf.ipr.views.history" id=ipr.id %}">Back</a>
    </form>
{% endblock %}
{% block js %}
    <script src="{% static 'ietf/js/datepicker.js' %}"></script>
{% endblock %}