{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}{% origin %}
{% load ietf_filters %}
<table class="table table-condensed table-striped ipr-table tablesorter">
  <thead>
    <tr>
      <th>Date</th>
      <th>ID</th>
      <th>Title</th>
      {% if administrative_list == 'pending' %}
        <th>Query</th>
        <th>Response Due</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for ipr in iprs %}
      <tr>
        <td class="text-nowrap">{{ ipr.time|date:"Y-m-d" }}</td>
        <td>{{ ipr.id }}</td>
        <td>
          {% if ipr.state_id == 'posted' or administrative_list %}
            <div><a href="{% url "ietf.ipr.views.show" ipr.id %}">{{ ipr.title }}</a></div>
          {% else %}
            <div>{{ ipr.title }}</div>
            <div><i>This IPR disclosure was removed at the request of the submitter.</i></div>
          {% endif %}

          {% for item in ipr.relatedipr_source_set.all %}
            {% if item.target.state_id == 'posted' %}
              <div>Updates ID <a href="{% url "ietf.ipr.views.show" item.target.id %}">#{{ item.target.id }}</a>.</div>
            {% endif %}
          {% endfor %}

          {% for item in ipr.relatedipr_target_set.all %}
            {% if item.source.state_id == "posted" %}
              <div>Updated by ID <a href="{% url "ietf.ipr.views.show" item.source.id %}">#{{ item.source.id }}</a>.</div>
            {% endif %}
          {% endfor %}
        </td>

        {% if administrative_list == 'pending' %}
          {% with ipr.get_latest_event_msgout as latest_msgout %}
            <td class="column-four">{% if latest_msgout %}{{ latest_msgout.time|date:"Y-m-d" }}{% endif %}</td>
            <td class="text-nowrap">
              {% if latest_msgout and latest_msgout.response_due %}
                {{ latest_msgout.response_due|date:"Y-m-d" }}
                {% if latest_msgout.response_past_due %}
                  <span class="glyphicon glyphicon-exclamation-sign" title="Response overdue"></span>
                {% endif %}
              {% endif %}
            </td>
          {% endwith %}
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
