{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "base.html" %}

{% block title %}IPR Declarations{% endblock %}

{% block content %}
<h2>IPR Declarations</h2>

<h3>Recent IPR Declarations</h3>
{% regroup latest by telechat_date|date:"Y" as years %}
{% for year in years %}
{% ifnotequal latest|length "1" %}
<h4>{{ year.grouper }}</h4>
{% endifnotequal %}
<table border="1" cellpadding="2" cellspacing="2" width="820">
{% for ipr in year.list %}
   {% include "ipr/list_item.html" %}
{% endfor %}
</table>
{% endfor %}

<h3>Archives by Year</h3>
<ul>
{% for year in date_list %}
<li><a href="/ipr/y/{{ year|date:"Y" }}/">{{ year|date:"Y" }}</a>
{% endfor %}
</ul>

{% endblock %}
