{# Copyright The IETF Trust 2007, All Rights Reserved #}
<script type="text/javascript">
function toggle_submitter_info (src) {
    var checked = false;
    if (src == 'holder') {
	checked = document.form1.hold_contact_is_submitter.checked;
	if (checked) {
	    if (document.form1.ietf_contact_is_submitter)
		document.form1.ietf_contact_is_submitter.checked = false;
	    document.form1.subm_name.value = document.form1.hold_name.value;
	    document.form1.subm_title.value = document.form1.hold_title.value;
	    document.form1.subm_department.value = document.form1.hold_department.value;
	    document.form1.subm_telephone.value = document.form1.hold_telephone.value;
	    document.form1.subm_fax.value = document.form1.hold_fax.value;
	    document.form1.subm_email.value = document.form1.hold_email.value;
	    document.form1.subm_address1.value = document.form1.hold_address1.value;
	    document.form1.subm_address2.value = document.form1.hold_address2.value;
	} else {
	    document.form1.subm_name.value = document.form1.subm_name.defaultValue;
	    document.form1.subm_title.value = document.form1.subm_title.defaultValue;
	    document.form1.subm_department.value = document.form1.subm_department.defaultValue;
	    document.form1.subm_telephone.value = document.form1.subm_telephone.defaultValue;
	    document.form1.subm_fax.value = document.form1.subm_fax.defaultValue;
	    document.form1.subm_email.value = document.form1.subm_email.defaultValue;
	    document.form1.subm_address1.value = document.form1.subm_address1.defaultValue;
	    document.form1.subm_address2.value = document.form1.subm_address2.defaultValue;	    
	}
    } else if (src == 'ietf') {
	checked = document.form1.ietf_contact_is_submitter.checked;
	if (checked) {
	    if (document.form1.hold_contact_is_submitter)
		document.form1.hold_contact_is_submitter.checked = false;
	    document.form1.subm_name.value = document.form1.ietf_name.value;
	    document.form1.subm_title.value = document.form1.ietf_title.value;
	    document.form1.subm_department.value = document.form1.ietf_department.value;
	    document.form1.subm_telephone.value = document.form1.ietf_telephone.value;
	    document.form1.subm_fax.value = document.form1.ietf_fax.value;
	    document.form1.subm_email.value = document.form1.ietf_email.value;
	    document.form1.subm_address1.value = document.form1.ietf_address1.value;
	    document.form1.subm_address2.value = document.form1.ietf_address2.value;
	} else {
	    document.form1.subm_name.value = document.form1.subm_name.defaultValue;
	    document.form1.subm_title.value = document.form1.subm_title.defaultValue;
	    document.form1.subm_department.value = document.form1.subm_department.defaultValue;
	    document.form1.subm_telephone.value = document.form1.subm_telephone.defaultValue;
	    document.form1.subm_fax.value = document.form1.subm_fax.defaultValue;
	    document.form1.subm_email.value = document.form1.subm_email.defaultValue;
	    document.form1.subm_address1.value = document.form1.subm_address1.defaultValue;
	    document.form1.subm_address2.value = document.form1.subm_address2.defaultValue;	    
	}
    }
    document.form1.subm_name.disabled = checked;
    document.form1.subm_title.disabled = checked;
    document.form1.subm_department.disabled = checked;
    document.form1.subm_telephone.disabled = checked;
    document.form1.subm_fax.disabled = checked;
    document.form1.subm_email.disabled = checked;
    document.form1.subm_address1.disabled = checked;
    document.form1.subm_address2.disabled = checked;

    return true;
}
</script>
