{% extends "base.html" %}
{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% block title %}IPR List{% endblock %}
{% block content %}
<h1>IETF Page of Intellectual Property Rights Disclosures</h1>

<p>
This page provides a mechanism for filing disclosures about intellectual property rights (IPR) and for finding out what IPR disclosures have been filed.  The IETF intellectual property rights rules are defined in RFC 3979, <a href="http://www.ietf.org/rfc/rfc3979.txt">"Intellectual Property Rights in IETF Technology."</a></p>

<p>
The IETF takes no position regarding the validity or scope of any
intellectual property rights or other rights that might be claimed to
pertain to the implementation or use of the technology described in any IETF documents or the extent to
which any license under such rights might or might not be available; nor does it represent that it has made any independent effort to identify any such rights.</p>
<p><a href="{% url ietf.ipr.views.default %}">Click here to submit an IPR disclosure</a></p>

<a href="{% url ietf.ipr.search.search %}">Search the IPR Disclosures</a>

<a name="generic"></a>
<h2>Generic IPR Disclosures</h2>
<table class="ietf-table" width="820">
   <tr><th>Date Submitted</th><th width="70">ID #</th><th>Title of IPR Disclosure</th></tr>
   {% for ipr in generic_disclosures %}
   {% include "ipr/list_item.html" %}
   {% endfor %}
</table>

<a name="specific"></a>
<h2>Specific IPR Disclosures</h2>
<table class="ietf-table" width="820">
   <tr><th>Date Submitted</th><th width="70">ID #</th><th>Title of IPR Disclosure</th></tr>
   {% for ipr in specific_disclosures %}
   {% include "ipr/list_item.html" %}
   {% endfor %}
</table>

<a name="notify"></a>
<h2>Specific Third Party IPR Disclosures</h2>
<table class="ietf-table" width="820">
   <tr><th>Date Submitted</th><th width="70">ID #</th><th>Title of IPR Disclosure</th></tr>
   {% for ipr in thirdpty_disclosures %}
   {% include "ipr/list_item.html" %}
   {% endfor %}
</table>
{% endblock %}

  
