{# Copyright The IETF Trust 2007, All Rights Reserved #}
   <tr class="{% cycle oddrow,evenrow %}">
      <td>{{ ipr.submitted_date }}</td>
      <td>{{ ipr.ipr_id }}</td>
      <td>
	 {% ifequal ipr.status 1 %}
	    <a href="{% url ietf.ipr.views.show ipr.ipr_id %}">{{ ipr.title|escape }}</a>
	 {% else %}
	    {{ ipr.title|escape }}
	    <br/>This IPR disclosure was removed at the request of the submitter.
	 {% endifequal %}
	 <br />
	 {% for item in ipr.updates.all %}
	 {% ifequal item.updated.status 1 %}
	    Updates ID <a href="{% url ietf.ipr.views.show item.updated.ipr_id %}">#{{ item.updated.ipr_id }}</a>.<br/>
	 {% endifequal %}
	 {% endfor %}
	 {% for item in ipr.updated_by.all %}
	       {% ifequal item.processed 1 %}
	    Updated by ID <a href="{% url ietf.ipr.views.show item.ipr.ipr_id %}">#{{ item.ipr.ipr_id }}</a>.<br/> 
	       {% endifequal %}
	 {% endfor %}
      </td>
   </tr>
   {% ifequal ipr.status 1 %}
      {% if ipr.legacy_title_1 %}
	 <tr>
	    <td></td>
	    <td></td>
	    <td>
	       <b>*</b>
	       <a href="{{ ipr.legacy_url_1 }}">{{ ipr.legacy_title_1|escape }}</a>
	    </td>
	 </tr>
      {% endif %}
      {% if ipr.legacy_title_2 %}
	 <tr>
	    <td></td>
	    <td></td>
	    <td>
	       <b>*</b>
	       <a href="{{ ipr.legacy_url_2 }}">{{ ipr.legacy_title_2|escape }}</a>
	    </td>
	 </tr>
      {% endif %}
   {% endifequal %}
