{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% block title %}IPR disclosures - select Internet-Draft{% endblock %}
{% block content %}
    {% origin %}
    <h1>
        IPR disclosures
        <br>
        <small class="text-muted">Select Internet-Draft</small>
    </h1>
    <p>
        Please select one of following I-Ds:
    </p>
    <ul>
        {% for docalias in docs %}
            <li>
                <a href="?submit=draft&amp;id={{ docalias.name }}">{{ docalias.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}