{# Copyright The IETF Trust 2007, All Rights Reserved #}
   <style type="text/css">
   .ipr	  { width: 101ex; }
   .ipr th { border: 0px; margin: 0px; padding: 0.4ex; }
   .ipr td { border: 0px; margin: 0px; padding: 0.4ex; }
   .ipr ul { list-style-type: none; margin-left: 13ex;}

   .even td,th { background: #eee; color: #000; font-family: Arial, sans-serif; font-size: small; text-align: left; vertical-align: top; }
   .odd  td,th { background: #eed; color: #000; font-family: Arial, sans-serif; font-size: small; text-align: left; vertical-align: top; }
   .even tr:first-child th { background: #aaa; color: #336; font-family: Arial, sans-serif; font-size: small; text-align: left; font-weight: bold; }
   .odd  tr:first-child th { background: #cca; color: #336; font-family: Arial, sans-serif; font-size: small; text-align: left; font-weight: bold; }
   .even .dark td { background: #ddd; }
   .odd  .dark td { background: #ddc; }

   .inline ul { display: inline; margin: 3ex; }
   .inline li { display: inline; }

   tbody      { margin: 0; padding: 0; }
   table.ipr {
	   padding:0.2ex;
	   border-width:0.1ex;
	   border-style:solid;
	   border-color:#305076;
   }
   td.fixwidth { width: 18ex; }
   h4.ipr	{ text-align: center; }
   #content input	{ width: 68ex; font-family: sans-serif; font-size: 11pt; font-weight: normal; }
   input[type="radio"] { width: auto; }
   input[type="checkbox"] { width: auto; }
   input[type="submit"] { width: auto; }
   textarea	{ width: 68ex; height: 5em; font-family: sans-serif; font-size: 11pt; font-weight: normal; }
   .required	{ color: red; float: right; padding-top: 0.7ex; font-size: 130%; }
   .errorlist	{ background: red; color: white; padding: 0.2ex 0.2ex 0.2ex 0.5ex; border: 0px; margin: 0px; font-family: Arial, sans-serif; }
   ul.errorlist { margin: 0px; }
   .formlegend	{ }
   .formlegend .required { float: none; vertical-align: -0.5ex; padding: 0; }
   /* baseline | sub | super | top | text-top | middle | bottom | text-bottom | <length> | <percentage> */
   </style>
