   <style type="text/css">
   .ipr	  { width: 101ex; }
   .even  { }
   .odd   { }
   .even td,th { background: #eee; color: #000; font-family: Arial, sans-serif; font-size: small; text-align: left; vertical-align: top; }
   .odd  td,th { background: #eed; color: #000; font-family: Arial, sans-serif; font-size: small; text-align: left; vertical-align: top; }
   .even tr:first-child th { background: #aaa; color: #336; font-family: Arial, sans-serif; font-size: small; text-align: left; font-weight: bold; }
   .odd  tr:first-child th { background: #cca; color: #336; font-family: Arial, sans-serif; font-size: small; text-align: left; font-weight: bold; }
   table.ipr {
	   padding:2px;
	   border-width:1px;
	   border-style:solid;
	   border-color:305076;
   }
   .ipr th { border: 0px; margin: 0px; padding: 4px; }
   .ipr td { border: 0px; margin: 0px; padding: 4px; }
   td.fixwidth { width: 14ex; }
   .ipr ul { padding-left: -2ex; list-style-type: none; }
   h4.ipr	{ text-align: center; }
   input	{ width: 72ex; font-family: sans-serif; font-size: 11pt; font-weight: normal; }
   input[type="radio"] { width: auto; }
   input[type="checkbox"] { width: auto; }
   input[type="submit"] { width: auto; }
   textarea	{ width: 72ex; height: 5em; font-family: sans-serif; font-size: 11pt; font-weight: normal; }
   .required	{ color: red; float: right; padding-top: 1ex; }
   .errorlist	{ background: red; padding: 0 0 0 2px; border: 0px; margin: 0px; }
   </style>
