{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% extends "base.html" %}
{% block title %}IPR Update{% endblock %}
{% block content %}

{% include "ipr/style.html" %}

<h4><font color="#000055"><center>Updating {{ type|title }} IPR Disclosures <br><i>{{ ipr.title|escape }}</i></center></font></h4>

	 <form name="form1" method="post">
      {% if form.errors %}
      <p class="errorlist">
	 There were errors in the submitted form -- see below.  Please correct these and resubmit.
	{% if form.non_field_errors %}
	<ul class="errorlist">
	  {% for error in form.non_field_errors %}
	  <li>{{ error }}</li>
	  {% endfor %}
	</ul>
	{% endif %}
      </p>
      {% endif %}

   <blockquote class="odd">
      <table border="0" cellpadding="0" cellspacing="0" class="ipr person">
	 <tr class="{% cycle dark,light as row_parity %}"><th colspan="2" >
	    Contact Information for Submitter of this Update.
	    </th>
	 </tr>
         {% for field in form %} 
         {% ifnotequal field.name "update_auth" %}
	 <tr class="{% cycle row_parity %}"><td class="fixwidth">{{field.label }}:</td><td><b>{{ field.errors }} {% if field.field.required %}<span class="required">*</span>{%endif%} {{ field }}</b></td></tr>
         {% endifnotequal %}
         {% endfor %}
      </table>
   </blockquote>
      <p>
      {{ form.update_auth.errors }}
      <span class="required">*</span>
      {{ form.update_auth }}
      <b>I am authorized to update this IPR disclosure, and I understand that notification of this update will be provided to the submitter of the original IPR disclosure and to the Patent Holder's Contact.</b>
      </p>
      <input type="submit" name="submit" value="Submit">
      &nbsp; <input type="button" value="Cancel" onClick="history.go(-1);return true;"><br>
      </form>

{% endblock %}
