{% extends "base.html" %}
{% block title %}IPR Update{% endblock %}
{% block content %}

<h1><center>IPR Disclosure Update Page</H1></center>
<a href="https://datatracker.ietf.org/public/ipr_disclosure.cgi">Click here to submit an IPR disclosure</a> 

<hr><p>
<P><a href="http://datatracker.ietf.org/public/ipr_search.cgi"><img src="http://www.ietf.org/images/blue.gif" hspace="3" border="0">Search the IPR Disclosures</a><p>
<P><a href="#generic"><img src="http://www.ietf.org/images/blue.gif" hspace="3" border="0">Generic IPR Disclosures</a><p>

<P><a href="#specific"><img src="http://www.ietf.org/images/blue.gif" hspace="3" border="0">Specific IPR Disclosures</a><p>
<P><a href="#notify"><img src="http://www.ietf.org/images/blue.gif" hspace="3" border="0">Specific Third Party IPR Disclosures</a><p>
<hr>

<a name="generic"></a>
<h3>Generic IPR Disclosures</h3>
<b><font size = +1>Please select the IPR disclosure that you wish to update.</font><br>
   Note: Updates to IPR disclosures must only be made by authorized
   representatives of the original submitters. Updates will automatically
   be forwarded to the current Patent Holder's Contact and to the Submitter
   of the original IPR disclosure.</B>
<p>
<table border="1" cellpadding="2" cellspacing="2" width="820">

   <tr><th width="100">Date Submitted</th><th width="70">ID #</th><th align="center">Title of IPR Disclosure</th></tr>
   {% for ipr in generic_disclosures %}
   {% include "ipr/list_item.html" %}
   {% endfor %}
</table>

<P><a href="#top"><img src="http://www.ietf.org/images/blue.gif" hspace="3" border="0">Back to Top</a><p>
<a name="specific"></a>
<h3>Specific IPR Disclosures</h3>
<b><font size = +1>Please select the IPR disclosure that you wish to update.</font><br>
   Note: Updates to IPR disclosures must only be made by authorized
   representatives of the original submitters. Updates will automatically
   be forwarded to the current Patent Holder's Contact and to the Submitter
   of the original IPR disclosure.</B>
<p>

<table border="1" cellpadding="2" cellspacing="2" width="820">
   <tr><th>Date Submitted</th><th width="70">ID #</th><th align="center">Title of IPR Disclosure</th></tr>
   {% for ipr in specific_disclosures %}
   {% include "ipr/list_item.html" %}
   {% endfor %}
</table>
<br>
<P><a href="#top"><img src="http://www.ietf.org/images/blue.gif" hspace="3" border="0">Back to Top</a><p>
<a name="notify"></a>
<h3>Specific Third Party IPR Disclosures</h3>
<b><font size = +1>Please select the IPR disclosure that you wish to update.</font><br>
   Note: Updates to IPR disclosures must only be made by authorized
   representatives of the original submitters. Updates will automatically
   be forwarded to the current Patent Holder's Contact and to the Submitter
   of the original IPR disclosure.</B>

<p>

<table border="1" cellpadding="2" cellspacing="2" width="820">

   <tr><th>Date Submitted</th><th width="70">ID #</th><th align="center">Title of IPR Disclosure</th></tr>
   {% for ipr in thirdpty_disclosures %}
   {% include "ipr/list_item.html" %}
   {% endfor %}
</table>

<br><br><br><br>
{% endblock %}
