{% extends "base.html" %}
{# Copyright The IETF Trust 2007, All Rights Reserved #}
{% block title %}IPR Update{% endblock %}

{% block morecss %}
table.ipr { margin-top: 1em; }
.ipr .light td { background: #eeeeee; }
.ipr .dark td { background: #dddddd; }
.ipr th { background: #2647a0; color: white; }
.ipr { width: 101ex; border: 0; border-collapse: collapse; }
.ipr th, .ipr td { padding: 3px 6px; text-align: left; }
.ipr tr { vertical-align: top; }
.ipr td.iprlabel { width: 18ex; }
.iprdata { font-weight: bold; }

.required { color: red; float: right; padding-top: 0.7ex; font-size: 130%; }
   .errorlist	{ background: red; color: white; padding: 0.2ex 0.2ex 0.2ex 0.5ex; border: 0px; margin: 0px; font-family: Arial, sans-serif; }
   ul.errorlist { margin: 0px; }
   .errorlist	{ background: red; color: white; padding: 0.2ex 0.2ex 0.2ex 0.5ex; border: 0px; margin: 0px; font-family: Arial, sans-serif; }
   ul.errorlist { margin: 0px; }
{% endblock %}

{% block content %}

<h1>Updating {{ type|title }} IPR Disclosure <br><i>{{ ipr.title|escape }}</i></h1>

 <form name="form1" method="post">
      {% if form.errors %}
      <p class="errorlist">
	 There were errors in the submitted form -- see below.  Please correct these and resubmit.
	{% if form.non_field_errors %}
	<ul class="errorlist">
	  {% for error in form.non_field_errors %}
	  <li>{{ error }}</li>
	  {% endfor %}
	</ul>
	{% endif %}
      </p>
      {% endif %}

      <table class="ipr">
	 <tr class="{% cycle dark,light as row_parity %}"><th colspan="2" >
	    Contact Information for Submitter of this Update.
	    </th>
	 </tr>
         {% for field in form %} 
         {% ifnotequal field.name "update_auth" %}
	 <tr class="{% cycle row_parity %}"><td class="iprlabel">{{field.label }}:</td><td class="iprdata">{{ field.errors }} {% if field.field.required %}<span class="required">*</span>{%endif%} {{ field }}</td></tr>
         {% endifnotequal %}
         {% endfor %}
      </table>
      <p>
      {{ form.update_auth.errors }}
      <span class="required">*</span>
      {{ form.update_auth }}
      <b>I am authorized to update this IPR disclosure, and I understand that notification of this update will be provided to the submitter of the original IPR disclosure and to the Patent Holder's Contact.</b>
      </p>
      <p><input type="submit" name="submit" value="Submit" />
      &nbsp; <input type="button" value="Cancel" onClick="history.go(-1);return true;" /></p>
      </form>

{% endblock %}
